Repository apache/pinot, pull requests merged in 2020-05, with the labels that each got.

#5349 Remove excessive SchemaBuilder#addTime methods
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/timeboundary/TimeBoundaryManagerTest.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/SchemaUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/data/FieldSpecTest.java
  pinot-common/src/test/java/org/apache/pinot/common/data/SchemaTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotInstanceAssignmentRestletResourceTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/readers/RecordReaderSampleDataTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/recordtransformer/ExpressionTransformerTimeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/indexsegment/generator/SegmentGeneratorConfigTest.java
  pinot-core/src/test/java/org/apache/pinot/core/indexsegment/mutable/MutableSegmentImplAggregateMetricsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseSingleValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FastHllQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/TransformQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LuceneRealtimeClusterIntegrationTest.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/test/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordToPinotRowGeneratorTest.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/test/java/org/apache/pinot/plugin/inputformat/avro/AvroUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/DateTimeFieldSpecUtilsTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/GenerateDataCommand.java
Labels: backward-incompat

#5376 Fix SegmentCompletionProtocol to ignore unknown json fields
  pinot-common/src/main/java/org/apache/pinot/common/protocols/SegmentCompletionProtocol.java
Labels: backward-incompat, release-notes

#5406 Adding support to execute functions during query compilation
  pinot-common/src/main/java/org/apache/pinot/common/function/DateTimeFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/DateTimePatternHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionInfo.java
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionInvoker.java
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionRegistry.java
  pinot-common/src/main/java/org/apache/pinot/common/function/JsonFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/function/FunctionRegistry.java
  pinot-core/src/main/java/org/apache/pinot/core/data/function/InbuiltFunctionEvaluator.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/DateTimeFunctionEvaluatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/InbuiltFunctionEvaluatorTest.java
Labels: feature
