Repository apache/pinot, pull requests merged in 2020-08, with the labels that each got.

#5805 Pre-generate aggregation functions in QueryContext
  pinot-common/src/test/resources/pql_queries.list
  pinot-common/src/test/resources/sql_queries.list
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationGroupByOrderByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationGroupByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/DictionaryBasedAggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/MetadataBasedAggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionVisitorBase.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountBitmapAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountBitmapMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountRawHLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountRawThetaSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountThetaSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FastHLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MaxAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MaxMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileEstAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileEstMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileTDigestMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SegmentPartitionedDistinctCountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/StUnionAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/ResultReducerFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/utils/QueryContextUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-core/src/test/java/org/apache/pinot/query/aggregation/DefaultAggregationExecutorTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkCombineGroupBy.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkIndexedTable.java
Labels: enhancement, release-notes

#5793 Tiered storage
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstancePartitionsUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/tier/PinotServerTierStorage.java
  pinot-common/src/main/java/org/apache/pinot/common/tier/Tier.java
  pinot-common/src/main/java/org/apache/pinot/common/tier/TierFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/tier/TierSegmentSelector.java
  pinot-common/src/main/java/org/apache/pinot/common/tier/TierStorage.java
  pinot-common/src/main/java/org/apache/pinot/common/tier/TimeBasedTierSegmentSelector.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TableConfigUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TierConfigUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/tier/TierConfigUtilsTest.java
  pinot-common/src/test/java/org/apache/pinot/common/tier/TierSegmentSelectorTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineNonReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineNonReplicaGroupTieredSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeNonReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeNonReplicaGroupTieredSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterTest.java
  pinot-core/src/main/java/org/apache/pinot/core/util/TableConfigUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/util/TableConfigUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ControllerPeriodicTasksIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TableConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TierConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/TimeUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
Labels: feature, release-notes

#5846 Adding controller healthcheck endpoint: /health
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerHealthCheck.java
Labels: release-notes

#5856 [Post-Aggregation] Support post-aggregation in ORDER-BY
  pinot-core/src/main/java/org/apache/pinot/core/data/table/BaseTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/ConcurrentIndexedTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/IndexedTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/SimpleIndexedTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/Table.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/TableResizer.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/test/java/org/apache/pinot/core/data/table/IndexedTableTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/table/TableResizerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkCombineGroupBy.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkIndexedTable.java
Labels: feature

#5867 [Post-Aggregation] Support post-aggregation in SELECT
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/AggregationDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/PostAggregationHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/ResultReducerFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/query/reduce/PostAggregationHandlerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
Labels: feature

#5872 Support for exact distinct count for non int data types
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/HelixBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/CommonConstants.java
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/DictionaryBasedAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountMVAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctCountQueriesTest.java
Labels: release-notes
