Repository apache/pinot, pull requests merged in 2021-11, with the labels that each got.

#7665 replace args4j with picocli for pinot-admin.sh
  pinot-tools/pom.xml
  pinot-tools/src/main/java/org/apache/pinot/tools/Command.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/PinotAdministrator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddSchemaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTenantCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AnonymizeDataCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AvroSchemaToPinotSchema.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/BootstrapTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ChangeNumReplicasCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ChangeTableState.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/CreateSegmentCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DeleteClusterCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/EnumArrayOptionHandler.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/GenerateDataCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/GitHubEventsQuickStartCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ImportDataCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/JsonToPinotSchema.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/LaunchDataIngestionJobCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/MoveReplicaGroup.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/OfflineSegmentIntervalCheckerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/OperateClusterConfigCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/PostQueryCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/QuickStartCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RealtimeProvisioningHelperCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RebalanceTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/SegmentProcessorFrameworkCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ShowClusterInfoCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartBrokerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartControllerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartKafkaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartMinionCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartServerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartServiceManagerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartZookeeperCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StopProcessCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StreamAvroIntoKafkaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StreamGitHubEventsCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/UploadSegmentCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ValidateConfigCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/VerifyClusterStateCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/VerifySegmentState.java
  pinot-tools/src/main/java/org/apache/pinot/tools/segment/converter/PinotSegmentConvertCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/segment/converter/SegmentMergeCommand.java
  pom.xml
Labels: user-experience

#7645 to handle datetime column consistently
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentGenerationWithTimeColumnTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfigTest.java
Labels: release-notes, backward-incompat

#7722 Skip pinot.admin.system.exit check for quickstart
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/PinotAdministrator.java
Labels: 0.9.0

#7725 [Cleanup] Remove the old deprecated SegmentConverter
  pinot-core/src/main/java/org/apache/pinot/core/minion/SegmentConverter.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/rollup/MergeRollupSegmentConverter.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/rollup/MergeType.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/rollup/RollupRecordAggregator.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/segment/DefaultRecordPartitioner.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/segment/MapperRecordReader.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/segment/RecordAggregator.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/segment/RecordPartitioner.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/segment/ReducerRecordReader.java
  pinot-core/src/test/java/org/apache/pinot/core/minion/MergeRollupSegmentConverterTest.java
  pinot-core/src/test/java/org/apache/pinot/core/minion/SegmentConverterTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/PinotAdministrator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/segment/converter/SegmentMergeCommand.java
Labels: release-notes, backward-incompat

#7817 Fix the broker routing when segment is deleted
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/ClusterChangeMediator.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/RoutingManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/StrictReplicaGroupInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/EmptySegmentPruner.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/PartitionSegmentPruner.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/SegmentPruner.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/TimeSegmentPruner.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentselector/OfflineSegmentSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentselector/RealtimeSegmentSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentselector/SegmentSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/timeboundary/TimeBoundaryManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentpruner/SegmentPrunerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentselector/SegmentSelectorTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/timeboundary/TimeBoundaryManagerTest.java
Labels: bug
