Repository apache/pinot, pull requests merged in 2021-12, with the labels that each got.

#7852 Remove deprecated method from StreamMetadataProvider
  pinot-core/src/test/java/org/apache/pinot/core/realtime/impl/fakestream/FakeStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-0.9/src/main/java/org/apache/pinot/plugin/stream/kafka09/KafkaStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarStreamMetadataProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamMetadataProvider.java
Labels: release-notes

#7853 Clean up deprecated fields from segment metadata
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/JsonIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/TextIndexHandler.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/creator/TextIndexType.java
Labels: release-notes

#7781 Add Post-Aggregation Gapfilling functionality.
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/TransformOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapFillGroupByDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/PostAggregationHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/ResultReducerFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/util/GapfillUtils.java
  pinot-core/src/test/java/org/apache/pinot/queries/PostAggregationGapfillQueriesTest.java
Labels: feature, release-notes

#7871 Support loading plugins from multiple directories
  pinot-common/src/main/java/org/apache/pinot/common/utils/TarGzCompressionUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/TarGzCompressionUtilsTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/src/main/java/org/apache/pinot/plugin/ingestion/batch/hadoop/HadoopSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunner.java
  pinot-spi/src/main/java/org/apache/pinot/spi/plugin/PluginManager.java
  pinot-spi/src/test/java/org/apache/pinot/spi/plugin/PluginManagerTest.java
  pinot-tools/src/main/resources/appAssemblerScriptTemplate
Labels: release-notes, 0.10.0
