Repository apache/pinot, pull requests merged in 2021-06, with the labels that each got.

#7027 Fixing HadoopPinotFS listFiles method to contain scheme
  pinot-plugins/pinot-file-system/pinot-hdfs/src/main/java/org/apache/pinot/plugin/filesystem/HadoopPinotFS.java
Labels: bug, hadoop

#7030 fixing v0_deprecated/pinot-hadoop and v0_deprecated/pinot-spark test
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-hadoop/pom.xml
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-spark/pom.xml
Labels: bug, hadoop

#6424 Make Pinot JDK 11 Compilable
  .github/workflows/pinot_tests.yml
  .github/workflows/scripts/.pinot_quickstart.sh
  docker/images/pinot/Dockerfile
  kubernetes/helm/pinot/values.yaml
  pinot-clients/pinot-java-client/src/test/java/org/apache/pinot/client/ExternalViewReaderTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/PinotDataTypeTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/plugin/PluginClassLoader.java
  pinot-tools/src/main/resources/appAssemblerScriptTemplate
  pom.xml
Labels: backward-incompat, release-notes

#7078 Allow reloading consuming segment by default
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/DefaultHelixStarterServerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes

#7021 Move KafkaJsonDecoder code to pinot-json
  pinot-plugins/pinot-input-format/pinot-json/src/main/java/org/apache/pinot/plugin/inputformat/json/JSONMessageDecoder.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-base/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-base/src/main/java/org/apache/pinot/plugin/stream/kafka/KafkaJSONMessageDecoder.java
Labels: release-notes
