Repository apache/pinot, pull requests merged in 2021-04, with the labels that each got.

#6710 DataTable V3 implementation and measure data table serialization cost on server
  pinot-common/src/main/java/org/apache/pinot/common/utils/CommonConstants.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataTable.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/BaseDataTable.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableImplV3.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/InstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/IntermediateResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BrokerReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/InstanceRequestHandler.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datatable/DataTableSerDeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/scheduler/PrioritySchedulerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixServerStarter.java
Labels: backward-incompat, release-notes

#6737 Block backward incompatible schema change
  pinot-common/src/main/java/org/apache/pinot/common/exception/SchemaBackwardIncompatibleException.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: release-notes

#6744 Fixing Minion SegmentGenerationAndPush task to support any PinotFS override
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/segment_generation_and_push/SegmentGenerationAndPushTaskExecutor.java
Labels: bug

#6667 Interface changes for Kinesis connector
  pinot-common/src/main/java/org/apache/pinot/common/metadata/segment/LLCRealtimeSegmentZKMetadata.java
  pinot-common/src/main/java/org/apache/pinot/common/protocols/SegmentCompletionProtocol.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/URIUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/protocols/SegmentCompletionProtocolTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/URIUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotTableIdealStateBuilder.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/SegmentSizeBasedFlushThresholdUpdater.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/LongMsgOffset.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/MessageBatch.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionGroupConsumer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionGroupConsumptionStatus.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionGroupMetadata.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionGroupMetadataFetcher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionLevelConsumer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionOffsetFetcher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConsumerFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamMetadataProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamPartitionMsgOffset.java
Labels: release-notes

#6808 [PQL Deprecation] Remove the usage of PQL compiler
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/SqlCompilationException.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountThetaSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/SelectionDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/utils/BrokerRequestToQueryContextConverter.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datatable/DataTableUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/ArithmeticFunctionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/DateTimeFunctionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/geospatial/transform/GeoFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/geospatial/transform/StGeometryTypeFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/geospatial/transform/StPointFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/CombineSlowOperatorsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/SelectionCombineOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/AdditionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ArrayBaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BinaryOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CastTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DateTimeConversionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DateTruncTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DivisionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/GroovyTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LogicalOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LookupTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ModuloTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/MultiplicationTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/SingleParamMathTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/SubtractionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/TimeConversionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ValueInTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/CombinePlanNodeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/DefaultAggregationExecutorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactoryTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/groupby/DictionaryBasedGroupKeyGeneratorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/groupby/NoDictionaryGroupKeyGeneratorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/pruner/ColumnValueSegmentPrunerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/request/context/predicate/PredicateTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/selection/SelectionOperatorServiceTest.java
  pinot-core/src/test/java/org/apache/pinot/core/segment/processing/framework/PartitionerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctQueriesTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkCombineGroupBy.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkIndexedTable.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/InbuiltFunctionEvaluator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/IngestionUtilsTest.java
Labels: release-notes

#6840 TableConfigs APIs
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AccessControlUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/exception/ControllerApplicationException.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/exception/InvalidTableConfigException.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/exception/TableAlreadyExistsException.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotBrokerRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotClusterConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotIngestionRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceAssignmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLeadControllerRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableIndexingConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableMetadataConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableSchema.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableSegmentConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableTenantConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableSize.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableViews.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ZookeeperResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/SegmentValidator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/ZKOperator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestURLBuilder.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotTableIdealStateBuilder.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableConfigsRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
  pinot-segment-local/pom.xml
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/ReplicationUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/TableConfigs.java
Labels: release-notes
