Repository apache/pinot, pull requests merged in 2022-09, with the labels that each got.

#9315 Force commit consuming segments (#9197)
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
Labels: release-notes

#9316 Add capabilities to ingest from another stream without disabling the realtime table (#9289)
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/RealtimeSegmentValidationManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
Labels: release-notes

#9294 Infer parquet reader type based on file metadata (wip)
  pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetRecordReader.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetRecordReaderConfig.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetUtils.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetRecordReaderTest.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/resources/data-avro.parquet
Labels: enhancement, Configuration

#9296 Add Support for Cast Function on MV Columns
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CastTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CastTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/CastQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/IdSetQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/ArrayCopyUtils.java
Labels: feature

#9324 [Code Refactor] ArrayCopyUtils 2D Array for Transform Functions
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunction.java
Labels: cleanup

#9304 Allow server to directly return the final aggregation result
  pinot-core/src/main/java/org/apache/pinot/core/data/table/IndexedTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/Table.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/AggregationResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/GroupByResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/AggregationDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/main/java/org/apache/pinot/core/util/QueryOptionsUtils.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, release-notes

#9295 Enable Consistent Data Push for Standalone Segment Push Job Runners
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/sink/FlinkSegmentWriter.java
  pinot-connectors/pinot-flink-connector/src/test/java/org/apache/pinot/connector/flink/sink/PinotSinkIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentUploadIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentWriterUploaderIntegrationTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-common/src/main/java/org/apache/pinot/plugin/ingestion/batch/common/BaseSegmentPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/main/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/main/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentMetadataPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/main/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentTarPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/main/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentUriPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/test/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-segment-writer/pinot-segment-writer-file-based/src/main/java/org/apache/pinot/plugin/segmentwriter/filebased/FileBasedSegmentWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/ConsistentDataPushUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/BatchIngestionConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/SegmentNameGeneratorSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/IngestionConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: release-notes, refactor

#9372 skip late cron job with max allowed delay
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/controller.yml
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/CronJobScheduleJob.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManagerStatelessTest.java
Labels: release-notes, Configuration

#9387 Optimize combine operator to fully utilize threads
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/MinMaxValueBasedSelectionOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingSelectionOnlyCombineOperator.java
Labels: enhancement

#9383 [multistage][bugfix] fix group-by without agg call plan failure
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotJoinExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotLogicalSortFetchEliminationRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotRuleUtils.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotSortExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9367 [multistage] support SEMI join
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/WorkerQueryExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9350 [multistage][bug-fix] Fix the join condition order different from join table order
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotJoinExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/PlannerUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToStageConverter.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9384 [multistage] add cast function
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerExceptionTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9312 [Feature] Support IsDistinctFrom and IsNotDistinctFrom
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BinaryOperatorTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DistinctFromTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/IsDistinctFromTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/IsNotDistinctFromTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DistinctFromTransformFunctionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/NullHandlingIntegrationTest.java
Labels: feature, release-notes

#9374 [multistage] Support IN and NOT-IN Clauses
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9400 set MDC so that one can route minion task logs to separate files cleanly
  pinot-minion/src/main/java/org/apache/pinot/minion/taskfactory/TaskFactoryRegistry.java
  pinot-tools/src/main/resources/log4j2.xml
Labels: feature, release-notes, Configuration

#9399 Add missing properties in CSV plugin
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVRecordReader.java
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVRecordReaderConfig.java
Labels: release-notes, Configuration

#9428 fix histogram null pointer exception
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/HistogramAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/HistogramQueriesTest.java
Labels: bugfix

#9430 Fix the flaky NullHandlingIntegrationTest
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
Labels: flaky-test

#9429 Cleanup null value handling in data table
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/AggregationResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/GroupByResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CoalesceTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/DistinctTable.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CoalesceTransformFunctionTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/NullValueUtils.java
Labels: cleanup

#9385 Do not allow implicit cast for BOOLEAN and TIMESTAMP
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DataTypeConversionFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/common/DataFetcher.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CastTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LogicalOperatorTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LookupTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ValueInTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/AndOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BinaryOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CastTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DateTimeConversionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DistinctFromTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/EqualsTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/GreaterThanOrEqualTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/GreaterThanTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LessThanOrEqualTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LessThanTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LogicalOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/NotEqualsTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/NotOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/NullHandlingTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/OrOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/TimeConversionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ValueInTransformFunctionTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/ForwardIndexReader.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/ArrayCopyUtils.java
Labels: enhancement, release-notes, bugfix

#9434 Fix skip segment logic in MinMaxValueBasedSelectionOrderByCombineOperator
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/MinMaxValueBasedSelectionOrderByCombineOperator.java
Labels: bugfix

#9435 Extract the common logic for upsert metadata manager
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
Labels: cleanup

#9443 Fix the bug of hybrid table request using the same request id
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/grpc/GrpcRequestBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BaseReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/InstanceRequestHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryRouter.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracer.java
Labels: bugfix

#9444 Always pass clientId to kafka's consumer properties
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConnectionHandler.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamLevelConsumer.java
Labels: bugfix

#9311 Adaptive Server Selection
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerDebug.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/adaptiveserverselector/AdaptiveServerSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/adaptiveserverselector/AdaptiveServerSelectorFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/adaptiveserverselector/HybridSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/adaptiveserverselector/LatencySelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/adaptiveserverselector/NumInFlightReqSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BalancedInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/ReplicaGroupInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/StrictReplicaGroupInstanceSelector.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/adaptiveserverselector/AdaptiveServerSelectorTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/ExponentialMovingAverage.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/ExponentialMovingAverageTest.java
  pinot-connectors/pinot-spark-connector/src/main/scala/org/apache/pinot/connector/spark/connector/PinotServerDataFetcher.scala
  pinot-connectors/prestodb-pinot-dependencies/presto-pinot-driver/src/main/java/org/apache/pinot/connector/presto/PinotScatterGatherQueryClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/AsyncQueryResponse.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryResponse.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryRouter.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/server/routing/stats/ServerRoutingStatsEntry.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/server/routing/stats/ServerRoutingStatsManager.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/server/routing/stats/ServerRoutingStatsManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature

#9404 fix(ui): table only displaying first 10 results when not explicitly paginated
  pinot-controller/src/main/resources/app/components/Homepage/ClusterConfig.tsx
  pinot-controller/src/main/resources/app/components/Homepage/InstanceTable.tsx
  pinot-controller/src/main/resources/app/components/Homepage/TenantsListing.tsx
  pinot-controller/src/main/resources/app/components/Homepage/useTaskTypesTable.tsx
  pinot-controller/src/main/resources/app/components/Query/QuerySideBar.tsx
  pinot-controller/src/main/resources/app/components/Table.tsx
  pinot-controller/src/main/resources/app/components/usePeriodicTasks.tsx
  pinot-controller/src/main/resources/app/components/useTaskListing.tsx
  pinot-controller/src/main/resources/app/pages/InstanceDetails.tsx
  pinot-controller/src/main/resources/app/pages/Query.tsx
  pinot-controller/src/main/resources/app/pages/SchemaPageDetails.tsx
  pinot-controller/src/main/resources/app/pages/SegmentDetails.tsx
  pinot-controller/src/main/resources/app/pages/TablesListingPage.tsx
  pinot-controller/src/main/resources/app/pages/TaskDetail.tsx
  pinot-controller/src/main/resources/app/pages/TaskQueue.tsx
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
  pinot-controller/src/main/resources/app/pages/Tenants.tsx
Labels: ui

#9445 [multistage] adding support for range predicate
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotFilterExpandSearchRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToStageConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/stage/StageNodeSerDeUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/stage/ValueNode.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/WorkerQueryExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LiteralValueOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9355 Handle Invalid timestamps
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SchemaUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFieldSpec.java
Labels: Configuration

#9453 Fix the range check for range index on raw column
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BitSlicedRangeIndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/BitSlicedIndexCreatorTest.java
Labels: bugfix

#9451 spark-connector should use v2/brokers endpoint
  pinot-connectors/pinot-spark-connector/src/main/scala/org/apache/pinot/connector/spark/connector/PinotClusterClient.scala
Labels: bugfix

#9441 [enhancement] [release-note] Update get bytes to return raw bytes of string and support getBytesMV
  pinot-core/src/main/java/org/apache/pinot/core/common/BlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/common/DataBlockCache.java
  pinot-core/src/main/java/org/apache/pinot/core/common/DataFetcher.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/ProjectionBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/TransformBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/IdentifierTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/RowBasedBlockValSet.java
  pinot-core/src/test/java/org/apache/pinot/core/common/DataFetcherTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/FixedByteValueReaderWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/ValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/VarLengthValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/dictionary/BigDecimalOnHeapMutableDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/dictionary/StringOffHeapMutableDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/dictionary/StringOnHeapMutableDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BaseImmutableDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/ConstantValueStringDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/OnHeapStringDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/StringDictionary.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/dictionary/MultiValueDictionaryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readers/ImmutableDictionaryTypeConversionTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableForwardIndex.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/Dictionary.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/ForwardIndexReader.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/ArrayCopyUtils.java
Labels: enhancement, release-notes, backward-incompat

#9468 Decouple ser/de from DataTable
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataTable.java
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/BaseDataBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/BaseDataTable.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/BaseDataTableBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/DistinctDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockTestUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datatable/DataTableSerDeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datatable/DataTableUtilsTest.java
Labels: cleanup

#9466 collect file info like mtime, length while listing files for free
  pinot-plugins/pinot-file-system/pinot-gcs/src/main/java/org/apache/pinot/plugin/filesystem/GcsPinotFS.java
  pinot-plugins/pinot-file-system/pinot-gcs/src/test/java/org/apache/pinot/plugin/filesystem/GcsPinotFSTest.java
  pinot-plugins/pinot-file-system/pinot-gcs/src/test/java/org/apache/pinot/plugin/filesystem/GcsUriTest.java
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3PinotFSTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/FileMetadata.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/LocalPinotFS.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/PinotFS.java
  pinot-spi/src/test/java/org/apache/pinot/spi/filesystem/LocalPinotFSTest.java
Labels: enhancement

#9475 [pinot-spark-connector] Bump spark connector max inbound message size
  pinot-connectors/pinot-spark-connector/src/main/scala/org/apache/pinot/connector/spark/connector/PinotGrpcServerDataFetcher.scala
Labels: bugfix, performance

#9490 Eliminate explosion of metrics due to gapfill queries
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
Labels: bugfix

#9454 ForwardIndexHandler: Change compressionType during segmentReload
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexHandlerFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessor.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/BaseChunkForwardIndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/ForwardIndexReader.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/store/ColumnIndexType.java
Labels: feature

#9483 [Cleanup] Simplify the operator name for group-by
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/AggregationCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/GroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/CombinePlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/GroupByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/CombineSlowOperatorsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/groupby/GroupByTrimTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/CastQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/CovarianceQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctCountBitmapQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctCountQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctCountThetaSketchQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FSTBasedRegexpLikeQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FastHllQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FirstWithTimeQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/HistogramQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/IdSetQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentAggregationMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentAggregationMultiValueRawQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentAggregationSingleValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/JsonDataTypeQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/LastWithTimeQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ModeQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/PercentileTDigestQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SegmentPartitionedDistinctCountQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SerializedBytesQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/StUnionQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SumGreatestLeastQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/TransformQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: cleanup

#9500 Fix JsonExtractScalar when no value is extracted
  pinot-common/src/main/java/org/apache/pinot/common/utils/PinotDataType.java
  pinot-core/src/main/java/org/apache/pinot/core/common/evaluators/DefaultJsonPathEvaluator.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunctionTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
Labels: bugfix

#9506 Fix AddTable for realtime tables
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTableCommand.java
Labels: bugfix

#9486 [feature] distinct from scalar functions
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ObjectFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/LogicalFunctionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/ObjectFunctionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/postaggregation/PostAggregationFunctionTest.java
Labels: feature
