Repository apache/pinot, pull requests merged in 2022-10, with the labels that each got.

#9508 Check data table version on server only for null handling
  pinot-core/src/main/java/org/apache/pinot/core/query/request/ServerQueryRequest.java
  pinot-core/src/main/java/org/apache/pinot/core/util/QueryOptionsUtils.java
Labels: bugfix

#9509 Fix some type convert scalar functions
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DataTypeConversionFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapper.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
Labels: bugfix

#9062 [Upsert] persist validDocsIndex snapshot for Pinot upsert optimization
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImplUpsertSnapshotTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
Labels: enhancement, release-notes, Configuration

#9487 [feature] coalesce scalar
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ObjectFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/ObjectFunctionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/postaggregation/PostAggregationFunctionTest.java
Labels: feature

#9356 Allow setting custom time boundary for hybrid table queries
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/timeboundary/TimeBoundaryManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/timeboundary/TimeBoundaryManagerTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/TableSegmentValidationInfo.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes

#9526 Optimize PinotHelixResourceManager.hasTable()
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: enhancement

#9533 Fix timestamp index on column of preserved key
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TimestampIndexGranularity.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/table/TimestampIndexGranularityTest.java
Labels: bugfix

#9525 [multistage] Adding SSB quickstart
  pinot-tools/src/main/java/org/apache/pinot/tools/BootstrapTableTool.java
  pinot-tools/src/main/java/org/apache/pinot/tools/MultistageEngineQuickStart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/QuickStartBase.java
  pinot-tools/src/main/resources/examples/batch/ssb/customer/IngestionJobSpec.yaml
  pinot-tools/src/main/resources/examples/batch/ssb/customer/customer_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/customer/customer_schema.json
  pinot-tools/src/main/resources/examples/batch/ssb/customer/rawdata/customer.csv
  pinot-tools/src/main/resources/examples/batch/ssb/dates/IngestionJobSpec.yaml
  pinot-tools/src/main/resources/examples/batch/ssb/dates/dates_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/dates/dates_schema.json
  pinot-tools/src/main/resources/examples/batch/ssb/dates/rawdata/dates.csv
  pinot-tools/src/main/resources/examples/batch/ssb/lineorder/IngestionJobSpec.yaml
  pinot-tools/src/main/resources/examples/batch/ssb/lineorder/lineorder_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/lineorder/lineorder_schema.json
  pinot-tools/src/main/resources/examples/batch/ssb/lineorder/rawdata/lineorder.csv
  pinot-tools/src/main/resources/examples/batch/ssb/part/IngestionJobSpec.yaml
  pinot-tools/src/main/resources/examples/batch/ssb/part/part_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/part/part_schema.json
  pinot-tools/src/main/resources/examples/batch/ssb/part/rawdata/part.csv
  pinot-tools/src/main/resources/examples/batch/ssb/supplier/IngestionJobSpec.yaml
  pinot-tools/src/main/resources/examples/batch/ssb/supplier/rawdata/supplier.csv
  pinot-tools/src/main/resources/examples/batch/ssb/supplier/supplier_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/supplier/supplier_schema.json
Labels: multi-stage

#9389 [Feature] [Refactoring] Create LiteralContext to hold type and value of literal and Boolean literal eval support
  pinot-common/src/main/java/org/apache/pinot/common/request/context/ExpressionContext.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/LiteralContext.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/TableResizer.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3InclusionIndexFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3IndexFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountSmartHLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountThetaSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/HistogramAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/IdSetAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/ModeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileSmartTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumPrecisionAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BaseGapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapfillFilterHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/PostAggregationHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/SumAvgGapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/util/GapfillUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/QueryOverrideWithHintsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/request/context/utils/BrokerRequestToQueryContextConverterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/InbuiltFunctionEvaluator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
Labels: enhancement

#9549 Fix record extractor when ByteBuffer can be reused
  pinot-plugins/pinot-input-format/pinot-avro-base/src/test/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordExtractorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/BaseRecordExtractor.java
Labels: bugfix

#9551 [Upsert] Skip removing upsert metadata when shutting down the server
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: enhancement

#9543 Add more options to json index
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/statement/JsonStatementOptimizer.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/SelectionCombineOperatorTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/DefaultMutableIndexProvider.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/RealtimeSegmentConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/DefaultIndexCreatorProvider.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/json/BaseJsonIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/json/OffHeapJsonIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/json/OnHeapJsonIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/column/PhysicalColumnIndexContainer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/JsonIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/IndexingFailureTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplTestUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/JsonIndexTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/IndexCreationContext.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/provider/MutableIndexContext.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/IndexingConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/JsonIndexConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/JsonUtilsTest.java
Labels: feature, release-notes, Configuration

#9566 Handle the case when enableNullHandling is true and an aggregation function is used w/ a column that has an empty null bitmap
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MaxAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullEnabledQueriesTest.java
Labels: bugfix

#9564 fix hybrid quickstart; add @Produces to new timeBoundary APIs
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-tools/src/main/java/org/apache/pinot/tools/BootstrapTableTool.java
Labels: bugfix

#9333 Add an option to disable the creation of the forward index for a column
  pinot-core/src/main/java/org/apache/pinot/core/common/DataFetcher.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/RawIndexConverter.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/ScanBasedFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledSingleValueQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/stats/MutableColumnStatistics.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/stats/MutableNoDictionaryColStatistics.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/DefaultIndexCreatorProvider.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/NoOpForwardIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/column/PhysicalColumnIndexContainer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/datasource/BaseDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/FixedBitMVForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentColumnReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/store/StarTreeLoaderUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/LoaderTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandlerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-segment-local/src/test/resources/data/newColumnsSchemaWithForwardIndexDisabled.json
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/IndexCreationContext.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/FieldConfig.java
  pinot-tools/src/main/java/org/apache/pinot/tools/segment/converter/DictionaryToRawIndexConverter.java
Labels: feature

#9569 Fix time validation when data type needs to be converted
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/DataTypeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/FilterTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SanitizationTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/TimeValidationTransformer.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformerTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/IngestionConfig.java
Labels: enhancement, bugfix

#9579 Fix the bug where uploaded segments cannot be deleted on real-time table
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableSegmentUploadIntegrationTest.java
Labels: bugfix

#9583 [Flaky test] fix PurgeMinionClusterIntegrationTest
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PurgeMinionClusterIntegrationTest.java
Labels: flaky-test

#9306 TierBasedSegmentDirectoryLoader to keep segments in multi-datadir
  pinot-common/src/main/java/org/apache/pinot/common/metadata/segment/SegmentZKMetadata.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TierConfigUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/tier/TierConfigUtilsTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/InstanceDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentLoader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/loader/DefaultSegmentDirectoryLoader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/loader/TierBasedSegmentDirectoryLoader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/loader/TierBasedSegmentDirectoryLoaderTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/loader/SegmentDirectoryLoaderRegistryTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/loader/SegmentDirectoryLoader.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/loader/SegmentDirectoryLoaderContext.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentOnlineOfflineStateModelFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes, Configuration

#9605 Fix NonAggregationGroupByToDistinctQueryRewriter
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/NonAggregationGroupByToDistinctQueryRewriter.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/rewriter/NonAggregationGroupByToDistinctQueryRewriterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-tools/src/test/resources/queries.raw
Labels: bugfix

#9510 Support rewriting forward index upon changing compression type for existing raw MV column
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/MultiValueVarByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentColumnReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/IndexCreationContext.java
Labels: feature

#9613 [Clean up] Remove the unused methods in TransformFunctionType
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-common/src/test/java/org/apache/pinot/common/function/FunctionDefinitionRegistryTest.java
  pinot-common/src/test/java/org/apache/pinot/common/function/TransformFunctionTypeTest.java
Labels: cleanup

#9610 [hotfix][multistage] support not-in in leaf stage
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/InTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/NotInTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/InTransformFunctionTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryTestSet.java
Labels: multi-stage

#9494 [feature] [kubernetes] add loadBalancerSourceRanges to service-external.yaml for controller and broker
  kubernetes/helm/pinot/templates/broker/service-external.yaml
  kubernetes/helm/pinot/templates/broker/statefulset.yaml
  kubernetes/helm/pinot/templates/controller/service-external.yaml
  kubernetes/helm/pinot/templates/minion-stateless/deployment.yaml
  kubernetes/helm/pinot/templates/minion/statefulset.yaml
  kubernetes/helm/pinot/templates/server/statefulset.yaml
Labels: feature

#9598 add SegmentTierAssigner and refine restful APIs to get segment tier info
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentTierAssigner.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerTableTierReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableTierReader.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableTierReaderTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerPeriodicTaskStarterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/relocation/SegmentTierAssignerTest.java
Labels: feature, release-notes

#9515 Exposing consumer's record lag in /consumingSegmentsInfo
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/SegmentConsumerInfo.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ConsumingSegmentInfoReader.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/ConsumingSegmentInfoReaderStatelessTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/HLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaConsumerPartitionLag.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamMetadataProvider.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/DebugResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/ConsumerPartitionState.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionLagState.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamMetadataProvider.java
Labels: release-notes, backward-incompat

#9604 Do not cache record reader in segment
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/IntermediateSegment.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/IntermediateSegmentSegmentCreationDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/IntermediateSegmentRecordReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentColumnReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentRecordReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/IntermediateSegmentTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/IndexSegment.java
Labels: bugfix, cleanup

#9619 fix DataSchema thread-safe issue
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/DataSchemaTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/SelectionDataTableReducer.java
  pinot-core/src/test/java/org/apache/pinot/core/query/selection/SelectionOperatorServiceTest.java
Labels: bugfix

#9603 Bug fix: Add missing table config fetch for /tableConfigs list all
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableConfigsRestletResourceTest.java
Labels: bugfix

#9597 [hotfix][multistage] support filter boolean ref & literal
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlockUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FilterOperand.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryTestSet.java
Labels: multi-stage

#9471 make first part of user agent header configurable
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/BrokerCache.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransport.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransportFactory.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/utils/ConnectionUtils.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/PinotControllerTransport.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/PinotControllerTransportFactory.java
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/DummyPinotControllerTransport.java
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/PinotConnectionTest.java
Labels: enhancement

#9609 Add segment level debug API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/DebugResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/DebugResource.java
Labels: feature, release-notes

#9631 Fix re-uploading segment when the previous upload failed
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/ZKOperator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/SegmentDeletionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/upload/ZKOperatorTest.java
Labels: bugfix

#9635 Enhance cluster config update API to handle non-string values properly
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotClusterConfigs.java
Labels: enhancement, bugfix

#9646 Remove invalid pruner names from server config
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/DefaultHelixStarterServerConfig.java
Labels: cleanup

#9649 [Minor cleanup] Remove TrieNode
  pinot-core/src/main/java/org/apache/pinot/core/query/utils/TrieNode.java
Labels: cleanup

#9624 notify servers that need to move segments to new tiers via SegmentReloadMessage
  pinot-common/src/main/java/org/apache/pinot/common/messages/SegmentReloadMessage.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentTierAssigner.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerPeriodicTaskStarterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocatorTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/relocation/SegmentTierAssignerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/InstanceDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/loader/TierBasedSegmentDirectoryLoader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/loader/TierBasedSegmentDirectoryLoaderTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentMessageHandlerFactory.java
Labels: feature, release-notes

#9650 Fix string split which should be on whole separator
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
Labels: release-notes, bugfix

#9608 Using `usageHelp` instead of deprecated `help` in picocli commands
  pinot-perf/src/main/java/org/apache/pinot/perf/RawIndexBenchmark.java
  pinot-tools/src/main/java/org/apache/pinot/tools/AutoAddInvertedIndexTool.java
  pinot-tools/src/main/java/org/apache/pinot/tools/PinotToolLauncher.java
  pinot-tools/src/main/java/org/apache/pinot/tools/SegmentDumpTool.java
  pinot-tools/src/main/java/org/apache/pinot/tools/UpdateSegmentState.java
  pinot-tools/src/main/java/org/apache/pinot/tools/ValidateTableRetention.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RealtimeProvisioningHelperCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/PerfBenchmarkRunner.java
  pinot-tools/src/main/resources/conf/pinot-tools-log4j2.xml
Labels: cleanup

#9654 [multistage] support like and regex like
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FilterOperand.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryTestSet.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9656 Fix server request sent delay to be non-negative
  pinot-core/src/main/java/org/apache/pinot/core/transport/AsyncQueryResponse.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerChannels.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerResponse.java
Labels: bugfix

#9648 Handle unique query id on server
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/ServerQueryRequest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/utils/QueryIdUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryRouter.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/QueryResource.java
Labels: enhancement

#9643 [multistage] create pinot override SqlOpTable
  pinot-query-planner/src/main/java/org/apache/calcite/sql/fun/PinotOperatorTable.java
  pinot-query-planner/src/main/java/org/apache/calcite/sql/fun/PinotSqlCoalesceFunction.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryTestSet.java
Labels: multi-stage

#9674 Fix extra restlet resource test which should be stateless
  pinot-controller/src/test/java/org/apache/pinot/controller/api/extraresources/PinotDummyExtraRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotDummyExtraRestletResourceStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
Labels: bugfix

#9640 Support reloading consuming segment using force commit
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/AggregateMetricsClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ControllerPeriodicTasksIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/DedupIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ExactlyOnceKafkaRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/FlakyConsumerHLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/KafkaConfluentSchemaRegistryAvroMessageDecoderRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PeerDownloadLLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RealtimeToOfflineSegmentsMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentCompletionIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentPartitionLLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TextIndicesRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableSegmentUploadIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UrlAuthRealtimeIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/SegmentDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/virtualcolumn/VirtualColumnProviderFactory.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerTest.java
Labels: enhancement, bugfix

#9667 Improve star-tree to use star-node when the predicate matches all the non-star nodes
  pinot-core/src/main/java/org/apache/pinot/core/startree/operator/StarTreeFilterOperator.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/StarTreeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/startree/StarTreeQueryGenerator.java
Labels: enhancement, cleanup

#9653 [multistage] visitor pattern for server request construction
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/WorkerQueryExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PlanRequestContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/ServerRequestPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/utils/ServerRequestUtils.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9688 Improve star-tree traversal using ArrayDeque
  pinot-core/src/main/java/org/apache/pinot/core/startree/operator/StarTreeFilterOperator.java
Labels: performance

#9689 Handle errors in combine operator
  pinot-common/src/main/java/org/apache/pinot/common/exception/QueryException.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/ExceptionResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByCombineOperator.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/CombineErrorOperatorsTest.java
Labels: bugfix

#9686 return different error code if old version is not on master
  compatibility-verifier/checkoutAndBuild.sh
Labels: bugfix
