Repository apache/pinot, pull requests merged in 2022-05, with the labels that each got.

#8518 Support filtering on bool/scalar fields without evaluator
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/PredicateComparisonRewriter.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/test/java/org/apache/pinot/queries/BooleanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FilteredAggregationsTest.java
Labels: bugfix

#8612 Store batch message ids vs calculating them
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarConsumerTest.java
Labels: flaky-test

#8633 Fix the potential NPE for timestamp index rewrite
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TimestampIndexGranularity.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/IngestionConfig.java
Labels: bugfix

#8629 Sampling driven tracing
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/DefaultRequestContext.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/RequestContext.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/RequestScope.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracer.java
Labels: observability

#8355 add a experiment API for upsert heap memory estimation
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/Constants.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotUpsertRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/test/java/org/apache/pinot/controller/ControllerTestUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotUpsertRestletResourceTest.java
  pinot-controller/src/test/resources/memory_estimation/schema-for-upsert.json
  pinot-controller/src/test/resources/memory_estimation/table-config-for-upsert.json
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ColumnStats.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: release-notes

#8181 add FIRSTWITHTIME aggregate function support #7647
  pinot-common/src/test/java/org/apache/pinot/common/function/AggregationFunctionTypeTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstDoubleValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstFloatValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstIntValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstLongValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstStringValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstWithTimeAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactoryTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FirstWithTimeQueriesTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature, release-notes

#8582 Support conjugates for scalar functions, add more scalar functions
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ComparisonFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ObjectFunctions.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/InbuiltFunctionEvaluator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformerTest.java
Labels: enhancement

#8643 Remove BrokerResponse from QueryContext
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlCompiler.java
  pinot-controller/src/main/java/org/apache/pinot/controller/recommender/io/InputManager.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BrokerReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/ResultReducerFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/StreamingReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/ServerQueryRequest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/utils/BrokerRequestToQueryContextConverter.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/utils/QueryContextConverterUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/QueryOverrideWithHintsTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: cleanup

#8644 In BrokerRequestHandler, directly work on PinotQuery if possible
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/util/GapfillUtils.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
Labels: cleanup

#8640 allow to take data outside the time window by negating the window filter
  pinot-core/src/main/java/org/apache/pinot/core/common/MinionConstants.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/timehandler/EpochTimeHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/timehandler/TimeHandlerConfig.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/timehandler/TimeHandlerFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/segment/processing/framework/SegmentMapperTest.java
  pinot-core/src/test/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFrameworkTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MergeTaskUtils.java
Labels: enhancement, release-notes

#8620 Remove geometry check for st_contain and st_within
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/StContainsFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/StWithinFunction.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/H3Utils.java
Labels: enhancement

#8655 Allow broker to automatically rewrite expensive function to its approximate counterpart
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/DistinctCountRewriteTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/QueryLimitOverrideTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/QueryOverrideTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/QueryConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, release-notes

#8654 Support ADLS authentication with AAD + proxy
  pinot-plugins/pinot-file-system/pinot-adls/src/main/java/org/apache/pinot/plugin/filesystem/ADLSGen2PinotFS.java
Labels: enhancement

#8659 Adding pinot file system command
  pinot-tools/pom.xml
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/PinotAdministrator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/FileSystemCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/filesystem/BaseFileOperation.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/filesystem/CopyFiles.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/filesystem/DeleteFiles.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/filesystem/ListFiles.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/filesystem/MoveFiles.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/filesystem/Utils.java
Labels: feature, release-notes

#8672 fix pruning in expressions by max/min/bloom
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/ColumnValueSegmentPruner.java
  pinot-core/src/test/java/org/apache/pinot/core/query/pruner/ColumnValueSegmentPrunerTest.java
Labels: bugfix

#8675 Fix the flaky UpsertTableSegmentUploadIntegrationTest
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableSegmentUploadIntegrationTest.java
Labels: flaky-test

#8679 [bugfix] Amend schema to add timestamp index during segment reloading
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentLoader.java
Labels: bugfix

#8673 Import dry run
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/PinotAdministrator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DataImportDryRunCommand.java
Labels: dx

#8578 Add TLS configuration to JDBC driver
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotDriver.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/PinotControllerTransport.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/PinotControllerTransportFactory.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/utils/DriverUtils.java
  pinot-integration-tests/pom.xml
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pom.xml
Labels: enhancement

#8653 Allow updating start/end offset for pushed segments
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/segment/SegmentZKMetadata.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/ZKOperator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/util/ZKMetadataUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/RetentionManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/validation/ValidationManagerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/SegmentMetadata.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/SegmentMetadataImpl.java
Labels: enhancement

#8683 track group by evaluation statistics
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/AggregationGroupByOrderByOperator.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/InvocationRecording.java
Labels: observability

#8677 Upgrade jersey to fix parallel segment upload
  LICENSE-binary
  pinot-core/pom.xml
  pinot-distribution/pom.xml
  pinot-integration-tests/pom.xml
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-hadoop/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pom.xml
Labels: bugfix

#8685 Fix the race condition of reading time boundary info
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
Labels: bugfix

#8687 deduplicate predicates optimistically
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationGroupByOrderByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/FilterPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/StarTreeUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkQueries.java
Labels: performance

#8696 Upgrade h3 to 3.7.2 for M1 Mac support
  pom.xml
Labels: dependencies

#8694 Set max number of parallel segment downloads per table in pinot-server
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/TableDataManagerProvider.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerAcquireSegmentTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
  pinot-server/src/test/java/org/apache/pinot/server/api/BaseResourceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/instance/InstanceDataManagerConfig.java
Labels: enhancement

#8703 make exclusive range bounds exclusive
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RangePredicateEvaluatorFactory.java
  pinot-core/src/test/java/org/apache/pinot/queries/RangeQueriesTest.java
Labels: bugfix

#8657 Add Pulsar plugin back to distribution
  pinot-distribution/pinot-assembly.xml
Labels: dependencies

#8710 throw when integer overflow occurs
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/BaseChunkSVForwardIndexWriter.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/VarByteChunkSVForwardIndexTest.java
Labels: bugfix

#8707 Fix when there're two index filter operator h3 inclusion index throw exception
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/FilterOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3InclusionIndexFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/queries/H3IndexQueriesTest.java
Labels: bugfix

#8658 CSV Realtime Decoder
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-csv/src/test/java/org/apache/pinot/plugin/inputformat/csv/CSVMessageDecoderTest.java
Labels: feature

#8647 Scalable Gapfill Implementation for Avg/Count/Sum
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BaseGapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BrokerReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/CountGapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapfillProcessorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/SumAvgGapfillProcessor.java
  pinot-core/src/test/java/org/apache/pinot/queries/GapfillQueriesScalabilityTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/GapfillQueriesTest.java
Labels: enhancement

#8584 Enable uploading segments to realtime tables
  pinot-common/src/main/java/org/apache/pinot/common/utils/SegmentUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeSegmentAssignment.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeNonReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeNonReplicaGroupTieredSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeReplicaGroupSegmentAssignmentTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/OfflineTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RealtimeClusterIntegrationTest.java
Labels: feature, release-notes

#8711 Disable Groovy function by default
  compatibility-verifier/sample-test-suite/config/BrokerConfig.properties
  compatibility-verifier/sample-test-suite/config/ControllerConfig.properties
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes, backward-incompat

#8670 Add pluggable client auth provider
  pinot-common/src/main/java/org/apache/pinot/common/auth/AuthConfig.java
  pinot-common/src/main/java/org/apache/pinot/common/auth/AuthProviderUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/auth/NullAuthProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/auth/StaticTokenAuthProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/auth/UrlAuthProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/BaseSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/HttpSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/SegmentFetcherFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/http/HttpClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotIngestionRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/FileIngestionHelper.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitterFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/Server2ControllerSegmentUploader.java
  pinot-core/src/main/java/org/apache/pinot/server/realtime/ServerSegmentCompletionProtocolHandler.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerAcquireSegmentTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BasicAuthBatchIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UrlAuthRealtimeIntegrationTest.java
  pinot-integration-tests/src/test/resources/url-auth-token-prefixed.txt
  pinot-integration-tests/src/test/resources/url-auth-token.txt
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseSingleSegmentConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/SegmentConversionUtils.java
  pinot-plugins/pinot-segment-uploader/pinot-segment-uploader-default/src/main/java/org/apache/pinot/plugin/segmentuploader/SegmentUploaderDefault.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManagerConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/IngestionUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentPushUtils.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/auth/AuthProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/instance/InstanceDataManagerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/SegmentGenerationJobSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/segment/uploader/SegmentUploader.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-tools/src/main/java/org/apache/pinot/tools/AuthQuickstart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/BootstrapTableTool.java
  pinot-tools/src/main/java/org/apache/pinot/tools/EmptyQuickstart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/Quickstart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AbstractBaseAdminCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddSchemaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTenantCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/BootstrapTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ChangeTableState.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ImportDataCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/LaunchDataIngestionJobCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/OperateClusterConfigCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/PostQueryCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/QuickstartRunner.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/UploadSegmentCommand.java
Labels: feature, release-notes, backward-incompat

#8721 Fix dimension table load when server restart or reload table
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
Labels: bugfix

#8611 Ingestion Aggregation Feature
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TableConfigUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/http/PinotConnectionUtils.java
  pinot-connectors/pinot-flink-connector/src/test/java/org/apache/pinot/connector/flink/sink/PinotSinkIntegrationTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/FileIngestionHelper.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/SegmentLineageCleanupTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/IngestionConfigHybridIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/JsonPathClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MapTypeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentWriterUploaderIntegrationTest.java
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-hadoop/src/test/java/org/apache/pinot/hadoop/job/preprocess/DataPreprocessingHelperTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGeneratorTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskExecutorTest.java
  pinot-plugins/pinot-segment-writer/pinot-segment-writer-file-based/src/test/java/org/apache/pinot/plugin/segmentwriter/filebased/FileBasedSegmentWriterTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/RealtimeSegmentConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/IngestionUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplIngestionAggregationTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplTestUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentGenerationWithFilterRecordsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/IngestionUtilsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/AggregationConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/IngestionConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/IngestionConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/IngestionConfigUtilsTest.java
Labels: feature, release-notes

#8719 add primitive indexOf overloads to Dictionary interface
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BaseImmutableDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/DoubleDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/FloatDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/IntDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/LongDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/geospatial/ImmutableH3IndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/DictionariesTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/Dictionary.java
Labels: performance

#8732 Groovy transform function should evaluate the script when arguments are null
  pinot-core/src/test/java/org/apache/pinot/core/data/function/GroovyFunctionEvaluatorTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/TransformQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/GroovyFunctionEvaluator.java
Labels: bugfix

#8748 Case order bug
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunctionTest.java
Labels: bugfix

#8754 Add noServerFoundExceptions metric to broker.yaml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/broker.yml
Labels: bugfix

#8740 Make max consecutive idle count before recreating stream configurable
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfigProperties.java
Labels: bugfix

#8738 Improve the Explain Plan accuracy
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelector.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataTable.java
  pinot-core/src/main/java/org/apache/pinot/core/common/ExplainPlanRowData.java
  pinot-core/src/main/java/org/apache/pinot/core/common/ExplainPlanRows.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/EmptyFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/MatchAllFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BaseReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BrokerReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/ExplainPlanDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/RoutingTable.java
  pinot-core/src/main/java/org/apache/pinot/core/util/QueryOptionsUtils.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement

#8761 Add metric for replication count from config
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/controller.yml
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
Labels: observability

#8737 Add option to skip statree index evaluation during query
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationGroupByOrderByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/StarTreeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/util/QueryOptionsUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, query

#8759 vectorize predicate evaluation
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/SVScanDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/EqualsPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/FSTBasedRegexpPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/InPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/NotEqualsPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/NotInPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/PredicateEvaluator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RangePredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RegexpLikePredicateEvaluatorFactory.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkQueries.java
Labels: performance

#8764 Vectorize predicates over full col filter scans
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/SVScanDocIdIterator.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkQueries.java
Labels: performance

#8729 allow to set https as the default scheme
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionAdminApiApplication.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/AdminApiApplication.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes

#8765 bump RoaringBitmap and use andCardinality/orCardinality
  LICENSE-binary
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/AndFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/OrFilterOperator.java
  pom.xml
Labels: dependencies

#8756 Skip creating null value vector when there is no null value
  pinot-core/src/test/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFrameworkTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/stats/MutableColumnStatistics.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/stats/MutableNoDictionaryColStatistics.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/nullvalue/NullValueVectorCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/BigDecimalColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/BytesColumnPredIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/DoubleColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/FloatColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/IntColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/LongColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/StringColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/DefaultColumnStatistics.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/ColumnIndexCreationInfo.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/ColumnStatistics.java
Labels: enhancement, cleanup

#8763 Refactor PinotMetricUtils and MetricsRegistryRegistrationListener related classes from pinot-common to pinot-spi
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/test/java/org/apache/pinot/broker/failuredetector/ConnectionFailureDetectorTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/AbstractMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ValidationMetrics.java
  pinot-common/src/test/java/org/apache/pinot/common/metrics/PinotMetricUtilsTest.java
  pinot-connectors/pinot-spark-connector/src/main/scala/org/apache/pinot/connector/spark/connector/PinotServerDataFetcher.scala
  pinot-connectors/prestodb-pinot-dependencies/presto-pinot-driver/src/main/java/org/apache/pinot/connector/presto/PinotScatterGatherQueryClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/test/java/org/apache/pinot/controller/LeadControllerManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableSizeReaderTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/periodictask/ControllerPeriodicTaskTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/RetentionManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/SegmentLineageCleanupTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/validation/StorageQuotaCheckerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerAcquireSegmentTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorExceptionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/scheduler/MultiLevelPriorityQueueTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/scheduler/PrioritySchedulerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/scheduler/fcfs/FCFSSchedulerGroupTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SegmentWithNullValueVectorTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentCompletionIntegrationTest.java
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/DirectMemoryManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/MmapMemoryManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-spi/src/main/java/org/apache/pinot/spi/metrics/JmxReporterMetricsRegistryRegistrationListener.java
  pinot-spi/src/main/java/org/apache/pinot/spi/metrics/MetricsRegistryRegistrationListener.java
  pinot-spi/src/main/java/org/apache/pinot/spi/metrics/PinotMetricUtils.java
Labels: refactor

#8724 Add histogram aggregation function `feature`
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/HistogramAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/utils/DoubleVectorOpUtils.java
  pinot-core/src/test/java/org/apache/pinot/queries/HistogramQueriesTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature

#8743 [Clean up] Simplify IngestionConfig construction
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TableConfigUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/http/PinotConnectionUtils.java
  pinot-connectors/pinot-flink-connector/src/test/java/org/apache/pinot/connector/flink/sink/PinotSinkIntegrationTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/FileIngestionHelper.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/SegmentLineageCleanupTest.java
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/IngestionConfigHybridIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/JsonPathClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MapTypeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentWriterUploaderIntegrationTest.java
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-hadoop/src/test/java/org/apache/pinot/hadoop/job/preprocess/DataPreprocessingHelperTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGeneratorTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskExecutorTest.java
  pinot-plugins/pinot-segment-writer/pinot-segment-writer-file-based/src/test/java/org/apache/pinot/plugin/segmentwriter/filebased/FileBasedSegmentWriterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentGenerationWithFilterRecordsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/IngestionUtilsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/BatchIngestionConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/IngestionConfig.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/IngestionConfigUtilsTest.java
Labels: cleanup

#8768 Deprecate debug options and always use query options
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentselector/RealtimeSegmentSelector.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BrokerRequestOptionsTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentselector/SegmentSelectorTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/FilterOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationGroupByOrderByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/FilterPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/utils/QueryContextConverterUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/operator/StarTreeFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/plan/StarTreeDocIdSetPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/plan/StarTreeFilterPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/plan/StarTreeProjectionPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/plan/StarTreeTransformPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/util/QueryOptionsUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/FilterOperatorUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, release-notes

#8785 Fix the issue of server opening up query server prematurely
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
Labels: bugfix

#8790 simplify segment pruning
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/ColumnValueSegmentPruner.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/DataSchemaSegmentPruner.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/SegmentPruner.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/SegmentPrunerProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/SegmentPrunerService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/SelectionQuerySegmentPruner.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/ValidSegmentPruner.java
  pinot-core/src/test/java/org/apache/pinot/core/query/pruner/ColumnValueSegmentPrunerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/pruner/SelectionQuerySegmentPrunerTest.java
Labels: refactor

#8797 Handle concurrent updates in Pulsar test
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarConsumerTest.java
Labels: flaky-test

#8774 Make row metadata available in Kafka 2.0 record ingestion
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaMessageBatch.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConnectionHandler.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConsumer.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelStreamConfig.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/MessageAndOffsetAndMetadata.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/RowMetadataExtractor.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/test/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConsumerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/test/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelStreamConfigTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfigProperties.java
Labels: feature
