Repository apache/pinot, pull requests merged in 2022-12, with the labels that each got.

#9857 #9834 Added Delete Schema/Table pinot admin commands
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/PinotAdministrator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DeleteSchemaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DeleteTableCommand.java
Labels: release-notes

#9885 Fix issues for realtime table reload
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
Labels: flaky-test, bugfix

#9571 [multi-stage] allow configurable timeout
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PlanRequestContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/ServerRequestPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryConfig.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/QueryDispatcherTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/QueryServerTest.java
Labels: multi-stage

#9859 Use Pulsar AdminClient to delete unused subscriptions
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarStreamMetadataProvider.java
Labels: bugfix

#9898 Fix bloom filter creation on BYTES
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
Labels: bugfix

#9844 add table sort function for table size
  pinot-controller/src/main/resources/app/components/Table.tsx
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/utils/SortFunctions.tsx
Labels: ui, bugfix

#9896 In Kafka consumer, seek offset only when needed
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConsumer.java
Labels: enhancement

#9902 [hotfix] broker selection not using table name
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/Connection.java
  pinot-clients/pinot-java-client/src/test/java/org/apache/pinot/client/PreparedStatementTest.java
Labels: bugfix

#9915 Allow liveness check during server shutting down
  pinot-server/src/main/java/org/apache/pinot/server/api/AdminApiApplication.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/HealthCheckResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/PinotServerAppConfigs.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/ShutDownFilter.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-server/src/test/java/org/apache/pinot/server/api/AccessControlTest.java
  pinot-server/src/test/java/org/apache/pinot/server/api/BaseResourceTest.java
  pinot-server/src/test/java/org/apache/pinot/server/api/HealthCheckResourceTest.java
Labels: enhancement

#9863 Add rate limit to Kinesis requests
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisConfig.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisConsumer.java
Labels: release-notes, Configuration, bugfix

#9861 Allow uploading realtime segments via CLI
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/UploadSegmentCommand.java
Labels: enhancement

#9905 Fix race condition when 2 segment upload occurred for the same segment
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/ZKOperator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/SegmentDeletionManager.java
Labels: bugfix

#9928 Fixed flaky test in URIUtilsTest
  pinot-common/src/test/java/org/apache/pinot/common/utils/URIUtilsTest.java
Labels: flaky-test, bugfix

#9925 Fixed flaky test in PluginManagerTest
  pinot-spi/src/test/java/org/apache/pinot/spi/plugin/PluginManagerTest.java
Labels: flaky-test, bugfix

#9938 Construct new IndexLoadingConfig when loading completed realtime segments
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
Labels: bugfix

#9922 Make GET /tableConfigs backwards compatible in case schema does not match raw table name
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableConfigsRestletResourceTest.java
Labels: bugfix

#9920 Clean up TableDataManagerConfig to be a thin wrapper over instance and table config
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/TableDataManagerProvider.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerAcquireSegmentTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorExceptionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SegmentWithNullValueVectorTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManagerConfig.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/data/manager/TableDataManagerConfigTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/QuickstartRunner.java
Labels: cleanup

#9939 [flaky-test] Fixed flaky test in LoggerUtilsTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/LoggerUtilsTest.java
Labels: flaky-test

#9947 [multistage][hotfix] allow having clause in leaf-stage return extra columns
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/exception/QueryException.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperatorTest.java
  pinot-query-runtime/src/test/resources/queries/Aggregates.json
Labels: multi-stage

#9948 Fix the flaky test for StatisticalQueriesTest
  pinot-core/src/test/java/org/apache/pinot/queries/StatisticalQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/VarianceTuple.java
Labels: bugfix

#9875 Update cardinality when converting raw column to dict based
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
Labels: bugfix

#9933 [multistage] add observability logging for thread scheduling
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainScheduler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/RoundRobinScheduler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/OpChain.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/OpChainStats.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/RoundRobinSchedulerTest.java
Labels: multi-stage

#9930 [multistage] [bugfix] Disable shuffle rewrite
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/StagePlanner.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
Labels: multi-stage

#9949 fix timezone_hour/timezone_minute functions
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DateTimeFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/DateTimeFunctionsTest.java
Labels: backward-incompat, bugfix

#9909 [multistage] fix function usage of casting
  pinot-query-planner/src/main/java/org/apache/pinot/query/catalog/PinotTable.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToStageConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/type/TypeSystem.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/MultiplexingMailboxService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/FilterOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/TransformOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FilterOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FunctionOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/TransformOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/FunctionInvokeUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/OperatorUtils.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/FilterOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/TransformOperatorTest.java
  pinot-query-runtime/src/test/resources/queries/TypeCasting.json
Labels: multi-stage

#9937 [multistage] Resolve case sensitivity issue on functions
  pinot-query-planner/src/main/java/org/apache/calcite/prepare/PinotCalciteCatalogReader.java
  pinot-query-planner/src/main/java/org/apache/calcite/sql/fun/PinotOperatorTable.java
  pinot-query-planner/src/main/java/org/apache/calcite/sql/util/PinotChainedSqlOperatorTable.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/SelectExpressions.json
  pinot-query-runtime/src/test/resources/queries/SelectHaving.json
  pinot-query-runtime/src/test/resources/queries/SpecialSyntax.json
Labels: multi-stage

#9965 [Bugfix] Move brokerId extraction to BaseBrokerStarter
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandlerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
Labels: bugfix

#9950 [multistage][testing] Add test for null handling, round func and some other cases
  pinot-query-runtime/src/test/resources/queries/Cast.json
  pinot-query-runtime/src/test/resources/queries/MathFuncs.json
  pinot-query-runtime/src/test/resources/queries/NullHanlding.json
  pinot-query-runtime/src/test/resources/queries/TableExpressions.json
Labels: testing, multi-stage

#9975 Adding configs for zk client timeout
  pinot-common/src/main/java/org/apache/pinot/common/utils/ServiceStartableUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/util/HelixSetupUtils.java
  pinot-query-runtime/src/test/resources/queries/Cast.json
  pinot-query-runtime/src/test/resources/queries/MathFuncs.json
  pinot-query-runtime/src/test/resources/queries/NullHanlding.json
  pinot-query-runtime/src/test/resources/queries/TableExpressions.json
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ShowClusterInfoCommand.java
Labels: release-notes, Configuration, 0.12.0

#9978 Fix the executor config wiring issue for Multi-stage engine
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
Labels: bug

#9952 [Clean up] Do not cache PropertiesConfiguration within SegmentMetadataImpl
  pinot-core/src/test/java/org/apache/pinot/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/InvertedIndexAndDictionaryBasedForwardIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/columnminmaxvalue/ColumnMinMaxValueGenerator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/StarTreeBuilderUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/MultipleTreesBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/store/StarTreeIndexMapUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/SegmentMetadataImpl.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/utils/SegmentMetadataUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/CommonsConfigurationUtils.java
Labels: cleanup

#9985 Fix ser/de for StringLongPair
  pinot-core/src/test/java/org/apache/pinot/core/common/ObjectSerDeUtilsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/StringLongPair.java
Labels: bugfix

#9988 Ability to initialize S3PinotFs with serverSideEncryption properties when passing client directly
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
Labels: bugfix

#9943 [multistage][test] add multi-server, multi-segment test
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/BasicQuery.json
Labels: multi-stage

#9911 handle pending minion tasks properly when getting the task progress status
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManagerTest.java
Labels: bugfix

#9979 bugfix dir check for HadoopPinotFS.copyFromLocalDir
  pinot-plugins/pinot-file-system/pinot-hdfs/src/main/java/org/apache/pinot/plugin/filesystem/HadoopPinotFS.java
  pinot-plugins/pinot-file-system/pinot-hdfs/src/test/java/org/apache/pinot/plugin/filesystem/HadoopPinotFSTest.java
Labels: bugfix

#9907 [multistage] [feature] Support Right join and Full join and inEqui mix.
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/FromExpressions.json
Labels: multi-stage

#9893 Pulsar Connection handler should not spin up a consumer / reader
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarConfig.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarPartitionLevelConnectionHandler.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarPartitionLevelConsumer.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarStreamMetadataProvider.java
Labels: bugfix, 0.12.0

#10017 Handle in-memory segment metadata for index checking
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/columnminmaxvalue/ColumnMinMaxValueGenerator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
Labels: bugfix

#10018 [Flaky test] Fix ForwardIndexHandlerTest
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
Labels: flaky-test

#10015 [cleanup] remove toString() deserializing rows in datatable
  pinot-common/src/main/java/org/apache/pinot/common/datatable/BaseDataTable.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV4.java
Labels: cleanup

#10025 Bugfix: Use correct exception import in TableRebalancer.
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
Labels: bugfix

#10029 Use the same default time value for all replicas
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManagerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerTest.java
Labels: bugfix

#10028 Reduce the number of segments to wait for convergence when rebalancing
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerTest.java
Labels: enhancement

#10022 Fix NPE in AbstractMetrics From Race Condition
  pinot-common/src/main/java/org/apache/pinot/common/metrics/AbstractMetrics.java
Labels: bugfix
