Repository apache/pinot, pull requests merged in 2022-04, with the labels that each got.

#8486 Add endpoints for some finer control on minion tasks
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SimpleMinionClusterIntegrationTest.java
Labels: release-notes

#8496 Reduce the size of arrays allocated in DataBlockCache
  pinot-core/src/main/java/org/apache/pinot/core/common/DataBlockCache.java
Labels: performance

#8504 bump roaringbitmap 0.9.26
  LICENSE-binary
  pom.xml
Labels: dependencies

#8501 docker: Remove cron for github action to build and push docker images
  .github/workflows/build-pinot-docker-image.yml
  .github/workflows/build-presto-docker-image.yml
  .github/workflows/build-superset-docker-image.yml
Labels: docker

#8343 Timestamp type index
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DateTimeFunctions.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentLoader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/SegmentMetadataImpl.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfigTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/FieldConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TimestampConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TimestampIndexGranularity.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/table/TimestampIndexGranularityTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/TimestampIndexQuickstart.java
  pinot-tools/src/main/resources/examples/batch/airlineStats/airlineStats_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/airlineStats/airlineStats_schema.json
Labels: feature, release-notes

#8507 Cleanup and simplify the integration test instance start
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/AdminConsoleIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/GrpcBrokerClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiNodesOfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineGRPCServerIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineSecureGRPCServerIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PeerDownloadLLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableSegmentUploadIntegrationTest.java
Labels: cleanup

#8511 bugfix: fixing the bug of missing dot to extract sub props from ingestion job and minion
  pinot-controller/src/main/java/org/apache/pinot/controller/util/FileIngestionHelper.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskExecutor.java
Labels: bugfix

#8499 DataTable deserialization improvements
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataTable.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/DataSchemaTest.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/BaseDataTable.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableImplV3.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableUtils.java
Labels: performance

#8478 upgrade to hadoop 2.10.1 due to cves
  pinot-compatibility-verifier/pom.xml
  pinot-connectors/pinot-spark-connector/pom.xml
  pinot-integration-test-base/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark/pom.xml
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-hadoop/pom.xml
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-spark/pom.xml
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies

#8485 Manual tracing
  pinot-core/src/main/java/org/apache/pinot/core/common/DataFetcher.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/ProjectionOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/ProjectionBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/TransformBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/AndFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/BitmapBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/CombinedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/JsonMatchFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/OrFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/RangeIndexBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/TextMatchFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/TransformOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/SegmentPrunerService.java
  pinot-core/src/main/java/org/apache/pinot/core/util/trace/BuiltInTracer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/InvocationRecording.java
Labels: observability

#8522 Make IngestionConfigUtils.getConfigMapWithPrefix method auto append trailing dot if missing
  pinot-controller/src/main/java/org/apache/pinot/controller/util/FileIngestionHelper.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskExecutor.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/IngestionConfigUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/IngestionConfigUtilsTest.java
Labels: cleanup

#8528 remove redundant operator names
  pinot-core/src/main/java/org/apache/pinot/core/common/Operator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/AcquireReleaseColumnsSegmentOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/BitmapDocIdSetOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/DocIdSetOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/InstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/ProjectionOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/StreamingInstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/AggregationOnlyCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/DistinctCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/MinMaxValueBasedSelectionOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/SelectionOnlyCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/SelectionOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/ExpressionScanDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/AndFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/BitmapBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/CombinedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/EmptyFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/ExpressionFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3IndexFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/JsonMatchFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/MatchAllFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/NotFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/OrFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/RangeIndexBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/ScanBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/SortedIndexBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/TextMatchFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/AggregationGroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/AggregationGroupByOrderByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/AggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/DictionaryBasedDistinctOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/DistinctOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/EmptySelectionOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FastFilteredCountOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/NonScanBasedAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/SelectionOnlyOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/SelectionOrderByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingSelectionOnlyCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingSelectionOnlyOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/PassThroughTransformOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/TransformOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/operator/StarTreeFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/CombineSlowOperatorsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/TestFilterOperator.java
Labels: cleanup

#8502 Add zk metadata to segment's metadata.properties file
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/HLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/SegmentZKPropsConfig.java
Labels: bugfix

#8509 Fix table creation bug for invalid realtime consumer props
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/PinotResourceManagerTest.java
Labels: bugfix

#8531 open javac modules for google-java-format
  .github/workflows/pinot_compatibility_tests.yml
  .github/workflows/pinot_tests.yml
Labels: code-style, jdk17

#8465 Add adhoc minion task creation endpoint
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/exception/NoTaskScheduledException.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/exception/TaskAlreadyExistsException.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/exception/UnknownTaskTypeException.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/BaseTaskGenerator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/PinotTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskGenerator.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/task/AdhocTaskConfig.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/task/AdhocTaskConfigTest.java
Labels: release-notes

#8398 Allow disabling dict generation for High cardinality columns
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/DictionaryOptimiserTest.java
  pinot-segment-local/src/test/resources/data/mixed_cardinality_data.avro
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/IndexingConfig.java
Labels: release-notes, Configuration, performance

#8525 Set 'shutdownInProgress' in server config when server starts before the startup check
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
Labels: enhancement, bugfix

#8530 make ConfigUtils testable without illegal reflective access
  pinot-spi/src/main/java/org/apache/pinot/spi/config/ConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/Environment.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/ConfigUtilsTest.java
Labels: cleanup, jdk17

#8544 Only discover public methods annotated with @ScalarFunction
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionInfo.java
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionInvoker.java
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionRegistry.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/InbuiltFunctionEvaluatorTest.java
Labels: release-notes, jdk17, breaking-change

#8548 don't snapshot environment in ConfigUtils
  pinot-spi/src/main/java/org/apache/pinot/spi/config/ConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/Environment.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/ConfigUtilsTest.java
Labels: bugfix

#8553 Fix BigDecimal ser/de on negative scale
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/BigDecimalUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/BigDecimalUtilsTest.java
Labels: bugfix

#8535 add scalar function for cast so it can be calculated at compile time
  config/checkstyle.xml
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DataTypeConversionFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/DataTypeConversionFunctionsTest.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CastTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/CastQueriesTest.java
Labels: bugfix, performance

#8523 Add tracing for operator planning
  pinot-core/src/main/java/org/apache/pinot/core/operator/BaseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/CombinePlanNode.java
Labels: observability

#8491 Add connection based FailureDetector
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/broker.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/pinot.yml
  pinot-broker/src/main/java/org/apache/pinot/broker/failuredetector/BaseExponentialBackoffRetryFailureDetector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/failuredetector/ConnectionFailureDetector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/failuredetector/FailureDetector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/failuredetector/FailureDetectorFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/failuredetector/NoOpFailureDetector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelector.java
  pinot-broker/src/test/java/org/apache/pinot/broker/failuredetector/ConnectionFailureDetectorTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerGauge.java
  pinot-connectors/pinot-spark-connector/src/main/scala/org/apache/pinot/connector/spark/connector/PinotServerDataFetcher.scala
  pinot-connectors/prestodb-pinot-dependencies/presto-pinot-driver/src/main/java/org/apache/pinot/connector/presto/PinotScatterGatherQueryClient.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/AsyncQueryResponse.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/DataTableHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryResponse.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryRouter.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerChannels.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerInstance.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerResponse.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerRoutingInstance.java
  pinot-core/src/test/java/org/apache/pinot/core/query/reduce/StreamingReduceServiceTest.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiNodesOfflineClusterIntegrationTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes

#8561 Pinot-spi should be packaged in java and jdbc client.
  pinot-clients/pom.xml
Labels: dependencies

#8559 Make spark-core dependency provided
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark/pom.xml
Labels: dependencies

#8554 Ensure all records are pushed in Pulsar Consumer Test
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarConsumerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarStandaloneCluster.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/resources/standalone.properties
Labels: testing

#8539 Add brokerURL and better handle TimeoutException in QueryRunner
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/PerfBenchmarkDriver.java
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/PerfBenchmarkDriverConf.java
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/QueryRunner.java
Labels: bugfix

#8513 Enable range index on raw columns and push counts down to range index when v2 is in use
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/RangeIndexBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RangePredicateEvaluatorFactory.java
  pinot-core/src/test/java/org/apache/pinot/queries/FastFilteredCountTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/RangeQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/column/PhysicalColumnIndexContainer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BitSlicedRangeIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/RangeIndexReaderImpl.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/BitSlicedIndexCreatorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/RangeIndexReader.java
Labels: cleanup, performance

#8566 Simplify the parameters for DistinctCountSmartHLLAggregationFunction
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/NonScanBasedAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountSmartHLLAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctCountQueriesTest.java
Labels: release-notes

#8565 Add PercentileSmartTDigestAggregationFunction
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileSmartTDigestAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/PercentileTDigestMVQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/PercentileTDigestQueriesTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature, release-notes

#8570 Improve StarTree traversal performance
  pinot-core/src/main/java/org/apache/pinot/core/startree/operator/StarTreeFilterOperator.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkQueries.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/OffHeapStarTreeNode.java
Labels: performance

#8564 Invoke checkpoint before closing partition group consumer
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
Labels: bugfix

#8572 Fix the deadlock in ClusterChangeMediator
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/ClusterChangeMediator.java
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/helix/ClusterChangeMediatorTest.java
Labels: bugfix

#8550 Add query option to use more replica groups
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BalancedInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/ReplicaGroupInstanceSelector.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/QueryValidationTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-core/src/main/java/org/apache/pinot/core/util/QueryOptionsUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes

#8569 Package kafka 0.9 shaded jar to pinot-distribution
  docker/images/pinot/Dockerfile
  pinot-distribution/pinot-assembly.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-0.9/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/README.md
  pinot-plugins/pom.xml
  pinot-tools/src/main/java/org/apache/pinot/tools/utils/KafkaStarterUtils.java
  pom.xml
Labels: release-notes

#8255 Added multi column partitioning for offline table
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/MultiPartitionColumnsSegmentPruner.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/SegmentPrunerFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/SinglePartitionColumnSegmentPruner.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentpruner/SegmentPrunerTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MergeRollupMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RealtimeToOfflineSegmentsMinionClusterIntegrationTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MergeTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/MergeTaskUtilsTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGeneratorTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/IntermediateSegment.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/IntermediateSegmentTest.java
Labels: feature, release-notes

#8575 Merge ControllerSegmentUrlBuilder into ControllerRequestURLBuilder
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerSegmentUrlBuilder.java
  pinot-controller/src/test/java/org/apache/pinot/controller/ControllerTestUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/AccessControlTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BasicAuthRealtimeIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/StringUtil.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: bugfix, cleanup

#8567 Refactor quickstart data source
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamDataProducer.java
  pinot-spi/src/test/java/org/apache/pinot/spi/stream/StreamDataProducerTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/RealtimeComplexTypeHandlingQuickStart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/RealtimeJsonIndexQuickStart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/UpsertJsonQuickStart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/AirlineDataStream.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/AvroFileSourceGenerator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/MeetupRsvpJsonStream.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/MeetupRsvpStream.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/PinotRealtimeSource.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/PinotSourceDataGenerator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/PinotStreamRateLimiter.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/RsvpSourceGenerator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/githubevents/GithubPullRequestSourceGenerator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/githubevents/PullRequestMergedEventsStream.java
  pinot-tools/src/test/java/org/apache/pinot/tools/streams/PinotRealtimeSourceTest.java
Labels: refactor, quickstart

#8590 Fix the upsert metadata bug when adding segment with same comparison value
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManagerTest.java
Labels: upsert, bugfix

#8594 upgrade lz4-java to 1.8.0
  LICENSE-binary
  pom.xml
Labels: dependencies

#8600 Bug fix: Complex type transformer should not be created for empty config
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformer.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformerTest.java
Labels: bugfix

#8599 Make endReplaceSegments() idempotent.
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerTest.java
Labels: bugfix

#8598 Fix bug in segment rebalance with replica group segment assignment
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeReplicaGroupSegmentAssignmentTest.java
Labels: bugfix

#8609 Add support for Retry in Kinesis Stream producer
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/server/KinesisDataProducer.java
Labels: enhancement

#8498 Support st_contains using H3 index
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3InclusionIndexFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/FilterPlanNode.java
  pinot-core/src/test/java/org/apache/pinot/queries/H3IndexQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/H3Utils.java
  pom.xml
Labels: enhancement, feature

#8557 Adding DML definition and parse SQL InsertFile
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-common/src/main/java/org/apache/pinot/common/minion/MinionClient.java
  pinot-common/src/main/java/org/apache/pinot/common/minion/MinionRequestURLBuilder.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/PinotSqlType.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/SqlNodeAndOptions.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/dml/DataManipulationStatement.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/dml/DataManipulationStatementParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/dml/InsertIntoFile.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/dml/InsertIntoFileTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/sql/SqlQueryExecutor.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentGenerationMinionClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes
