Repository apache/pinot, pull requests merged in 2022-08, with the labels that each got.

#8972 Add Protocol Buffer Stream Decoder
  config/suppressions.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufRecordReader.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufUtils.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ComplexTypes.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufMessageDecoderTest.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/Sample.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/composite_types.desc
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/composite_types.proto
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/sample.desc
Labels: feature, release-notes

#8163 Put Netty Channel handlers and Tls context creation logic at same place
  pinot-common/src/main/java/org/apache/pinot/common/utils/TlsUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ChannelHandlerFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryServer.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerChannels.java
Labels: cleanup

#9145 Cleanup: Modify log message to indicate failure reasons when creating data directory on the server.
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
Labels: cleanup

#9008 Add TLS1.3, Remove TLS1.0, Add User Agent Header, Add Timeouts for Pi…
  pinot-clients/pinot-java-client/pom.xml
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/ConnectionFactory.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/ConnectionTimeouts.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransport.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransportFactory.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/TlsProtocols.java
  pinot-clients/pinot-java-client/src/main/resources/version.properties
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotConnection.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotDriver.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/PinotControllerTransport.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/PinotControllerTransportFactory.java
  pinot-clients/pinot-jdbc-client/src/main/resources/version.properties
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/DummyPinotControllerTransport.java
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/PinotConnectionTest.java
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/PinotPreparedStatementTest.java
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/PinotStatementTest.java
Labels: security

#8828 Add controller API for reload segment task status
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/controllerjob/ControllerJobType.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ServerReloadControllerJobStatusResponse.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/SegmentDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/ControllerJobStatusResource.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentReloadStatusValue.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: feature, release-notes

#9114 Add support for Base64 Encode/Decode Scalar Functions
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: feature

#9123 Add support for regexpReplace scalar function
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: feature

#9086 Proper null handling in Aggregation functions for SV data types
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/IntermediateResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/AggregationGroupByOrderByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/AggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/DictionaryBasedDistinctOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/DistinctOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FastFilteredCountOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/NonScanBasedAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/DistinctPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/ObjectAggregationResultHolder.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MaxAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumPrecisionAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/ObjectGroupByResultHolder.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/AggregationDataTableReducer.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactoryTest.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/CountStarTreeV2Test.java
  pinot-core/src/test/java/org/apache/pinot/queries/AllNullQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BigDecimalQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BooleanNullEnabledQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullEnabledQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SumPrecisionQueriesTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/CountValueAggregator.java
Labels: feature, release-notes

#9150 [Clean up] Simplify UpsertConfig
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/PinotResourceManagerTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertComparisonColTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/table/UpsertConfigTest.java
Labels: cleanup

#9158 Improve the retry policy so that the thread doesn't sleep after the last failure
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/retry/BaseRetryPolicy.java
Labels: enhancement

#9169 Handle nulls in all SELECT paths
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/SelectionOnlyStreamingReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/test/java/org/apache/pinot/queries/AllNullQueriesTest.java
Labels: bugfix

#9170 Allow headers when making multi get requests + set headers when making controller API calls
  pinot-common/src/main/java/org/apache/pinot/common/http/MultiGetRequest.java
  pinot-common/src/test/java/org/apache/pinot/common/http/MultiGetRequestTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/CompletionServiceHelper.java
Labels: bugfix

#9178 Support partitioned assignment with single replica
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineNonReplicaGroupTieredSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineReplicaGroupSegmentAssignmentTest.java
Labels: bugfix

#9159 Add id to MetadataKey so that we can change the key order
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataTable.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/BaseDataBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableImplV3.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datatable/DataTableSerDeTest.java
Labels: enhancement

#9168 Add readiness metric to pinot-server
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/HealthCheckResource.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/AdminApiApplication.java
  pinot-server/src/test/java/org/apache/pinot/server/api/AccessControlTest.java
  pinot-server/src/test/java/org/apache/pinot/server/api/BaseResourceTest.java
Labels: feature

#9179 allow mvn build with development webpack; fix instances default value
  pinot-controller/pom.xml
  pinot-controller/src/main/resources/app/components/Homepage/InstanceTable.tsx
  pinot-controller/src/main/resources/app/components/Homepage/InstancesTables.tsx
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
  pinot-controller/src/main/resources/package.json
Labels: ui, bugfix

#9181 show segment and instance count; use pagination for segments
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
Labels: ui, bugfix

#9131 Add support for arrayConcatLong, arrayConcatFloat, arrayConcatDouble
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArrayFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/MultiValueRawQueriesTest.java
Labels: feature

#9180 Adding logger utils and allow change logger level at runtime
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerLogger.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/LoggerUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/LoggerUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerLogger.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/PinotMinionLogger.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/PinotServerLogger.java
  pinot-tools/src/main/java/org/apache/pinot/tools/service/api/resources/PinotServiceManagerLogger.java
Labels: release-notes

#8989 [colocated-join] Adds Support for instancePartitionsMap in Table Config
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstanceAssignmentConfigUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstancePartitions.java
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstancePartitionsUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TableConfigUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceAssignmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TableConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
Labels: feature, release-notes

#9186 Make upsert metadata manager pluggable
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/RecordInfo.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManagerFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/dedup/PartitionDedupMetadataManagerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertComparisonColTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
Labels: enhancement, release-notes

#9202 Avoid parsing query multiple times
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/SqlNodeAndOptions.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
Labels: enhancement

#9203 make reset table async
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: bugfix

#9171 support to show running queries and cancel query by id
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandlerTest.java
  pinot-common/src/main/java/org/apache/pinot/common/http/MultiHttpRequest.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/InstanceUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/http/MultiHttpRequestTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/CompletionServiceHelper.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/ServerQueryRequest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/InstanceRequestHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerInstance.java
  pinot-core/src/test/java/org/apache/pinot/core/query/scheduler/QuerySchedulerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/QueryResource.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes

#9233 [multistage] fixing count not resolving as SUM0 in intermediate stage
  pinot-query-planner/src/main/java/org/apache/pinot/query/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9235 Bug fix: Nested arrays and map not handled correctly for complex types
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformer.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformerTest.java
Labels: bugfix

#9228 add-table refactor for clean auth
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AccessControlUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AuthenticationFilter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotAccessControlUserRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/access/AuthenticationFilterTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTableCommand.java
Labels: incompatible, bugfix, cleanup, security

#9225 Allow explicit partition for real-time segment assignment
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeNonReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeNonReplicaGroupTieredSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeReplicaGroupSegmentAssignmentTest.java
Labels: enhancement

#9243 [Refactor] Extract common segment assignment code
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/BaseSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeSegmentAssignment.java
Labels: cleanup, refactor

#9250 Fix NPE in gap-fill when order-by is not specified
  pinot-core/src/main/java/org/apache/pinot/core/util/GapfillUtils.java
Labels: bugfix

#9256 Fix flakiness and cleanup SegmentLineageCleanupTest
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/SegmentLineageCleanupTest.java
Labels: flaky-test, cleanup

#9249 Gracefully handle problem in fetching stream partition count for consumption rate limiter
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeConsumptionRateManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeConsumptionRateManagerTest.java
Labels: enhancement

#9161 Show most recent scheduling errors
  pinot-controller/src/main/resources/app/pages/TaskDetail.tsx
  pinot-controller/src/main/resources/app/pages/TaskQueueTable.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
Labels: enhancement, ui

#9267 Cleanup: Fix README to indicate `SQL based query execution engine.`
  README.md
Labels: cleanup

#9262 Do not use aggregation result for distinct query in IntermediateResultsBlock
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/IntermediateResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/DistinctCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/DictionaryBasedDistinctOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/DistinctOperator.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentAggregationSingleValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentDistinctSingleValueQueriesTest.java
Labels: cleanup

#9258 Add metrics to track controller segment download and upload requests in progress
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/InflightRequestMetricsInterceptor.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/LLCSegmentCompletionHandlers.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TrackInflightRequestMetrics.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TrackedByGauge.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/InflightRequestMetricsInterceptorTest.java
Labels: release-notes, observability

#9201 Emit metrics for ratio of actual consumption rate to rate limit in realtime tables
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeConsumptionRateManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeConsumptionRateManagerTest.java
Labels: feature

#9261 [UI]: hide query console tab based on cluster config
  pinot-controller/src/main/resources/app/App.tsx
  pinot-controller/src/main/resources/app/app_state.ts
  pinot-controller/src/main/resources/app/components/Layout.tsx
Labels: ui

#9269 Fix a typo in TableUpsertMetadataManager
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
Labels: bugfix

#9271 Fix message count
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
Labels: bugfix

#9276 add query cancel APIs on controller backed by those on brokers
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/Constants.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRunningQueryResource.java
Labels: feature, release-notes

#9265 [Feature] Add an option to search input files recursively in ingestion job. The default is set to true to be backward compatible.
  pinot-common/src/main/java/org/apache/pinot/common/segment/generation/SegmentGenerationUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/segment/generation/SegmentGenerationUtilsTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/src/main/java/org/apache/pinot/plugin/ingestion/batch/hadoop/HadoopSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/test/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/test/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/main/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/test/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunnerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/SegmentGenerationJobSpec.java
  pinot-spi/src/test/java/org/apache/pinot/spi/ingestion/batch/IngestionJobLauncherTest.java
  pinot-spi/src/test/resources/ingestion_job_spec_template.yaml
Labels: enhancement

#9252 add @ManualAuthorization annotation for non-standard endpoints
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AccessControl.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AccessControlUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AuthenticationFilter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/ManualAuthorization.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/ZkBasicAuthAccessControlFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotAccessControlUserRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerAuthResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/AccessControlTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableNameBuilder.java
Labels: feature, bugfix, security

#9278 Optimize ser/de to avoid using output stream
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkObjectSerDe.java
Labels: enhancement

#9236 Add Support for Covariance Function
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CovarianceAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/CovarianceQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/CovarianceTuple.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature

#9244 add a freshness based consumption status checker
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/FreshnessBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/IngestionBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/OffsetBasedConsumptionStatusChecker.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/FreshnessBasedConsumptionStatusCheckerTest.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/OffsetBasedConsumptionStatusCheckerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes

#9259 Adding endpoint to download local log files for each component
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerLogger.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/LoggerFileServer.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/InstanceUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/http/HttpClient.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/LoggerFileServerTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerLogger.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionAdminApiApplication.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/PinotMinionLogger.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/PinotServerLogger.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/AdminApiApplication.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes

#9293 Fix issue with auth AccessType in Schema REST endpoints
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
Labels: bugfix

#9289 Add capabilities to ingest from another stream without disabling the realtime table
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/RealtimeSegmentValidationManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
Labels: feature

#9298 Fix PerfBenchmarkRunner to skip the tmp dir
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/PerfBenchmarkRunner.java
Labels: bugfix

#9299 Fix thrift deserializer thread safety issue
  pinot-core/src/main/java/org/apache/pinot/core/transport/InstanceRequestHandler.java
Labels: bugfix

#9287 Fix transformation to string for BOOLEAN and TIMESTAMP
  pinot-core/src/main/java/org/apache/pinot/core/common/DataFetcher.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CastTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/NullHandlingTransformFunctionTest.java
Labels: bugfix, cleanup

#9301 Clean up AggregationFunctionUtils
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtilsTest.java
Labels: cleanup

#9238 Add minMaxInvalid flag to avoid unnecessary needPreprocess
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/columnminmaxvalue/ColumnMinMaxValueGenerator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentGenerationWithMinMaxInvalidTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/ColumnMetadata.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
Labels: bugfix
