Repository apache/pinot, pull requests merged in 2022-01, with the labels that each got.

#8028 Add BaseTaskGenerator to make task timeout and concurrency configurable
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/BaseTaskGenerator.java
  pinot-core/src/main/java/org/apache/pinot/core/common/MinionConstants.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SimpleMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/plugin/minion/tasks/TestTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/converttorawindex/ConvertToRawIndexTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskGenerator.java
Labels: release-notes

#7883 Upgrade kafka to 2.8.1
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark/pom.xml
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-spark/pom.xml
  pinot-plugins/pinot-input-format/pinot-confluent-avro/pom.xml
  pinot-plugins/pinot-input-format/pinot-confluent-avro/src/main/java/org/apache/pinot/plugin/inputformat/avro/confluent/KafkaConfluentSchemaRegistryAvroMessageDecoder.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/server/KafkaDataServerStartable.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/test/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConsumerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/test/java/org/apache/pinot/plugin/stream/kafka20/utils/MiniKafkaCluster.java
  pom.xml
Labels: kafka

#8063 making PinotFS an interface and create BasePinotFS
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/PinotFSSegmentUploaderTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PeerDownloadLLCRealtimeClusterIntegrationTest.java
  pinot-plugins/pinot-file-system/pinot-adls/src/main/java/org/apache/pinot/plugin/filesystem/ADLSGen2PinotFS.java
  pinot-plugins/pinot-file-system/pinot-adls/src/main/java/org/apache/pinot/plugin/filesystem/AzurePinotFS.java
  pinot-plugins/pinot-file-system/pinot-gcs/src/main/java/org/apache/pinot/plugin/filesystem/GcsPinotFS.java
  pinot-plugins/pinot-file-system/pinot-hdfs/src/main/java/org/apache/pinot/plugin/filesystem/HadoopPinotFS.java
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/BasePinotFS.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/LocalPinotFS.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/PinotFS.java
  pinot-spi/src/test/java/org/apache/pinot/spi/filesystem/PinotFSFactoryTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/filesystem/PinotFSTest.java
Labels: backward-incompat

#8082 Listener TLS customization
  pinot-core/src/main/java/org/apache/pinot/core/transport/TlsConfig.java
  pinot-core/src/main/java/org/apache/pinot/core/util/ListenerConfigUtil.java
  pinot-core/src/main/java/org/apache/pinot/core/util/TlsUtils.java
  pinot-integration-tests/pom.xml
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BasicAuthRealtimeIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BasicAuthTlsRealtimeIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/access/CertBasedTlsChannelAccessControlFactory.java
  pinot-integration-tests/src/test/resources/empty.jks
  pinot-integration-tests/src/test/resources/empty.p12
  pinot-integration-tests/src/test/resources/tlstest.jks
  pinot-integration-tests/src/test/resources/tlstest.p12
  pinot-spi/src/main/java/org/apache/pinot/spi/env/PinotConfiguration.java
Labels: release-notes
