Repository apache/pinot, pull requests merged in 2022-06, with the labels that each got.

#8713 Allow table name with dots by a PinotConfiguration switch
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandlerTest.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes

#8796 allow up to 4GB per bitmap index
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/BitmapInvertedIndexWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BitmapInvertedIndexReader.java
Labels: release-notes

#8815 Allow moveToFinalLocation in METADATA push based on config
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentPushUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/PushJobSpec.java
Labels: release-notes, Configuration, bugfix

#8816 Adding acl support for helm chart
  kubernetes/helm/pinot/templates/broker/configmap.yaml
  kubernetes/helm/pinot/templates/controller/configmap.yaml
  kubernetes/helm/pinot/values.yaml
Labels: docker, kubernetes

#8826 add auth provider to minion client
  pinot-common/src/main/java/org/apache/pinot/common/minion/MinionClient.java
  pinot-common/src/test/java/org/apache/pinot/common/minion/MinionClientTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/sql/SqlQueryExecutor.java
  pinot-tools/src/main/java/org/apache/pinot/tools/BootstrapTableTool.java
Labels: bugfix

#8824 Spark Connector GRPC reader fix for reading realtime tables
  pinot-connectors/pinot-spark-connector/src/main/scala/org/apache/pinot/connector/spark/connector/PinotGrpcServerDataFetcher.scala
  pinot-connectors/pinot-spark-connector/src/test/scala/org/apache/pinot/connector/spark/ExampleSparkPinotConnectorTest.scala
Labels: bugfix

#8825 Spark Connector, support for TIMESTAMP and BOOLEAN fields
  pinot-connectors/pinot-spark-connector/src/main/scala/org/apache/pinot/connector/spark/connector/PinotUtils.scala
  pinot-connectors/pinot-spark-connector/src/test/resources/schema/pinot-schema.json
  pinot-connectors/pinot-spark-connector/src/test/resources/schema/spark-schema.json
  pinot-connectors/pinot-spark-connector/src/test/scala/org/apache/pinot/connector/spark/connector/PinotUtilsTest.scala
Labels: enhancement, release-notes, bugfix

#8827 Improve MeetupRsvp Quickstart
  docker/images/pinot/examples/docker/table-configs/meetupRsvp_realtime_table_config.json
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/RsvpSourceGenerator.java
  pinot-tools/src/main/resources/conf/sample_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/meetupRsvp/kafka_0.9/meetupRsvp_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/meetupRsvp/kafka_2.0/meetupRsvp_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/meetupRsvp/meetupRsvp_realtime_table_config.json
Labels: quickstart

#8840 Optimize star-tree index to reuse the raw record as aggregated doc
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/BaseSingleTreeBuilder.java
Labels: enhancement

#8855 Fix Configuration Obfuscation test.
  pinot-spi/src/main/java/org/apache/pinot/spi/env/PinotConfiguration.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/ConfigUtilsTest.java
Labels: bugfix, testing

#8812 Fix segment generation error handling
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/main/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/test/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-spark/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/pom.xml
  pom.xml
Labels: bugfix

#8560 Add support for Spark 3.x
  pinot-distribution/pinot-assembly.xml
  pinot-distribution/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentMetadataPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentTarPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentUriPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/resources/segmentCreationAndMetadataPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/resources/segmentCreationAndTarPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/resources/segmentCreationAndUriPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/resources/segmentCreationJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/resources/segmentTarPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/resources/segmentUriPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/test/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentMetadataPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentTarPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentUriPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/resources/segmentCreationAndMetadataPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/resources/segmentCreationAndTarPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/resources/segmentCreationAndUriPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/resources/segmentCreationJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/resources/segmentTarPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/resources/segmentUriPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/test/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark/pom.xml
  pinot-plugins/pinot-batch-ingestion/pom.xml
  pinot-plugins/pom.xml
Labels: feature, dependencies, refactor

#8857 Support DISTINCT on single MV column
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/DistinctExecutorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/dictionary/DictionaryBasedSingleColumnDistinctOnlyExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/dictionary/DictionaryBasedSingleColumnDistinctOrderByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/BaseRawBigDecimalSingleColumnDistinctExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawDoubleSingleColumnDistinctOnlyExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawDoubleSingleColumnDistinctOrderByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawFloatSingleColumnDistinctOnlyExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawFloatSingleColumnDistinctOrderByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawIntSingleColumnDistinctOnlyExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawIntSingleColumnDistinctOrderByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawLongSingleColumnDistinctOnlyExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawLongSingleColumnDistinctOrderByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawStringSingleColumnDistinctOnlyExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawStringSingleColumnDistinctOrderByExecutor.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctQueriesTest.java
Labels: feature, release-notes

#8861 Implement Mutable FST Index
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeMutableFSTIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/column/IntermediateIndexContainer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/datasource/MutableDataSource.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeAndLuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeMutableFSTIndexTest.java
Labels: feature, release-notes

#8753 Streamed segment download & untar with rate limiter to control disk usage
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/TarGzCompressionUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/BaseSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/HttpSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/SegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/SegmentFetcherFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/http/HttpClient.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/fetcher/SegmentFetcherFactoryTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/TableDataManagerProvider.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerAcquireSegmentTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorExceptionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SegmentWithNullValueVectorTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManagerParams.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
  pinot-server/src/test/java/org/apache/pinot/server/api/BaseResourceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/instance/InstanceDataManagerConfig.java
Labels: enhancement

#8873 Support DISTINCT on multiple MV columns
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/DistinctExecutorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/DistinctExecutorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/dictionary/DictionaryBasedMultiColumnDistinctOnlyExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/dictionary/DictionaryBasedMultiColumnDistinctOrderByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawMultiColumnDistinctExecutor.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctQueriesTest.java
Labels: feature, release-notes

#8858 Fix getConfigOverrides in MinionQuickstart
  pinot-tools/src/main/java/org/apache/pinot/tools/AuthQuickstart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/HybridQuickstart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/RealtimeQuickStartWithMinion.java
Labels: bugfix

#8062 Add username and password support to JDBC driver
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotDriver.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/utils/DriverUtils.java
Labels: feature, release-notes

#8888 Add property to skip adding hadoop jars to package
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pinot-plugins/pom.xml
Labels: release-notes

#8823 Allow moveToFinalLocation in METADATA push based on config
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/ZKOperator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/upload/ZKOperatorTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentUploadIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentPushUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/PushJobSpec.java
Labels: release-notes, Configuration

#8895 Npm update deps for Pinot Controller
  pinot-controller/src/main/resources/package-lock.json
  pinot-controller/src/main/resources/package.json
Labels: dependencies, ui

#8905 fixing REGEX OPTION parser
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/dml/InsertIntoFileTest.java
Labels: release-notes, backward-incompat, bugfix

#8921 Prevent over allocating for group-by reduce
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
Labels: enhancement, bugfix

#8920 Remove disabled partitions when instance starts
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/HelixHelper.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/helix/HelixHelperTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
Labels: bugfix

#8913 Pulsar throws NPE when closing consumer
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarPartitionLevelConnectionHandler.java
Labels: bugfix

#8894 use single string dict and eliminate the integer key field
  pinot-connectors/pinot-spark-connector/src/test/scala/org/apache/pinot/connector/spark/connector/PinotUtilsTest.scala
  pinot-core/src/main/java/org/apache/pinot/core/common/NullBitmapUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/BaseDataBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/ColumnarDataBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/MetadataBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/RowDataBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/BaseDataTableBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableBuilderV2V3.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableBuilderV4.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableImplV3.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableImplV4.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/StreamingInstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/IntermediateResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/DistinctTable.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/InstanceRequestHandler.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockTest.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datatable/DataTableSerDeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/reduce/BrokerReduceServiceTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/scheduler/PrioritySchedulerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
Labels: enhancement

#8846 Reduce the heap memory usage for segment creation
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkDictionaryCreation.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentDictionaryCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/AbstractColumnStatisticsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/BigDecimalColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/BytesColumnPredIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/DoubleColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/FloatColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/IntColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/LongColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/SegmentPreIndexStatsCollectorImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/StringColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/DictionariesTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readers/ImmutableDictionaryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readers/ImmutableDictionaryTypeConversionTest.java
Labels: enhancement

#8923 For dedup/partial-upsert, check all segments loaded when creating the consuming segment
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/dedup/PartitionDedupMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/dedup/TableDedupMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/tablestate/TableStateUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/dedup/PartitionDedupMetadataManagerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentDedupeTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandlerTest.java
Labels: bugfix

#8925 Add metric for out-of-order partial-upsert events
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
Labels: enhancement

#8939 Optimize dateTimeConvert scalar function to only parse the format once
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DateTimeConvert.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DateTimeFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/DateTimeFunctionsTest.java
Labels: enhancement

#8949 add /tasks/{taskType}/{tableNameWithType}/debug API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
Labels: enhancement, release-notes

#8957 make all search bars full width
  pinot-controller/src/main/resources/app/components/SearchBar.tsx
Labels: ui

#8941 Defined a new broker metric for total query processing time
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/broker.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/pinot.yml
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerTimer.java
Labels: release-notes, observability

#8309 KafkaConsumer to reset offset to earliest when fetch position out of range
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/test/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConsumerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/test/java/org/apache/pinot/plugin/stream/kafka20/utils/MiniKafkaCluster.java
Labels: bugfix

#8959 Update minion task metadata ZNode path
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentpreselector/SegmentPreSelectorTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/minion/BaseTaskMetadata.java
  pinot-common/src/main/java/org/apache/pinot/common/minion/MergeRollupTaskMetadata.java
  pinot-common/src/main/java/org/apache/pinot/common/minion/MinionTaskMetadataUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/minion/RealtimeToOfflineSegmentsTaskMetadata.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/FakePropertyStore.java
  pinot-common/src/test/java/org/apache/pinot/common/minion/MinionTaskMetadataUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/ClusterInfoAccessor.java
  pinot-minion/src/main/java/org/apache/pinot/minion/executor/MinionTaskZkMetadataManager.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskGenerator.java
Labels: enhancement, release-notes

#8960 Refector DateTime field specs to reduce overhead
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/TimeSegmentPruner.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/timeboundary/TimeBoundaryManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentpruner/SegmentPrunerTest.java
  pinot-common/src/test/java/org/apache/pinot/common/data/DateTimeFormatSpecTest.java
  pinot-common/src/test/java/org/apache/pinot/common/data/FieldSpecTest.java
  pinot-common/src/test/resources/schemaTest.schema
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/StreamOp.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/AutoAddInvertedIndex.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/HLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/timehandler/EpochTimeHandler.java
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-common/src/main/java/org/apache/pinot/plugin/ingestion/batch/common/SegmentGenerationTaskRunner.java
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-hadoop/src/main/java/org/apache/pinot/hadoop/job/mappers/SegmentCreationMapper.java
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-hadoop/src/main/java/org/apache/pinot/hadoop/job/mappers/SegmentPreprocessingMapper.java
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-hadoop/src/main/java/org/apache/pinot/hadoop/job/preprocess/DataPreprocessingHelper.java
  pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-spark/src/main/java/org/apache/pinot/spark/jobs/SparkSegmentCreationFunction.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/NullValueTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/IngestionUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SchemaUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentUtil.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/name/SegmentNameGeneratorFactory.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/creator/name/NormalizedDateSegmentNameGeneratorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFormatPatternSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFormatSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFormatUnitSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeGranularitySpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/StringUtil.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/DateTimeFormatPatternSpecTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/DateTimeFormatSpecTest.java
Labels: enhancement

#8877 Emit metrics if there's no consuming segment for a partition
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/MissingConsumingSegmentFinder.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/MissingConsumingSegmentFinderTest.java
Labels: enhancement
