Repository apache/pinot, pull requests merged in 2022-03, with the labels that each got.

#8233 Add Flink Pinot connector
  pinot-connectors/pinot-flink-connector/README.md
  pinot-connectors/pinot-flink-connector/pom.xml
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/FlinkQuickStart.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/common/FlinkRowGenericRowConverter.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/common/MapGenericRowConverter.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/common/PinotGenericRowConverter.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/http/HttpClient.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/http/HttpException.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/http/PinotConnectionUtils.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/http/PinotControllerClient.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/sink/FlinkSegmentWriter.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/sink/PinotSinkFunction.java
  pinot-connectors/pinot-flink-connector/src/main/resources/starbucks-stores-world.csv
  pinot-connectors/pinot-flink-connector/src/test/java/org/apache/pinot/connector/flink/http/PinotControllerClientTest.java
  pinot-connectors/pinot-flink-connector/src/test/java/org/apache/pinot/connector/flink/sink/PinotSinkIntegrationTest.java
  pinot-connectors/pinot-flink-connector/src/test/java/org/apache/pinot/connector/flink/util/PinotTestBase.java
  pinot-connectors/pinot-flink-connector/src/test/java/org/apache/pinot/connector/flink/util/TestUtils.java
  pinot-connectors/pinot-flink-connector/src/test/resources/fixtures/pinotControllerInstances.json
  pinot-connectors/pinot-flink-connector/src/test/resources/fixtures/pinotTableConfigLowLevel.json
  pinot-connectors/pinot-flink-connector/src/test/resources/fixtures/pinotTableSchema.json
  pinot-connectors/pom.xml
Labels: release-notes

#8319 Allow overriding expression in query through query config
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/QueryConfig.java
Labels: feature, release-notes

#8310 Always handle null time values
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/geospatial/transform/GeoFunctionTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/NullValueTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/SegmentsValidationAndRetentionConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
Labels: feature, release-notes

#8331 Support NOT LIKE and NOT BETWEEN
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/FilterOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/NotFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NotOperatorQueriesTest.java
Labels: bugfix

#8273 Add prefixesToRename config for renaming fields upon ingestion
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/IngestionUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/IngestionUtilsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/ComplexTypeConfig.java
Labels: release-notes

#8380 Change default memory allocation for consuming segments from on-heap to off-heap
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
Labels: release-notes, backward-incompat, Configuration

#8387 add segment size metric on segment push
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
Labels: release-notes

#8395 [docker image] install sysstat, perf, openjdk11 debug symbols, async-profiler
  docker/images/pinot/Dockerfile
Labels: docker

#8358 New Pinot storage metrics for compressed tar.gz and table size w/o replicas
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/pinot.yml
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/segment/SegmentZKMetadata.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/ZKOperator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableSizeReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/StorageQuotaChecker.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableSizeReaderTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/upload/ZKOperatorTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/validation/StorageQuotaCheckerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/validation/ValidationManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes
