Repository apache/pinot, pull requests merged in 2022-11, with the labels that each got.

#9621 Add record availability lag for Kafka connector
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/SegmentConsumerInfo.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ConsumingSegmentInfoReader.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/ConsumingSegmentInfoReaderStatelessTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaConsumerPartitionLag.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/server/KafkaDataProducer.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/DebugResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/ConsumerPartitionState.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionLagState.java
Labels: feature, release-notes

#9703 Make PinotHelixResourceManager test run on a standalone cluster
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerTest.java
Labels: flaky-test

#9706 [Clean up] Auto reformat controller tests
  pinot-controller/src/test/java/org/apache/pinot/controller/api/ConsumingSegmentInfoReaderStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotAccessControlUserRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotControllerAppConfigsTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotFileUploadTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotIngestionRestletResourceStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotSchemaRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotSegmentRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotSegmentsMetadataTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/SegmentCompletionProtocolDeserTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/SegmentCompletionUtilsTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/ServerTableSizeReaderTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableSizeReaderTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableTierReaderTest.java
Labels: cleanup

#9704 Fix the setup for ControllerTest shared cluster
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotInstanceAssignmentRestletResourceStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotInstanceRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTableRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableConfigsRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableViewsTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerInstanceToggleTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerSentinelTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerSentinelTestV2.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
Labels: bugfix

#9718 check mutable segment explicitly instead of checking existence of indexDir
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/SegmentMetadata.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
Labels: bugfix

#9719 Remove leftover file before downloading segmentTar
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
Labels: bugfix

#9722 Fix TIMESTAMP index handling in SegmentMapper
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
  pinot-core/src/test/java/org/apache/pinot/core/segment/processing/framework/SegmentMapperTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RealtimeToOfflineSegmentsMinionClusterIntegrationTest.java
Labels: bugfix

#9712 add index key and size map to segment metadata
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/SingleFileIndexDirectory.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/ColumnMetadata.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/SegmentMetadataImpl.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/store/ColumnIndexUtils.java
Labels: feature

#9734 Fix the server admin endpoint cache to reflect the config changes
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
Labels: bugfix

#9730 upgrade RoaringBitmap and revert workaround for bug
  LICENSE-binary
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BitSlicedRangeIndexReader.java
  pom.xml
Labels: dependencies, bugfix

#9735 Use ideal state as source of truth for segment existence
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
Labels: bugfix

#9736 [FLaky test] Fix OfflineClusterIntegrationTest.testLiteralOnlyFunc()
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: flaky-test

#9702 [bugfix] fix case-when issue
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ComparisonFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ObjectFunctions.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunction.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryTestSet.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerExceptionTest.java
Labels: backward-incompat, bugfix, multi-stage

#9731 [multistage] decouple datablock from datatable
  pinot-common/src/main/java/org/apache/pinot/common/datablock/BaseDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV4.java
  pinot-common/src/test/java/org/apache/pinot/common/datablock/MetadataBlockTest.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockTest.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockTestUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlockUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/FilterOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LiteralValueOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/TransformOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/GrpcMailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/InMemoryMailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/TransferableBlockUtilsTest.java
Labels: multi-stage

#9725 Clean up the TIMESTAMP index logic to always update table config and schema together
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorConfig.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
  pinot-core/src/test/java/org/apache/pinot/core/segment/processing/framework/SegmentMapperTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentLoader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/SegmentMetadataImpl.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfigTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TimestampIndexGranularity.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/TimestampIndexUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/table/TimestampIndexGranularityTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/TimestampIndexUtilsTest.java
Labels: cleanup

#9699 UI: re define the segment status
  pinot-controller/src/main/resources/app/components/SegmentStatusRenderer.tsx
  pinot-controller/src/main/resources/app/components/Table.tsx
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
  pinot-controller/src/main/resources/app/utils/Utils.tsx
Labels: ui

#9741 render the tables list even as the table sizes are loading
  pinot-controller/src/main/resources/app/components/ComponentLoader.tsx
  pinot-controller/src/main/resources/app/components/Table.tsx
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/pages/TablesListingPage.tsx
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
Labels: feature, ui

#9501 Add Support for IP Address Function
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-common/pom.xml
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/IpAddressFunctions.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-connectors/prestodb-pinot-dependencies/pinot-common-jdk8/pom.xml
  pinot-core/src/test/java/org/apache/pinot/queries/IsSubnetOfQueriesTest.java
  pom.xml
Labels: feature

#9740 Add support to disable the forward index for existing columns
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledMultiValueQueriesWithReloadTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledSingleValueQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessor.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/LoaderTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
Labels: feature

#9700 UI: show segment debug details when segment is in bad state
  pinot-controller/src/main/resources/app/components/CustomDialog.tsx
  pinot-controller/src/main/resources/app/components/SegmentStatusRenderer.tsx
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
  pinot-controller/src/main/resources/app/utils/axios-config.ts
Labels: ui

#9796 [multistage] add test for LiteralValueOperator
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/LiteralValueOperatorTest.java
Labels: multi-stage

#9753 [multistage] implement naive round robin operator chain scheduling
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SSBQueryIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainScheduler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/RoundRobinScheduler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/WorkerQueryExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/OpChain.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/RoundRobinSchedulerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/QueryServerTest.java
Labels: multi-stage

#9798 [multistage] add tests for lexical structure and value exprs
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToStageConverter.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/BasicQuery.json
  pinot-query-runtime/src/test/resources/queries/LexicalStructure.json
  pinot-query-runtime/src/test/resources/queries/ValueExpressions.json
Labels: multi-stage

#9775 [multistage] [testing] Add join operator unit test
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
Labels: multi-stage

#9821 [multistage] add comparison tests
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/testutils/MockInstanceDataManagerFactory.java
  pinot-query-runtime/src/test/resources/queries/Comparisons.json
Labels: multi-stage

#9800 Adding a consumer lag as metric via a periodic task in controller
  pinot-common/src/main/java/org/apache/pinot/common/metrics/AbstractMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/RealtimeConsumerMonitor.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ConsumingSegmentInfoReader.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerPeriodicTaskStarterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/RealtimeConsumerMonitorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionLagState.java
Labels: observability

#9707 [multistage] initial commit to support all scalar/transform/filter match
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionRegistry.java
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArithmeticFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ComparisonFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DateTimeFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ObjectFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/FunctionDefinitionRegistryTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DateTimeTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ExtractTransformFunctionTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: multi-stage

#9782 [multistage][test] add from expression queries
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FilterOperand.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/BasicQuery.json
  pinot-query-runtime/src/test/resources/queries/FromExpressions.json
Labels: multi-stage

#9751 Fix NPE when reading ZK address from controller config
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
Labels: bugfix

#9742 have query table list show search bar; fix InstancesTables filter
  pinot-controller/src/main/resources/app/components/Homepage/InstancesTables.tsx
  pinot-controller/src/main/resources/app/components/Query/QuerySideBar.tsx
Labels: ui, bugfix

#9781 load schema ui async; use skeleton loading indicator
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/pages/TablesListingPage.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
Labels: ui

#9811 [Multistage][Testing] Integration test for general aggregate functions.
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/Aggregates.json
Labels: multi-stage

#9727 Thread Level Usage Accounting and Query Killing on Server
  pinot-common/src/main/java/org/apache/pinot/common/datablock/BaseDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV3.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV4.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/ThreadTimer.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/CPUMemThreadLevelAccountingObjects.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/HeapUsagePublishingAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/utils/RunnerWorkerThreadOffsetProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/BaseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/DocIdSetOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/InstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/DocIdSetPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/DistinctTable.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/resources/ResourceManager.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/InstanceRequestHandler.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/ResourceManagerAccountingTest.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/TestThreadMXBean.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datatable/DataTableSerDeTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexHandlerReloadQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentSelectionSingleValueQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterQueryKillingTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkThreadInterruptionCheck.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkThreadResourceUsageProvider.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/OpChain.java
  pinot-server/src/main/java/org/apache/pinot/server/conf/ServerConf.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadAccountantFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadExecutionContext.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageAccountant.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/LoopUtils.java
Labels: feature, Design Review

#9837 [pinot-spark-connector] Fix empty data table handling in GRPC reader
  pinot-connectors/pinot-spark-connector/src/main/scala/org/apache/pinot/connector/spark/connector/PinotGrpcServerDataFetcher.scala
  pinot-connectors/pinot-spark-connector/src/test/scala/org/apache/pinot/connector/spark/ExampleSparkPinotConnectorTest.scala
Labels: bugfix

#9527 Do not create dictionary for high-cardinality columns
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/DictionaryOptimiserTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/IndexingConfig.java
Labels: feature, release-notes, Configuration

#9519 #9518 added pinot helm 0.2.6 with secure version pinot 0.11.0
  kubernetes/helm/index.yaml
  kubernetes/helm/pinot-0.2.6.tgz
  kubernetes/helm/pinot/Chart.yaml
  kubernetes/helm/pinot/values.yaml
Labels: kubernetes, security

#9856 Fix a typo in JsonExtractKeyTransformFunction
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractKeyTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunctionTest.java
Labels: bugfix

#9860 Adding new ADLSPinotFS auth type: DEFAULT
  pinot-plugins/pinot-file-system/pinot-adls/src/main/java/org/apache/pinot/plugin/filesystem/ADLSGen2PinotFS.java
Labels: release-notes

#9818 [multistage] m0ar tests! (binary, boolean, char, time)
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/catalog/PinotCatalog.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/BinaryTypes.json
  pinot-query-runtime/src/test/resources/queries/BooleanLogic.json
  pinot-query-runtime/src/test/resources/queries/CharacterTypes.json
  pinot-query-runtime/src/test/resources/queries/TimeTypes.json
Labels: multi-stage

#9817 [multistage][test] add table expression tests
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/TableExpressions.json
Labels: multi-stage

#9642 Support Avro's Fixed data type
  pinot-core/src/test/java/org/apache/pinot/queries/JsonIngestionFromAvroQueriesTest.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/test/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordExtractorTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/DataTypeTransformer.java
Labels: bugfix

#9858 Clean up transform functions
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/AdditionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayAverageTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayLengthTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayMaxTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayMinTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArraySumTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BinaryOperatorTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CoalesceTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTimeConversionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTimeTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTruncTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DistinctFromTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DivisionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ExtractTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/GreatestTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/GroovyTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/InIdSetTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/IsNotNullTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/IsNullTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractKeyTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LeastTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/MapValueTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ModuloTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/MultiplicationTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/NotOperatorTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/PowerTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/RegexpExtractTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/RoundDecimalTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/SingleParamMathTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/SubtractionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TimeConversionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TruncateDecimalTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ValueInTransformFunction.java
Labels: bugfix, cleanup

#9866 Do not sort the instances in InstancePartitions
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceReplicaGroupPartitionSelector.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
Labels: bugfix

#9851 Merge new columns in existing record with default merge strategy
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandlerTest.java
Labels: bugfix

#9871 Fix a typo in ScalarTransformFunctionWrapperTest.testStringSplitPartTransformFunction()
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
Labels: flaky-test, bugfix

#9846 [multistage] test coverage for CASE and fix bug with CHAR literals
  pinot-query-planner/src/main/java/org/apache/pinot/query/type/TypeFactory.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/type/TypeSystem.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/Case.json
Labels: multi-stage

#9876 Bug fix: Get correct primary key count
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
Labels: bugfix

#9868 Support disabling dictionary at runtime for an existing column
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexHandlerReloadQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
Labels: feature

#9832 [multistage] support sort push-down
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/ImmutableSortExchangeCopyRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotSortExchangeCopyRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotSortExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToStageConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/StagePlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/stage/SortNode.java
  pinot-query-planner/src/test/java/org/apache/calcite/rel/rules/PinotSortExchangeCopyRuleTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
  pinot-query-runtime/src/test/resources/queries/OrderBy.json
Labels: multi-stage
