Repository apache/pinot, pull requests merged in 2023-09, with the labels that each got.

#11468 Disallow tenant tag override with upsert tables
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: enhancement

#11476 Fix partition info in segment ZK metadata for changes in stream partition count
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
Labels: bugfix

#11480 Use operator name instead of explain string in operatorId
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
Labels: enhancement, multi-stage

#11473 [multistage] Reuse broker/server hostname for multistage queryrunner hostname
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: Configuration, multi-stage

#11479 [multistage] bugfix: override leaf query limit to 0 if set explicitly from outside
  pinot-query-planner/src/test/resources/queries/BasicQueryPlans.json
  pinot-query-planner/src/test/resources/queries/ValidationErrorPlan.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestVisitor.java
Labels: bugfix, multi-stage

#11481 Fix some misuse of full class name
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/ClusterChangeMediator.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/sink/FlinkSegmentWriter.java
  pinot-core/src/main/java/org/apache/pinot/core/function/scalar/SketchFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/DoubleAggregationResultHolder.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/IntAggregateResultHolder.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/ObjectAggregationResultHolder.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ArrayBaseTransformFunctionTest.java
  pinot-plugins/pinot-input-format/pinot-clp-log/src/main/java/org/apache/pinot/plugin/inputformat/clplog/CLPLogRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVRecordExtractorConfig.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountThetaSketchValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentLoader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/partition/ModuloPartitionFunction.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentOnlineOfflineStateModelFactory.java
Labels: bugfix

#11438 [multistage] Evaluate literal expression during query parsing
  pinot-common/src/main/java/org/apache/pinot/common/request/BrokerRequest.java
  pinot-common/src/main/java/org/apache/pinot/common/request/DataSource.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Expression.java
  pinot-common/src/main/java/org/apache/pinot/common/request/ExpressionType.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Function.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Identifier.java
  pinot-common/src/main/java/org/apache/pinot/common/request/InstanceRequest.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Join.java
  pinot-common/src/main/java/org/apache/pinot/common/request/JoinType.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Literal.java
  pinot-common/src/main/java/org/apache/pinot/common/request/PinotQuery.java
  pinot-common/src/main/java/org/apache/pinot/common/request/QuerySource.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/LiteralContext.java
  pinot-common/src/main/java/org/apache/pinot/common/response/ProcessingException.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/ExprMinMaxRewriter.java
  pinot-common/src/main/proto/plan.proto
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-common/src/thrift/query.thrift
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/BaseBinaryGeoTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/ScalarFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/StDistanceFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotEvaluateLiteralRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotRuleUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/LiteralHintUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/ProtoSerializationUtils.java
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
Labels: multi-stage

#11508 Add metric to track helix connection for minions
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
Labels: enhancement

#11502 Change substring to comply with standard sql definition
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/TPCHQueryIntegrationTest.java
  pinot-integration-tests/src/test/resources/tpch/7.sql
  pinot-integration-tests/src/test/resources/tpch/8.sql
  pinot-integration-tests/src/test/resources/tpch/9.sql
  pinot-query-runtime/src/test/resources/queries/StringFunctions.json
Labels: backward-incompat, query

#11506 Make all accessor methods on BrokerResponse public
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/BrokerResponse.java
Labels: release-notes, pinot-client, bugfix

#11487 Added support to skip unparseable records in the csv record reader
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVRecordReader.java
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVRecordReaderConfig.java
  pinot-plugins/pinot-input-format/pinot-csv/src/test/java/org/apache/pinot/plugin/inputformat/csv/CSVRecordReaderTest.java
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithAlternateDelimiter.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithCommentedLines.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithEmptyLines.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithEscapedQuotes.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithInvalidHeader.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithMultipleCombinations.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithMultipleCombinationsParseable.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithNoHeader.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithQuotedHeaders.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithUnparseableLines.csv
Labels: enhancement, documentation, Configuration

#11511 Add auto generated query tests for tpch
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/Constants.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/TPCHGeneratedQueryIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/TblToAvroMultiValue.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/generator/Column.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/generator/ColumnType.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/generator/PinotQueryBasedColumnDataProvider.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/generator/QuerySkeleton.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/generator/RelatedTable.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/generator/SampleColumnDataProvider.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/generator/TPCHQueryGeneratorV2.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/generator/Table.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/DocIdDictionary.java
Labels: testing

#11516 [multistage] enable some previously failed tests
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/FloatingPointDataTypeTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/TPCHQueryIntegrationTest.java
Labels: testing, multi-stage

#11512 [multistage] Support range queries in search
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
Labels: query, multi-stage

#11528 fixing dateTimeConvert with double scientific notation values
  pinot-core/src/test/java/org/apache/pinot/core/data/function/DateTimeFunctionsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFormatSpec.java
Labels: bugfix

#11404 Multi stage int tests
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/ConnectionFactory.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/AggregateMetricsClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/GrpcBrokerClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/IngestionConfigHybridIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiNodesOfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/NullHandlingIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedServerQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterServerCPUTimeQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineGRPCServerMultiStageIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/StarTreeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TextIndicesTest.java
Labels: testing, multi-stage

#11553 Null support for protobuf ingestion.
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufRecordExtractorTest.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/complex_types.desc
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/complex_types.proto
Labels: feature, release-notes, ingestion

#11551 [bugfix] Fix stream config validator for protobuf decoders
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: bugfix

#11514 Fixing flaky VectorTest
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/VectorTest.java
Labels: flaky-test

#11517 [multistage]Adding more tuple sketch scalar functions and integration tests
  pinot-core/src/main/java/org/apache/pinot/core/function/scalar/SketchFunctions.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ThetaSketchTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TupleSketchTest.java
Labels: feature, query, testing, multi-stage

#11552 Remove the unnecessary placeholder scaler functions
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionRegistry.java
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-common/src/test/java/org/apache/pinot/common/function/FunctionDefinitionRegistryTest.java
  pinot-query-planner/src/main/java/org/apache/calcite/sql/fun/PinotOperatorTable.java
Labels: cleanup, multi-stage

#11554 Improve PinotEvaluateLiteralRule
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotEvaluateLiteralRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
Labels: enhancement, cleanup, multi-stage

#11560 Revert Helix back to 1.0.4 because of a critical bug
  LICENSE-binary
  pom.xml
Labels: dependencies

#11567 Fix the wrong reference comparison in PinotEvaluateLiteralRule
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotEvaluateLiteralRule.java
Labels: bugfix, multi-stage

#11566 Support up to 15 boolean expressions for casewhen scalar function
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ObjectFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/ObjectFunctionsTest.java
Labels: enhancement

#11534 do not emit lag once tabledatamanager shutdown
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTracker.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
Labels: enhancement

#11496 Fix direct memory OOM on broker
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ChannelHandlerFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/DirectOOMHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/InstanceRequestHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerChannels.java
Labels: enhancement

#11469 Disallow peer download when replication is < 2
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: user-experience

#11509 make lead controller resource rebalance delay configurable
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/util/HelixSetupUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, Configuration

#11556 Add argument check for aggregation functions with single argument
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BaseSingleInputAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BooleanAndAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BooleanOrAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctAvgAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctAvgMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountBitmapAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountBitmapMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctSumAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctSumMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FastHLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FourthMomentAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MaxAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MaxMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SegmentPartitionedDistinctCountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/StUnionAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/VarianceAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExprMinMaxTest.java
Labels: user-experience

#11585 Enhance SegmentPartitionMetadataManager to handle new segment
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpartition/SegmentPartitionMetadataManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentpartition/SegmentPartitionMetadataManagerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/TablePartitionInfo.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
Labels: enhancement, multi-stage

#11587 [multistage] fix usage of metadata overrides
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/OpChainExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/StageMetadata.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
Labels: bugfix, multi-stage

#11572 Allow override/force options when add schema
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddSchemaCommand.java
Labels: enhancement

#11557 Optimize in clause evaluation
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/PredicateUtils.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkDictionaryLookup.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BaseImmutableDictionary.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/Dictionary.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, documentation, release-notes, performance

#11598 log errors without exceptions in query console
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
Labels: ui, bugfix

#11595 Log warning when multi-stage engine planning throws exception
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
Labels: enhancement, multi-stage

#11599 Fix the bug of using push time to identify new created segment
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/NewSegmentState.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/StrictReplicaGroupInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpartition/SegmentPartitionMetadataManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentpartition/SegmentPartitionMetadataManagerTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/segment/SegmentZKMetadata.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/SegmentUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/SegmentUtilsTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
Labels: bugfix

#11501 Change the Forbidden error to Unauthorized
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BasicAuthAccessControlFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/ZkBasicAuthAccessControlFactory.java
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/BasicAuthAccessControlTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AccessControlUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/BasicAuthAccessControlFactory.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BasicAuthBatchIntegrationTest.java
Labels: incompatible, security

#11564 Use builder method for initalizing immutable map in integration test
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/TblToAvro.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/tpch/TblToAvroMultiValue.java
Labels: testing

#11576 Add table indexes API
  pinot-common/src/main/java/org/apache/pinot/common/response/server/TableIndexMetadataResponse.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/test/java/org/apache/pinot/server/api/TablesResourceTest.java
Labels: feature, documentation, rest-api

#11607 Avoid unnecessary rows conversion in aggregation
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/FilteredRowBasedBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/RowBasedBlockValSet.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageAggregationExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/block/DataBlockExtractUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/block/DataBlockValSet.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/block/FilteredDataBlockValSet.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/resources/queries/FilterAggregates.json
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, bugfix, performance, multi-stage

#11609 Remove old thirdeye files.
  docker/images/pinot-thirdeye/Dockerfile
  docker/images/pinot-thirdeye/README.md
  docker/images/pinot-thirdeye/bin/start-thirdeye.sh
  docker/images/pinot-thirdeye/config/ephemeral/dashboard.yml
  docker/images/pinot-thirdeye/config/ephemeral/data-sources/cache-config.yml
  docker/images/pinot-thirdeye/config/ephemeral/data-sources/data-sources-config-backend.yml
  docker/images/pinot-thirdeye/config/ephemeral/data-sources/data-sources-config-frontend.yml
  docker/images/pinot-thirdeye/config/ephemeral/data/README.md
  docker/images/pinot-thirdeye/config/ephemeral/data/daily.csv
  docker/images/pinot-thirdeye/config/ephemeral/data/hourly.csv
  docker/images/pinot-thirdeye/config/ephemeral/data/pageviews.csv
  docker/images/pinot-thirdeye/config/ephemeral/detector-config/anomaly-functions/alertFilter.properties
  docker/images/pinot-thirdeye/config/ephemeral/detector-config/anomaly-functions/alertFilterAutotune.properties
  docker/images/pinot-thirdeye/config/ephemeral/detector-config/anomaly-functions/anomalyClassifier.properties
  docker/images/pinot-thirdeye/config/ephemeral/detector-config/anomaly-functions/functions.properties
  docker/images/pinot-thirdeye/config/ephemeral/detector.yml
  docker/images/pinot-thirdeye/config/ephemeral/persistence.yml
  docker/images/pinot-thirdeye/config/ephemeral/rca.yml
  docker/images/pinot-thirdeye/config/pinot-quickstart/bootstrap.sql
  docker/images/pinot-thirdeye/config/pinot-quickstart/dashboard.yml
  docker/images/pinot-thirdeye/config/pinot-quickstart/data-sources/cache-config.yml
  docker/images/pinot-thirdeye/config/pinot-quickstart/data-sources/data-sources-config.yml
  docker/images/pinot-thirdeye/config/pinot-quickstart/data/README.md
  docker/images/pinot-thirdeye/config/pinot-quickstart/data/daily.csv
  docker/images/pinot-thirdeye/config/pinot-quickstart/data/hourly.csv
  docker/images/pinot-thirdeye/config/pinot-quickstart/data/pageviews.csv
  docker/images/pinot-thirdeye/config/pinot-quickstart/detector-config/anomaly-functions/alertFilter.properties
  docker/images/pinot-thirdeye/config/pinot-quickstart/detector-config/anomaly-functions/alertFilterAutotune.properties
  docker/images/pinot-thirdeye/config/pinot-quickstart/detector-config/anomaly-functions/anomalyClassifier.properties
  docker/images/pinot-thirdeye/config/pinot-quickstart/detector-config/anomaly-functions/functions.properties
  docker/images/pinot-thirdeye/config/pinot-quickstart/detector.yml
  docker/images/pinot-thirdeye/config/pinot-quickstart/persistence.yml
  docker/images/pinot-thirdeye/config/pinot-quickstart/rca.yml
  docker/images/pinot-thirdeye/docker-build-and-push.sh
  docker/images/pinot-thirdeye/docker-build.sh
  docker/images/pinot-thirdeye/docker-push.sh
  kubernetes/helm/thirdeye/Chart.yaml
  kubernetes/helm/thirdeye/README.md
  kubernetes/helm/thirdeye/config/data-sources/data-sources-config.yml
  kubernetes/helm/thirdeye/config/initdb.sql
  kubernetes/helm/thirdeye/install.sh
  kubernetes/helm/thirdeye/templates/_helpers.tpl
  kubernetes/helm/thirdeye/templates/backend/deployment.yaml
  kubernetes/helm/thirdeye/templates/backend/service-headless.yaml
  kubernetes/helm/thirdeye/templates/backend/service.yaml
  kubernetes/helm/thirdeye/templates/common/configmap.yaml
  kubernetes/helm/thirdeye/templates/frontend/deployment.yaml
  kubernetes/helm/thirdeye/templates/frontend/ingress.yaml
  kubernetes/helm/thirdeye/templates/frontend/service-headless.yaml
  kubernetes/helm/thirdeye/templates/frontend/service.yaml
  kubernetes/helm/thirdeye/values.yaml
Labels: cleanup

#11611 UI: add toggle to hide/show query exceptions
  pinot-controller/src/main/resources/app/pages/Query.tsx
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
Labels: user-experience, ui

#11616 Move all BlockValSet into the same package
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/DataBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/FilteredDataBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/FilteredRowBasedBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/RowBasedBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/util/DataBlockExtractUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
Labels: cleanup

#11615 Use constant null place holder
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArrayFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CoalesceTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapper.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/InTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: bugfix, cleanup

#11610 Fix the alias handling in single-stage engine
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandlerTest.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/AliasApplier.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/QueryRewriterFactory.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/rewriter/QueryRewriterFactoryTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-core/src/test/java/org/apache/pinot/core/query/request/context/utils/BrokerRequestToQueryContextConverterTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/MultiValueRawQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/JsonPathTest.java
Labels: incompatible, bugfix

#11620 Refactor BasicAuthUtils from pinot-core to pinot-common
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BasicAuthAccessControlFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/ZkBasicAuthAccessControlFactory.java
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/utils/DriverUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/auth/BasicAuthUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/BasicAuthAccessControlFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/ZkBasicAuthAccessControlFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/BasicAuthUtils.java
  pinot-core/src/main/java/org/apache/pinot/server/access/BasicAuthAccessFactory.java
  pinot-core/src/main/java/org/apache/pinot/server/access/ZkBasicAuthAccessFactory.java
  pinot-server/src/test/java/org/apache/pinot/server/api/AccessControlTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/AuthQuickstart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/AuthZkBasicQuickstart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AbstractBaseAdminCommand.java
Labels: dependencies, pinot-client, refactor

#11619 fix jackson vulnerability
  pom.xml
Labels: dependencies, vulnerability

#11617 In multi-stage aggregate, directly store column index as identifier
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageAggregationExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
Labels: enhancement, multi-stage

#11098 Introduce FrequentStringsSketch and FrequentLongsSketch aggregation functions
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FrequentLongsSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FrequentStringsSketchAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/FrequentItemsSketchQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/SerializedFrequentLongsSketch.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/SerializedFrequentStringsSketch.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature, performance

#11555 Add more array scalar functions
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArrayFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
Labels: feature, documentation

#11558 Handle interrupt gracefully for Lucene mutable index
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneDocIdCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneTextIndexSearcherPool.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/LuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeAndLuceneMutableTextIndexTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
Labels: bugfix

#11640 Simplify authorization for table config get
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
Labels: rest-api

#11644 Fix NPE in SingleColumnKeySelector
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/partitioning/EmptyKeySelector.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/partitioning/KeySelector.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/partitioning/SingleColumnKeySelector.java
  pinot-query-runtime/src/test/resources/queries/NullHandling.json
Labels: bugfix, multi-stage

#11638 Simplify kafka build and remove old kafka 0.9 files
  pinot-distribution/pinot-assembly.xml
  pinot-distribution/pom.xml
  pinot-integration-test-base/pom.xml
  pinot-integration-tests/pom.xml
  pinot-perf/pom.xml
  pinot-tools/pom.xml
  pinot-tools/src/main/resources/examples/stream/airlineStats/kafka_0.9/airlineStats_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/meetupRsvp/kafka_0.9/meetupRsvp_realtime_table_config.json
  pom.xml
Labels: cleanup

#11637 clean up maven-jar-plugin and maven-enforcer-plugin version in pom
  pinot-broker/pom.xml
  pinot-clients/pinot-java-client/pom.xml
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-common/pom.xml
  pinot-compatibility-verifier/pom.xml
  pinot-connectors/pinot-flink-connector/pom.xml
  pinot-controller/pom.xml
  pinot-core/pom.xml
  pinot-distribution/pom.xml
  pinot-integration-test-base/pom.xml
  pinot-integration-tests/pom.xml
  pinot-minion/pom.xml
  pinot-perf/pom.xml
  pinot-plugins/pinot-metrics/pinot-dropwizard/pom.xml
  pinot-plugins/pinot-metrics/pinot-yammer/pom.xml
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/pom.xml
  pinot-plugins/pom.xml
  pinot-query-planner/pom.xml
  pinot-segment-local/pom.xml
  pinot-segment-spi/pom.xml
  pinot-server/pom.xml
  pinot-spi/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies, cleanup

#11624 modify the error response on controller.
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
Labels: enhancement, user-experience, rest-api

#11346 Add hyperLogLogPlus aggregation function for distinct count
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/NonScanBasedAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLPlusAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLPlusMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountRawHLLPlusAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountRawHLLPlusMVAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactoryTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InterSegmentAggregationMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InterSegmentAggregationMultiValueRawQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InterSegmentAggregationSingleValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SerializedBytesQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountHLLPlusValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/ValueAggregatorFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/SerializedHLLPlus.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/CustomSerDeUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/HyperLogLogPlusUtils.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, documentation, release-notes

#11660 Export Additional Upsert Metrics to Prom
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/server.yml
Labels: metrics

#11652 Update the table config in quick start
  pinot-tools/src/main/resources/examples/stream/airlineStats/airlineStats_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/airlineStats/kafka_2.0/airlineStats_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/githubEvents/githubEvents_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/meetupRsvp/kafka_2.0/meetupRsvp_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/meetupRsvp/meetupRsvp_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/meetupRsvpComplexType/meetupRsvpComplexType_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/meetupRsvpJson/meetupRsvpJson_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/pullRequestMergedEvents/docker/pullRequestMergedEvents_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/pullRequestMergedEvents/pullRequestMergedEvents_kinesis_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/pullRequestMergedEvents/pullRequestMergedEvents_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/upsertJsonMeetupRsvp/upsertJsonMeetupRsvp_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/upsertMeetupRsvp/upsertMeetupRsvp_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/upsertPartialMeetupRsvp/upsertPartialMeetupRsvp_realtime_table_config.json
Labels: user-experience, cleanup

#11628 assign segments for upsert table with respect to ideal state
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/BaseSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/StrictRealtimeSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/OfflineNonReplicaGroupTieredSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeNonReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeNonReplicaGroupTieredSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeReplicaGroupSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/StrictRealtimeSegmentAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/strategy/AllServersSegmentAssignmentStrategyTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/strategy/BalancedNumSegmentAssignmentStrategyTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/strategy/ReplicaGroupSegmentAssignmentStrategyTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/PerfBenchmarkDriver.java
Labels: enhancement, upsert

#11663 Remove split commit and some deprecated config for real-time protocol on controller
  pinot-common/src/main/java/org/apache/pinot/common/protocols/SegmentCompletionProtocol.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/LLCSegmentCompletionHandlers.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/SegmentCompletionProtocolDeserTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ExactlyOnceKafkaRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/KafkaConfluentSchemaRegistryAvroMessageDecoderRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PeerDownloadLLCRealtimeClusterIntegrationTest.java
Labels: Configuration, cleanup

#11654 Rename ArrayIndexOfAll to ArrayIndexesOf
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArrayFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
Labels: feature, documentation

#11662 Remove the old deprecated commit end without metadata
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/LLCSegmentCompletionHandlers.java
  pinot-core/src/main/java/org/apache/pinot/server/realtime/ServerSegmentCompletionProtocolHandler.java
Labels: cleanup

#11625 Force FileChannel to commit data to disk
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/geospatial/BaseH3IndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/json/BaseJsonIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeIndexSeparator.java
Labels: bugfix

#11307 Adding query function override for Aggregate functions of multi valued column
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/QueryOverrideTest.java
Labels: feature

#11664 [bugfix] Allow delete local files with special characters
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/SegmentDeletionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/util/SegmentDeletionManagerTest.java
Labels: bugfix

#11665 update license-maven-plugin
  pom.xml
Labels: cleanup

#11670 Do not execute spotless in Java 21
  pinot-common/pom.xml
  pom.xml
Labels: testing

#11669 Cleanup some reader/writer logic for raw forward index
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkFixedByteSVForwardIndexReader.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkRawForwardIndexReader.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkRawForwardIndexWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/BaseChunkForwardIndexWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/FixedByteChunkForwardIndexWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkForwardIndexWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkForwardIndexWriterV4.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/MultiValueFixedByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/MultiValueVarByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/SingleValueFixedByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/SingleValueVarByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexCreatorFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexReaderFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/columnminmaxvalue/ColumnMinMaxValueGenerator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/BaseChunkForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/FixedByteChunkMVForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/FixedByteChunkSVForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/FixedBytePower2ChunkSVForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkMVForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkSVForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkSVForwardIndexReaderV4.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/store/StarTreeLoaderUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkSVForwardIndexWriterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/RawIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/VarByteChunkV4Test.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/FixedByteChunkSVForwardIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexTypeTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/VarByteChunkSVForwardIndexTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/segment/converter/DictionaryToRawIndexConverter.java
Labels: bugfix, cleanup

#11684 Update compatibility verifier
  .github/workflows/pinot_tests.yml
Labels: testing

#11661 Don't allow NaN as default value for Float and Double in Schemas
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SchemaUtils.java
Labels: enhancement, documentation

#11679 Remove the global lock in SegmentCompletionManager
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
Labels: enhancement

#11680 Always use split commit on server
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/LLCSegmentCompletionHandlers.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/DefaultSegmentCommitter.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTracker.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitterFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitterFactoryTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/KafkaConfluentSchemaRegistryAvroMessageDecoderRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PeerDownloadLLCRealtimeClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/DebugResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/IngestionBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentOnlineOfflineStateModelFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/instance/InstanceDataManagerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: documentation, incompatible, Configuration, cleanup

#11437 Add broker query event listener
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandlerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandlerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/eventlistener/query/BrokerQueryEventListener.java
  pinot-spi/src/main/java/org/apache/pinot/spi/eventlistener/query/NoOpBrokerQueryEventListener.java
  pinot-spi/src/main/java/org/apache/pinot/spi/eventlistener/query/PinotBrokerQueryEventListenerFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, documentation, Configuration

#11681 fixing ValueReaderComparisonTest
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readerwriter/ValueReaderComparisonTest.java
Labels: flaky-test, bugfix

#11687 Rename LLRealtimeSegmentDataManager to RealtimeSegmentDataManager
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitter.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SplitSegmentCommitter.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/DebugResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/FreshnessBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/IngestionBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/OffsetBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentOnlineOfflineStateModelFactory.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/FreshnessBasedConsumptionStatusCheckerTest.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/OffsetBasedConsumptionStatusCheckerTest.java
Labels: refactor

#11682 Using isOptional instead of the deprecated hasOptionalKeyword
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufRecordExtractorTest.java
Labels: bugfix

#11692 Fix the potential access to upsert metadata manager after it is closed
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
Labels: upsert, bugfix

#11685 Expose Additional Realtime Ingestion Metrics
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/server.yml
Labels: metrics

#11694 Minor improvement to upsert preload
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManagerTest.java
Labels: upsert

#11688 [multistage] improve dispatch exception handling
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/SubmissionService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTestBase.java
Labels: testing, multi-stage

#11696 [multistage] default enable dynamic broadcast for SEMI
  pinot-query-planner/src/main/java/org/apache/calcite/rel/hint/PinotHintOptions.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotJoinToDynamicBroadcastRule.java
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
Labels: enhancement, documentation, multi-stage

#11674 MultiValue VarByte V4 index writer and consolidate V4 reader for all types
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkRawForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkForwardIndexWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkForwardIndexWriterV4.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/MultiValueVarByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexReaderFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkForwardIndexReaderV4.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkSVForwardIndexWriterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/MultiValueFixedByteRawIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/MultiValueVarByteRawIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/VarByteChunkV4Test.java
Labels: feature

#11695 use SlidingTimeWindowArrayReservoir instead of default ExponentiallyDecayingReservoir in dropwizard metrics
  pinot-plugins/pinot-metrics/pinot-dropwizard/src/main/java/org/apache/pinot/plugin/metrics/dropwizard/DropwizardMetricsRegistry.java
Labels: metrics

#11703 [multistage][test] add ignored test capability
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/Aggregates.json
  pinot-query-runtime/src/test/resources/queries/Comparisons.json
  pinot-query-runtime/src/test/resources/queries/MathFuncs.json
Labels: testing, multi-stage

#11707 correct default log4j2 config file path in helm chart
  helm/pinot/values.yaml
Labels: bugfix

#11655 Allow GcsPinotFS to work with granular permissions
  pinot-plugins/pinot-file-system/pinot-gcs/src/main/java/org/apache/pinot/plugin/filesystem/GcsPinotFS.java
Labels: bugfix

#11604 JSON index: Add support for ignoring values longer than a given length.
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/JsonIndexTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/JsonIndexConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
Labels: feature, documentation, Configuration

#11714 Gapfill: Fix bug with SumAvgGapfillProcessor.
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/SumAvgGapfillProcessor.java
  pinot-core/src/test/java/org/apache/pinot/queries/GapfillQueriesTest.java
Labels: bugfix

#11705 Add more test for broker jersey bounded thread pool
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/BrokerManagedAsyncExecutorProviderTest.java
Labels: testing
