Repository apache/pinot, pull requests merged in 2023-03, with the labels that each got.

#10348 [bugfix] Fix bug with PERCENT_SEGMENTS_AVAILABLE metric rounding down
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
Labels: bugfix

#10358 Clean up the Block APIs
  pinot-core/src/main/java/org/apache/pinot/core/common/Block.java
  pinot-core/src/main/java/org/apache/pinot/core/common/BlockDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/common/BlockDocIdValueIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/common/BlockDocIdValueSet.java
  pinot-core/src/main/java/org/apache/pinot/core/common/BlockMetadata.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/DocIdSetOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/ProjectionOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/DocIdSetBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/FilterBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/InstanceResponseBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/ProjectionBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/TransformBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/BaseResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/ArrayBasedDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/AndDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/ArrayBasedDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/BitmapDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/EmptyDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/ExpressionDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/FilterBlockDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/MVScanDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/MatchAllDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/NotDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/OrDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/RangelessBitmapDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/SVScanDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/SortedDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/AndFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/CombinedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/ExpressionFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/OrFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/RangeIndexBasedFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/TestFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/FilterPlanNodeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
Labels: cleanup

#10367 10249: Separating the v1beta1 & v1 ingress objects.
  kubernetes/helm/pinot/templates/broker/ingress-v1.yaml
  kubernetes/helm/pinot/templates/broker/ingress-v1beta1.yaml
  kubernetes/helm/pinot/templates/controller/ingress-v1.yaml
  kubernetes/helm/pinot/templates/controller/ingress-v1beta1.yaml
Labels: bugfix

#10234 Add support for multiple comparison columns (i.e. one comparison column per producer sinking to a table)
  pinot-common/src/test/resources/testConfigs/multipleIndexPartialUpsertConfig.json
  pinot-common/src/test/resources/testConfigs/multipleIndexPartialUpsertMultipleComparisonColumnConfig.json
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotUpsertRestletResource.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/RealtimeSegmentConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ComparisonColumns.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImplUpsertSnapshotTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplTestUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandlerTest.java
  pinot-segment-local/src/test/resources/data/test_upsert_data.json
  pinot-segment-local/src/test/resources/data/test_upsert_schema.json
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TableConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/table/UpsertConfigTest.java
Labels: feature, release-notes, Configuration

#10364 Add operator level stats to response when tracing is enabled
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNativeV2.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseStats.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/ExecutionStatsAggregator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
Labels: multi-stage

#10363 Add controller API to fetch all segment zookeeper metadata for a table
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
Labels: rest-api

#10369 allow to customize the httpclient used to create S3PinotFS
  pinot-plugins/pinot-file-system/pinot-s3/pom.xml
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3Config.java
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3ConfigTest.java
Labels: feature, release-notes

#10357 Enhance select order-by combine to use merge sort
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/AggregationResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/BaseResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/DistinctResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/ExceptionResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/ExplainResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/GroupByResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/MetadataResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/SelectionResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseSingleBlockCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/MinMaxValueBasedSelectionOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/merger/ResultsBlockMerger.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/merger/SelectionOnlyResultsBlockMerger.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/merger/SelectionOrderByResultsBlockMerger.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/LinearSelectionOrderByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/SelectionOrderByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/utils/OrderByComparatorFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/SelectionCombineOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/query/LinearSelectionOrderByOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/selection/SelectionOperatorServiceTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentSelectionMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentSelectionMultiValueRawQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentSelectionSingleValueQueriesTest.java
Labels: enhancement

#10406 Bug Fix: Handle empty validDocId snapshots during reloading
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: bugfix

#10395 10271: Updated the code for handling the slash at the end for controller.data.dir
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/test/java/org/apache/pinot/controller/ControllerConfTest.java
Labels: bugfix

#10410 Simplify filtered aggregate transform operator creation
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/CombinedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredGroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/GroupByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/test/java/org/apache/pinot/queries/InnerSegmentAggregationSingleValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InterSegmentAggregationMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InterSegmentAggregationMultiValueRawQueriesTest.java
Labels: enhancement, bugfix, cleanup

#10389 feat(ui): persist oidc auth details
  pinot-controller/src/main/resources/app/App.tsx
  pinot-controller/src/main/resources/app/components/AppLoadingIndicator.tsx
  pinot-controller/src/main/resources/app/components/auth/AuthProvider.tsx
  pinot-controller/src/main/resources/app/index.tsx
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
  pinot-controller/src/main/resources/app/utils/axios-config.ts
  pinot-controller/src/main/resources/webpack.config.js
Labels: feature, ui

#10419 Adding dropResults parameter in queryOptions to drop the resultTable field from the response
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature

#10431 [Clean up] Remove getColumnName() from AggregationFunction interface
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/AggregationResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/ResultsBlockUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BaseSingleInputAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CovarianceAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstDoubleValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstFloatValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstIntValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstLongValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstStringValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastDoubleValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastFloatValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastIntValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastLongValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastStringValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileEstAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileEstMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileRawEstAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileRawTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileSmartTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileTDigestMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/AggregationDataTableReducer.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/blocks/results/ResultsBlockUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactoryTest.java
Labels: cleanup

#10469 Change shell to bash
  pinot-tools/src/main/resources/appAssemblerScriptTemplate
Labels: bugfix

#10475 Fix the double destroy of segment data manager during server shutdown
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/ImmutableSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/HLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/SegmentDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/readerwriter/RealtimeIndexOffHeapMemoryManager.java
Labels: bugfix

#10454 Enhance broker reduce to handle different column names from server response
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/DataSchemaTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/SelectionDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/utils/OrderByComparatorFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/query/selection/SelectionOperatorServiceTest.java
Labels: enhancement, cleanup, performance

#10474 Upgraded joda-time library version from 2.10.5 to 2.11.2
  pom.xml
Labels: dependencies

#10380 [feature] [backward-incompat] [null support # 2] Preserve null literal information in literal context and literal transform
  pinot-common/src/main/java/org/apache/pinot/common/request/context/ExpressionContext.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/LiteralContext.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/TableResizer.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/BaseBinaryGeoTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/StPointFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3InclusionIndexFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3IndexFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/AdditionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CastTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CoalesceTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTimeConversionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTimeTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTruncTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DivisionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ExtractTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/GroovyTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/InIdSetTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/InTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractKeyTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LookupTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/MapValueTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ModuloTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/MultiplicationTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/PowerTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/RegexpExtractTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/RoundDecimalTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapper.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/SubtractionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TimeConversionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TruncateDecimalTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ValueInTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountSmartHLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountThetaSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/HistogramAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/IdSetAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/ModeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileSmartTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumPrecisionAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BaseGapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapfillFilterHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapfillProcessor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/PostAggregationHandler.java
  pinot-core/src/test/java/org/apache/pinot/common/request/context/LiteralContextTest.java
  pinot-core/src/test/java/org/apache/pinot/common/utils/request/RequestUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/TupleSelectionTransformFunctionsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/InbuiltFunctionEvaluator.java
Labels: enhancement, feature, backward-incompat

#10421 Add JOIN support to PinotQuery
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/request/DataSource.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Join.java
  pinot-common/src/main/java/org/apache/pinot/common/request/JoinType.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-common/src/thrift/query.thrift
Labels: feature

#10444 optimize queries where lhs and rhs of predicate are equal
  pinot-controller/src/main/java/org/apache/pinot/controller/recommender/io/InputManager.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/QueryOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/BaseAndOrBooleanFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/FlattenAndOrFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/IdenticalPredicateFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/MergeEqInFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/NumericalFilterOptimizer.java
  pinot-core/src/test/java/org/apache/pinot/core/query/optimizer/QueryOptimizerTest.java
Labels: bugfix, performance

#10489 Clean up temp consuming segment files during server start
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/HLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
Labels: enhancement

#10479 wait for full segment commit protocol on force commit
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionTest.java
Labels: enhancement

#10468 Make column order deterministic in segment
  pinot-common/src/test/java/org/apache/pinot/common/metadata/MetadataEqualsHashCodeTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/utils/SegmentMetadataMockUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/util/CrcUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroIngestionSchemaValidator.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
  pinot-query-planner/src/test/resources/queries/BasicQueryPlans.json
  pinot-query-planner/src/test/resources/queries/GroupByPlans.json
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/OrderByPlans.json
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/converter/SegmentV1V2ToV3FormatConverter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/columnminmaxvalue/ColumnMinMaxValueGenerator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/SingleFileIndexDirectory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/CrcUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImplUpsertSnapshotTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/FilePerIndexDirectoryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/SingleFileIndexDirectoryTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/SegmentMetadata.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentCreator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/SegmentMetadataImpl.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java
Labels: release-notes, bugfix

#10487 Fix Bottleneck for Server Bootstrap by Making maxConnsPerRoute Configurable
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/HttpSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/HttpsSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/http/HttpClient.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/http/HttpClientConfig.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/http/HttpClientConfigTest.java
Labels: enhancement, Configuration

#10516 [enhancement] Use string as default compatible type for coalesce
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CoalesceTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CoalesceTransformFunctionTest.java
Labels: enhancement, bugfix

#10502 Use genericRow from the caller to update lookup table results
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/MemoryOptimizedDimensionTable.java
Labels: bugfix

#10515 Allow ValueBlock length to increase in TransformFunction
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/AdditionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayAverageTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayLengthTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayMaxTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayMinTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArraySumTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/BinaryOperatorTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CastTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CoalesceTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTimeConversionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTimeTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTruncTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DivisionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ExtractTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/GreatestTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/GroovyTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/InIdSetTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/InTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/IsNotNullTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/IsNullTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractKeyTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LeastTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LogicalOperatorTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LookupTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/MapValueTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ModuloTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/MultiplicationTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/NotOperatorTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/PowerTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/RegexpExtractTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/RoundDecimalTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapper.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/SingleParamMathTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/SubtractionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TimeConversionTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TrigonometricTransformFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TruncateDecimalTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ValueInTransformFunction.java
Labels: feature
