Repository apache/pinot, pull requests merged in 2023-08, with the labels that each got.

#11231 Fix IndexOutOfBoundException in filtered aggregation group-by
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredGroupByOperator.java
  pinot-core/src/test/java/org/apache/pinot/queries/FilteredAggregationsTest.java
Labels: bugfix

#11227 [pinot-core] Start consumption after creating segment data manager
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/HLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
Labels: bugfix

#11233 [flaky test]expand the threshold for VectorTransformFunctionTest
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/VectorTransformFunctionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/VectorIntegrationTest.java
Labels: flaky-test, bugfix, testing

#11216 [multistage] Support multi-value aggregation functions
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature, multi-stage

#11208 [multistage] support the rest of the agg functions currently implementable
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/LiteralHintUtils.java
  pinot-query-runtime/src/test/resources/queries/CountDistinct.json
  pinot-query-runtime/src/test/resources/queries/UDFAggregates.json
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: multi-stage

#11184 Update the pinot tenants tables api to support returning broker tagged tables
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTenantRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: enhancement, rest-api

#11230 Rebalance unit test and integration test time for github action
  .github/workflows/scripts/.pinot_quickstart.sh
  .github/workflows/scripts/.pinot_test.sh
Labels: testing

#11220 ExpressionFilterOperator NULL support.
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/ExpressionScanDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/ExpressionDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/ExpressionFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: feature

#11226 [bugfix] Do not move real-time segments to working dir on restart
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManagerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
Labels: bugfix

#11204 add multi-value support for native text index
  pinot-core/src/test/java/org/apache/pinot/queries/NativeAndLuceneComparisonTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeMutableTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/NativeTextIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/text/NativeTextIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/TextIndexType.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeAndLuceneMutableTextIndexTest.java
Labels: feature

#11017 Remove support for High level consumers in Apache Pinot
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/FakeStreamConsumerFactory.java
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTableRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableViewsTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/impl/fakestream/FakeStreamConfigUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/impl/fakestream/FakeStreamConsumerFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/impl/fakestream/FakeStreamLevelConsumer.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/stream/StreamConfigTest.java
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/FlakyConsumerHLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HLCRealtimeClusterIntegrationTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamLevelConsumer.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarStreamLevelConsumer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamLevelConsumer.java
Labels: incompatible, backward-incompat

#11242 HAVING filter IS NULL and IS NOT NULL support.
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/filter/PredicateRowMatcher.java
  pinot-core/src/test/java/org/apache/pinot/core/query/reduce/HavingFilterHandlerTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: feature

#11234 [Multi-stage] Support partition based leaf stage processing
  pinot-query-planner/src/main/java/org/apache/calcite/rel/hint/PinotHintOptions.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotJoinExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotJoinToDynamicBroadcastRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/MailboxAssignmentVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/JoinNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/testutils/MockRoutingManagerFactory.java
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/dispatch/QueryDispatcherTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/testutils/MockInstanceDataManagerFactory.java
  pinot-query-runtime/src/test/resources/queries/Aggregates.json
  pinot-query-runtime/src/test/resources/queries/CountDistinct.json
  pinot-query-runtime/src/test/resources/queries/QueryHints.json
  pinot-query-runtime/src/test/resources/queries/SelectHaving.json
Labels: enhancement, multi-stage

#11248 [multistage] Enable some ignored queries in pinot-query-runtime
  pinot-query-runtime/src/test/resources/queries/Aggregates.json
  pinot-query-runtime/src/test/resources/queries/Comparisons.json
  pinot-query-runtime/src/test/resources/queries/FilterAggregates.json
  pinot-query-runtime/src/test/resources/queries/OrderBy.json
  pinot-query-runtime/src/test/resources/queries/StringFunctions.json
  pinot-query-runtime/src/test/resources/queries/TableExpressions.json
  pinot-query-runtime/src/test/resources/queries/ValueExpressions.json
Labels: multi-stage

#11253 Fix a bug in ExpressionScanDocIdIterator for multi-value.
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/ExpressionScanDocIdIterator.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: bugfix

#11250 Add and refine tests for ExpressionScanDocIdIterator.
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: testing

#11257 Fix a bug in BaseFilterOperator.
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/BaseFilterOperator.java
Labels: bugfix

#11259 Allow custom operations after upsert preload is done
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
Labels: enhancement, upsert

#11256 In DispatchablePlanMetadata, store worker id to server instance map
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/DispatchableSubPlan.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/MailboxAssignmentVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/PinotDispatchPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/colocated/GreedyShuffleRewriteVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
Labels: enhancement, cleanup, multi-stage

#11249 ExpressionFilterOperator IS NULL and IS NOT NULL support.
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/ExpressionScanDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/ExpressionDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/ExpressionFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/FilterPlanNode.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: feature

#11265 Allow custom operations before upsert preload starts
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
Labels: enhancement, upsert

#11261 Exclude NULLs when PredicateEvaluator::isAlwaysTrue is true.
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/FilterOperatorUtils.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: feature, bugfix

#11297 Add query log for multi-stage queries
  pinot-broker/src/main/java/org/apache/pinot/broker/querylog/QueryLogger.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
Labels: enhancement, multi-stage

#11290 [flaky tests]Fixing the flaky test TupleSketchIntegrationTest
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TupleSketchIntegrationTest.java
Labels: flaky-test

#11301 Add meter for broker responses with unavailable segments
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
Labels: metrics

#11302 Add the missing Authorize annotation to broker instance resource
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/InstanceResource.java
Labels: security

#11200 Add instrumentation for dcount merge. Release bitmaps for and/or doc id set to save memory. `performance`
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/AndDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/OrDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BaseDistinctAggregateAggregationFunction.java
Labels: performance

#11308 Fix GREATEST and LEAST transform functions.
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/SelectTupleElementTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/TupleSelectionTransformFunctionsTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: bugfix

#11151 [multistage] Derive SUM return type to be PostgreSQL compatible
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/type/TypeSystem.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
Labels: bugfix, multi-stage

#11316 Remove the redundant OrderByExpressionContext::isDesc.
  pinot-common/src/main/java/org/apache/pinot/common/request/context/OrderByExpressionContext.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/SelectionPartiallyOrderedByDescOperation.java
  pinot-core/src/test/java/org/apache/pinot/core/query/request/context/utils/BrokerRequestToQueryContextConverterTest.java
Labels: cleanup

#11320 Fix a bug in NULL ordering using ordinal.
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/OrdinalsUpdater.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/utils/QueryContextConverterUtils.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: bugfix

#11273 Add Server API to get tenant pools
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/InstanceResource.java
Labels: rest-api

#11309 Fix a NullPointerException bug in ScalarTransformFunctionWrapper.
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapper.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: bugfix

#11327 [multistage] Ignore virtual columns for select * queries in v2
  pinot-query-planner/src/main/java/org/apache/pinot/query/validate/Validator.java
Labels: multi-stage

#11277 Remove commons-httpclient 3.1 library dependency.
  LICENSE-binary
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-common/pom.xml
  pinot-common/src/main/java/org/apache/pinot/common/http/MultiHttpRequest.java
  pinot-common/src/main/java/org/apache/pinot/common/http/MultiHttpRequestResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/minion/MinionClient.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/SchemaUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/TlsUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/webhdfs/WebHdfsV1Client.java
  pinot-common/src/test/java/org/apache/pinot/common/http/MultiHttpRequestTest.java
  pinot-common/src/test/java/org/apache/pinot/common/minion/MinionClientTest.java
  pinot-connectors/prestodb-pinot-dependencies/pinot-common-jdk8/pom.xml
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/DebugResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRunningQueryResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ServerTableSizeReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableSize.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/SegmentValidationUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/RealtimeConsumerMonitor.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/ClusterInfoAccessor.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/CompletionServiceHelper.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ConsumingSegmentInfoReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerTableTierReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableIngestionStatusHelper.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableMetadataReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableSizeReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableTierReader.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/ConsumingSegmentInfoReaderStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotSegmentsMetadataTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/ServerTableSizeReaderTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableSizeReaderTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableTierReaderTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocatorTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/sql/SqlQueryExecutor.java
  pinot-tools/src/main/java/org/apache/pinot/tools/BootstrapTableTool.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ChangeTableState.java
  pom.xml
Labels: cleanup

#11331 [UI] Show size of table is with replication
  pinot-controller/src/main/resources/app/pages/TablesListingPage.tsx
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
  pinot-controller/src/main/resources/app/pages/Tenants.tsx
Labels: ui

#11338 [UI] change UI to show 'Use Multi-Stage Engine' instead of 'Use V2 Engine'
  pinot-controller/src/main/resources/app/pages/Query.tsx
Labels: ui

#11315 Enhance Minion task management
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/TaskGeneratorUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManagerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SimpleMinionClusterIntegrationTest.java
Labels: enhancement

#11328 Fix CASE WHEN expression operands ordering.
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExprMinMaxTest.java
Labels: bugfix

#11326 Cleanup HLC code
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/FakeStreamConsumerFactory.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigUtilsTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/HLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/impl/fakestream/FakeStreamConsumerFactory.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaConsumerFactory.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamLevelConsumer.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamLevelConsumerManager.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamLevelStreamConfig.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisConsumerFactory.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarConsumerFactory.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarStreamLevelConsumer.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarStreamLevelConsumerManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConsumerFactory.java
Labels: cleanup

#11340 Add a test for CASE WHEN scalar function.
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/NullHandlingIntegrationTest.java
Labels: testing

#11337 bumping the parquet dependency version to `1.12.3`
  LICENSE-binary
  pom.xml
Labels: dependencies

#11341 Add new broker query point for querying multi-stage engine
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransport.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransportFactory.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
Labels: multi-stage

#10927 [refactor] improve disk read for partial upsert handler
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandlerTest.java
Labels: enhancement, refactor

#11319 Consolidate per function/data type integration test
  .github/workflows/scripts/.pinot_test.sh
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/Connection.java
  pinot-integration-tests/pom.xml
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/CustomDataQueryClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/GeoSpatialTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/JsonPathTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/MapTypeTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/SumPrecisionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TextIndicesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ThetaSketchTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TupleSketchTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/VectorTest.java
  pinot-integration-tests/src/test/resources/custom-cluster-integration-test-suite.xml
  pinot-spi/src/test/java/org/apache/pinot/spi/data/readers/AbstractRecordReaderTest.java
Labels: testing

#11349 Fix the wrong query time when the response is empty
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
Labels: bugfix

#11357 [Flaky-test] Fix the flaky SimpleMinionClusterIntegrationTest
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SimpleMinionClusterIntegrationTest.java
Labels: flaky-test

#11334 [multistage] Early terminate SortOperator if there is a limit
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/InMemorySendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/SendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/MailboxContentObserver.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/BlockExchange.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MailboxServiceTest.java
Labels: enhancement, multi-stage

#11350 [multistage] Support TIMESTAMP type and date ops functions
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/LiteralContext.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapper.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TimestampTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/ValueNode.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
Labels: multi-stage

#11371 Remove special routing handling for multiple consuming segments
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/StrictReplicaGroupInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentselector/DefaultSegmentSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentselector/RealtimeSegmentSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentselector/SegmentSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentselector/SegmentSelectorFactory.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentselector/SegmentSelectorTest.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: bugfix, cleanup

#11383 [multistage] Adding rule to skip SINGLE_VALUE aggregation function
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotSingleValueAggregateRemoveRule.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
Labels: bugfix, multi-stage

#11380 Properly handle shutdown of TableDataManager
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/InstanceDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/OfflineTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentOnlineOfflineStateModelFactory.java
Labels: enhancement, bugfix

#11367 disable broker query killing test
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedBrokerQueryKillingTest.java
Labels: flaky-test

#11205 Remove noop
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/MetadataBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/MailboxService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlockUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/ExecutorServiceUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/RoundRobinScheduler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/FilterOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/OpChain.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/OperatorStats.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SetOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/TransformOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/AsyncStream.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/BlockingMultiStreamConsumer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/BlockingStream.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/RoundRobinSchedulerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/FilterOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OpChainTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/TransformOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/dispatch/QueryDispatcherTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
  pinot-query-runtime/src/test/resources/log4j2.xml
Labels: multi-stage

#11377 Add DECIMAL data type to orc record reader
  pinot-plugins/pinot-input-format/pinot-orc/src/main/java/org/apache/pinot/plugin/inputformat/orc/ORCRecordReader.java
  pinot-plugins/pinot-input-format/pinot-orc/src/test/java/org/apache/pinot/plugin/inputformat/orc/ORCRecordExtractorTest.java
Labels: enhancement

#11386 [multistage] Fixing the stale pinot ServerInstance in BrokerRoutingMananger tableTenantServersMap
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
Labels: bugfix, multi-stage

#11392 Fix the thread safety issue for mutable forward index
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/forward/FixedByteMVMutableForwardIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/forward/FixedByteSVMutableForwardIndex.java
Labels: bugfix

#11388 Add extract(quarter/dow/doy) support
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ExtractTransformFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TimestampTest.java
Labels: feature, multi-stage

#11196 Fix for issue when using MinIO as deep store
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
Labels: bugfix

#11393 Fix intermediate stage routing for multi-stage engine
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/SegmentStates.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/RoutingManager.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/testutils/MockRoutingManagerFactory.java
Labels: enhancement, bugfix, multi-stage

#11394 Remove dedicated executor for exchange
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/InMemorySendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/MailboxIdUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/MailboxService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/SendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/BlockExchange.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/BroadcastExchange.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/HashExchange.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/RandomExchange.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/SingletonExchange.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/OpChainExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryConfig.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OpChainTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/BlockExchangeTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/BroadcastExchangeTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/HashExchangeTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/RandomExchangeTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/SingletonExchangeTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
Labels: enhancement, cleanup, multi-stage

#11385 Clean up ScalarTransformFunctionWrapper.
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapper.java
Labels: bugfix

#11348 DISTINCT COUNT/SUM/AVG NULL support.
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BaseDistinctAggregateAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctAvgAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctAvgMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctSumAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctSumMVAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/AllNullQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: feature

#11396 Integration test exceptions fix
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
Labels: flaky-test

#11395 Tests for CASE/WHEN query with NULL support
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/resources/queries/Case.json
Labels: bugfix, testing

#11347 add configuration to fail server startup on non-good status checker
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature

#11345 allow passing freshness checker after an idle threshold
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/IdleTimer.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/IdleTimerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/FreshnessBasedConsumptionStatusChecker.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/FreshnessBasedConsumptionStatusCheckerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes, Configuration

#11400 [multistage] Retain timestampAdd and timestampDiff functions during SqlNode to RexNode conversion
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TimestampTest.java
  pinot-query-planner/src/main/java/org/apache/calcite/sql2rel/PinotConvertletTable.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
Labels: multi-stage

#11405 Minor change to keep all distinct executor consistent
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/BaseRawBigDecimalSingleColumnDistinctExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/BaseRawBytesSingleColumnDistinctExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/BaseRawStringSingleColumnDistinctExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/distinct/raw/RawIntSingleColumnDistinctOnlyExecutor.java
Labels: cleanup

#11401 [multistage] Make join operator more resilient
  pinot-common/src/main/java/org/apache/pinot/common/exception/QueryException.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/hint/PinotHintOptions.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/AbstractPlanNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/JoinNode.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryConfig.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes, Configuration, multi-stage

#11410 [multistage]Refactor current QueryConfig to CommonConstants
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandlerTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/ChannelManager.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/GrpcMailboxServer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryConfig.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/conf/ServerConf.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartBrokerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartServerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartServiceManagerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/utils/PinotConfigUtils.java
Labels: Configuration, multi-stage

#11374 ForwardIndexHandler should only refer to columns in schema
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
Labels: bugfix

#11416 [Multi-stage] Minor fix on executor service
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
Labels: bugfix, multi-stage

#7908 Add broker validation for hybrid tableConfig creation
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: enhancement

#11422 [Multi-stage] Refactor query dispatcher to remove pipeline breaker
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PinotLogicalQueryPlanner.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/OpChainExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/dispatch/QueryDispatcherTest.java
Labels: enhancement, bugfix, cleanup, multi-stage

#11425 Fix a bug in SortOperator that prevents error block to be propogated
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: bugfix, multi-stage

#11424 [Multi-stage] Limit groups for group-by executor
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/hint/PinotHintOptions.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, release-notes, Configuration, bugfix, multi-stage

#11423 [Multi-stage] Fix minor indentation error for physical plan
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/PhysicalExplainPlanVisitor.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
Labels: bugfix, multi-stage

#11210 Add SchemaConformingTransformer to transform records with varying keys to fit a table's schema without dropping fields.
  pinot-core/src/test/java/org/apache/pinot/queries/TransformQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/IngestionUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/IngestionConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/SchemaConformingTransformerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/GenericRow.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamDataDecoderImpl.java
Labels: feature, release-notes

#11266 Support stage parallelism for partitioned table scan
  pinot-query-planner/src/main/java/org/apache/calcite/rel/hint/PinotHintOptions.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/MailboxAssignmentVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-query-runtime/src/test/resources/queries/QueryHints.json
Labels: enhancement, release-notes, multi-stage

#11439 [Multi-stage] Remove PhysicalPlanContext and clean up op-chain executor logic
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/OpChain.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/OpChainExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/LiteralValueOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OpChainTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OperatorTestUtil.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/dispatch/QueryDispatcherTest.java
Labels: cleanup, multi-stage

#11428 Use fromValue instead of valueOf to parse sse config
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
Labels: bugfix

#11444 Skip computation incase of Null Literal for case/when transformation
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunctionTest.java
  pinot-query-runtime/src/test/resources/queries/Case.json
Labels: bugfix

#11456 Allow adding exception to TransferableBlock without converting it to DataBlock
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/blocks/TransferableBlockUtilsTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/FilterOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/TransformOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperatorTest.java
Labels: enhancement, multi-stage

#11452 [multistage]use all servers if no server instance found for intermediate stage
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
Labels: bugfix, multi-stage

#11453 Fix the data type handling in multi-stage engine
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ObjectFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/LiteralContext.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/DataSchemaTest.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/InstanceResponseBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapper.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockTest.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockTestUtils.java
  pinot-core/src/test/java/org/apache/pinot/queries/BigDecimalQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExprMinMaxTest.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotAggregateLiteralAttachmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/LiteralHintUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/AggregateNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/FilterNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/ProjectNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/ValueNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/WindowNode.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/FilterOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageAggregationExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/TransformOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FilterOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FunctionOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/LiteralOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/ReferenceOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/TransformOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/TransformOperandFactory.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/AggregationUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/TypeUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/SubmissionService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/blocks/TransferableBlockUtilsTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/FilterOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/LiteralValueOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OpChainTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/TransformOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperatorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/BooleanUtils.java
Labels: enhancement, bugfix, cleanup, multi-stage

#11458 [Flaky-test] Fix UpsertTableSegmentPreloadIntegrationTest
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableSegmentPreloadIntegrationTest.java
Labels: flaky-test

#11369 Upgrade hadoop version to 3.2.4
  pinot-distribution/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-file-system/pinot-hdfs/pom.xml
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies, release-notes, hadoop

#11457 Turn on expand identifier in SqlValidator config
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/validate/Validator.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/resources/queries/BasicQueryPlans.json
Labels: bugfix, multi-stage

#11443 only emit throttling metrics when throttling is allowed
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeConsumptionRateManager.java
Labels: bugfix

#11467 sql between function should be inclusive
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ComparisonFunctions.java
Labels: bugfix

#11465 Use getResponseBodyAsStream instead of getResponseBody
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/BrokerCache.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransport.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/response/ControllerResponseFuture.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/response/ControllerTenantBrokerResponse.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/response/SchemaResponse.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/response/TableResponse.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
Labels: enhancement

#11466 [multistage] fix the logic of parsing float literal
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/request/RequestUtilsTest.java
Labels: bugfix, multi-stage

#11454 Validate ArrayToMv function presence only in leaf stage
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/PinotDispatchPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/validation/ArrayToMvValidationVisitor.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/queries/ResourceBasedQueryPlansTest.java
  pinot-query-planner/src/test/resources/queries/BasicQueryPlans.json
  pinot-query-planner/src/test/resources/queries/ValidationErrorPlan.json
Labels: enhancement, multi-stage

#11450 Upgrading Apache Helix to latest version
  pom.xml
Labels: dependencies
