Repository apache/pinot, pull requests merged in 2023-07, with the labels that each got.

#11006 Add CLPDecodeRewriter to make it easier to call clpDecode with a column-group name rather than the individual columns.
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/CLPDecodeRewriter.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/rewriter/CLPDecodeRewriterTest.java
  pinot-plugins/pinot-input-format/pinot-clp-log/pom.xml
  pinot-plugins/pinot-input-format/pinot-clp-log/src/main/java/org/apache/pinot/plugin/inputformat/clplog/CLPLogRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-clp-log/src/test/java/org/apache/pinot/plugin/inputformat/clplog/CLPLogRecordExtractorTest.java
Labels: feature

#11022 Fix a flaky test OfflineGRPCServerIntegrationTest.testQueryingGrpcServer.
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineGRPCServerIntegrationTest.java
Labels: flaky-test

#10891 Ensure min/max value generation in the segment metadata.
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/columnminmaxvalue/ColumnMinMaxValueGenerator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
Labels: enhancement

#11015 Apply some allocation optimizations on GrpcSendingMailbox
  pinot-common/src/main/java/org/apache/pinot/common/datablock/BaseDataBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
Labels: enhancement, performance

#10993 Update getTenantInstances call for controller and separate POST operations on it
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTenantRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerInstanceToggleTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: backward-incompat, bugfix

#10991 [enhance]: When enable case-insensitive, don't allow to add newly col…
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SchemaUtils.java
Labels: enhancement

#11044 Reverts strictly skipping removeNull from comparison column
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertTest.java
Labels: bugfix

#11036 [multistage] clean up aggregate v1 function for v2 planner
  pinot-query-planner/src/main/java/org/apache/calcite/rel/hint/PinotHintOptions.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/hint/PinotHintStrategyTable.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/AggregateNode.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
  pinot-query-planner/src/test/resources/queries/GroupByPlans.json
  pinot-query-planner/src/test/resources/queries/OrderByPlans.json
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageAggregationExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/resources/queries/Aggregates.json
  pinot-query-runtime/src/test/resources/queries/QueryHints.json
Labels: cleanup, multi-stage

#11043 Update maven-core to 3.8.2
  contrib/pinot-fmpp-maven-plugin/pom.xml
Labels: dependencies

#11049 Format double 0 properly to compare with h2 results
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
Labels: bugfix

#11054 Upgrade swagger from 1.6.6 to 1.6.9
  pom.xml
Labels: dependencies

#11055 Upgrade netty from 4.1.79.Final to 4.1.94.Final
  pom.xml
Labels: dependencies

#11067 Updated calcite version to 1.30.0
  pom.xml
Labels: dependencies

#11014 Fix double-checked locking in ConnectionFactory
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/ConnectionFactory.java
Labels: pinot-client, bugfix

#11051 Remove presto-pinot-driver and pinot-java-client-jdk8 module
  .github/workflows/pinot_tests.yml
  pinot-connectors/prestodb-pinot-dependencies/pinot-java-client-jdk8/pom.xml
  pinot-connectors/prestodb-pinot-dependencies/pinot-java-client-jdk8/src
  pinot-connectors/prestodb-pinot-dependencies/pom.xml
  pinot-connectors/prestodb-pinot-dependencies/presto-pinot-driver/pom.xml
  pinot-connectors/prestodb-pinot-dependencies/presto-pinot-driver/src/main/java/org/apache/pinot/connector/presto/grpc/PinotStreamingQueryClient.java
  pinot-connectors/prestodb-pinot-dependencies/presto-pinot-driver/src/main/java/org/apache/pinot/connector/presto/grpc/Utils.java
  pinot-connectors/prestodb-pinot-dependencies/presto-pinot-driver/src/main/java/org/apache/pinot/connector/presto/plugin/metrics/NoopPinotMetricFactory.java
Labels: cleanup

#11069 Make RequestUtils always return a string array when getTableNames
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/Connection.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TPCHQueryIntegrationTest.java
Labels: bugfix

#10906 pull up awssdk version to top pom.xml
  pinot-integration-test-base/pom.xml
  pinot-integration-tests/pom.xml
  pinot-plugins/pinot-file-system/pinot-s3/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: cleanup

#11033 Fix BOOL_AND and BOOL_OR result type
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/AggregationResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BaseBooleanAggregationFunction.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageAggregationExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: bugfix, multi-stage

#11064 [cleanup] Consolidate some query and controller/broker methods in integration tests
  pinot-connectors/pinot-flink-connector/src/test/java/org/apache/pinot/connector/flink/sink/PinotSinkIntegrationTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/AdminConsoleIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/AggregateMetricsClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BrokerServiceDiscoveryIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ControllerServiceDiscoveryIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/KafkaConfluentSchemaRegistryAvroMessageDecoderRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MergeRollupMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineCustomTenantIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/NullHandlingIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SSBQueryIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentGenerationMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentUploadIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentWriterUploaderIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TPCHQueryIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ThetaSketchIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: cleanup, testing

#11068 [multistage] Fix aggregate type issues
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotAggregateReduceFunctionsRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/calcite/sql/fun/PinotOperatorTable.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
  pinot-query-planner/src/test/resources/queries/GroupByPlans.json
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/OrderByPlans.json
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/FilterOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageAggregationExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/TransformOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FilterOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/FunctionInvokeUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/TypeUtils.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: multi-stage

#11020 allow to preload segments with upsert snapshots to speedup table loading
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/TableDataManagerProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerAcquireSegmentTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManagerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManagerFactory.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertComparisonColTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManagerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
  pinot-server/src/test/java/org/apache/pinot/server/api/BaseResourceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
  pinot-tools/src/main/resources/examples/stream/upsertMeetupRsvp/upsertMeetupRsvp_realtime_table_config.json
Labels: feature, release-notes

#11048 [multistage] Register Pinot Transform Functions into Calcite
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionRegistry.java
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-common/src/test/java/org/apache/pinot/common/function/FunctionDefinitionRegistryTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/JsonPathClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineJsonPathClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/sql/PinotSqlTransformFunction.java
  pinot-query-planner/src/main/java/org/apache/calcite/sql/fun/PinotOperatorTable.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/resources/queries/JsonType.json
Labels: feature, multi-stage

#11057 Support for new dataTime format in `DateTimeGranularitySpec` without explicitly setting size
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DateTimeConversionTransformFunctionTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeGranularitySpec.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/DateTimeGranularitySpecTest.java
Labels: enhancement

#11079 Consistently use isNullRow in transform function tests.
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/AdditionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/AndOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ArrayBaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BinaryOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CastTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CoalesceTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DateTimeConversionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DateTimeTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DivisionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/EqualsTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ExtractTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/GreaterThanOrEqualTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LessThanOrEqualTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LessThanTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LogicalOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ModuloTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/MultiplicationTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/NotEqualsTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/NotOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/OrOperatorTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/PowerTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/RoundDecimalTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapperTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/SingleParamMathTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/SubtractionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/TimeConversionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/TrigonometricFunctionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/TruncateDecimalTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/TupleSelectionTransformFunctionsTest.java
Labels: cleanup, testing

#11080 Delete an obsolete TODO.
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/InTransformFunction.java
Labels: cleanup

#11081 Update jackson libraries to 2.13.5
  pom.xml
Labels: dependencies

#11083 Upgraded commons-cli and commons-lang3 package version.
  pom.xml
Labels: dependencies

#11082 Minor fix on AddTableCommand.toString()
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTableCommand.java
Labels: bugfix

#11091 Upgrade swagger-ui from 3.23.11 to 5.1.0
  LICENSE-binary
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionAdminApiApplication.java
  pinot-server/src/main/java/org/apache/pinot/server/api/AdminApiApplication.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-tools/src/main/java/org/apache/pinot/tools/service/PinotServiceManagerAdminApiApplication.java
  pom.xml
Labels: dependencies

#11094 [multistage] Adding more alias for Transform function type registry
  .github/workflows/scripts/.pinot_quickstart.sh
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
Labels: multi-stage

#11111 Delete Dockerfile_mio
  docker/images/pinot/Dockerfile_mio
Labels: cleanup

#11107 Allow offloading multiple segments from same table in parallel
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
Labels: bugfix

#11109 Use PUT request to enable/disable table/instance
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerInstanceToggleTest.java
Labels: rest-api

#11104 [multistage] Adding v2 map function supports
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MapTypeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineMapTypeClusterIntegrationTest.java
Labels: multi-stage

#11114 [multistage] add option for table hints
  pinot-query-planner/src/main/java/org/apache/calcite/rel/hint/PinotHintOptions.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/hint/PinotHintStrategyTable.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/AbstractPlanNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/TableScanNode.java
Labels: multi-stage

#11137 Separate BitmapBasedFilterOperator into two filter operators.
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/BitmapBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/FilterOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/InvertedIndexFilterOperator.java
Labels: refactor

#11146 Fix a bug when use range index to solve EQ predicate
  pinot-core/src/test/java/org/apache/pinot/queries/RangeQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BitSlicedRangeIndexReader.java
Labels: bugfix

#11136 Returning 403 status code in case of authorization failures
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BasicAuthBatchIntegrationTest.java
Labels: enhancement

#11154 Fix the NPE when query response error stream is null
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
Labels: bugfix

#11155 Fix NPE when nested query doesn't have gapfill
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BrokerReduceService.java
Labels: bugfix

#10915 [Upsert TTL] Add Watermark for each partitions for Primary key cleanup
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/ThreadSafeMutableRoaringBitmap.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
Labels: feature

#11156 Fix compatibility test
  .github/workflows/scripts/.pinot_compatibility_verifier.sh
Labels: flaky-test

#11052 [multistage] support physical plan in Explain queries
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/codegen/config.fmpp
  pinot-common/src/main/codegen/includes/parserImpls.ftl
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/parser/SqlPhysicalExplain.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/PhysicalExplainPlanVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/PlanNodeVisitor.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/queries/ResourceBasedQueryPlansTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
Labels: feature, multi-stage

#11143 [multistage] Register theta sketch aggregation functions in v2 query engine
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ThetaSketchIntegrationTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: multi-stage

#11164 Make interface methods non private, for java 8 compatibility
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarMetadataExtractor.java
Labels: bugfix

#11163 Simplify compatibility verifier to avoid test against same commit hash
  .github/workflows/scripts/.pinot_compatibility_verifier.sh
  compatibility-verifier/checkoutAndBuild.sh
Labels: enhancement, testing

#11158 Increment nextDocId even if geo indexing fails
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/geospatial/MutableH3Index.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/H3IndexTest.java
Labels: bugfix

#11171 [multistage]fix count star handling in v1 planner
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTest.java
Labels: bugfix

#11077 Instance retag validation check api
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TagNameUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/InstanceTagUpdateRequest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/OperationValidationResponse.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotInstanceRestletResourceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: rest-api

#11166 Fix the issue of consuming segment entering ERROR state due to stream connection errors
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
Labels: bugfix

#11169 In TableRebalancer, remove instance partitions only when reassigning instances
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
Labels: bugfix, cleanup

#11176 Remove JDK 8 unsupported code
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarConfigTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarMetadataExtractorTest.java
Labels: bugfix

#10990 Updated code for setting value of segment min/max property.
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/columnminmaxvalue/ColumnMinMaxValueGenerator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentGenerationWithMinMaxTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
Labels: enhancement

#11110 Add stat to track number of segments that have valid doc id snapshots
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: metrics

#11142 Add brokerId and brokerReduceTimeMs to the broker response metadata
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/BrokerResponse.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/ExecutionStats.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseStats.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/dispatch/QueryDispatcherTest.java
Labels: enhancement

#11117 [multistage] bridge v2 query engine for leaf stage v1 multi-value column
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionRegistry.java
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/QueryGenerator.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
Labels: multi-stage

#11186 bugfix: safely multiply integers to prevent overflow
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/forward/FixedByteMVMutableForwardIndex.java
Labels: bugfix

#11016 Rbac impl
  pinot-broker/src/main/java/org/apache/pinot/broker/api/AccessControl.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerAppConfigs.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerDebug.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerHealthCheck.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerLogger.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerRouting.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/AuthenticationFilter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandlerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandlerTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AccessControl.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AuthenticationFilter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/DebugResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/LLCSegmentCompletionHandlers.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotAccessControlUserRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotClusterConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerAppConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerAuthResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerHealthCheck.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerLogger.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerPeriodicTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotIngestionRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceAssignmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLeadControllerRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRunningQueryResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableIndexingConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableInstances.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableMetadataConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableSchema.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableSegmentConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableTenantConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotUpsertRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotVersionRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableSize.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableViews.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ZookeeperResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/services/PinotBrokerService.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Actions.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Authorize.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/FineGrainedAccessControl.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/FineGrainedAuthUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/TargetType.java
Labels: feature, security

#11157 Move largest comparison value update logic out of map access
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
Labels: enhancement, upsert

#11197 Remove Java 8 incompatible code
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/AndFilterOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/NotFilterOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/OrFilterOperatorTest.java
Labels: bugfix

#11193 Fix the storage quota check for metadata push
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/SegmentValidationUtils.java
Labels: enhancement

#11191 [multistage] Support Geometry queries
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/GeoToH3Function.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/GeoSpatialClusterIntegrationTest.java
Labels: feature, multi-stage

#11078 Column filter operators NULL support.
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/BaseColumnFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/FilterOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/InvertedIndexFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/RangeIndexBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/ScanBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/SortedIndexBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/FilterPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/operator/StarTreeFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
Labels: feature

#11192 Optimize DimensionTableDataManager to abort unnecesarry loading
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/FastLookupDimensionTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/MemoryOptimizedDimensionTable.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentRecordReader.java
Labels: enhancement

#11198 Delete filtering NULL support dead code paths.
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/SVScanDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/SVScanDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/ScanBasedFilterOperator.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkScanDocIdIterators.java
Labels: cleanup

#11199 Refine isNullsLast and isAsc functions.
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/utils/QueryContextConverterUtils.java
Labels: enhancement

#11144 [multistage][agg] support agg with filter
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/AggregateNode.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageAggregationExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/block/DataBlockValSet.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/block/FilteredDataBlockValSet.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/resources/queries/FilterAggregates.json
Labels: feature, multi-stage

#11201 [multistage] Return empty block if MailboxRecv nodes have no paired MailboxSender
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/DispatchableSubPlan.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/PinotDispatchPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseMailboxReceiveOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
Labels: bugfix, multi-stage

#11215 Fix the repeat planning for multi-stage query
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
Labels: bugfix, multi-stage

#11217 Enhance hash exchange
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/HashExchange.java
Labels: enhancement, multi-stage

#11223 Fix the escape/unescape issue for property value in metadata
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreatorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DimensionFieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/MetricFieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/CommonsConfigurationUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/env/CommonsConfigurationUtilsTest.java
Labels: bugfix

#11225 UI: use new PUT api's to enable/disable table/instance state
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/pages/InstanceDetails.tsx
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
Labels: ui

#11219 Clean up RangeIndexBasedFilterOperator.
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/RangeIndexBasedFilterOperator.java
Labels: cleanup

#11228 Fix null pointer exception in segment debug endpoint
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/DebugResource.java
Labels: bugfix
