Repository apache/pinot, pull requests merged in 2023-10, with the labels that each got.

#11713 Adding a metric to measure total thread cpu time for a table
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java
Labels: observability

#11575 Add metrics to export netty direct memory used and max
  pinot-common/src/main/java/org/apache/pinot/common/metrics/AbstractMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMetrics.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryServer.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerChannels.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
Labels: metrics

#11717 [Flaky-test] Fix TableCacheTest
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/TableCacheTest.java
Labels: flaky-test

#11720 [bugfix] Segment download URI is invalid after same CRC refresh using tar push
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/ZKOperator.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: flaky-test, bugfix

#11716 Use string to represent BigDecimal response
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/DataSchemaTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BigDecimalQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExprMinMaxTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
Labels: documentation, pinot-client, bugfix, refactor

#11721 Added UTs for null handling in CaseTransform function.
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunctionTest.java
Labels: testing

#11462 upgrade testng version to 7.8.0
  pinot-clients/pinot-java-client/pom.xml
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-common/pom.xml
  pinot-connectors/pinot-spark-2-connector/pom.xml
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-connectors/pinot-spark-common/pom.xml
  pinot-controller/pom.xml
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pom.xml
Labels: flaky-test, testing

#11650 Support excluding time values in SimpleSegmentNameGenerator
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-common/src/main/java/org/apache/pinot/plugin/ingestion/batch/common/SegmentGenerationTaskRunner.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/IngestionUtils.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/name/SimpleSegmentNameGenerator.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/creator/name/SimpleSegmentNameGeneratorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/BatchConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/BatchConfigProperties.java
Labels: enhancement, Configuration, ingestion

#11723 Proto null fix
  pinot-common/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/pom.xml
  pinot-plugins/pinot-file-system/pinot-gcs/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufRecordExtractorLowLevelTest.java
  pinot-server/pom.xml
  pom.xml
Labels: ingestion

#11711 Post build index creation
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/dictionary/DictionaryIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/nullvalue/NullValueIndexType.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/IndexType.java
Labels: enhancement, release-notes, Configuration, ingestion

#11671 Move scala dependencies to root pom
  pinot-connectors/pinot-flink-connector/pom.xml
  pinot-connectors/pinot-spark-2-connector/pom.xml
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-connectors/pinot-spark-common/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies

#11731 Modify StPoint scalar function signature for v2 compatibility
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/ScalarFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/StPointFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3IndexFilterOperator.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/GeoSpatialTest.java
Labels: backward-incompat, geo, multi-stage

#11591 Throw exception when schema name doesn't match table name during table creation
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotBrokerRestletResourceStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotFileUploadTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotInstanceRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotSegmentRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTableRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTenantRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableConfigsRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableViewsTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerInstanceToggleTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerSentinelTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/PinotResourceManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/TableCacheTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/tenant/TenantRebalancerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/SegmentLineageCleanupTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/validation/ValidationManagerStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/validation/ValidationManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManagerTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/AggregateMetricsClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ControllerPeriodicTasksIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/DedupIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MergeRollupMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedBrokerQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedServerQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterServerCPUTimeQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RealtimeKinesisIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RealtimeToOfflineSegmentsMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentPartitionLLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SimpleMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertCompactionMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableSegmentPreloadIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableSegmentUploadIntegrationTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/pinot-plugins.tar.gz
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/src/test/java/org/apache/pinot/plugin/ingestion/batch/hadoop/HadoopSegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/test/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/test/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/test/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunnerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
Labels: documentation, incompatible, Configuration

#11709 update map initial capacity
  pinot-common/src/main/java/org/apache/pinot/common/datablock/BaseDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/BaseDataTable.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV2.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV3.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV4.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/AsyncQueryResponse.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/RealtimeSegmentConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/dictionary/BaseOffHeapMutableDictionary.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/MoveReplicaGroup.java
Labels: performance

#11747 Add pre-aggregation support for distinct count hll++
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/mutable/FixedByteSVMutableForwardIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: enhancement

#11742 update lombok version and config
  lombok.config
  pom.xml
Labels: dependencies

#11757 Fix trivy CI issue
  .github/workflows/pinot_vuln_check.yml
  .github/workflows/scripts/.pinot_vuln_check.sh
Labels: testing

#11568 Add integration test for rebalance in upsert tables
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PartialUpsertTableRebalanceIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: testing

#11741 [test]more geospatial v2 integration tests
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/GeoSpatialTest.java
Labels: testing

#11752 Fix PeerServerSegmentFinder not respecting HTTPS port
  pinot-core/src/main/java/org/apache/pinot/core/util/PeerServerSegmentFinder.java
Labels: bugfix

#11574 Fix schema name in table config during controller startup
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/cleanup/SchemaCleanupTaskStatelessTest.java
Labels: incompatible, metrics, cleanup

#11770 Fix flaky TableViewsTest
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableViewsTest.java
Labels: flaky-test

#11778 Adding support for generating data in JSON format.
  pinot-controller/src/main/java/org/apache/pinot/controller/recommender/data/generator/DataGenerator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/GenerateDataCommand.java
Labels: feature

#11762 Enhance Broker reducer to handle expression format change
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/AggregationDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BrokerReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/DistinctDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/ReducerDataSchemaUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/SelectionDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/SelectionOnlyStreamingReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/query/reduce/ReducerDataSchemaUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/selection/SelectionOperatorUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctQueriesTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
Labels: enhancement, cleanup

#11746 [multistage] framework to back-propagate metadata across opChains
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/InMemorySendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/SendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/ChannelUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/MailboxContentObserver.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/MailboxStatusObserver.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LiteralValueOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/BlockExchange.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/AsyncStream.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/BlockingMultiStreamConsumer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OpChainTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/BlockExchangeTest.java
Labels: enhancement, multi-stage

#11702 Upgrade spark from 3.2 to 3.5
  pinot-common/pom.xml
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-distribution/pinot-assembly.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentMetadataPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentTarPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentUriPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/resources/segmentCreationAndMetadataPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/resources/segmentCreationAndTarPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/resources/segmentCreationAndUriPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/resources/segmentCreationJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/resources/segmentTarPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/resources/segmentUriPushJobSpec.yaml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/test/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunnerTest.java
  pinot-plugins/pinot-batch-ingestion/pom.xml
  pinot-spi/pom.xml
  pom.xml
Labels: dependencies

#11793 [UI] use indexes API instead of fetching all segment metadata
  pinot-controller/src/main/resources/app/components/Homepage/Operations/ReloadStatusOp.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
Labels: ui

#11804 Separate pr test scripts and codecov
  .github/workflows/pinot_tests.yml
  .github/workflows/scripts/.pinot_test.sh
  .github/workflows/scripts/pr-tests/.pinot_tests_build.sh
  .github/workflows/scripts/pr-tests/.pinot_tests_custom_integration.sh
  .github/workflows/scripts/pr-tests/.pinot_tests_integration.sh
  .github/workflows/scripts/pr-tests/.pinot_tests_unit.sh
Labels: testing

#11784 Fix regression in ForwardIndexType detected in https://github.com/apache/pinot/issues/11745
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexType.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexTypeTest.java
Labels: bugfix

#11805 Minor improve on leaf execution stats NPE handling
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
Labels: enhancement, multi-stage

#11763 [SQL Compatible] Fix literal type handling
  pinot-common/src/main/java/org/apache/pinot/common/request/context/LiteralContext.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/PinotDataType.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/http/HttpClient.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/ExprMinMaxRewriter.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/StPointFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3InclusionIndexFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3IndexFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayLiteralTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/IntegerTupleSketchAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/common/request/context/LiteralContextTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/AdditionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ArrayLiteralTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DivisionTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/QueriesTestUtils.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/GeoSpatialTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
Labels: enhancement, incompatible, release-notes, bugfix

#11807 Add Links to Instance in Table and Segment View
  pinot-controller/src/main/resources/app/pages/SegmentDetails.tsx
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
Labels: user-experience, ui

#11782 Use expected version in api for table config read modify write change
  pinot-broker/src/test/java/org/apache/pinot/broker/queryquota/HelixExternalViewBasedQueryQuotaManagerTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: cleanup, refactor

#11708 Add more information in RequestContext class
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/DefaultRequestContext.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/RequestContext.java
Labels: pinot-client

#11809 Allow schema to be created with JSON config in UI
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddSchemaOp.tsx
Labels: feature, ui

#11792 11085: Added commons-configuration2 dependency.
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/pinot-plugins.tar.gz
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-file-system/pinot-hdfs/pom.xml
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies

#11806 [Flaky-test] Fix LLCRealtimeClusterIntegrationTest.testReset
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: flaky-test

#10653 Remove actually unsupported config that selectively enable nullable columns
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/nullvalue/NullValueIndexType.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/AbstractIndexType.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/MergedColumnConfigDeserializer.java
Labels: cleanup

#11803 Fix job submission time for reload and foce commit job
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: bugfix

#11808 Add tests for zstd compressed parquet files.
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetNativeRecordReaderFullTest.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetRecordReaderTest.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/resources/airlineStats.zstd.parquet
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/resources/baseballStats.zstd.parquet
Labels: testing, plugins

#11818 When reading server to segments map, exclude OFFLINE segments
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ConsumingSegmentInfoReader.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/ConsumingSegmentInfoReaderStatelessTest.java
Labels: bugfix

#11817 clean up integration test pom file
  .github/workflows/scripts/pr-tests/.pinot_tests_build.sh
  .github/workflows/scripts/pr-tests/.pinot_tests_unit.sh
  pinot-integration-tests/pom.xml
  pom.xml
Labels: testing

#11710 Reduce direct memory OOM chances on broker with a per server query response size budget
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/QueryConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes, Configuration

#11740 Add support to retry failed table rebalance
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/controller.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/pinot.yml
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerTimer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ServerRebalanceJobStatusResponse.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/NoOpTableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceJobConstants.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceResult.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceContext.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceProgressStats.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/ZkBasedTableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/ZkBasedTenantRebalanceObserver.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerPeriodicTaskStarterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceCheckerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TestZkBasedTableRebalanceObserver.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Actions.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PartialUpsertTableRebalanceIntegrationTest.java
Labels: feature, documentation, release-notes, Configuration

#11608 Updated the response for reload API to be pretty printed
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
Labels: rest-api

#11839 Fix type cast issue with dateTimeConvert scalar function
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DateTimeConvert.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/DateTimeFunctionsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
Labels: bugfix, multi-stage

#11842 Expose GRPC metrics
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/server.yml
Labels: metrics

#11844 Remove pinot-integration-tests from unit test suite 2
  .github/workflows/scripts/pr-tests/.pinot_tests_unit.sh
  pinot-integration-tests/pom.xml
Labels: testing

#11830 Adding fine-grained authorization checks for multi-stage query engine
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
Labels: feature, security

#11838 Log query and emit metrics for grpc request and multi-stage leaf stage
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/server.yml
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/query/logger/ServerQueryLogger.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-server/src/main/java/org/apache/pinot/server/conf/ServerConf.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, release-notes, Configuration, bugfix, refactor, observability, multi-stage

#11840 Fix the bug of reading decimal value stored in int32 or int64 in ParquetNativeRecordReader
  pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetNativeRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetReaderLogicalTypesTest.java
Labels: ingestion, bugfix

#11822 Add ArrayAgg aggregation function
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/AggregationResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctStringFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggStringFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggStringFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/common/ObjectSerDeUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ArrayAggQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ArrayTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/TypeUtils.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature, release-notes, multi-stage

#11753 Upgrade confluent libraries to 7.2.6 to fix some errors related to optional proto fields
  pinot-plugins/pinot-file-system/pinot-gcs/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/KafkaConfluentSchemaRegistryProtoBufMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufConfluentSchemaTest.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/sample.proto
  pom.xml
Labels: dependencies, bugfix

#11776 Update Segment builder to use column major tables
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentCreator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/IndexingConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/StreamIngestionConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
Labels: enhancement, release-notes

#11853 fixing arrayAgg null support
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctStringFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggStringFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ArrayTest.java
Labels: bugfix

#11860 Fixing flaky ArrayAgg test
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ArrayTest.java
Labels: flaky-test

#11864 Log upsert config when initializing the metadata manager
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
Labels: observability

#11863 [bugfix] Agg literal attach should happen after BASIC_RULES
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotAggregateLiteralAttachmentRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-runtime/src/test/resources/queries/StatisticAggregates.json
  pinot-query-runtime/src/test/resources/queries/UDFAggregates.json
Labels: bugfix, multi-stage

#11814 Multiple JDBC Driver fixes to support Jetbrains Intellij/Datagrip database tooling
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotConnectionMetaData.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotPreparedStatement.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/base/AbstractBaseConnection.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/base/AbstractBaseStatement.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/PinotControllerTransport.java
Labels: pinot-client, bugfix

#11865 move pinot-segment-local test from unit test suite 1 to 2
  .github/workflows/scripts/pr-tests/.pinot_tests_unit.sh
  pinot-spi/src/test/java/org/apache/pinot/spi/data/readers/AbstractRecordExtractorTest.java
Labels: testing

#11799 pinot-s3: add woodstox-core to dependencies and fix stack trace
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/PinotFSSegmentUploader.java
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
  pinot-plugins/pinot-file-system/pinot-s3/pom.xml
  pom.xml
Labels: dependencies

#11852 Config Validation: upsert table should not assign COMPLETED segments to another server
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
Labels: upsert

#11811 Add dropOutOfOrderRecord config to drop out-of-order events
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
Labels: feature, release-notes, upsert

#11800 Support helm chart server separate liveness and readiness probe endpoints
  helm/pinot/README.md
  helm/pinot/templates/server/statefulset.yaml
Labels: kubernetes

#11826 add LazyRow abstraction for previously indexed record
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/LazyRow.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/readers/LazyRowTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandlerTest.java
Labels: upsert, refactor

#11883 Fix the NPE for rebalance retry
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceChecker.java
Labels: bugfix

#11889 Fixing unit-test-2 build
  .github/workflows/scripts/pr-tests/.pinot_tests_build.sh
Labels: flaky-test, testing

#11885 Fix multiple consecutive Exchange returning empty response
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PlanFragmenter.java
  pinot-query-runtime/src/test/resources/queries/WithStatements.json
Labels: bugfix, multi-stage

#11861 Randomize integration tests port assignments
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/AdminConsoleIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/GrpcBrokerClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiNodesOfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineGRPCServerIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineSecureGRPCServerIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PartialUpsertTableRebalanceIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ServerStarterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertCompactionMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/CustomDataQueryClusterIntegrationTest.java
Labels: flaky-test, testing

#11890 Add 'jsonKey' option for GcsPinotFS
  pinot-plugins/pinot-file-system/pinot-gcs/src/main/java/org/apache/pinot/plugin/filesystem/GcsPinotFS.java
Labels: Configuration, plugins

#11859 Adding support for listing dimension tables in /tables API
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: feature, rest-api

#11882 [multistage][bugfix] eliminate multiple exchanges
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotExchangeEliminationRule.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
Labels: bugfix, multi-stage

#11578 pre-configuration based assignment
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstanceAssignmentConfigUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceAssignmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentDriver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstancePartitionSelectorFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/MirrorServerSetInstancePartitionSelector.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentTest.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Actions.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/assignment/InstanceAssignmentConfig.java
Labels: feature, Configuration

#11907 modify TimeValidationTransformer to mark rows as invalid in case primary time column is out of range
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/TimeValidationTransformer.java
Labels: ingestion, bugfix

#11592 Add isPartialResult flag to broker response
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/ExecutionStats.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
Labels: enhancement, release-notes

#11884 Capture auth phase timing even if access is denied
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
Labels: bugfix

#11744 Add compression configuration for functionColumnPairs to StartreeIndexConfigs
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/StarTreeClusterIntegrationTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkColumnValueSegmentPruner.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkOrderByQueries.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkQueries.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/StarTreeBuilderUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/BaseSingleTreeBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/MultipleTreesBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeIndexSeparator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeV2BuilderConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/store/StarTreeLoaderUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeIndexSeparatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/AggregationFunctionColumnPair.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/AggregationSpec.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/StarTreeV2Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/StarTreeV2Metadata.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/SegmentMetadataFetcher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/StarTreeAggregationConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/StarTreeIndexConfig.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/table/StarTreeIndexConfigTest.java
Labels: feature, release-notes, Configuration

#11869 Deprecate _segmentAssignmentStrategy in SegmentsValidationAndRetentionConfig
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/SegmentsValidationAndRetentionConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/IngestionConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/IngestionConfigUtilsTest.java
Labels: enhancement

#11908 [multistage][bugfix] fix mailbox visitor mismatch receive/send
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/MailboxAssignmentVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/QueryHints.json
Labels: bugfix, multi-stage

#11913 UI: show partial index in reload status
  pinot-controller/src/main/resources/app/components/Homepage/Operations/ReloadStatusOp.tsx
Labels: ui
