Repository apache/pinot, pull requests merged in 2023-01, with the labels that each got.

#10048 Fix local segment tar copy
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentPushUtils.java
Labels: bugfix

#10000 [Issue 7519] Adds support for multiple filtered/unfiltered aggregations with GROUP BY
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredGroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/GroupByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/DefaultGroupByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/GroupByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/groupby/GroupByTrimTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FilteredAggregationsTest.java
Labels: feature

#10027 Repurpose MinionInstancesCleanupTask to StaleInstancesCleanupTask to remove stale broker/server instances
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/cleanup/StaleInstancesCleanupTask.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/MinionInstancesCleanupTask.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/cleanup/StaleInstancesCleanupTaskStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/MinionInstancesCleanupTaskStatelessTest.java
Labels: enhancement, release-notes, 0.13.0

#10034 Create metadata only tarball for metadata push job
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-common/src/main/java/org/apache/pinot/plugin/ingestion/batch/common/SegmentGenerationJobUtils.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/src/main/java/org/apache/pinot/plugin/ingestion/batch/hadoop/HadoopSegmentCreationMapper.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3.2/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/main/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunner.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentPushUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/Constants.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/PushJobSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/SegmentGenerationJobSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/SegmentGenerationTaskSpec.java
Labels: release-notes, 0.13.0

#10057 print explain plan when integration test query fails to ease debugging
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
Labels: testing

#10063 output explain plan when compatibility verifier rejects change in query execution
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/QueryOp.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
  pinot-tools/src/main/java/org/apache/pinot/tools/utils/ExplainPlanUtils.java
Labels: testing

#10068 [Cleanup] Remove ConvertToRawIndexTask
  pinot-core/src/main/java/org/apache/pinot/core/common/MinionConstants.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/RawIndexConverter.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ConvertToRawIndexMinionClusterIntegrationTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/converttorawindex/ConvertToRawIndexTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/converttorawindex/ConvertToRawIndexTaskExecutorFactory.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/converttorawindex/ConvertToRawIndexTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/converttorawindex/ConvertToRowIndexTaskProgressObserverFactory.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/TaskRegistryTest.java
Labels: incompatible, cleanup

#10031 Optimize TableRebalancer to not always recompute target assignment when IS changes
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
Labels: enhancement

#10072 upgrade to RoaringBitmap 0.9.38
  LICENSE-binary
  pom.xml
Labels: dependencies

#10078 Fixing the issue that S3PinotFS cannot open a file > 2GB
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
Labels: bugfix

#10080 logging error if tableConfig is null while retrieving all tables for a tenant
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTenantRestletResourceTest.java
Labels: bugfix

#10044 push utf8 comparison down into ValueReader
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/FixedByteValueReaderWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/ValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/ValueReaderComparisons.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/VarLengthValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BaseImmutableDictionary.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readerwriter/ValueReaderComparisonTest.java
Labels: performance

#10083 report minion task queue metrics at table level
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/controller.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/pinot.yml
  pinot-common/src/main/java/org/apache/pinot/common/metrics/AbstractMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMetrics.java
  pinot-common/src/test/java/org/apache/pinot/common/metrics/AbstractMetricsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/TaskMetricsEmitter.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/TaskMetricsEmitterTest.java
Labels: enhancement, metrics

#10093 Fix flaky ForwardIndexHandlerTest
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
Labels: flaky-test

#10071 fix(ui): show query result along with error message if both exist
  pinot-controller/src/main/resources/app/pages/Query.tsx
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
Labels: ui, bugfix

#10043 evaluate equals queries against range index when available
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/FilterOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/RangeIndexBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/EqualsPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RangePredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/traits/DoubleRange.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/traits/DoubleValue.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/traits/FloatRange.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/traits/FloatValue.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/traits/IntRange.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/traits/IntValue.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/traits/LongRange.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/traits/LongValue.java
  pinot-core/src/test/java/org/apache/pinot/queries/RangeQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BitSlicedRangeIndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/BitSlicedIndexCreatorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/RangeIndexReader.java
Labels: performance

#10084 [Clean up] Remove the deprecated RecordTransformer
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/transformer/NoOpRecordTransformer.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/transformer/RecordTransformer.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/transformer/RecordTransformerConfig.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/transformer/TransformFunctionRecordTransformer.java
Labels: cleanup

#10098 Fix bug in colocated tenant creation
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
Labels: bugfix

#10111 Allow liveness check using query parameter during server shutdown
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/HealthCheckResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/ShutDownFilter.java
  pinot-server/src/test/java/org/apache/pinot/server/api/HealthCheckResourceTest.java
Labels: bugfix

#10112 make it more configurable to wait for external view to converge with ideal states
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/RebalanceConfigConstants.java
  pinot-tools/src/main/java/org/apache/pinot/tools/MultiDirQuickstart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/PinotTableRebalancer.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RebalanceTableCommand.java
Labels: enhancement, release-notes, Configuration

#10107 [multistage] Do Not Ignore Exception in MailboxReceiveOperator
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
Labels: multi-stage

#10092 Fixes filtered agg result column naming and filtered agg order-by compat
  pinot-core/src/main/java/org/apache/pinot/core/data/table/TableResizer.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/ResultsBlockUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredGroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/GroupByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/AggregationDataTableReducer.java
  pinot-core/src/test/java/org/apache/pinot/queries/FilteredAggregationsTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InterSegmentAggregationMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/InterSegmentAggregationMultiValueRawQueriesTest.java
Labels: bugfix

#10088 Add controller API for force commit status
  pinot-common/src/main/java/org/apache/pinot/common/metadata/controllerjob/ControllerJobType.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/IngestionConfigHybridIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: release-notes

#10052 Add an API to download validDocIdsSnapshots from peer servers
  pinot-common/src/main/java/org/apache/pinot/common/utils/RoaringBitmapUtils.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/ServerResourceUtils.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/test/java/org/apache/pinot/server/api/TablesResourceTest.java
Labels: feature, release-notes

#10118 add option to run SegmentRelocator sequentially and kinda fairly
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocatorTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/MultiDirQuickstart.java
Labels: feature, release-notes, Configuration

#9568 REALTIME Table add purge feature
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/purge/PurgeTaskGenerator.java
Labels: feature

#10119 Fixes one case of counting null instances impacting avg agg accuracy
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullEnabledQueriesTest.java
Labels: bugfix

#10123 [multistage][refactor] Introduce MultiStageOperator with close() API
  pinot-core/src/main/java/org/apache/pinot/core/common/Operator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainScheduler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/RoundRobinScheduler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/FilterOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LiteralValueOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/OpChain.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/TransformOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/RoundRobinSchedulerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/FilterOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OperatorTestUtil.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/TransformOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/testutils/MockDataBlockOperatorFactory.java
Labels: multi-stage

#10090 fix(ui): update table status to inline with new segment status
  pinot-controller/src/main/resources/app/components/SegmentStatusRenderer.tsx
  pinot-controller/src/main/resources/app/components/Table.tsx
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/utils/Utils.tsx
Labels: ui

#10087 [Clean up] Remove the support for non-zero padding
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkFixedByteValueReaderWriter.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkOfflineIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/FixedByteValueReaderWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/ValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/VarLengthValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/column/PhysicalColumnIndexContainer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/bloomfilter/BloomFilterHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/columnminmaxvalue/ColumnMinMaxValueGenerator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BaseImmutableDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BigDecimalDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BytesDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/DoubleDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/FloatDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/IntDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/LongDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/OnHeapBigDecimalDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/OnHeapBytesDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/OnHeapDoubleDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/OnHeapFloatDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/OnHeapIntDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/OnHeapLongDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/OnHeapStringDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/StringDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/json/ImmutableJsonIndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/io/util/VarLengthValueReaderWriterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/LoaderTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readers/ImmutableDictionaryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readers/ImmutableDictionaryTypeConversionTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readerwriter/FixedByteValueReaderWriterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readerwriter/ValueReaderComparisonTest.java
  pinot-segment-local/src/test/resources/data/paddingNull.tar.gz
  pinot-segment-local/src/test/resources/data/paddingOld.tar.gz
  pinot-segment-local/src/test/resources/data/paddingPercent.tar.gz
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/ColumnMetadata.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
Labels: incompatible, cleanup, performance

#10154 [multistage] make mailboxID JSON serialized
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/InMemorySendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/JsonMailboxIdentifier.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/MailboxIdentifier.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ServerAddress.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/StringMailboxIdentifier.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/Utils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/MailboxContentStreamObserver.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/GrpcMailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/InMemoryMailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MultiplexingMailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/RoundRobinSchedulerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/BlockExchangeTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/BroadcastExchangeTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/HashExchangeTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/RandomExchangeTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/SingletonExchangeTest.java
Labels: backward-incompat, multi-stage

#10151 Simplify UTF-8 comparison on null character
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/ValueReaderComparisons.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readerwriter/ValueReaderComparisonTest.java
Labels: performance

#10153 allow editing pools in instance details ui
  pinot-controller/src/main/resources/app/pages/InstanceDetails.tsx
Labels: ui, bugfix

#10136 Decouple dependency on using peer segment download scheme for doing metadata pushes to controller
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/PeerSchemeSplitSegmentCommitter.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitterFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SplitSegmentCommitter.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitterFactoryTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfigProperties.java
Labels: enhancement, release-notes, refactor

#10161 Push bytes comparison down into ValueReader
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/FixedByteValueReaderWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/ValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/ValueReaderComparisons.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/VarLengthValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BaseImmutableDictionary.java
Labels: performance

#10155 Make a system property to call system.exit() for LaunchDataIngestionJobCommand
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/LaunchDataIngestionJobCommand.java
Labels: backward-incompat

#10121 Add a tracker for end-to-end consumption delay of events.
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTracker.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTrackerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/RowMetadata.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamMessageMetadata.java
Labels: feature

#10176 Improve JSON_EXTRACT_SCALAR error message
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunction.java
Labels: enhancement

#10169 Enhance early termination for combine operators
  pinot-core/src/main/java/org/apache/pinot/core/operator/AcquireReleaseColumnsSegmentOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/BaseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/InstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseSingleBlockCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/MinMaxValueBasedSelectionOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/BaseStreamingCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingAggregationCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingDistinctCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingGroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingInstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingSelectionOnlyCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingSelectionOrderByCombineOperator.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/CombineSlowOperatorsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/exception/EarlyTerminationException.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/LoopUtils.java
Labels: enhancement, bugfix

#10162 Cleaning up some code
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/PinotFSSegmentUploader.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
Labels: cleanup

#10177 [bugfix] Fix null value handling in PinotResultSet
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotConnection.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotPreparedStatement.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotResultSet.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotStatement.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/utils/DriverUtils.java
Labels: bugfix

#10175 Separate the metric for records filtered during ingesiton
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
Labels: backward-incompat, observability

#10199 [Clean up] Remove IntermediateSegment
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/IntermediateSegment.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/IntermediateSegmentStatsContainer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/column/IntermediateIndexContainer.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/IntermediateSegmentTest.java
Labels: cleanup

#10198 Fix the potential deadlock for partial-upsert segment loading check
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManagerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/tablestate/TableStateUtils.java
Labels: bugfix

#10204 Fix a typo in ready to consume check
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
Labels: bugfix

#10208 fix explain plan render, which is going to be multiple line in v2
  pinot-controller/src/main/resources/app/components/Table.tsx
Labels: ui
