Repository apache/pinot, pull requests merged in 2023-05, with the labels that each got.

#10695 update segment target tier before table rebalance
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocatorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/RebalanceConfigConstants.java
Labels: bugfix

#10707 Fix a bug in star-tree filter operator which can incorrecly filter documents
  pinot-core/src/main/java/org/apache/pinot/core/startree/operator/StarTreeFilterOperator.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/StarTreeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/startree/StarTreeQueryGenerator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/BaseSingleTreeBuilder.java
Labels: bugfix

#10622 [multistage] UNION/INTERSECT/EXCEPT implementation
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotSetOpExchangeNodeInsertRule.java
  pinot-query-planner/src/test/resources/queries/SetOpPlans.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/IntersectOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MinusOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SetOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/UnionOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/SortUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/ServerRequestPlanVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/IntersectOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MinusOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/UnionOperatorTest.java
  pinot-query-runtime/src/test/resources/queries/SetOps.json
Labels: feature, multi-stage

#10733 [multistage]10732: Fix for tabledoesnotexit error in multistage.
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
Labels: bugfix, multi-stage

#10687 Implement mutable index using index SPI
  pinot-controller/src/main/java/org/apache/pinot/controller/recommender/realtime/provisioning/MemoryEstimator.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/HLRealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/SelectionCombineOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/DefaultMutableIndexProvider.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/RealtimeSegmentConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/geospatial/MutableH3Index.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeMutableFSTIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/datasource/MutableDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/dictionary/DictionaryIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/fst/FstIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/h3/H3IndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/inverted/InvertedIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/json/JsonIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/TextIndexConfigBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/TextIndexType.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplTestUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeMutableFSTIndexTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/FieldIndexConfigsUtil.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/IndexType.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/IndexUtil.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/IndexingOverrides.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/TextIndexConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/column/ColumnIndexContainer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableForwardIndex.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableIndex.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableInvertedIndex.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableJsonIndex.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableTextIndex.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/provider/MutableDictionaryProvider.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/provider/MutableForwardIndexProvider.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/provider/MutableIndexContext.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/provider/MutableInvertedIndexProvider.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/provider/MutableJsonIndexProvider.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/provider/MutableTextIndexReaderProvider.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/creator/IndexingOverridesTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RealtimeProvisioningHelperCommand.java
Labels: feature, backward-incompat

#10776 upgrade guava version to 30.1.1-jre for CVE fixes
  pom.xml
Labels: security, vulnerability

#10795 Clean up KLL functions with deprecated convention
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileKLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileKLLMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileRawKLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileRawKLLMVAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/InterSegmentAggregationMultiValueRawQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/PercentileKLLMVQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/PercentileKLLQueriesTest.java
Labels: cleanup

#10799 [Multi-stage] Support null in aggregate and filter
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/partitioning/FieldSelectionKeySelector.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FilterOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/TransformOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/AggregationUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/FunctionInvokeUtils.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperatorTest.java
  pinot-query-runtime/src/test/resources/queries/NullHandling.json
  pinot-query-runtime/src/test/resources/queries/WindowFunctions.json
Labels: feature, multi-stage

#10427 Integer Tuple Sketch support
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/function/scalar/SketchFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgValueIntegerTupleSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountIntegerTupleSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/IntegerTupleSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumValuesIntegerTupleSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/aggregator/IntegerTupleSketchAggregator.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/aggregator/ValueAggregatorFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/function/scalar/SketchFunctionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/DistinctCountIntegerSumTupleSketchStarTreeV2Test.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/IntegerTupleSketchValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/ValueAggregatorFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/CustomSerDeUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/aggregator/IntegerTupleSketchValueAggregatorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes

#10791 [multistage] Refactor StageMetadata from pinot-query-planner to pinot-query-runner module
  pinot-common/src/main/proto/worker.proto
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/DispatchablePlanFragment.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/DistributedStagePlan.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/OpChainExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PlanRequestContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/StageMetadata.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/serde/QueryPlanSerDeUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/QueryServer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OpChainTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/QueryServerTest.java
Labels: refactor, multi-stage

#10650 [bugfix] fix floating point and integral type backward incompatible issue
  pinot-common/src/main/java/org/apache/pinot/common/request/context/LiteralContext.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ScalarTransformFunctionWrapper.java
  pinot-core/src/test/java/org/apache/pinot/common/request/context/LiteralContextTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/InTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/TupleSelectionTransformFunctionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/request/context/utils/BrokerRequestToQueryContextConverterTest.java
Labels: bugfix

#10656 10608: Changes for adding partitionColumn in replicaGroupPartitionConfig
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstanceAssignmentConfigUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TableConfigUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/BaseSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/strategy/ReplicaGroupSegmentAssignmentStrategy.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotInstanceAssignmentRestletResourceStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/assignment/InstanceReplicaGroupPartitionConfig.java
Labels: cleanup, refactor

#10810 [multistage][bugfix] fix array type empty issue
  pinot-common/src/main/java/org/apache/pinot/common/datablock/BaseDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/MetadataBlock.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockTest.java
Labels: bugfix, multi-stage

#10809 [multistage][bugfix] order by limit is capped at 10_000
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortOperatorTest.java
Labels: bugfix, multi-stage

#10818 Fix a bug in the order by comparator.
  pinot-core/src/main/java/org/apache/pinot/core/query/utils/OrderByComparatorFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/query/utils/OrderByComparatorFactoryTest.java
Labels: bugfix
