Repository apache/pinot, pull requests merged in 2024-03, with the labels that each got.

#12533 use Temurin instead of AdoptOpenJdk
  .github/workflows/pinot_compatibility_tests.yml
  .github/workflows/pinot_tests.yml
Labels: testing

#12227 [null-aggr] Add null handling support in `mode` aggregation
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BaseSingleInputAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/ModeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/NullableSingleInputAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/ModeAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/AllNullQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullEnabledQueriesTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/AbstractAggregationFunctionBenchmark.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkModeAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/SyntheticBlockValSets.java
  pinot-perf/src/main/java/org/apache/pinot/perf/SyntheticNullBitmapFactories.java
Labels: null support

#12522 Metrics for Realtime Rows Fetched and Stream Consumer Create Exceptions
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/server.yml
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
Labels: metrics, observability

#12536 upgrade mockito version to 5.11.0
  pinot-common/pom.xml
  pinot-core/pom.xml
  pinot-segment-local/pom.xml
  pom.xml
Labels: dependencies, testing

#12512 Added /uptime and /start-time for all components. Addressed comments and fixed tests from pull request 12389.
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerHealthCheck.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerHealthCheck.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionAdminApiApplication.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/HealthCheckResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/AdminApiApplication.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/HealthCheckResource.java
Labels: feature, rest-api

#12549 use maven 3.9.6 in docker
  docker/images/pinot-base/pinot-base-build/amazoncorretto.dockerfile
  docker/images/pinot-base/pinot-base-build/ms-openjdk.dockerfile
  docker/images/pinot-base/pinot-base-build/openjdk.dockerfile
  docker/images/pinot-presto/Dockerfile
Labels: dependencies, docker, build

#12548 build-helper-maven-plugin 3.5.0
  pom.xml
Labels: dependencies, build

#12540 maven-compiler-plugin 3.12.1
  pom.xml
Labels: dependencies, build

#12550 GitHub Actions checkout v4
  .github/workflows/build-multi-arch-pinot-docker-image.yml
  .github/workflows/build-pinot-base-docker-image.yml
  .github/workflows/build-pinot-docker-image.yml
  .github/workflows/build-presto-docker-image.yml
  .github/workflows/build-superset-docker-image.yml
  .github/workflows/pinot_compatibility_tests.yml
  .github/workflows/pinot_tests.yml
  .github/workflows/pinot_vuln_check.yml
Labels: testing

#12545 Updated MinionTaskUtils.getValidDocIdsBitmap to send requests to other servers when an exception occurs
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskExecutorTest.java
Labels: enhancement, upsert

#12558 exclude .mvn directory from source assembly
  pinot-distribution/pinot-source-assembly.xml
Labels: build

#12560 Fix environment variables not applied when creating table
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: bugfix

#12451 Enter segment preloading at partition level
  pinot-common/src/main/java/org/apache/pinot/common/utils/SegmentUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/models/DummyTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertContext.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertComparisonColTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManagerTest.java
  pinot-segment-local/src/test/resources/log4j2.xml
Labels: enhancement, upsert

#12561 Upgrade hadoop version to 3.3.6
  pinot-common/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies, security

#12562 aws sdk 2.25.3
  pom.xml
Labels: dependencies

#12557 add test cases in RequestUtilsTest
  pinot-common/src/test/java/org/apache/pinot/common/utils/request/RequestUtilsTest.java
Labels: testing

#12565 Update kotlin and okio dependency version
  pom.xml
Labels: dependencies

#12554 Fix issue with startree index metadata loading for columns with '__' in name
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/store/StarTreeIndexMapUtils.java
Labels: bugfix

#12566 fixing CVE critical issues by resolving kerby/jline and wildfly libraries
  pom.xml
Labels: dependencies, cve

#12567 Upgrade jettison version to fix CVE
  pom.xml
Labels: dependencies, cve

#12571 Fixing high severity CVEs in pinot-adls/pinot-orc/pinot-parquet
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
Labels: dependencies, cve

#12559 validate DropwizardMetricName equals
  pinot-plugins/pinot-metrics/pinot-dropwizard/src/main/java/org/apache/pinot/plugin/metrics/dropwizard/DropwizardMetricName.java
  pinot-plugins/pinot-metrics/pinot-dropwizard/src/test/java/org/apache/pinot/plugin/metrics/dropwizard/DropwizardMetricNameTest.java
  pinot-plugins/pom.xml
Labels: testing

#12576 Update hadoop transitive dependencies and remove redundant exclusions
  pom.xml
Labels: dependencies

#12579 reduce enum array allocation in TimerContext
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/TimerContext.java
Labels: enhancement

#12578 Upgrade hadoop-common dependency from hadoop-shaded-protobuf_3_7 to hadoop-shaded-protobuf_3_21
  pinot-plugins/pinot-file-system/pinot-hdfs/pom.xml
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pom.xml
Labels: dependencies, cve

#12580 Upgrade com.microsoft.azure:msal4j from 1.3.5 to 1.3.10 for CVE fixing
  pinot-compatibility-verifier/pom.xml
  pinot-integration-test-base/pom.xml
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
Labels: dependencies, cve

#12582 Revert "Bump org.apache.maven.scm:maven-scm-provider-gitexe from 1.94 to 2.0.1 (#12472)"
  pom.xml
Labels: dependencies, bugfix, build

#12510 Supporting human-readable format when configuring broker response size
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement

#12583 Move hadoop-mapreduce-client-core dependency to test scope in pinot-parquet
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetUtils.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetNativeRecordReaderTest.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetRecordReaderTest.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetTestUtils.java
Labels: dependencies

#12587 bugfix: fix shared buffer in v4 raw forward index writer
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkForwardIndexWriterV4.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/VarByteChunkV4Test.java
Labels: bugfix

#12593 verify FilterContext equals
  pinot-common/src/main/java/org/apache/pinot/common/request/context/FilterContext.java
  pinot-common/src/test/java/org/apache/pinot/common/request/context/FilterContextTest.java
Labels: testing

#12595 use gte(lte) to replace between() which has a bug
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BitSlicedRangeIndexReader.java
Labels: bugfix

#12592 verify ServerInstance equals
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerInstance.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/ServerInstanceTest.java
Labels: testing

#12584 Upgrade maven release plugin version
  pom.xml
Labels: dependencies, build

#12596 Upgrade nimbus and jetty library versions for CVE
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pom.xml
Labels: dependencies, cve

#12594 Improve exception logging when we fail to index / transform message
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
Labels: bugfix, observability

#12597 Move wildfly-openssl dependency management to root pom
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
  pom.xml
Labels: dependencies

#12568 Enhance json index to support regexp and range predicate evaluation
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/predicate/RangePredicate.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/predicate/RangeOfflineDictionaryPredicateEvaluatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/request/context/predicate/PredicateTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/request/context/utils/BrokerRequestToQueryContextConverterTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/json/ImmutableJsonIndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/JsonIndexTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/creator/JsonIndexCreator.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java
Labels: feature

#12585 Update 'instances' API with ability to filter by tag
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
Labels: feature, rest-api

#12601 Remove AzurePinotFS due to ADLSGen1 deprecation
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
  pinot-plugins/pinot-file-system/pinot-adls/src/main/java/org/apache/pinot/plugin/filesystem/AzurePinotFS.java
  pinot-plugins/pinot-file-system/pinot-adls/src/test/java/org/apache/pinot/plugin/filesystem/test/AzurePinotFSTest.java
  pom.xml
Labels: dependencies, deprecation

#12607 Bugfix. Maintain literal data type during function evaluation
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/InbuiltFunctionEvaluator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/function/InbuiltFunctionEvaluatorTest.java
Labels: bugfix

#12600 dropwizard metrics 4.2.25
  pom.xml
Labels: dependencies

#12599 add unit test for QueryServer
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryServer.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryServerTest.java
Labels: testing

#12609 Consolidate nimbus-jose-jwt version to 9.37.3
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
  pom.xml
Labels: dependencies

#12581 Add metric to track number of segments missed in upsert-snapshot
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: observability

#12604 Upgrade RoaringBitmap to 1.0.5 to pick up the fix for RangeBitmap.between()
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BitSlicedRangeIndexReader.java
  pom.xml
Labels: dependencies, bugfix

#12610 12435: fix for quick start Cluster Manager issue
  pinot-controller/src/main/resources/app/components/AsyncInstanceTable.tsx
Labels: ui, bugfix

#12608 Detect expired messages in Kafka. Log and set a gauge.
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaMessageBatch.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConsumer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/MessageBatch.java
Labels: enhancement, kafka

#12475 Add a post-validator visitor that verifies there are no cast to bytes
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/validate/BytesCastVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/validate/InvalidCastException.java
Labels: multi-stage

#12615 Fix pinot-parquet NoClassFound issue
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pom.xml
Labels: dependencies, bugfix

#12525 add insecure mode when Pinot uses TLS connections
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/grpc/GrpcQueryClient.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/tls/JvmDefaultSslContext.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/tls/PinotInsecureMode.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/tls/RenewableTlsUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/tls/TlsUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/tls/TlsUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-core/src/main/java/org/apache/pinot/core/util/ListenerConfigUtil.java
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: Configuration, security

#12611 Fix the ConcurrentModificationException for And/Or DocIdSet
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/AndDocIdSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/OrDocIdSet.java
Labels: bugfix

#12623 Removed antlr from the dependency
  pinot-common/pom.xml
  pom.xml
Labels: dependencies, build

#12614 verify ServerRoutingInstance equals
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerRoutingInstance.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/ServerRoutingInstanceTest.java
Labels: testing

#12618 upgrade to log4j 2.23.1
  pom.xml
Labels: dependencies

#12627 adjust the llc partition consuming metric reporting logic
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
Labels: observability

#12603 Add isJson UDF
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/StringFunctionsTest.java
Labels: feature

#12626 Upgrade spark version and cleanup dependencies
  pinot-common/pom.xml
  pinot-connectors/pinot-spark-2-connector/pom.xml
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-connectors/pinot-spark-common/pom.xml
  pom.xml
Labels: dependencies

#12616 add unit test for ServerChannels
  pinot-core/src/test/java/org/apache/pinot/core/transport/ServerChannelsTest.java
Labels: testing

#12539 bugfix: do not move src ByteBuffer position for LZ4 length prefixed decompress
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/compression/LZ4WithLengthDecompressor.java
Labels: bugfix

#12613 Allow Aggregations in Case Expressions
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryTestSet.java
Labels: bugfix

#12633 add unit test for JsonAsyncHttpPinotClientTransport
  pinot-clients/pinot-java-client/src/test/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransportTest.java
Labels: testing

#12638 Add back some exclude deps from hadoop-mapreduce-client-core
  pom.xml
Labels: dependencies

#12639 Remove rest APIs that was deprecated more than 4 years ago
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableIndexingConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableMetadataConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableSegmentConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotUpsertRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableAndSchemaConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTableRestletResourceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: cleanup

#12637 missed to delete the temp dir
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PartialUpsertTableRebalanceIntegrationTest.java
Labels: bugfix, testing

#12644 Bump com.clearspring.analytics:stream from 2.7.0 to 2.9.8
  pinot-core/src/test/java/org/apache/pinot/queries/InterSegmentAggregationSingleValueQueriesTest.java
  pom.xml
Labels: dependencies

#12643 Adds AGGREGATE_CASE_TO_FILTER rule
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/Case.json
Labels: enhancement, multi-stage

#12523 Modify consumingSegmentsInfo endpoint to indicate how many servers failed
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ConsumingSegmentInfoReader.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/RealtimeConsumerMonitorTest.java
Labels: enhancement, ingestion, rest-api

#12669 maven-compiler-plugin 3.13.0
  pom.xml
Labels: dependencies

#12648 Assign default value to newly added derived column upon reload
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
Labels: bugfix

#12252 Minmaxrange null
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeMVAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeAggregationFunctionTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/MinMaxRangeValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/MinMaxRangePair.java
Labels: null support

#12671 Fix PulsarUtils to not share buffer
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarUtils.java
Labels: ingestion, bugfix

#12235 First with time
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstDoubleValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstFloatValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstIntValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstLongValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstStringValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastDoubleValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastFloatValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastIntValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastLongValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastStringValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/NullableSingleInputAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/FirstWithTimeAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/LastWithTimeAggregationFunctionTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/ValueLongPair.java
Labels: null support

#12632 12435: fix Cluster Manager error
  pinot-controller/src/main/resources/app/components/AsyncInstanceTable.tsx
  pinot-controller/src/main/resources/app/pages/HomePage.tsx
Labels: ui, bugfix

#12678 Fix instance type used in edit config
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
Labels: ui, bugfix

#12532 Json extract index mv
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractIndexTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/JsonExtractIndexTransformFunctionTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/json/ImmutableJsonIndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/JsonIndexTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/JsonIndexReader.java
Labels: feature, release-notes

#12663 Moving deleteSegment call from POST to DELETE call
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotSegmentRestletResourceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: documentation, rest-api

#12591 [multistage] support database/namespace in v2
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DatabaseUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/calcite/jdbc/CalciteSchemaBuilder.java
  pinot-query-planner/src/main/java/org/apache/calcite/prepare/PinotCalciteCatalogReader.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/catalog/PinotCatalog.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/testutils/MockRoutingManagerFactory.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
  pinot-query-planner/src/test/resources/queries/BasicQueryPlans.json
  pinot-query-planner/src/test/resources/queries/GroupByPlans.json
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
  pinot-query-planner/src/test/resources/queries/OrderByPlans.json
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
  pinot-query-planner/src/test/resources/queries/SetOpPlans.json
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTest.java
Labels: feature, multi-stage

#12702 bump netty to 4.1.108
  pom.xml
Labels: dependencies

#12692 Upgrade all Apache commons dependencies
  pinot-common/pom.xml
  pinot-controller/pom.xml
  pinot-core/pom.xml
  pinot-integration-test-base/pom.xml
  pinot-integration-tests/pom.xml
  pinot-perf/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/pom.xml
  pinot-plugins/pinot-file-system/pinot-hdfs/pom.xml
  pinot-plugins/pinot-input-format/pinot-csv/pom.xml
  pinot-plugins/pinot-input-format/pinot-json/pom.xml
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-input-format/pinot-thrift/pom.xml
  pinot-plugins/pinot-input-format/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pinot-server/pom.xml
  pinot-spi/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies, cleanup

#12706 Consolidate bouncycastle libraries
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pom.xml
Labels: dependencies

#12722 add some metrics for upsert table preloading
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerTimer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: metrics, observability

#12684 Enhance commit threshold to accept size threshold without setting rows to 0
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/FlushThresholdUpdateManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/SegmentFlushThresholdComputer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/segment/FlushThresholdUpdaterTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/stream/StreamConfigTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/ConfigUtilsTest.java
  pinot-tools/src/main/resources/conf/sample_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/meetupRsvp/meetupRsvp_realtime_table_config.json
Labels: documentation, release-notes, Configuration, ingestion

#12709 refine when to registerSegment when to add/replaceSegment for upsert tables
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
Labels: enhancement, upsert

#12683 Json extract index filter support
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractIndexTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/JsonExtractIndexTransformFunctionTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/json/ImmutableJsonIndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/JsonIndexTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/JsonIndexReader.java
Labels: feature, documentation, release-notes

#12724 Pull janino dependency to root pom
  pinot-query-planner/pom.xml
  pom.xml
Labels: dependencies, cleanup

#12720 upgrade ow2 ASM to 9.7
  pom.xml
Labels: dependencies

#12719 upgrade kotlin to 1.9.23
  pom.xml
Labels: dependencies

#12201 Consistency in API response for live broker
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableInstances.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
Labels: feature, rest-api

#12737 Replace custom fmpp plugin with fmpp-maven-plugin
  contrib/pinot-fmpp-maven-plugin/pom.xml
  contrib/pinot-fmpp-maven-plugin/src/main/java/org/apache/pinot/fmpp/FMPPMojo.java
  contrib/pinot-fmpp-maven-plugin/src/main/java/org/apache/pinot/fmpp/MavenDataLoader.java
  pinot-common/pom.xml
  pinot-common/src/main/codegen/config.fmpp
  pom.xml
Labels: dependencies, cleanup

#12668 Add GZIP Compression Codec (#11434)
  pinot-core/src/test/java/org/apache/pinot/queries/NoDictionaryCompressionQueriesTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNoDictionaryIntegerCompression.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNoDictionaryLongCompression.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNoDictionaryStringCompression.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/compression/ChunkCompressorFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/compression/GzipCompressor.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/compression/GzipDecompressor.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/BaseChunkForwardIndexWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkForwardIndexWriterV4.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/BaseChunkForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkForwardIndexReaderV4.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/io/compression/TestCompression.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/VarByteChunkSVForwardIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/compression/ChunkCompressionType.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/compression/ChunkCompressor.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/compression/ChunkDecompressor.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/FieldIndexConfigs.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/ForwardIndexConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/FieldConfig.java
Labels: feature, release-notes

#12748 jsonExtractIndex support array of default values
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractIndexTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/JsonExtractIndexTransformFunctionTest.java
Labels: enhancement
