Repository apache/pinot, pull requests merged in 2024-08, with the labels that each got.

#13003 [Feature] Support configurable Lucene analyzer with args and configurable query parser
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/LuceneTextIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/text/LuceneTextIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/TextIndexConfigBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/TextIndexUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/LuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeAndLuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/FilePerIndexDirectoryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/SingleFileIndexDirectoryTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/TextIndexConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/utils/CsvParser.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/utils/CsvParserTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/FieldConfig.java
Labels: enhancement, feature

#13712 Change STREAM_DATA_LOSS to a gauge from a meter.
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
Labels: metrics, bugfix, observability

#13732 Fail multi-stage client queries in the broker if multi-stage engine is disabled
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
Labels: user-experience, multi-stage

#13727 Fixing RealtimeProvisioningHelperCommand to allow using just -schemaFile along with -sampleCompletedSegmentDir
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RealtimeProvisioningHelperCommand.java
Labels: bugfix

#13544 Database query quota
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BrokerResourceOnlineOfflineStateModelFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BrokerUserDefinedMessageHandlerFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/ClusterChangeMediator.java
  pinot-broker/src/main/java/org/apache/pinot/broker/queryquota/HelixExternalViewBasedQueryQuotaManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/queryquota/QueryQuotaManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/queryquota/HelixExternalViewBasedQueryQuotaManagerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandlerTest.java
  pinot-common/src/main/java/org/apache/pinot/common/messages/DatabaseConfigRefreshMessage.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DatabaseUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotDatabaseRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Actions.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/QueryQuotaClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/DatabaseConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes, Configuration

#13537 Prevent 500 error for non-existent tasktype in /tasks/{taskType}/tasks API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
Labels: user-experience, rest-api

#13696 Refactor permission and access in controller rest api.
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ResourceUtils.java
Labels: cleanup, refactor

#13541 Fix bug when evaluating resource status during service startup check
  pinot-common/src/main/java/org/apache/pinot/common/utils/ServiceStatus.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/ServiceStatusTest.java
Labels: bugfix

#13762 Clean docker build cache after in vulnerability check github action job
  .github/workflows/scripts/.pinot_vuln_check.sh
Labels: testing, github_actions

#13709 Upgrade async-http-client to 3.0
  LICENSE-binary
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/BrokerCache.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransport.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/PinotControllerTransport.java
  pom.xml
Labels: dependencies

#13687 Update to latest version of clp-ffi that has support for Linux and macOS ARM platforms.
  LICENSE-binary
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/rewriter/ClpRewriterTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ClpTransformFunctionsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/CLPEncodingRealtimeIntegrationTest.java
  pinot-plugins/pinot-input-format/pinot-clp-log/src/test/java/org/apache/pinot/plugin/inputformat/clplog/CLPLogRecordExtractorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/DictionariesTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/CLPForwardIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/mutable/CLPMutableForwardIndexTest.java
  pom.xml
Labels: dependencies

#13747 refine a few logs and checks for upsert
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
Labels: upsert, bugfix

#13766 Log when table to broker list map is refreshed
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/DynamicBrokerSelector.java
Labels: observability

#13717 Fix potential int overflow issue for memory allocation of indices in segment-local module
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/readerwriter/impl/FixedByteSingleValueMultiColumnReaderWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/FixedByteChunkForwardIndexWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/dictionary/BaseOffHeapMutableDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/forward/FixedByteSVMutableForwardIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/RangeIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/BaseChunkForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/FixedBitMVForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkSVForwardIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/sorted/SortedIndexReaderImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/OffHeapSingleTreeBuilder.java
Labels: bugfix

#13763 Include all Pinot modules in the root POM dependency management
  pinot-broker/pom.xml
  pinot-clients/pinot-java-client/pom.xml
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-compatibility-verifier/pom.xml
  pinot-connectors/pinot-flink-connector/pom.xml
  pinot-controller/pom.xml
  pinot-core/pom.xml
  pinot-integration-test-base/pom.xml
  pinot-integration-tests/pom.xml
  pinot-minion/pom.xml
  pinot-perf/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/pom.xml
  pinot-plugins/pinot-batch-ingestion/pom.xml
  pinot-plugins/pinot-environment/pinot-azure/pom.xml
  pinot-plugins/pinot-input-format/pinot-avro/pom.xml
  pinot-plugins/pinot-input-format/pinot-confluent-avro/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pinot-plugins/pinot-input-format/pom.xml
  pinot-plugins/pinot-segment-uploader/pinot-segment-uploader-default/pom.xml
  pinot-plugins/pinot-segment-uploader/pom.xml
  pinot-plugins/pinot-segment-writer/pinot-segment-writer-file-based/pom.xml
  pinot-plugins/pinot-segment-writer/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-base/pom.xml
  pinot-query-runtime/pom.xml
  pinot-segment-local/pom.xml
  pinot-server/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies, cleanup

#13765 Move Azure dependency into root POM and use BOM
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
  pom.xml
Labels: dependencies, cleanup

#13672 add unit test for TableConfig constructor
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigTest.java
Labels: testing

#13735 Acquire a lock before updating the table lineage record
  pinot-common/src/main/java/org/apache/pinot/common/lineage/SegmentLineageAccessHelper.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/RetentionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
Labels: bugfix, minion

#13775 Bump Kafka from 2.8.1 to 2.8.2
  pinot-compatibility-verifier/pom.xml
  pinot-plugins/pinot-input-format/pinot-confluent-avro/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml
Labels: dependencies

#13774 Pull testcontainers dependencies to root POM
  pinot-integration-tests/pom.xml
  pinot-perf/src/main/java/org/apache/pinot/perf/AbstractAggregationFunctionBenchmark.java
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pom.xml
Labels: dependencies, cleanup

#13706 add routing policy in query errmsg upon unavailable segments for a bit more context
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandlerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/RoutingConfig.java
Labels: enhancement

#13781 Pull some dependencies to root POM
  pinot-common/pom.xml
  pinot-connectors/pinot-spark-2-connector/pom.xml
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-connectors/pinot-spark-common/pom.xml
  pinot-plugins/pinot-metrics/pinot-yammer/pom.xml
  pom.xml
Labels: dependencies, cleanup

#13671 Remove usage of the deprecated replicaPerPartition.
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableConfigsRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeNonReplicaGroupSegmentAssignmentTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PeerDownloadLLCRealtimeClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/SegmentsValidationAndRetentionConfig.java
Labels: cleanup

#13417 supporting additional headers
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AbstractDatabaseBaseAdminCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddSchemaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DeleteSchemaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DeleteTableCommand.java
Labels: enhancement, cleanup

#13784 Fix filtered aggregate with ordering
  pinot-core/src/main/java/org/apache/pinot/core/data/table/TableResizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/test/java/org/apache/pinot/core/query/request/context/utils/BrokerRequestToQueryContextConverterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: bugfix

#13635 Reformatting files of Upsert-related code, not introducing any code changes
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseSingleSegmentConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MergeTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/SegmentConversionUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ComparisonColumns.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertUtils.java
Labels: upsert, refactor

#13627 Add logs indicating the star-tree config diff to understand the rebuild purpose
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/MultipleTreesBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeIndexSeparator.java
Labels: observability

#13212 Handle null values appropriately during segment reload for new derived columns
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/GroovyFunctionEvaluator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/InbuiltFunctionEvaluator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-local/src/test/resources/data/newColumnsSchema1.json
Labels: ingestion, bugfix, null support

#13668 Remove ingestion metrics when consuming segment relocates
  pinot-common/src/main/java/org/apache/pinot/common/messages/ForceCommitMessage.java
  pinot-common/src/main/java/org/apache/pinot/common/messages/IngestionMetricsRemoveMessage.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTracker.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTrackerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentMessageHandlerFactory.java
Labels: release-notes, user-experience, ingestion, metrics

#13715 Fix literal type handling in LiteralValueExtractor
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GapfillFilterHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/PostAggregationHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/filter/LiteralValueExtractor.java
  pinot-core/src/test/java/org/apache/pinot/core/query/reduce/PostAggregationHandlerTest.java
Labels: bugfix

#13813 improve exception assertions in PinotDriverTest
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/PinotDriverTest.java
Labels: testing

#13758 Optimize NullableSingleInputAggregationFunction when entire block is null
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/NullableSingleInputAggregationFunction.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkModeAggregation.java
Labels: performance, null support

#13805 Make NetUtils.getHostAddress ipv6 compatible
  pinot-spi/pom.xml
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/NetUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/NetUtilsTest.java
Labels: feature, documentation, release-notes, Configuration

#13782 [Feature] Add the ability to compress and decompress tar archive file with ZStandard and LZ4 compressors
  pinot-common/src/main/java/org/apache/pinot/common/utils/TarCompressionUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/http/HttpClient.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/TarCompressionUtilsTest.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/SegmentOp.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/sink/FlinkSegmentWriter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/LLCSegmentCompletionHandlers.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/FileIngestionHelper.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/upload/ZKOperatorTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/metadata/DefaultMetadataExtractor.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/impl/fakestream/FakeStreamConfigUtils.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MergeRollupMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/startree/SegmentInfoProvider.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkOfflineIndexReader.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-common/src/main/java/org/apache/pinot/plugin/ingestion/batch/common/SegmentGenerationJobUtils.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/src/main/java/org/apache/pinot/plugin/ingestion/batch/hadoop/HadoopSegmentCreationMapper.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/src/main/java/org/apache/pinot/plugin/ingestion/batch/hadoop/HadoopSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/main/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunner.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseSingleSegmentConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskExecutor.java
  pinot-plugins/pinot-segment-writer/pinot-segment-writer-file-based/src/main/java/org/apache/pinot/plugin/segmentwriter/filebased/FileBasedSegmentWriter.java
  pinot-plugins/pinot-segment-writer/pinot-segment-writer-file-based/src/test/java/org/apache/pinot/plugin/segmentwriter/filebased/FileBasedSegmentWriterTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentPushUtils.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
  pinot-server/src/test/java/org/apache/pinot/server/api/TablesResourceTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/SegmentProcessorFrameworkCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/UploadSegmentCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/segment/converter/DictionaryToRawIndexConverter.java
  pinot-tools/src/main/java/org/apache/pinot/tools/segment/converter/PinotSegmentConvertCommand.java
Labels: feature, ingestion

#13347 Ensure upsert deletion consistency when enabled with compaction flow
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerForConsistentDeletes.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertContext.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerForConsistentDeletesTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManagerFactoryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
Labels: enhancement, release-notes, upsert

#13698 add assertions for AllocationFailureCount
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/io/writer/impl/MmapMemoryManagerTest.java
Labels: testing

#13697 Add more unit test for `AbstractMetricsTest`
  pinot-common/src/test/java/org/apache/pinot/common/metrics/AbstractMetricsTest.java
Labels: testing

#13677 Track segments consistently for consistent upsert view
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/DuoSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/DuoSegmentDataManagerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/SegmentDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/RealtimeSegmentConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerForConsistentDeletes.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertViewManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/UpsertViewManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TableConfig.java
Labels: enhancement, release-notes, upsert

#13818 Improve error messages when creating star-tree indexes
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/BaseChunkForwardIndexWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/BaseSingleTreeBuilder.java
Labels: user-experience

#13830 Fix plugin modules pom for pinot library usage
  pinot-plugins/pinot-environment/pinot-azure/pom.xml
  pinot-plugins/pinot-input-format/pinot-clp-log/pom.xml
  pinot-plugins/pinot-metrics/pinot-dropwizard/pom.xml
  pinot-plugins/pinot-metrics/pinot-yammer/pom.xml
  pinot-plugins/pinot-minion-tasks/pom.xml
  pinot-plugins/pinot-segment-uploader/pinot-segment-uploader-default/pom.xml
  pinot-plugins/pinot-segment-writer/pinot-segment-writer-file-based/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-base/pom.xml
Labels: dependencies, bugfix

#13816 Fix bugs in DynamicBrokerSelector
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/DynamicBrokerSelector.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/utils/BrokerSelectorUtils.java
  pinot-clients/pinot-java-client/src/test/java/org/apache/pinot/client/ConnectionFactoryTest.java
  pinot-clients/pinot-java-client/src/test/java/org/apache/pinot/client/DynamicBrokerSelectorTest.java
Labels: bugfix

#13834 Reduce shading
  pom.xml
Labels: dependencies

#13477 fixing TLS configuration for http clients
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-common/src/main/java/org/apache/pinot/common/http/PoolingHttpClientConnectionManagerHelper.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/tls/TlsUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/http/PoolingHttpClientConnectionManagerHelperTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
Labels: bugfix, security

#13793 intellij-language-annotation: add annotation on tests
  pinot-core/pom.xml
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FluentQueryTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/QueryGenerator.java
  pom.xml
Labels: enhancement, testing

#13711 Support polymorphic scalar comparison functions in the multi-stage query engine
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionRegistry.java
  pinot-common/src/main/java/org/apache/pinot/common/function/PinotScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ComparisonFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/EqualsScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/GreaterThanOrEqualScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/GreaterThanScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/LessThanOrEqualScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/LessThanScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/NotEqualsScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/PolymorphicComparisonScalarFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/sql/fun/PinotOperatorTable.java
Labels: enhancement, bugfix, multi-stage

#13853 use ThreadLocalRandom in BrokerCache
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/BrokerCache.java
Labels: bugfix

#13850 Skip encoding the path url for azure deep store
  pinot-plugins/pinot-file-system/pinot-adls/src/main/java/org/apache/pinot/plugin/filesystem/ADLSGen2PinotFS.java
  pinot-plugins/pinot-file-system/pinot-adls/src/main/java/org/apache/pinot/plugin/filesystem/AzurePinotFSUtil.java
  pinot-plugins/pinot-file-system/pinot-adls/src/test/java/org/apache/pinot/plugin/filesystem/test/ADLSGen2PinotFSTest.java
  pinot-plugins/pinot-file-system/pinot-adls/src/test/java/org/apache/pinot/plugin/filesystem/test/AzurePinotFSUtilTest.java
Labels: release-notes, bugfix

#13855 use ThreadLocalRandom in PinotQueryResource
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
Labels: bugfix

#13848 check stale dedup metadata when adding new records/segments
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/dedup/BasePartitionDedupMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/dedup/ConcurrentMapPartitionDedupMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/dedup/ConcurrentMapPartitionDedupMetadataManagerWithTTLTest.java
Labels: enhancement, dedup

#13803 Add TablePauseStatus to track the pause details
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PauseStatusDetails.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PartialUpsertTableRebalanceIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/PauseState.java
Labels: release-notes, Configuration, deprecation

#13867 Log table config and schema updates
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
Labels: observability

#13792 For non-aggregation group-by query, if select clause is not matching to group by clause, return original query
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/NonAggregationGroupByToDistinctQueryRewriter.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/rewriter/NonAggregationGroupByToDistinctQueryRewriterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: bugfix

#13865 Introduce pinot-fastdev profile, which will make it easier to develop…
  pom.xml
Labels: build

#13869 extend the dedup test cases for more hash functions, as done for upsert
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/dedup/ConcurrentMapPartitionDedupMetadataManagerWithTTLTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/dedup/ConcurrentMapPartitionDedupMetadataManagerWithoutTTLTest.java
Labels: enhancement, testing, dedup

#13857 Compatibility verification against release 1.2.0
  .github/workflows/pinot_tests.yml
Labels: build

#13832 [Dependency] Cleanup unnecessary dependencies and exclusions
  pinot-broker/pom.xml
  pinot-clients/pinot-java-client/pom.xml
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-clients/pom.xml
  pinot-common/pom.xml
  pinot-compatibility-verifier/pom.xml
  pinot-connectors/pinot-flink-connector/pom.xml
  pinot-connectors/pinot-spark-2-connector/pom.xml
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-connectors/pinot-spark-common/pom.xml
  pinot-controller/pom.xml
  pinot-core/pom.xml
  pinot-distribution/pinot-assembly.xml
  pinot-distribution/pom.xml
  pinot-integration-test-base/pom.xml
  pinot-integration-tests/pom.xml
  pinot-minion/pom.xml
  pinot-perf/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/pom.xml
  pinot-plugins/pinot-batch-ingestion/pom.xml
  pinot-plugins/pinot-input-format/pinot-avro-base/pom.xml
  pinot-plugins/pinot-input-format/pinot-clp-log/pom.xml
  pinot-plugins/pinot-input-format/pinot-confluent-avro/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-input-format/pinot-thrift/pom.xml
  pinot-plugins/pinot-input-format/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml
  pinot-plugins/pom.xml
  pinot-query-planner/pom.xml
  pinot-query-runtime/pom.xml
  pinot-segment-local/pom.xml
  pinot-segment-spi/pom.xml
  pinot-server/pom.xml
  pinot-spi/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies, cleanup

#13878 [Dependency] Cleanup maven plugin versions
  pinot-connectors/pinot-spark-2-connector/pom.xml
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-connectors/pinot-spark-common/pom.xml
  pinot-controller/pom.xml
  pinot-distribution/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies, cleanup

#13847 Binary Workload Scheduler for constrained execution of a set of queries
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerTimer.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/BinaryWorkloadScheduler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QuerySchedulerFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/SecondaryWorkloadQueue.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/resources/BinaryWorkloadResourceManager.java
  pinot-core/src/test/java/org/apache/pinot/core/query/scheduler/QuerySchedulerFactoryTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, documentation, release-notes

#13838 Add more observability and metrics to track upsert rate of deletion
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerForConsistentDeletes.java
Labels: upsert, observability

#13896 [Hotfix] init correct upsert manager with enableDeletedKeysCompactionConsistency config
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManagerFactoryTest.java
Labels: upsert, bugfix

#13892 Upgrade dependencies to fix vulnerabilities
  pinot-compatibility-verifier/pom.xml
  pinot-connectors/pinot-spark-2-connector/pom.xml
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-connectors/pinot-spark-common/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/pom.xml
  pinot-plugins/pinot-file-system/pinot-hdfs/pom.xml
  pinot-plugins/pinot-input-format/pinot-confluent-avro/pom.xml
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies, cleanup, security

#13897 Honor the column max length property while populating min/max values for column metadata
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentGenerationWithMinMaxTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
Labels: bugfix

#13868 Log nullable columns on creation
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
Labels: observability

#13895 Add missing dependencies to pinot-perf for JMH benchmarks
  pinot-perf/pom.xml
  pom.xml
Labels: dependencies

#13870 Minor improvements to polymorphic scalar comparison functions for better backward compatibility
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/EqualsScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/NotEqualsScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/PolymorphicComparisonScalarFunction.java
Labels: enhancement

#13789 #12117 Support for Server & Controller API to check for Segments reload of a table in servers
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/ServerSegmentsReloadCheckResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/TableSegmentsReloadCheckResponse.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/SegmentsReloadCheckResponseTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableMetadataReader.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImpl.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: documentation, observability, rest-api

#13776 Enable `noRawDataForTextIndex` for the mutable segment when re-use mutable index is enabled
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/dictionary/SameValueMutableDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/forward/SameValueMutableForwardIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/TextIndexConfigBuilder.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/FieldConfig.java
Labels: enhancement, ingestion, bugfix, real-time

#13296 UI Load time Improvement API Fixes #13278
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/SegmentStatusInfo.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableSize.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableViews.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Actions.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/SchemaInfo.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/SchemaInfoTest.java
Labels: enhancement, ui, rest-api

#13839 Improve column null handling
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/query/SelectionOrderByOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/streaming/StreamingSelectionOnlyOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/AllNullQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BigDecimalQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BooleanAggQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BooleanNullEnabledQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullEnabledQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/RealtimeSegmentConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/IndexingConfig.java
Labels: enhancement, null support

#13916 Fix race condition in shared literal transform functions
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayLiteralTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/GenerateArrayTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LiteralTransformFunction.java
Labels: bugfix

#13905 Support ComplexFieldSpec in Schema and column metadata
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/FunctionEvaluatorFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SchemaUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/ColumnMetadataTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/SegmentMetadataImpl.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/ComplexFieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java
Labels: enhancement, bugfix

#13917 Remove Hardcoded Swagger Version
  pinot-common/src/main/java/org/apache/pinot/common/swagger/SwaggerSetupUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, dependencies

#13864 Debug endpoints to fetch effective query quotas on broker
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerDebug.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/queryquota/HelixExternalViewBasedQueryQuotaManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/queryquota/QueryQuotaManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/queryquota/HelixExternalViewBasedQueryQuotaManagerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Actions.java
Labels: observability, rest-api

#13791 Improve null handling performance for nullable single input aggregation functions
  pinot-core/src/main/java/org/apache/pinot/core/data/table/Key.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/Record.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BaseBooleanAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BaseDistinctAggregateAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MaxAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/NullableSingleInputAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumPrecisionAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/VarianceAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctStringFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggStringFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggStringFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/utils/StatisticalAggregationFunctionUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AbstractAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/ArrayAggFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AvgAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/BooleanAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/CountAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/DistinctAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/MaxAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/MinAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/SumAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/SumPrecisionAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/VarianceAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FluentQueryTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/SyntheticBlockValSets.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/AbstractAggregationFunctionBenchmark.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/AbstractAggregationQueryBenchmark.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkAvgAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkDistinctCountAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkMinAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkModeAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkSumAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkSumQuery.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkVarianceAggregation.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/AvgPair.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/VarianceTuple.java
Labels: cleanup, performance, refactor, null support
