Repository apache/pinot, pull requests merged in 2024-07, with the labels that each got.

#13516 Clean up TransformEvaluator
  pinot-core/src/main/java/org/apache/pinot/core/common/DataBlockCache.java
  pinot-core/src/main/java/org/apache/pinot/core/common/DataFetcher.java
  pinot-core/src/main/java/org/apache/pinot/core/common/evaluators/DefaultJsonPathEvaluator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/ProjectionBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/IdentifierTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/PushDownTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/common/evaluators/DefaultJsonPathEvaluatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/evaluator/TransformEvaluator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/evaluator/json/JsonPathEvaluator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/evaluator/json/JsonPathEvaluatorProvider.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/evaluator/json/JsonPathEvaluators.java
Labels: cleanup

#13518 Fix NPE in Minion
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
Labels: bugfix, minion

#13315 Add table level metric for segment upload error
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
Labels: observability

#13514 Adapt group trim threshold to group trim size rather than vice versa
  pinot-core/src/main/java/org/apache/pinot/core/data/table/IndexedTable.java
  pinot-core/src/test/java/org/apache/pinot/core/data/table/IndexedTableTest.java
Labels: enhancement, bugfix

#13532 Fixed nullPointerException in InputFileSegmentNameGenerator when pattern contains optional part
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/name/InputFileSegmentNameGenerator.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/creator/name/InputFileSegmentNameGeneratorTest.java
Labels: ingestion, bugfix

#13534 Cleanup: Remove dependency on `nimbus-jose-jwt` from`pinot-adls`
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
Labels: dependencies, cleanup

#13555 Fix issue with group by combine operator when limit is zero
  pinot-core/src/main/java/org/apache/pinot/core/data/table/IndexedTable.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: flaky-test, bugfix

#13554 Return relevant error message when a v2 / multi-stage query is run on the v1 query engine
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotQueryResourceTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/utils/ParserUtils.java
Labels: user-experience, multi-stage

#13548 Add hadoop-client-runtime dependency to fix quickstart NoClassDefFoundError issue
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pom.xml
Labels: dependencies, quickstart

#13538 Remove the usage of deprecated commons lang3 StringEscapeUtils class
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
Labels: cleanup

#13488 return the current rebalance result if already done
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
Labels: user-experience, bugfix, rest-api

#13551 Remove call to deprecated ArrayUtils.isEquals
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexReaderFactory.java
Labels: cleanup

#13560 Make TableSizeReader and StorageQuotaChecker available as service
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/DebugResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableSize.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/SegmentValidationUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/StorageQuotaChecker.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/validation/StorageQuotaCheckerTest.java
Labels: refactor

#13527 Bugfix: prevent certain `not (x and y)` filters from causing a NPE
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/NotDocIdIterator.java
  pinot-core/src/test/java/org/apache/pinot/queries/TransformFilterQueriesTest.java
Labels: bugfix

#13533 Fix TextMatchFilterOptimizer `or not` behavior
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/TextMatchFilterOptimizer.java
  pinot-core/src/test/java/org/apache/pinot/core/query/optimizer/QueryOptimizerTest.java
Labels: bugfix

#13546 Add configs to specify keepAlive and shutdownTimeout for GrpcQueryClient
  pinot-common/src/main/java/org/apache/pinot/common/config/GrpcConfig.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/grpc/GrpcQueryClient.java
Labels: documentation, Configuration

#13539 Improving API description to capture the functionality
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
Labels: user-experience, rest-api

#13509 Add nonLeaderCleanUp with tables parameters in PinotTaskGenerator
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/PinotTaskGenerator.java
Labels: enhancement, minion

#13525 Remove deprecated commons-lang3 RandomUtils class usage.
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceChecker.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FilteredAggregationsTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NoDictionaryCompressionQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/CpcSketchTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/SumPrecisionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TupleSketchTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ULLTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/VectorTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNoDictionaryIntegerCompression.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNoDictionaryLongCompression.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkRoaringBitmapCreation.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentGenerationWithMultipleRecordsTest.java
Labels: cleanup, refactor

#13561 Handle Agg Functions with Literal Args When Used with a Union
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
Labels: bugfix

#13562 Enhance SegmentStatusChecker to honor CONSUMING segment
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
Labels: enhancement, metrics, bugfix

#13577 add feature flag for recent TextIndex optimizations
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/LuceneTextIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/LuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeAndLuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/FilePerIndexDirectoryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/SingleFileIndexDirectoryTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/TextIndexConfig.java
Labels: enhancement, release-notes, Configuration

#13578 fix jmx to prometheus metric exporting rule
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/broker.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/controller.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/pinot.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/server.yml
Labels: metrics, prometheus, bugfix

#13587 Improved the description of Pinot token usage in Swagger
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/InstanceResource.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerAppConfigs.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerDebug.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerHealthCheck.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerLogger.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerRouting.java
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/DebugResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotAccessControlUserRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotBrokerRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotClusterConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerAppConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerAuthResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerHealthCheck.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerLogger.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerPeriodicTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotDatabaseRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotIngestionRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceAssignmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLeadControllerRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRunningQueryResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableInstances.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableSchema.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableTenantConfigs.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotUpsertRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotVersionRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableSize.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableViews.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ZookeeperResource.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/HealthCheckResource.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/PinotMinionAppConfigs.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/PinotMinionLogger.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/PinotTaskProgressResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/DebugResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/InstanceResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/MmapDebugResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/PinotServerAppConfigs.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/PinotServerLogger.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/QueryResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TableSizeResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TableTierResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-tools/src/main/java/org/apache/pinot/tools/service/api/resources/PinotServiceManagerHealthCheck.java
  pinot-tools/src/main/java/org/apache/pinot/tools/service/api/resources/PinotServiceManagerInstanceResource.java
  pinot-tools/src/main/java/org/apache/pinot/tools/service/api/resources/PinotServiceManagerLogger.java
Labels: enhancement, user-experience, rest-api

#13590 Cleanup old DataTable v2 and v3
  pinot-common/src/main/java/org/apache/pinot/common/datablock/BaseDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV2.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV3.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV4.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableBuilderFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableBuilderV2V3.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/ServerQueryRequest.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datatable/DataTableSerDeTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/AllNullQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BigDecimalQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BooleanNullEnabledQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullEnabledQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/NullHandlingIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
Labels: cleanup

#13489 Make upsert compaction task more robust to crc mismatch
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGeneratorTest.java
Labels: enhancement, upsert, minion

#13582 Upgrade hadoop version to 3.4.0
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pom.xml
Labels: dependencies

#13579 Remove preloading-type nature of enableSnapshot config
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: upsert

#13596 Remove unused BaseDataTable
  pinot-common/src/main/java/org/apache/pinot/common/datatable/BaseDataTable.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTable.java
  pinot-core/src/test/java/org/apache/pinot/core/query/scheduler/PrioritySchedulerTest.java
Labels: cleanup

#13574 Remove deprecated hasDataAccess method.
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AccessControl.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AllowAllAccessFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/BasicAuthAccessControlFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/ZkBasicAuthAccessControlFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
Labels: cleanup, security

#13591 Prevent multi-stage operator from returning empty TransferableBlock
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/FilterOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LiteralValueOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SetOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/FilterOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperatorTest.java
Labels: enhancement, multi-stage

#13611 Fix null handling for window aggregate
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/AggregationUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/aggregate/AggregateWindowFunction.java
  pinot-query-runtime/src/test/resources/queries/NullHandling.json
Labels: bugfix, multi-stage

#13608 add unit test for S3PinotFS move operation
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3PinotFSTest.java
Labels: testing

#12293 Added GENERATE_ARRAY function
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArrayFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/FunctionDefinitionRegistryTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/GenerateArrayTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/GenerateArrayTransformFunctionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ArrayTest.java
Labels: feature

#13612 missed one util method that should derive partition id from uploaded segment name
  pinot-common/src/main/java/org/apache/pinot/common/utils/SegmentUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/SegmentUtilsTest.java
Labels: refactor

#13614 Apply SEARCH expand rule in the end
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotQueryRuleSets.java
Labels: performance, multi-stage

#13618 Make ARRAY_TO_MV a not deterministic function
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/sql/PinotSqlTransformFunction.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/sql/fun/PinotOperatorTable.java
Labels: bugfix, multi-stage

#13631 add assertions for S3PinotFS move
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3PinotFSTest.java
Labels: testing

#13632 Avoid collision in SegmentLocks
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentLocks.java
Labels: bugfix

#13609 Support more formats in TimestampUtils
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/TimestampUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/TimestampUtilsTest.java
Labels: enhancement, query

#13643 [bugfix] Loose lastModified time check in S3PinotFSTest.testMoveFile()
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3PinotFSTest.java
Labels: bugfix, testing

#13630 Fixing missing toInternal() implementation for BOOLEAN_ARRAY and TIMESTAMP_ARRAY types
  pinot-common/src/main/java/org/apache/pinot/common/utils/PinotDataType.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ArrayTest.java
Labels: ingestion, bugfix

#13647 Removing unnecessary com.github.sgroschupf dependency exclusion.
  pom.xml
Labels: dependencies, cleanup

#13550 API to expose gauge metric values on minion
  pinot-common/src/main/java/org/apache/pinot/common/metrics/AbstractMetrics.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/PinotMinionMetricsResource.java
Labels: rest-api, minion

#13664 Disallow duplicate CTE aliases
  pinot-query-planner/src/main/java/org/apache/pinot/query/validate/Validator.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
Labels: enhancement, multi-stage

#13583 Add Debug APIs that return Thread and Query Resource Usage
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerDebug.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/CPUMemThreadLevelAccountingObjects.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Actions.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/DebugResource.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/QueryResourceTracker.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceTracker.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageAccountant.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
  pinot-tools/src/main/java/org/apache/pinot/tools/MultiStageResourceTrackerQuickStart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/MultistageEngineQuickStart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/SingleStageResourceTrackingQuickStart.java
  pinot-tools/src/main/java/org/apache/pinot/tools/utils/PinotConfigUtils.java
  pinot-tools/src/main/java/org/apache/pinot/tools/utils/SampleQueries.java
Labels: observability, rest-api

#13667 Support ISO8601 Timestamp parser
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/TimestampUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/TimestampUtilsTest.java
Labels: enhancement, user-experience

#13679 Fix flaky gauge value issue
  pinot-common/src/main/java/org/apache/pinot/common/metrics/AbstractMetrics.java
  pinot-common/src/test/java/org/apache/pinot/common/metrics/AbstractMetricsTest.java
Labels: bugfix, observability

#13661 Fix query response time metric
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
Labels: bugfix

#13680 Refactor PinotSchemaRestletResource for repetitive code pattern
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
Labels: cleanup, refactor

#13684 Remove flaky test: testUpdateAndRemoveGauge
  pinot-common/src/test/java/org/apache/pinot/common/metrics/AbstractMetricsTest.java
Labels: flaky-test

#13669 Support apply logical type recursively to decode Avro message
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroSchemaUtil.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/test/java/org/apache/pinot/plugin/inputformat/avro/AvroSchemaUtilTest.java
Labels: enhancement, ingestion

#13691 Update Notice and License for 1.2.0 Release
  LICENSE-binary
  NOTICE-binary
  licenses-binary/LICENSE-jsch.txt
Labels: license

#13686 Add broker routing config: newSegmentExpirationTimeInSeconds
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BalancedInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/MultiStageReplicaGroupSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/ReplicaGroupInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/StrictReplicaGroupInstanceSelector.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes, Configuration, query, bugfix

#13503 Improve realtime Lucene text index freshness/cpu/disk io usage
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/LuceneNRTCachingMergePolicy.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneIndexReaderRefreshThread.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneIndexRefreshManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneIndexRefreshState.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/LuceneTextIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/LuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeAndLuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneIndexRefreshManagerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, Configuration, performance, refactor, real-time

#13613 support S3 storage class
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3Config.java
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3ConfigTest.java
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3PinotFSTest.java
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3TestUtils.java
Labels: feature, ingestion

#13666 Fix colocated join when no mapping project is used
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotRelDistributionTraitRule.java
  pinot-query-planner/src/test/resources/queries/ExplainPhysicalPlans.json
Labels: bugfix, performance, multi-stage

#13628 Automatically detect whether a v1 query could have run on the v2 query engine
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/JmxMetricsIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/utils/ParserUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: Configuration, metrics, multi-stage
