Repository apache/pinot, pull requests merged in 2024-09, with the labels that each got.

#13849 Introduce pinot-plugin assembly-desciptor as a better alternative tha…
  pinot-plugins/assembly-descriptor/pom.xml
  pinot-plugins/assembly-descriptor/src/it/projects/simple-assembly/pom.xml
  pinot-plugins/assembly-descriptor/src/it/projects/simple-assembly/src/main/java/org/apache/pinot/it/Simple.java
  pinot-plugins/assembly-descriptor/src/it/projects/simple-assembly/src/main/resources/pinot-plugin.properties
  pinot-plugins/assembly-descriptor/src/it/projects/simple-assembly/verify.groovy
  pinot-plugins/assembly-descriptor/src/main/resources/assemblies/pinot-plugin.xml
  pinot-plugins/pinot-metrics/pinot-dropwizard/pom.xml
  pinot-plugins/pom.xml
Labels: build

#13817 Add javadoc and improve usability of FluentQueryTest
  pinot-core/src/test/java/org/apache/pinot/queries/FluentQueryTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/AbstractAggregationQueryBenchmark.java
Labels: testing

#13928 Reduce the overhead of PinotHelixResourceManager.getSegmentsFor() when no time filtering is required
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: enhancement

#13929 Move schema related tests to pinot-spi
  pinot-common/src/test/java/org/apache/pinot/common/data/DateTimeFormatSpecTest.java
  pinot-common/src/test/java/org/apache/pinot/common/data/DateTimeGranularitySpecTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/SchemaUtilsTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/DateTimeFieldSpecUtilsTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/DateTimeFormatSpecTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/DateTimeGranularitySpecTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/FieldSpecTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/SchemaTest.java
Labels: cleanup, testing

#13932 Remove unnecessary plugin version override
  pinot-distribution/pom.xml
  pinot-plugins/assembly-descriptor/pom.xml
  pinot-plugins/assembly-descriptor/src/it/projects/simple-assembly/pom.xml
  pinot-plugins/assembly-descriptor/src/it/projects/simple-assembly/src/main/java/org/apache/pinot/it/Simple.java
  pinot-plugins/assembly-descriptor/src/it/projects/simple-assembly/src/main/resources/pinot-plugin.properties
  pinot-plugins/assembly-descriptor/src/main/resources/assemblies/pinot-plugin.xml
  pinot-plugins/pom.xml
Labels: dependencies, cleanup

#13934 Allow table names in TableConfigs with or without database name when database context is passed
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableConfigsRestletResourceTest.java
Labels: enhancement, rest-api

#13937 Short circuit the deleteSegments method when segmentNames is empty
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: enhancement

#13890 In SchemaConformingTransformer, Flatten array into multiple entries each with a key and array value.
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerV2.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerV2Test.java
Labels: feature, ingestion

#13748 [Spark Connector] Write support for creating Pinot segments
  .github/workflows/pinot_tests.yml
  pinot-connectors/pinot-spark-3-connector/documentation/write_model.md
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-connectors/pinot-spark-3-connector/src/main/scala/org/apache/pinot/connector/spark/v3/datasource/PinotBufferedRecordReader.scala
  pinot-connectors/pinot-spark-3-connector/src/main/scala/org/apache/pinot/connector/spark/v3/datasource/PinotDataWriter.scala
  pinot-connectors/pinot-spark-3-connector/src/main/scala/org/apache/pinot/connector/spark/v3/datasource/PinotTable.scala
  pinot-connectors/pinot-spark-3-connector/src/main/scala/org/apache/pinot/connector/spark/v3/datasource/PinotWrite.scala
  pinot-connectors/pinot-spark-3-connector/src/main/scala/org/apache/pinot/connector/spark/v3/datasource/PinotWriteBuilder.scala
  pinot-connectors/pinot-spark-3-connector/src/main/scala/org/apache/pinot/connector/spark/v3/datasource/SparkToPinotTypeTranslator.scala
  pinot-connectors/pinot-spark-3-connector/src/test/scala/org/apache/pinot/connector/spark/v3/datasource/ExampleSparkPinotConnectorReadTest.scala
  pinot-connectors/pinot-spark-3-connector/src/test/scala/org/apache/pinot/connector/spark/v3/datasource/ExampleSparkPinotConnectorWriteTest.scala
  pinot-connectors/pinot-spark-3-connector/src/test/scala/org/apache/pinot/connector/spark/v3/datasource/PinotBufferedRecordReaderTest.scala
  pinot-connectors/pinot-spark-3-connector/src/test/scala/org/apache/pinot/connector/spark/v3/datasource/PinotDataWriterTest.scala
  pinot-connectors/pinot-spark-3-connector/src/test/scala/org/apache/pinot/connector/spark/v3/datasource/PinotWriteTest.scala
  pinot-connectors/pinot-spark-3-connector/src/test/scala/org/apache/pinot/connector/spark/v3/datasource/SparkToPinotTypeTranslatorTest.scala
  pinot-connectors/pinot-spark-common/src/main/scala/org/apache/pinot/connector/spark/common/PinotDataSourceWriteOptions.scala
  pinot-connectors/pinot-spark-common/src/main/scala/org/apache/pinot/connector/spark/common/reader/PinotServerDataFetcher.scala
  pinot-connectors/pinot-spark-common/src/test/scala/org/apache/pinot/connector/spark/common/PinotDataSourceWriteOptionsTest.scala
Labels: feature, release-notes, ingestion

#13771 Flaky test fix. Query only 1 broker to test quota split
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/QueryQuotaClusterIntegrationTest.java
Labels: flaky-test

#13835 Add support for configuring aggregation function parameters in the star-tree index
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountCPCSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLPlusAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountULLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/StarTreeUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/DistinctCountCPCSketchAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/DistinctCountHLLPlusAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/DistinctCountULLAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/PercentileTDigestAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/PercentileTDigestStarTreeV2Test.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/PreAggregatedPercentileTDigestStarTreeV2Test.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/StarTreeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/StarTreeFunctionParametersIntegrationTest.java
  pinot-integration-tests/src/test/resources/On_Time_On_Time_Performance_2014_Min_100_subset_nonulls.tar.gz
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountCPCSketchValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountHLLPlusValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountHLLValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountULLValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/PercentileTDigestValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/SumPrecisionValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/ValueAggregatorFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/StarTreeBuilderUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/BaseSingleTreeBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplIngestionAggregationTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeBuilderUtilsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/AggregationSpec.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/StarTreeV2Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/StarTreeV2Metadata.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/StarTreeAggregationConfig.java
Labels: feature, release-notes, Configuration, star-tree index

#13879 add metric for time retention failing due to end time
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
Labels: documentation, metrics, observability

#13947 Acquire IdealStateUpdaterLock for PinotLLCRealtimeSegmentManager IdealState update
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
Labels: enhancement

#13921 executor-spi
  pinot-common/pom.xml
  pinot-common/src/main/java/org/apache/pinot/common/utils/CachedExecutorServicePlugin.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/FixedExecutorServicePlugin.java
  pinot-integration-test-base/pom.xml
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/executor/ExecutorServicePlugin.java
  pinot-spi/src/main/java/org/apache/pinot/spi/executor/ExecutorServiceProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/executor/ExecutorServiceUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pom.xml
Labels: feature, documentation, Configuration

#13837 [Backfill] flink based upsert table backfill support
  pinot-connectors/pinot-flink-connector/README.md
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/sink/FlinkSegmentWriter.java
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/sink/PinotSinkFunction.java
  pinot-connectors/pinot-flink-connector/src/test/java/org/apache/pinot/connector/flink/sink/PinotSinkIntegrationTestUpsertTable.java
  pinot-connectors/pinot-flink-connector/src/test/resources/gameScores_csv.tar.gz
  pinot-connectors/pinot-flink-connector/src/test/resources/upsert_table_test.schema
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/IngestionUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/BatchConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/BatchConfigProperties.java
Labels: feature, documentation, incompatible, release-notes, upsert, ingestion

#13863 Add Segment Relocator Rebalance Configs to Controller Conf
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/ControllerConfTest.java
Labels: enhancement, documentation, Configuration

#13962 Rename dangling occurrences of StageNode to PlanNode
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/colocated/ColocationKey.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/colocated/GreedyShuffleRewriteContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/colocated/GreedyShuffleRewritePreComputeVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/colocated/GreedyShuffleRewriteVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestVisitor.java
Labels: cleanup, multi-stage

#13885 Part-1: Pinot Timeseries Engine SPI
  .gitignore
  pinot-timeseries/pinot-timeseries-spi/pom.xml
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/AggInfo.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/PinotTimeSeriesConfiguration.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/RangeTimeSeriesRequest.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/TimeBuckets.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/TimeSeriesLogicalPlanResult.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/TimeSeriesLogicalPlanner.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/operator/BaseTimeSeriesOperator.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/plan/BaseTimeSeriesPlanNode.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/plan/ScanFilterAndProjectPlanNode.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/plan/serde/TimeSeriesPlanSerde.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/BaseTimeSeriesBuilder.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/TimeSeries.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/TimeSeriesBlock.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/TimeSeriesBuilderFactory.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/TimeSeriesBuilderFactoryProvider.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/builders/MaxTimeSeriesBuilder.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/builders/MinTimeSeriesBuilder.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/builders/SummingTimeSeriesBuilder.java
  pinot-timeseries/pinot-timeseries-spi/src/test/java/org/apache/pinot/tsdb/spi/plan/serde/TimeSeriesPlanSerdeTest.java
  pinot-timeseries/pom.xml
  pom.xml
Labels: timeseries-engine

#13965 Remove Calcite EnumerableRules because we don't rely on enumerable calling convention
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotQueryRuleSets.java
Labels: enhancement, cleanup, multi-stage

#13967 Improve dimension table handing
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/FastLookupDimensionTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/LookupRecordLocation.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/MemoryOptimizedDimensionTable.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/LookupTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/LookupTransformFunctionTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentRecordReader.java
Labels: enhancement, performance

#13973 Add commons-beanutils as dependency
  pinot-spi/pom.xml
  pom.xml
Labels: dependencies, bugfix

#13964 Move untar method to BaseTaskExecutor and untar with peerDownload segment if deepstore corrupted
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseSingleSegmentConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseTaskExecutor.java
Labels: enhancement, minion

#13981 [Multi-stage] Only track max joined rows within each block
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
Labels: bugfix, multi-stage

#13977 Add broker config to set default query null handling behavior
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/NullHandlingIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes, Configuration, null support

#13995 [bugfix] Init BrokerQueryEventListener
  pinot-spi/src/main/java/org/apache/pinot/spi/eventlistener/query/BrokerQueryEventListenerFactory.java
Labels: query, bugfix, observability

#13572 add support to differentiate null and emptyLists for multi-value columns in avro decoder
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordExtractorConfig.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/test/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordToPinotRowGeneratorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/BaseRecordExtractor.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/RecordExtractorConfig.java
Labels: feature, documentation, release-notes, Configuration

#13993 Allow to build index on preserved field in SchemaConformingTransformer
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerV2.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerV2Test.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/SchemaConformingTransformerV2Config.java
Labels: enhancement, feature, ingestion

#13976 Group commit IdealState updates
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/HelixHelper.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/IdealStateGroupCommit.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/IdealStateGroupCommitTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
Labels: enhancement

#13914 Enforce removeSegment flow with _enableDeletedKeysCompactionConsistency
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerForConsistentDeletes.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerForConsistentDeletesTest.java
Labels: upsert, bugfix

#13645 TLS Configuration Support for QueryServer and Dispatch Client
  pinot-common/src/main/java/org/apache/pinot/common/utils/grpc/GrpcQueryClient.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/DispatchClient.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/dispatch/QueryDispatcherTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
Labels: feature, security

#13877 RealtimeSegmentConverter was using incorrect schema
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverter.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/SchemaTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/QuickStartBase.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/MeetupRsvpStream.java
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/RsvpSourceGenerator.java
  pinot-tools/src/main/resources/examples/stream/upsertMeetupRsvp/upsertMeetupRsvp_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/upsertMeetupRsvp/upsertMeetupRsvp_schema.json
Labels: ingestion, bugfix, null support, real-time

#13303 Improve performance of DataBlock serde
  pinot-common/src/main/java/org/apache/pinot/common/datablock/BaseDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/ColumnarDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockEquals.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockSerde.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/MetadataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/RowDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/ZeroCopyDataBlockSerde.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/RoaringBitmapUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/datablock/BaseDataBlockContract.java
  pinot-common/src/test/java/org/apache/pinot/common/datablock/MetadataBlockTest.java
  pinot-common/src/test/java/org/apache/pinot/common/datablock/RowDataBlockTest.java
  pinot-common/src/test/java/org/apache/pinot/common/datablock/V1MetadataBlock.java
  pinot-common/src/test/java/org/apache/pinot/common/datablock/ZeroCopyDataBlockSerdeTest.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/utils/exprminmax/ExprMinMaxObject.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockBuilderTest.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockSerdeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkDataBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/MultiStageQueryStats.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/blocks/TransferableBlockTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/MultiStageQueryStatsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/CompoundDataBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/DataBufferPinotInputStream.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PagedPinotOutputStream.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PinotOutputStream.java
Labels: enhancement, performance, multi-stage

#13930 Support of classrealms and new plugin structure
  pinot-plugins/assembly-descriptor/src/it/projects/simple-assembly/verify.groovy
  pinot-plugins/assembly-descriptor/src/main/resources/assemblies/pinot-plugin.xml
  pinot-plugins/pinot-metrics/pinot-dropwizard/src/main/resources/pinot-plugin.properties
  pinot-spi/pom.xml
  pinot-spi/src/main/java/org/apache/pinot/spi/plugin/PinotPluginConfiguration.java
  pinot-spi/src/main/java/org/apache/pinot/spi/plugin/PluginManager.java
  pinot-spi/src/test/java/org/apache/pinot/spi/plugin/ClassLoaderTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/plugin/PluginManagerTest.java
  pinot-spi/src/test/resources/plugins/assemblybased-pinot-plugin/pinot-plugin.properties
  pinot-spi/src/test/resources/plugins/pinot-dropwizard/pinot-plugin.properties
  pinot-spi/src/test/resources/plugins/pinot-yammer/pinot-plugin.properties
  pom.xml
Labels: release-notes, plugins

#13854 Remove both jacoco-maven-plugin and sonar-maven-plugin, as codecovera…
  .github/workflows/scripts/pr-tests/.pinot_tests_custom_integration.sh
  .github/workflows/scripts/pr-tests/.pinot_tests_integration.sh
  .github/workflows/scripts/pr-tests/.pinot_tests_unit.sh
  pinot-integration-tests/pom.xml
  pom.xml
Labels: cleanup, build

#13969 Simple (lazy) check to prevent recompilation of code.
  pinot-common/pom.xml
Labels: enhancement, build

#13584 Storage Quota imposition on Realtime tables
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/SegmentValidationUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/RealtimeSegmentValidationManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/StorageQuotaChecker.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/validation/StorageQuotaCheckerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/PauseState.java
Labels: release-notes, Configuration, real-time

#13992 track newly added segments for upsert tables for a more complete upsert data view
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertContext.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertViewManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/UpsertViewManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
Labels: enhancement, documentation, Configuration, upsert

#14016 remove checks introduced in https://github.com/apache/pinot/issues/945 that is backward incompatible
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/ForwardIndexConfig.java
Labels: bugfix

#13991 Increase unit test coverage for AbstractMetrics
  pinot-common/src/test/java/org/apache/pinot/common/metrics/AbstractMetricsTest.java
  pinot-common/src/test/java/org/apache/pinot/common/metrics/MetricsInspector.java
Labels: metrics, testing

#14002 Don't replace environment variables and system properties in get table configs REST API
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: backward-incompat, bugfix, security, rest-api

#13999 Part-2: Add Combine and Segment Level Operators for Time Series
  pinot-common/pom.xml
  pinot-common/src/main/java/org/apache/pinot/common/request/context/TimeSeriesContext.java
  pinot-core/pom.xml
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/TimeSeriesResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/TimeSeriesCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/merger/TimeSeriesAggResultsBlockMerger.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/timeseries/TimeSeriesAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/timeseries/TimeSeriesPassThroughOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/timeseries/TimeSeriesSelectionOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/CombinePlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/TimeSeriesPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/ServerQueryRequest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/utils/QueryContextUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorTest.java
  pinot-core/src/test/resources/data/sampleEatsData.avro
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/SimpleTimeSeriesBuilderFactory.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/TimeSeriesBuilderFactoryProvider.java
  pom.xml
Labels: timeseries-engine

#14028 Fixing python library in ms-openjdk.dockerfile
  docker/images/pinot-base/pinot-base-runtime/ms-openjdk.dockerfile
Labels: docker

#14024 Remove `recreateDeletedConsumingSegment` flag from RealtimeSegmentValidationManager
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/RealtimeSegmentValidationManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
Labels: Configuration, ingestion, real-time

#14038 The apache-jar-resource-bundle was processed twice with different versions
  pom.xml
Labels: build

#13955 Improvements to OOM protection for Multi-Stage Engine
  pinot-core/src/main/java/org/apache/pinot/core/accounting/CPUMemThreadLevelAccountingObjects.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerAccountingTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTestBase.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageAccountant.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: Configuration, bugfix, multi-stage

#14031 Trying to prevent confusion regarding jars as testresources
  .github/dependabot.yml
  pinot-spi/pom.xml
Labels: testing, build

#14030 Fix vulnerabilities for msopenjdk 11 pinot-base-runtime image.
  docker/images/pinot-base/pinot-base-runtime/ms-openjdk.dockerfile
Labels: docker

#14040 Improve database handling in multi-stage engine
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DatabaseUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotRelDistributionTraitRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/catalog/PinotCatalog.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTest.java
Labels: enhancement, multi-stage

#14014 Make Custom Config Optional
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TableConfig.java
Labels: user-experience

#14048 Part-3: Working E2E Quickstart for Time Series Engine
  pinot-broker/pom.xml
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/TimeSeriesRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/response/PinotBrokerTimeSeriesResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/HumanReadableDuration.java
  pinot-common/src/main/proto/worker.proto
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorTest.java
  pinot-distribution/pinot-assembly.xml
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/pom.xml
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/Aggregations.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/Constants.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/M3TimeSeriesPlanner.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/PlanIdGenerator.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/operator/KeepLastValueOperator.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/operator/TransformNullOperator.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/parser/Tokenizer.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/plan/KeepLastValuePlanNode.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/plan/TransformNullPlanNode.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/time/QueryTimeBoundaryConstraints.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/time/TimeBucketComputer.java
  pinot-plugins/pinot-timeseries-lang/pom.xml
  pinot-plugins/pom.xml
  pinot-query-runtime/pom.xml
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/LeafTimeSeriesOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/PhysicalTimeSeriesPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/TimeSeriesExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/TimeSeriesPhysicalTableScan.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/timeseries/AsyncQueryTimeSeriesDispatchResponse.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/timeseries/TimeSeriesDispatchClient.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/timeseries/TimeSeriesDispatchObserver.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-timeseries/pinot-timeseries-planner/pom.xml
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/TimeSeriesPlanConstants.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/TimeSeriesQueryEnvironment.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/physical/TableScanVisitor.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/physical/TimeSeriesDispatchablePlan.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/physical/TimeSeriesQueryServerInstance.java
  pinot-timeseries/pinot-timeseries-spi/pom.xml
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/RangeTimeSeriesRequest.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/SimpleTimeSeriesBuilderFactory.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/TimeSeriesBlock.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/TimeSeriesBuilderFactoryProvider.java
  pinot-timeseries/pom.xml
  pinot-tools/src/main/java/org/apache/pinot/tools/TimeSeriesEngineQuickStart.java
  pom.xml
Labels: timeseries-engine

#14069 Fix behavior for distinct sum and distinct avg when all values are null
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctAvgAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctSumAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/DistinctAggregationFunctionTest.java
Labels: bugfix, null support

#14066 [Multi-stage] Clean up unnecessary checks in rules
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotAggregateToSemiJoinRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotEvaluateLiteralRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotExchangeEliminationRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotFilterExpandSearchRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotJoinExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotJoinToDynamicBroadcastRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotRelDistributionTraitRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotSetOpExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotSingleValueAggregateRemoveRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotSortExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotWindowExchangeNodeInsertRule.java
Labels: cleanup, multi-stage

#13646 Added support to upload segments in batch mode with METADATA upload type
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/FileUploadDownloadClientTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/SegmentMetadataInfo.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/SegmentUploadMetadata.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/ZKOperator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResourceTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentUploadIntegrationTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutorTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/constants/SegmentUploadConstants.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentPushUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/SegmentPushUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/BatchConfigProperties.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/PushJobSpec.java
Labels: feature, documentation, ingestion, rest-api

#14072 Fix build after merging #13646
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: build

#14074 Make ingestion offset delay metric configurable
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTracker.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTrackerTest.java
Labels: Configuration, kafka, metrics

#14092 Part-4: Remove Unnecessary TimeSeries Materialization + Minor Cleanups
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/TimeSeriesBuilderBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/ResultsBlockUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/TimeSeriesResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/merger/TimeSeriesAggResultsBlockMerger.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/timeseries/TimeSeriesAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/timeseries/TimeSeriesPassThroughOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorTest.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/M3TimeSeriesPlanner.java
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/time/TimeBucketComputer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/LeafTimeSeriesOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/PhysicalTimeSeriesPlanVisitor.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/TimeSeriesQueryEnvironment.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/physical/TableScanVisitor.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/TimeSeriesLogicalPlanner.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/plan/LeafTimeSeriesPlanNode.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/plan/serde/TimeSeriesPlanSerde.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/BaseTimeSeriesBuilder.java
  pinot-timeseries/pinot-timeseries-spi/src/test/java/org/apache/pinot/tsdb/spi/plan/serde/TimeSeriesPlanSerdeTest.java
Labels: timeseries-engine

#14064 Adding gauge unit tests for AbstractMetrics
  pinot-common/src/test/java/org/apache/pinot/common/metrics/AbstractMetricsTest.java
Labels: testing

#14098 Do not allow setting TableConfig in IndexLoadingConfig after construction
  pinot-core/src/test/java/org/apache/pinot/queries/BaseJsonQueryTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExprMinMaxTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledMultiValueQueriesWithReloadTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledSingleValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexHandlerReloadQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/JsonDataTypeQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/JsonIngestionFromAvroQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/JsonMalformedIndexTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/JsonUnnestIngestionFromAvroQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/FieldConfig.java
Labels: enhancement, cleanup, testing

#14094 fix checks on largest comparison value for upsert ttl and allow to add segments out of ttl
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerForConsistentDeletes.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
Labels: enhancement, upsert

#13746 Add broker API to run a query on both query engines and compare results
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/api/resources/PinotClientRequestTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage, rest-api

#14082 Cleanup PluginManager's incorrect usage of environment variables terminology vs system properties
  pinot-spi/src/main/java/org/apache/pinot/spi/plugin/PluginManager.java
Labels: cleanup

#14112 Fix license headers in pinot-kafka-3.0
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/main/java/org/apache/pinot/plugin/stream/kafka30/KafkaStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/test/java/org/apache/pinot/plugin/stream/kafka30/KafkaPartitionLevelConsumerBackwardCompatibilityTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/test/java/org/apache/pinot/plugin/stream/kafka30/KafkaPartitionLevelConsumerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/test/java/org/apache/pinot/plugin/stream/kafka30/KafkaPartitionLevelStreamConfigTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/test/java/org/apache/pinot/plugin/stream/kafka30/utils/MiniKafkaCluster.java
Labels: cleanup

#14093 Add a server level config for segment server upload to deep store.
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitterFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitterFactoryTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/instance/InstanceDataManagerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
Labels: documentation, Configuration

#14089 Polymorphic binary arithmetic scalar functions
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArithmeticFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/arithmetic/MinusScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/arithmetic/MultScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/arithmetic/PlusScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/arithmetic/PolymorphicBinaryArithmeticScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/EqualsScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/GreaterThanOrEqualScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/GreaterThanScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/LessThanOrEqualScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/LessThanScalarFunction.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/comparison/NotEqualsScalarFunction.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/postaggregation/PostAggregationFunctionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/sql/fun/PinotOperatorTable.java
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformerTest.java
Labels: feature, backward-incompat, query, bugfix
