Repository apache/pinot, pull requests merged in 2024-05, with the labels that each got.

#13030 Use more efficient variants of URLEncoder::encode and URLDecoder::decode
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/URIUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/segment/generation/SegmentGenerationUtilsTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/src/main/java/org/apache/pinot/plugin/ingestion/batch/hadoop/HadoopSegmentCreationMapper.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/src/main/java/org/apache/pinot/plugin/ingestion/batch/standalone/SegmentGenerationJobRunner.java
  pinot-plugins/pinot-file-system/pinot-adls/src/main/java/org/apache/pinot/plugin/filesystem/AzurePinotFSUtil.java
  pinot-plugins/pinot-file-system/pinot-adls/src/test/java/org/apache/pinot/plugin/filesystem/test/AzurePinotFSUtilTest.java
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetNativeRecordReaderFullTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentPushUtils.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/LocalPinotFS.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: cleanup

#13020 Enhancement: Sketch value aggregator performance
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/DistinctCountCPCSketchStarTreeV2Test.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/DistinctCountIntegerSumTupleSketchStarTreeV2Test.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/DistinctCountThetaSketchStarTreeV2Test.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountCPCSketchValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountThetaSketchValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/IntegerTupleSketchValueAggregator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/aggregator/DistinctCountCPCSketchValueAggregatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/aggregator/DistinctCountThetaSketchValueAggregatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/aggregator/IntegerTupleSketchValueAggregatorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes, performance

#13041 log the log rate limiter rate for dropped broker logs
  pinot-broker/src/main/java/org/apache/pinot/broker/querylog/QueryLogger.java
Labels: bugfix

#13040 Cleanup deprecated query options
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BrokerRequestOptionsTest.java
  pinot-common/pom.xml
  pinot-common/src/main/java/org/apache/pinot/common/request/BrokerRequest.java
  pinot-common/src/main/java/org/apache/pinot/common/request/DataSource.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Expression.java
  pinot-common/src/main/java/org/apache/pinot/common/request/ExpressionType.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Function.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Identifier.java
  pinot-common/src/main/java/org/apache/pinot/common/request/InstanceRequest.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Join.java
  pinot-common/src/main/java/org/apache/pinot/common/request/JoinType.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Literal.java
  pinot-common/src/main/java/org/apache/pinot/common/request/PinotQuery.java
  pinot-common/src/main/java/org/apache/pinot/common/request/QuerySource.java
  pinot-common/src/main/java/org/apache/pinot/common/response/ProcessingException.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-common/src/thrift/query.thrift
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/main/java/org/apache/pinot/core/util/GapfillUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: bugfix, cleanup

#13056 Handle backward compatibility for kafka common package references in KafkaStreamConfig
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaConfigBackwardCompatibleUtils.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaConsumerFactory.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/test/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelStreamConfigTest.java
Labels: dependencies, bugfix

#13058 Fix JavaEE related dependencies
  pinot-common/pom.xml
  pinot-server/pom.xml
  pinot-spi/pom.xml
  pom.xml
Labels: dependencies, bugfix

#12945 dynamic chunk sizing for v4 raw forward index
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/ForwardIndexUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/MultiValueFixedByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/MultiValueVarByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/SingleValueFixedByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/SingleValueVarByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexCreatorFactory.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/MultiValueFixedByteRawIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/MultiValueVarByteRawIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexTypeTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexUtilsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/VarByteChunkSVForwardIndexTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/ForwardIndexConfig.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/index/ForwardIndexConfigTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/segment/converter/DictionaryToRawIndexConverter.java
Labels: documentation, release-notes, Configuration, ingestion, performance

#13050 bugfix: prevent background merges on the realtime lucene index
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/LuceneTextIndexCreator.java
Labels: ingestion, bugfix, real-time

#13075 [HELM]: Updated zookeeper chart zip package as per requirements file
  helm/pinot/charts/zookeeper-7.0.0.tgz
  helm/pinot/charts/zookeeper-9.2.7.tgz
Labels: helm

#13093 [Minor] Small refactor of raw index creator constructor to be more clear
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/MultiValueFixedByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/MultiValueVarByteRawIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/SingleValueVarByteRawIndexCreator.java
Labels: cleanup

#13083 [HELM]: zookeeper chart upgrade to version 13.2.0
  helm/pinot/charts/zookeeper-13.2.0.tgz
  helm/pinot/charts/zookeeper-9.2.7.tgz
  helm/pinot/requirements.lock
  helm/pinot/requirements.yaml
Labels: helm

#12993 Refactor WindowFunction process rows in batched partition
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/AggregationUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/ValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/WindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/WindowFunctionFactory.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/aggregate/AggregateWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/range/DenseRankWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/range/RangeWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/range/RankWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/range/RowNumberWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/value/FirstValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/value/LagValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/value/LastValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/value/LeadValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/value/ValueWindowFunction.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperatorTest.java
Labels: refactor, multi-stage

#13104 Fix race condition in AdaptiveServerSelection and misc fixes
  pinot-common/src/main/java/org/apache/pinot/common/exception/QueryException.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/AsyncQueryResponse.java
Labels: bugfix

#13048 #12635 Bug Fix createDictionaryForColumn does not take into account inverted index
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/dictionary/DictionaryIndexType.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
Labels: bugfix

#13082 Enhance Parquet Test
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetNativeRecordReaderFullTest.java
Labels: testing

#13037 Add support for creating raw derived columns during segment reload
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/V3DefaultColumnHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-local/src/test/resources/data/newColumnsSchema1.json
Labels: feature, release-notes

#13092 Bugfix: Validate minionInstanceTag during task-generation
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
Labels: bugfix, minion

#12767 Fetch the query quota capacity utilization rate broker metric in a callback function
  pinot-broker/src/main/java/org/apache/pinot/broker/queryquota/HelixExternalViewBasedQueryQuotaManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/queryquota/HitCounter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/queryquota/MaxHitRateTracker.java
  pinot-broker/src/test/java/org/apache/pinot/broker/queryquota/MaxHitRateTrackerTest.java
Labels: enhancement, metrics, bugfix, observability

#13106 Upgrade Calcite from 1.36.0 to 1.37.0
  pinot-common/src/main/codegen/config.fmpp
  pinot-common/src/main/codegen/default_config.fmpp
  pinot-common/src/main/codegen/templates/Parser.jj
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTest.java
  pom.xml
Labels: dependencies, multi-stage

#13095 bugfix: fix flakey test, avoid early finalization
  pinot-common/src/test/java/org/apache/pinot/common/utils/tls/TlsUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/CombineSlowOperatorsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/CombinePlanNodeTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/LuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
Labels: flaky-test, bugfix

#13124 Add a safe version of `CLStaticHttpHandler` that disallows path traversal.
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/PinotStaticHttpHandler.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionAdminApiApplication.java
  pinot-server/src/main/java/org/apache/pinot/server/api/AdminApiApplication.java
  pinot-tools/src/main/java/org/apache/pinot/tools/service/PinotServiceManagerAdminApiApplication.java
Labels: bugfix

#13094 bugfix: use consumerDir during lucene realtime segment conversion
  pinot-controller/src/main/java/org/apache/pinot/controller/recommender/realtime/provisioning/MemoryEstimator.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/stats/RealtimeSegmentSegmentCreationDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/RealtimeSegmentConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/LuceneTextIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/text/LuceneTextIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/TextIndexType.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplTestUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/LuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/FilePerIndexDirectoryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/SingleFileIndexDirectoryTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/MutableSegment.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/IndexCreationContext.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/provider/MutableIndexContext.java
Labels: ingestion, bugfix, real-time

#12886 Make Helix state transition handling idempotent
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/InstanceDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/ImmutableSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/OfflineTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/TableDataManagerProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerAcquireSegmentTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/TableDataManagerTestUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTrackerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/QueryOverrideWithHintsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorExceptionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SegmentWithNullValueVectorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/testutils/MockInstanceDataManagerFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/SegmentDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/EmptyIndexSegment.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentLoader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/PartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentLocks.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/IndexSegment.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentMessageHandlerFactory.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentOnlineOfflineStateModelFactory.java
  pinot-server/src/test/java/org/apache/pinot/server/api/BaseResourceTest.java
Labels: incompatible, bugfix, cleanup, refactor

#12659 upgrade flink to 1.19.0
  pinot-connectors/pinot-flink-connector/pom.xml
  pom.xml
Labels: dependencies, ingestion

#13115 Optimize unnecessary extra array allocation and conversion for raw derived column during segment reload
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/AbstractColumnStatisticsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/DoubleColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/FloatColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/IntColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/LongColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
Labels: enhancement

#13136 Do not add leaf stage time into broker time
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
Labels: bugfix, observability, multi-stage

#13137 add unit tests for pinot-jdbc-client
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/PinotConnectionTest.java
Labels: testing

#13150 Cleaning up vector index comments and exceptions
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/vector/HnswVectorIndexReader.java
Labels: cleanup

#13157 [Hotfix] Upsert compaction doesn't acknowledge maxLength info and trims string values
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskExecutor.java
Labels: upsert, bugfix

#13059 [HELM]: Added checksum config annotation in stateful set for broker, controller and server
  helm/pinot/templates/broker/statefulset.yaml
  helm/pinot/templates/controller/statefulset.yaml
  helm/pinot/templates/minion/statefulset.yaml
  helm/pinot/templates/server/statefulset.yaml
  helm/pinot/values.yaml
Labels: helm

#13156 Allow dynamically setting the log level even for loggers that aren't already explicitly configured
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerLogger.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/LoggerUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/LoggerUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerLogger.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/PinotMinionLogger.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/PinotServerLogger.java
  pinot-tools/src/main/java/org/apache/pinot/tools/service/api/resources/PinotServiceManagerLogger.java
Labels: feature

#12980 Add protobuf codegen decoder
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/com/google/protobuf/ProtobufInternalUtils.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufCodeGenMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufSchemaUtils.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufUtils.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/codegen/MessageCodeGen.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufCodeGenMessageDecoderTest.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufMessageDecoderTest.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufSchemaUtilsTest.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufTestDataGenerator.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufUtilsTest.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/codegen/MessageCodeGenTest.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/codegen_output/complex_type_all_method.txt
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/codegen_output/complex_type_some_method.txt
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/codegen_output/complex_types_record_extractor.txt
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/codegen_output/complex_types_some_fields_record_extractor.txt
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/codegen_output/composite_types_record_extractor.txt
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/codegen_output/sample_record_extractor.txt
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/complex_type_schema.json
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/complex_types.jar
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/complex_types.proto
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/composite_types.jar
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/sample.jar
Labels: feature, ingestion

#13139 Add support for nested exclusive predicates with JSON index; fix semantics for exclusive predicates
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/json/ImmutableJsonIndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/JsonIndexTest.java
Labels: enhancement, feature, release-notes, backward-incompat

#12538 Hash Function for UUID Primary Keys
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/HashUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/HashUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/HashFunction.java
Labels: upsert, performance

#13138 reduce regex pattern compilation in Pinot jdbc
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/utils/DriverUtils.java
Labels: enhancement

#12960 Add ability for minion nodes to download segments from servers during task execution
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/BaseTaskGenerator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/generator/TaskGeneratorUtilsTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseSingleSegmentConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/purge/PurgeTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtilsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TableTaskConfig.java
Labels: feature, release-notes, minion

#13005 Allow user configurable regex library for queries
  pinot-common/pom.xml
  pinot-common/src/main/java/org/apache/pinot/common/request/context/predicate/RegexpLikePredicate.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/regex/JavaUtilMatcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/regex/JavaUtilPattern.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/regex/Matcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/regex/MatcherFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/regex/Pattern.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/regex/PatternFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/regex/Re2jMatcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/regex/Re2jPattern.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/regex/RegexClass.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/regex/MatcherFactoryTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/regex/PatternFactoryTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/regex/RegexImplementationsTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RegexpLikePredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/RegexpExtractTransformFunction.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/json/ImmutableJsonIndexReader.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-tools/pom.xml
Labels: feature

#13036 Introduce retries while creating stream message decoder for more robustness
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
Labels: ingestion, real-time

#13078 SQL compliance: allow INT and FLOAT literal
  .github/workflows/pinot_tests.yml
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/TimeSegmentPruner.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/LiteralContext.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/ClpRewriter.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/CompileTimeFunctionsInvoker.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/OrdinalsUpdater.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/request/RequestUtilsTest.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/IdenticalPredicateFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/MergeRangeFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/NumericalFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/TimePredicateFilterOptimizer.java
  pinot-core/src/test/java/org/apache/pinot/core/query/optimizer/QueryOptimizerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/optimizer/filter/NumericalFilterOptimizerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverterTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFormatSpec.java
Labels: enhancement, backward-incompat, bugfix, SQL Compliance

#13179 Clean up BrokerRequestHandler and BrokerResponse
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/querylog/QueryLogger.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/querylog/QueryLoggerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandlerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/LiteralOnlyBrokerRequestTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandlerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/QueryOverrideTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/QueryValidationTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/SelectStarWithOtherColsRewriteTest.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTable.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNativeV2.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseStats.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/datatable/StatMapTest.java
  pinot-common/src/test/java/org/apache/pinot/request/BrokerResponseNativeTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/sql/SqlQueryExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BrokerReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/ExecutionStatsAggregator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/StreamingReduceService.java
  pinot-core/src/test/java/org/apache/pinot/core/query/reduce/BrokerReduceServiceTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExprMinMaxTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FluentQueryTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledMultiValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledMultiValueQueriesWithReloadTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledSingleValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexHandlerReloadQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/MultiValueRawQueriesTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/eventlistener/query/BrokerQueryEventListenerFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/eventlistener/query/PinotBrokerQueryEventListenerFactory.java
Labels: incompatible, bugfix, cleanup

#13122 Fix the ServletConfig loading issue with swagger.
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-common/src/main/java/org/apache/pinot/common/swagger/SwaggerApiListingResource.java
  pinot-common/src/main/java/org/apache/pinot/common/swagger/SwaggerSetupUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/AdminConsoleIntegrationTest.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionAdminApiApplication.java
  pinot-server/src/main/java/org/apache/pinot/server/api/AdminApiApplication.java
  pinot-tools/src/main/java/org/apache/pinot/tools/service/PinotServiceManagerAdminApiApplication.java
Labels: ui, bugfix, cleanup

#12806 Enhance Kinesis consumer
  pinot-core/src/test/java/org/apache/pinot/core/realtime/stream/StreamConfigTest.java
  pinot-integration-tests/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisConfig.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisConsumer.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/test/java/org/apache/pinot/plugin/stream/kinesis/KinesisConsumerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionGroupConsumer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
Labels: ingestion, bugfix, refactor, real-time

#13168 Adding config for having suffix for client ID for realtime consumer
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/instance/InstanceDataManagerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: documentation, Configuration, ingestion, real-time

#13180 [multistage] Make window operator more resilient
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNativeV2.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/hint/PinotHintOptions.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/WindowNode.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PhysicalPlanVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperatorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, documentation, multi-stage

#13153 Add PodDisruptionBudgets to the Pinot Helm chart
  helm/pinot/templates/broker/poddisruptionbudget.yaml
  helm/pinot/templates/controller/poddisruptionbudget.yaml
  helm/pinot/templates/server/poddisruptionbudget.yaml
  helm/pinot/values.yaml
Labels: enhancement, helm

#13200 Ensure brokerId and requestId are always set in BrokerResponse
  pinot-broker/src/main/java/org/apache/pinot/broker/querylog/QueryLogger.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/querylog/QueryLoggerTest.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNativeV2.java
Labels: bugfix

#13186 [bugfix] Ignore field when descriptor does not have filed from fieldsToRead in protobuf codegen decoder
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/codegen/MessageCodeGen.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/codegen/MessageCodeGenTest.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/resources/complex_type_schema.json
Labels: ingestion, bugfix

#13177 Improved metrics for server grpc query
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerTimer.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcResultsBlockStreamer.java
Labels: bugfix, observability

#12976 Add locking logic to get consistent table view for upsert tables
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertContext.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, release-notes, Configuration, upsert

#13146 Support ListAgg WITHIN GROUP clause
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ListAggDistinctFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ListAggFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/common/ObjectSerDeUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ArrayTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature, multi-stage

#13080 [spark-connector] Add option to fail read when there are invalid segments
  pinot-connectors/pinot-spark-2-connector/documentation/read_model.md
  pinot-connectors/pinot-spark-2-connector/src/main/scala/org/apache/pinot/connector/spark/datasource/DataExtractor.scala
  pinot-connectors/pinot-spark-2-connector/src/main/scala/org/apache/pinot/connector/spark/datasource/PinotDataSourceReader.scala
  pinot-connectors/pinot-spark-2-connector/src/main/scala/org/apache/pinot/connector/spark/datasource/PinotInputPartition.scala
  pinot-connectors/pinot-spark-2-connector/src/test/scala/org/apache/pinot/connector/spark/datasource/DataExtractorTest.scala
  pinot-connectors/pinot-spark-3-connector/documentation/read_model.md
  pinot-connectors/pinot-spark-3-connector/src/main/scala/org/apache/pinot/connector/spark/v3/datasource/DataExtractor.scala
  pinot-connectors/pinot-spark-3-connector/src/main/scala/org/apache/pinot/connector/spark/v3/datasource/PinotDataSource.scala
  pinot-connectors/pinot-spark-3-connector/src/main/scala/org/apache/pinot/connector/spark/v3/datasource/PinotScan.scala
  pinot-connectors/pinot-spark-3-connector/src/test/scala/org/apache/pinot/connector/spark/v3/datasource/DataExtractorTest.scala
  pinot-connectors/pinot-spark-common/src/main/scala/org/apache/pinot/connector/spark/common/PinotDataSourceReadOptions.scala
  pinot-connectors/pinot-spark-common/src/main/scala/org/apache/pinot/connector/spark/common/reader/PinotAbstractPartitionReader.scala
  pinot-connectors/pinot-spark-common/src/test/scala/org/apache/pinot/connector/spark/common/PinotDataSourceReadOptionsTest.scala
  pinot-connectors/pinot-spark-common/src/test/scala/org/apache/pinot/connector/spark/common/PinotSplitterTest.scala
Labels: feature, ingestion

#13206 Properly return response if SegmentCompletion is aborted
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
Labels: ingestion, bugfix, real-time

#13165 [HELM]: Added additional probes options and startup probe.
  helm/pinot/templates/broker/statefulset.yaml
  helm/pinot/templates/controller/statefulset.yaml
  helm/pinot/templates/minion-stateless/deployment.yaml
  helm/pinot/templates/minion/statefulset.yaml
  helm/pinot/templates/server/statefulset.yaml
  helm/pinot/values.yaml
Labels: helm

#13164 add instrumentation to json index getMatchingFlattenedDocsMap()
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractIndexTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/ResourceManagerAccountingTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/json/ImmutableJsonIndexReader.java
Labels: enhancement, performance

#13216 release segment mgrs more reliably
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
Labels: bugfix

#13207 Update consuming freshness field in query resp to be backed by the server reported ingestion delay timestamp
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTracker.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTrackerTest.java
Labels: feature, release-notes, observability

#13209 update access control check error handling to catch throwable and log errors
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AccessControlUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/access/AccessControlUtilsTest.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/FineGrainedAuthUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/auth/FineGrainedAuthUtilsTest.java
Labels: enhancement

#13199 ensure inverse And/OrFilterOperator implementations match the query
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/AndFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/BaseFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/OrFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/TestFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/AndFilterOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/BaseFilterOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/OrFilterOperatorTest.java
Labels: bugfix, performance

#13225 Allow all raw index config in star-tree index
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/StarTreeClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/BaseSingleTreeBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeV2BuilderConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeBuilderUtilsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeV2BuilderConfigTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/AggregationSpec.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/StarTreeV2Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/StarTreeV2Metadata.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/index/startree/StarTreeV2MetadataTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/FieldConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/StarTreeAggregationConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/StarTreeIndexConfig.java
Labels: documentation, release-notes, Configuration, bugfix

#13228 Fix some bugs related to FunnelMaxStepAggregationFunction
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/funnel/FunnelMaxStepAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/funnel/FunnelStepEvent.java
  pinot-core/src/test/java/org/apache/pinot/core/common/ObjectSerDeUtilsTest.java
Labels: bugfix

#13224 Fixed infer logical type name from avro union schema
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroSchemaUtil.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/test/java/org/apache/pinot/plugin/inputformat/avro/AvroSchemaUtilTest.java
Labels: enhancement, ingestion

#13233 upgrade to maven 3.9.7
  docker/images/pinot-base/pinot-base-build/amazoncorretto.dockerfile
  docker/images/pinot-base/pinot-base-build/ms-openjdk.dockerfile
  docker/images/pinot-base/pinot-base-build/openjdk.dockerfile
  docker/images/pinot-presto/Dockerfile
Labels: dependencies

#13243 Fix the issue that map flatten shouldn't remove the map field from the record
  pinot-core/src/test/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFrameworkTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformer.java
  pinot-tools/src/main/resources/examples/batch/githubComplexTypeEvents/githubComplexTypeEvents_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/githubComplexTypeEvents/githubComplexTypeEvents_schema.json
Labels: ingestion, bugfix

#13250 get startTime outside the executor task to avoid flaky time checks
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
Labels: flaky-test, bugfix

#13254 fixing swagger setup using localhost as host name
  pinot-common/src/main/java/org/apache/pinot/common/swagger/SwaggerSetupUtils.java
Labels: ui, bugfix

#13230 [HELM]: Publish Helm 0.2.9
  helm/index.yaml
  helm/pinot-0.2.9.tgz
  helm/pinot/Chart.yaml
Labels: helm

#13262 Fix the NPE when metadataTTL is enabled without delete column
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: upsert, bugfix

#13264 Helm: Bug fix for chart rendering issue.
  helm/index.yaml
  helm/pinot-0.2.9.tgz
  helm/pinot/templates/broker/statefulset.yaml
  helm/pinot/templates/controller/statefulset.yaml
Labels: bugfix, helm

#13258 Properly handle complex type transformer in segment processor framework
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
  pinot-core/src/test/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFrameworkTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformer.java
Labels: ingestion, bugfix

#13221 Serialize V2 Plan using Protobufs instead of reflection.
  pinot-common/src/main/proto/expressions.proto
  pinot-common/src/main/proto/plan.proto
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/AbstractPlanNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/AggregateNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/ExchangeNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/FilterNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/JoinNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/MailboxReceiveNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/MailboxSendNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/ProjectNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/SortNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/StageNodeSerDeUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/TableScanNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/ValueNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/WindowNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/PlanNodeSerializer.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/ProtoExpressionToRexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/ProtoSerializable.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/ProtoSerializationUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/RexExpressionToProtoExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/StageNodeDeserializer.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/QueryPlanSerDeUtils.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/plannode/SerDeUtilsTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/serde/ProtoSerializationUtilsTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
Labels: incompatible, backward-incompat, multi-stage

#13267 Add a plan version field to QueryRequest Protobuf Message
  pinot-common/src/main/proto/worker.proto
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage

#13247 Make allowDownloadFromServer minion-cluster-level config
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionConf.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionContext.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes, Configuration, minion
