Repository apache/pinot, pull requests merged in 2024-11, with the labels that each got.

#14352 [Test] Use EV check to ensure table deletion
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RealtimeConsumptionRateLimiterClusterIntegrationTest.java
Labels: testing

#14299 bugfix: TextMatchFilterOptimizer grouping for inner compound query
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/TextMatchFilterOptimizer.java
  pinot-core/src/test/java/org/apache/pinot/core/query/optimizer/QueryOptimizerTest.java
Labels: bugfix

#14364 Handle null values encountered in CLPDecodeTransformFunction
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CLPDecodeTransformFunction.java
Labels: bugfix

#14367 Adding example for ingestion aggregation
  pinot-tools/src/main/java/org/apache/pinot/tools/QuickStartBase.java
  pinot-tools/src/main/resources/examples/stream/dailySales/dailySales_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/dailySales/dailySales_schema.json
  pinot-tools/src/main/resources/examples/stream/dailySales/rawdata/dailySales.json
Labels: quickstart

#14374 Improve MSQ explain and stageStats when dealing with empty tables
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/catalog/PinotTable.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/explain/AskingServerStageExplainer.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/explain/MultiStageExplainAskingServersUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/MultiStageStatsTreeBuilder.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
Labels: bugfix, observability, multi-stage

#14360 Fix Some Test Resource Leaks
  pinot-core/src/test/java/org/apache/pinot/core/geospatial/transform/GeoFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/AllNullQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullHandlingEnabledQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/RangeQueriesTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
Labels: bugfix, testing

#14361 Lucene 9.12 Upgrade
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/vector/MutableVectorIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/text/LuceneFSTIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/LuceneTextIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/vector/HnswVectorIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/vector/lucene99/HnswCodec.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/converter/SegmentV1V2ToV3FormatConverter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/fst/FstIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/FSTIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/VectorIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/LuceneFSTIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/TextIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/vector/VectorIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/TextIndexUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/VectorIndexUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/nativefst/NativeFSTIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/LuceneFSTIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/NativeFSTIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/LoaderTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/FilePerIndexDirectoryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/SingleFileIndexDirectoryTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/store/SegmentDirectoryPaths.java
  pom.xml
Labels: dependencies

#14378 Check for `peerSegmentDownloadScheme` when reaching out to peer servers
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
Labels: ingestion, bugfix

#14382 Add back default AccessControl.hasAccess()
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AccessControl.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/access/AllowAllAccessFactory.java
Labels: bugfix

#14384 Add tablesQueried metadata to BrokerResponse
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNativeV2.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
Labels: query, observability, multi-stage

#14353 Fixing transform not happen in unnesting map
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/TransformPipeline.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/TransformPipelineTest.java
Labels: ingestion, bugfix

#14389 Fixed a pesky error in PagedPinotOutputStream.getPages
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PagedPinotOutputStream.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/memory/PagedPinotOutputStreamTest.java
Labels: query, bugfix

#14392 Fix real-time validation NPE when stream partition no longer available
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
Labels: ingestion, bugfix, real-time

#14394 [Minor] Reformat ClassLoaderTest
  pinot-spi/src/test/java/org/apache/pinot/spi/plugin/ClassLoaderTest.java
Labels: testing

#14393 Allow to set targetInstance for reloadSegment
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: enhancement, documentation, rest-api

#14391 Order index types so servers can process them in a more deterministic order
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/converter/SegmentV1V2ToV3FormatConverter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/IndexService.java
Labels: bugfix, index-spi

#14376 Add JSON Path Exists Function
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/JsonFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/JsonFunctionsTest.java
Labels: documentation, release-notes, query

#14403 Do not log warning when consumption rate limiter is not enabled
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeConsumptionRateManager.java
Labels: enhancement, observability

#14379 Move plugin assembly into a separate profile to fix apache release
  pinot-plugins/pinot-metrics/pinot-dropwizard/pom.xml
  pinot-plugins/pom.xml
Labels: bugfix, build

#14387 Allow configuring TLS between brokers and servers for the multi-stage engine
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/grpc/GrpcQueryClient.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/ChannelManager.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/GrpcMailboxServer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/DispatchClient.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/dispatch/QueryDispatcherTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
  pinot-server/src/main/java/org/apache/pinot/server/conf/ServerConf.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, security, multi-stage

#14395 Include the exception message in error response
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotUpsertRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
Labels: rest-api

#14340 Added support to perform task validations for plug-in tasks
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/PinotTaskGenerator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TaskConfigUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTableRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManagerStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/util/TaskConfigUtilsTest.java
  pinot-core/src/main/java/org/apache/pinot/core/common/MinionConstants.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskGeneratorTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGeneratorTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: ingestion, minion

#14396 Re-implement CSV record reader to skip unparseable lines
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVRecordReader.java
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVRecordReaderConfig.java
  pinot-plugins/pinot-input-format/pinot-csv/src/test/java/org/apache/pinot/plugin/inputformat/csv/CSVRecordReaderTest.java
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileBasic.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileEmpty.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithAlternateDelimiter.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithCustomNull.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithMultiLineValues.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithMultipleCombinations.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithMultipleCombinationsParseable.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithNoHeaderAndEmptyValues.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithQuotedHeaders.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithQuotes.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithSingleColumn.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithSpaceAroundHeaders.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithSurroundingSpaces.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithUnparseableFirstLine.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithUnparseableLastLine.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithUnparseableLine.csv
  pinot-plugins/pinot-input-format/pinot-csv/src/test/resources/dataFileWithUnparseableLines2.csv
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/RecordReader.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/RecordReaderFileConfig.java
Labels: enhancement, documentation, Configuration, ingestion, bugfix

#14406 Fix deepstore upload retry for infinite retention tables
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
Labels: bugfix

#14338 Remove Refactor TODO
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
Labels: refactor, multi-stage

#14413 [timeseries] Make Time Buckets Half Open on the Left
  pinot-core/src/main/java/org/apache/pinot/core/operator/timeseries/TimeSeriesAggregationOperator.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/timeseries/TimeSeriesAggregationOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/timeseries/PhysicalTimeSeriesPlanVisitorTest.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/TimeBuckets.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/plan/LeafTimeSeriesPlanNode.java
  pinot-timeseries/pinot-timeseries-spi/src/test/java/org/apache/pinot/tsdb/spi/TimeBucketsTest.java
  pinot-timeseries/pinot-timeseries-spi/src/test/java/org/apache/pinot/tsdb/spi/plan/LeafTimeSeriesPlanNodeTest.java
Labels: timeseries-engine

#14419 Use Picocli to generate help
  pinot-tools/src/main/java/org/apache/pinot/tools/AutoAddInvertedIndexTool.java
  pinot-tools/src/main/java/org/apache/pinot/tools/Command.java
  pinot-tools/src/main/java/org/apache/pinot/tools/SegmentDumpTool.java
  pinot-tools/src/main/java/org/apache/pinot/tools/UpdateSegmentState.java
  pinot-tools/src/main/java/org/apache/pinot/tools/ValidateTableRetention.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/PinotAdministrator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AbstractDatabaseBaseAdminCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddSchemaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddTenantCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AnonymizeDataCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AvroSchemaToPinotSchema.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/BootstrapTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ChangeNumReplicasCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ChangeTableState.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/CreateSegmentCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DataImportDryRunCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DeleteClusterCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DeleteSchemaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DeleteTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/FileSystemCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/GenerateDataCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/GitHubEventsQuickStartCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ImportDataCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/JsonToPinotSchema.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/LaunchDataIngestionJobCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/LaunchSparkDataIngestionJobCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/MoveReplicaGroup.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/OfflineSegmentIntervalCheckerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/OperateClusterConfigCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/PostQueryCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/QuickStartCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RealtimeProvisioningHelperCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RebalanceTableCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/SegmentProcessorFrameworkCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ShowClusterInfoCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartBrokerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartControllerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartKafkaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartMinionCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartServerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartServiceManagerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartZookeeperCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StopProcessCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StreamAvroIntoKafkaCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StreamGitHubEventsCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/UploadSegmentCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ValidateConfigCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/VerifyClusterStateCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/VerifySegmentState.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/filesystem/BaseFileOperation.java
  pinot-tools/src/main/java/org/apache/pinot/tools/filesystem/PinotFSBenchmarkRunner.java
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/PerfBenchmarkRunner.java
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/QueryRunner.java
  pinot-tools/src/main/java/org/apache/pinot/tools/segment/converter/PinotSegmentConvertCommand.java
  pinot-tools/src/test/java/org/apache/pinot/tools/admin/command/TestCommandHelp.java
Labels: bugfix

#14426 [timeseries] Fix Server Selection Bug + Enforce Timeout
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/TimeSeriesRequestHandler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/PhysicalTimeSeriesPlanVisitor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/TimeSeriesExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/timeseries/PhysicalTimeSeriesPlanVisitorTest.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/TimeSeriesPlanConstants.java
Labels: timeseries-engine

#14351 Remove emitting null value fields during data transformation for SchemaConformingTransformer
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerV2.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerV2Test.java
Labels: enhancement, backward-incompat, ingestion

#14435 Add hex decimal to long scalar functions
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DataTypeConversionFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/DataTypeConversionFunctionsTest.java
Labels: feature

#14442 Upgrade kafka3 from 3.8.0 to 3.9.0
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/README.md
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/pom.xml
  pom.xml
Labels: dependencies

#14429 Using local copy of segment instead of downloading from remote
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutor.java
Labels: enhancement, ingestion, minion

#14449 Update window function test plans to enable tests for supported functionality
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
Labels: testing, multi-stage

#14457 use offheapfststore as before
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/LuceneFSTIndexReader.java
Labels: bugfix

#14440 log segment name at best effort upon query exception to help locate the error segment
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseSingleBlockCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/MinMaxValueBasedSelectionOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/BaseStreamingCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingGroupByCombineOperator.java
Labels: enhancement, troubleshooting

#14445 add metric of startup time for all components
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerTimer.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerTimer.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/MinionTimer.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerTimer.java
  pinot-common/src/test/java/org/apache/pinot/common/metrics/prometheus/MinionPrometheusMetricsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
Labels: documentation, metrics, observability

#14366 Add error log sampling to CLPLogMessageDecoder
  pinot-plugins/pinot-input-format/pinot-clp-log/src/main/java/org/apache/pinot/plugin/inputformat/clplog/CLPLogMessageDecoder.java
Labels: enhancement, ingestion, real-time

#14434 Enhance funnel functions to accept a new option for maxStepDuration
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/funnel/window/FunnelBaseAggregationFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/WindowFunnelTest.java
Labels: enhancement

#14462 Fix Flaky test # 14456
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
Labels: flaky-test

#14418 Refactor `String.format` to Concatenation
  pinot-core/src/main/java/org/apache/pinot/core/auth/BasicAuthUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/DateTruncTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/MultiLevelPriorityQueue.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/SecondaryWorkloadQueue.java
  pinot-core/src/main/java/org/apache/pinot/core/util/ListenerConfigUtil.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFormatSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeGranularitySpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/VersionedPropertyReader.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: performance, refactor

#14471 Upgrade orc from 1.9.4 to 1.9.5
  pom.xml
Labels: dependencies

#14296 [spool] Define equivalence between stages
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/EquivalentStagesFinder.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/GroupedStages.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/ParentToChildrenStageCalculator.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/MailboxSendNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/PlanNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/PlanNodeVisitor.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/logical/EquivalentStagesFinderTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/logical/GroupedStagesTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/logical/StagesTestBase.java
Labels: feature, multi-stage

#14443 Spark upsert table backfill support
  pinot-common/src/main/java/org/apache/pinot/common/segment/generation/SegmentGenerationUtils.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-common/src/main/java/org/apache/pinot/plugin/ingestion/batch/common/SegmentGenerationTaskRunner.java
Labels: ingestion, bugfix

#14425 Use TransformPipeline in SegmentMapper
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFramework.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
Labels: refactor

#14476 Add TLS support to mailboxes used in the multi-stage engine
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/grpc/GrpcQueryClient.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/MailboxService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/ChannelManager.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/GrpcMailboxServer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
Labels: feature, security, multi-stage

#14475 Show multi-stage engine explain plan for integration test query failures with the multi-stage query engine
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
Labels: testing, multi-stage

#14487 Fix BitmapCollection::orCardinality API when combining a non-inverted bitmap with an inverted one
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/BitmapCollection.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/BitmapCollectionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: query, bugfix

#14448 Apply filter reduce expressions Calcite rule at the end to prevent literal-only filter pushdown to leaf stage
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
  pinot-query-runtime/src/test/resources/queries/LiteralExpressions.json
Labels: bugfix, multi-stage

#14485 Realtime segment size threshold metrics
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/FlushThresholdUpdateManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/SegmentSizeBasedFlushThresholdUpdater.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/segment/FlushThresholdUpdaterTest.java
Labels: ingestion, observability, real-time

#14502 Fix timestamp literal handling in the multi-stage query engine
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
Labels: bugfix, multi-stage

#14300 Minion Task to support automatic Segment Refresh
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-core/src/main/java/org/apache/pinot/core/common/MinionConstants.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RefreshSegmentMinionClusterIntegrationTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/refreshsegment/RefreshSegmentTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/refreshsegment/RefreshSegmentTaskExecutorFactory.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/refreshsegment/RefreshSegmentTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/refreshsegment/RefreshSegmentTaskProgressObserverFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TableStatsHumanReadable.java
Labels: feature, release-notes, Configuration, minion

#14474 Support for S3A Connector #14312
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3PinotFSTest.java
Labels: enhancement, feature, plugins

#14489 Fix default value handling in REGEXP_EXTRACT transform function
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/RegexpExtractTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/RegexpTransformFunctionTest.java
Labels: bugfix

#14444 Add `optimizeDictionaryType` config to automatically choose dictionary type
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/dictionary/DictionaryIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/DictionaryIndexConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/IndexingConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
Labels: enhancement, documentation, ingestion

#14516 make updating segment.tier and rebalancing table consistent on segment's tier
  pinot-common/src/main/java/org/apache/pinot/common/tier/TierFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TierConfigUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/tier/TierConfigUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
Labels: bugfix

#14517 improve error for schema name validation
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
Labels: refactor

#14508 restrict UploadedRealtimeSegmentName upload to realtime table
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
Labels: backward-incompat, ingestion

#14501 [timeseries] Response Size Limit, Metrics and Series Limit
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/TimeSeriesRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/TimeSeriesResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/merger/TimeSeriesAggResultsBlockMerger.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/timeseries/TimeSeriesAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/TimeSeriesPlanNode.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/timeseries/TimeSeriesAggregationOperatorTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/LeafTimeSeriesOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/timeseries/TimeSeriesDispatchClient.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/SimpleTimeSeriesBuilderFactory.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/series/TimeSeriesBuilderFactory.java
Labels: timeseries-engine

#14525 Adding more derived json parsed columns in QuickStart example
  pinot-tools/src/main/resources/examples/batch/githubComplexTypeEvents/githubComplexTypeEvents_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/githubComplexTypeEvents/githubComplexTypeEvents_schema.json
Labels: quickstart

#14523 [Multi-stage] Allow filter for lookup JOIN
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/hint/PinotHintOptions.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotFilterJoinRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotJoinExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotProjectJoinTransposeRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
Labels: feature, multi-stage

#14539 Replace More `String.format()` Usages With Concatenation
  pinot-core/src/main/java/org/apache/pinot/core/auth/FineGrainedAuthUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTracker.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/BaseBooleanAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/postaggregation/PostAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BrokerReduceService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/utils/OrderByComparatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/util/DataBlockExtractUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/util/GapfillUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/util/ListenerConfigUtil.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFormatSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/PrimaryKey.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/CommonsConfigurationUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/IngestionJobLauncher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/plugin/PluginManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/TimestampUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/ConfigUtilsTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/env/CommonsConfigurationUtilsTest.java
Labels: cleanup

#14535 Force cert reload on a daily basis.
  pinot-common/src/main/java/org/apache/pinot/common/utils/tls/RenewableTlsUtils.java
Labels: enhancement, security

#14534 Implement the ability to toggle dropping CLP processed field from the original generic record.
  pinot-plugins/pinot-input-format/pinot-clp-log/src/main/java/org/apache/pinot/plugin/inputformat/clplog/CLPLogRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-clp-log/src/main/java/org/apache/pinot/plugin/inputformat/clplog/CLPLogRecordExtractorConfig.java
  pinot-plugins/pinot-input-format/pinot-clp-log/src/test/java/org/apache/pinot/plugin/inputformat/clplog/CLPLogRecordExtractorTest.java
Labels: backward-incompat, feature request

#14554 Adjust RequestUtils#getTableNames to get table names from both left and right sides of join
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/request/RequestUtilsTest.java
Labels: bugfix

#14503 Adds check if controller tmp dir exists
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ControllerFilePathProvider.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/ControllerFilePathProviderTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResourceTest.java
Labels: bugfix

#14557 Cleanup long offset in completion protocol
  pinot-common/src/main/java/org/apache/pinot/common/protocols/SegmentCompletionProtocol.java
  pinot-common/src/test/java/org/apache/pinot/common/protocols/SegmentCompletionProtocolTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/LLCSegmentCompletionHandlers.java
Labels: ingestion, cleanup, real-time

#14559 Cleanup non split commit code
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/LLCSegmentCompletionHandlers.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionTest.java
Labels: ingestion, cleanup, real-time
