Repository apache/pinot, pull requests merged in 2024-04, with the labels that each got.

#12710 Add some additional metrics for Minion tasks
  pinot-common/src/main/java/org/apache/pinot/common/metrics/MinionMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/minion/SegmentPurger.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseSingleSegmentConversionExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseTaskExecutor.java
Labels: metrics, observability

#12673 Improved null check for varargs
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/BrokerCache.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArrayFunctions.java
Labels: cleanup

#12271 Percentile operations supporting null
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/NullableSingleInputAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileEstAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileEstMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileKLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileKLLMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileRawEstAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileRawKLLAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileRawTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileSmartTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileTDigestAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/PercentileTDigestMVAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AbstractPercentileAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/PercentileAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/PercentileEstAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/PercentileKLLAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/PercentileSmartTDigestAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FluentQueryTest.java
Labels: null support

#12761 upgrade to slf4j 2.0.12
  pom.xml
Labels: dependencies

#12760 Cleanup Javax and Jakarta dependencies
  pinot-broker/pom.xml
  pinot-common/pom.xml
  pinot-compatibility-verifier/pom.xml
  pinot-connectors/pinot-flink-connector/pom.xml
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-controller/pom.xml
  pinot-core/pom.xml
  pinot-distribution/pom.xml
  pinot-integration-test-base/pom.xml
  pinot-integration-tests/pom.xml
  pinot-minion/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/pom.xml
  pinot-plugins/pinot-file-system/pinot-s3/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/SerializedFrequentLongsSketch.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/SerializedFrequentStringsSketch.java
  pinot-server/pom.xml
  pinot-spi/pom.xml
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies

#12769 upgrade lmax disruptor to 4.0.0
  pom.xml
Labels: dependencies

#12770 Set column major segment builder to be on by default
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/IndexingConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/StreamIngestionConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
Labels: Configuration

#12754 Upgrade Calcite to 1.36.0
  pinot-common/pom.xml
  pinot-common/src/main/codegen/config.fmpp
  pinot-common/src/main/codegen/default_config.fmpp
  pinot-common/src/main/codegen/includes/parserImpls.ftl
  pinot-common/src/main/codegen/templates/Parser.jj
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/ParserUtils.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/DateTimeFunctionsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/StarTreeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ArrayTest.java
  pinot-integration-tests/src/test/resources/ssb/ssb_query_set.yaml
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/calcite/rel/rules/PinotRuleUtils.java
  pinot-query-planner/src/main/java/org/apache/calcite/sql2rel/PinotConvertletTable.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/ParserUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/QueryRewriter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/QueryPlan.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/QueryPlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/SubPlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PinotLogicalQueryPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/SubPlanFragmenter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchableSubPlan.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/validate/Validator.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/queries/ResourceBasedQueryPlansTest.java
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/resources/queries/Case.json
  pinot-query-runtime/src/test/resources/queries/LexicalStructure.json
  pinot-query-runtime/src/test/resources/queries/TypeCasting.json
  pom.xml
Labels: enhancement, dependencies, release-notes, cleanup, multi-stage

#12771 Remove unused jcabi-log dependency
  pinot-broker/pom.xml
  pinot-controller/pom.xml
  pinot-server/pom.xml
  pom.xml
Labels: dependencies

#12772 Upgrade Jersey related libraries
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies

#12777 upgrade to jacoco 0.8.12
  pom.xml
Labels: dependencies

#12778 BugFix: Fix merge result from more than one server
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountCPCSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountThetaSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/IntegerTupleSketchAggregationFunction.java
Labels: bugfix

#12459 Add minionInstanceTag config to minion-tasks for resource isolation
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/BaseTaskGenerator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/PinotTaskGenerator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/TaskGeneratorUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/generator/TaskGeneratorUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MergeRollupMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SimpleMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/plugin/minion/tasks/TestTaskGenerator.java
Labels: feature, release-notes

#12750 validate swagger endpoints
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/AdminConsoleIntegrationTest.java
Labels: testing

#12780 upgrade testcontainers to 1.19.7
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
Labels: dependencies

#12790 Add support for date_bin() function.
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DateTimeFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/DateTimeFunctionsTest.java
Labels: feature, release-notes

#12747 Emit table size related metrics only in lead pinot-controller
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/DebugResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableSize.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/SegmentValidationUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableSizeReader.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableSizeReaderTest.java
Labels: metrics, bugfix, observability

#12764 Bug fix. Allow passing null http headers object to translateTableName
  pinot-common/src/main/java/org/apache/pinot/common/utils/DatabaseUtils.java
Labels: bugfix

#12681 12508: Feature add segment rows flush config
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/FixedFlushThresholdUpdater.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/FlushThresholdUpdateManager.java
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddIngestionComponent.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddRealTimeIngestionComponent.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddRealtimeTableOp.tsx
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/segment/FlushThresholdUpdaterTest.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/stream/StreamConfigTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfigProperties.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/ConfigUtilsTest.java
Labels: documentation, release-notes, Configuration

#12795 Add Postgres compliant name aliasing for String Functions.
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
Labels: enhancement

#12739 Update metric rules to emit database as a label
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/broker.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/controller.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/minion.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/pinot.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/server.yml
Labels: bugfix, observability

#12797 upgrade zstd-jni to 1.5.6-2
  pom.xml
Labels: dependencies

#12792 Handle table name translation on missed api resources
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerDebug.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableSize.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableViews.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/ControllerJobStatusResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/DebugResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/MmapDebugResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TableSizeResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TableTierResource.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
Labels: bugfix

#12755 Added tests for additional data types in SegmentPreProcessorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-local/src/test/resources/data/testDataMVSchema.json
Labels: testing

#12794 Fix some resource leak in tests
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/PercentileSmartTDigestAggregationFunctionTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplIngestionAggregationTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/io/writer/impl/VarByteChunkSVForwardIndexWriterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/ColumnMetadataTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/MultiValueVarByteRawIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentGenerationWithBytesTypeTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/unsafe/DirectMemory.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/unsafe/MmapMemory.java
Labels: bugfix, testing

#12789 Fix the time segment pruner on TIMESTAMP data type
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/SegmentPrunerFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/TimeSegmentPruner.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/segmentpruner/SegmentPrunerTest.java
  pinot-common/src/test/java/org/apache/pinot/common/data/SchemaTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DateTimeFieldSpec.java
Labels: bugfix, cleanup

#12804 Keep get tables API with and without database
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotBrokerRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLeadControllerRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/cleanup/StaleInstancesCleanupTask.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/periodictask/ControllerPeriodicTask.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/RealtimeConsumerMonitorTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/periodictask/ControllerPeriodicTaskTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/RetentionManagerTest.java
Labels: bugfix

#12816 [Minor] Add Nullable annotation to HttpHeaders in BrokerRequestHandler
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
Labels: cleanup

#12694 add SegmentContext to collect validDocIds bitmaps for many segments together
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/InstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/streaming/StreamingInstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AcquireReleaseColumnsSegmentPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/DistinctPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/DocIdSetPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/FilterPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/GroupByPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/InstanceResponsePlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/ProjectPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/SelectionPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/StreamingInstanceResponsePlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/StreamingSelectionPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/PlanMaker.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/SelectionCombineOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/query/SelectionOrderByOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/streaming/StreamingSelectionOnlyOperatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/FilterPlanNodeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/TestUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/groupby/DictionaryBasedGroupKeyGeneratorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/groupby/GroupByTrimTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/groupby/NoDictionaryGroupKeyGeneratorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BooleanAggQueriesTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNativeAndLuceneBasedLike.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNativeVsLuceneTextIndex.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/testutils/MockInstanceDataManagerFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/SegmentContext.java
Labels: enhancement, incompatible, upsert, cleanup

#12776 use static TypeReference object
  pinot-common/src/main/java/org/apache/pinot/common/minion/MinionClient.java
Labels: cleanup

#12859 remove easymock library
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/test/java/org/apache/pinot/plugin/stream/kinesis/KinesisConsumerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/test/java/org/apache/pinot/plugin/stream/kinesis/KinesisStreamMetadataProviderTest.java
Labels: cleanup

#12788 Add SchemaConformingTransformerV2 to enhance text search abilities
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/test/java/org/apache/pinot/queries/TransformQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerV2.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/Base64Utils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/IngestionUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerV2Test.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/Base64UtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/IngestionConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/SchemaConformingTransformerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/SchemaConformingTransformerV2Config.java
Labels: feature, release-notes, refactor

#12878 Support ValueWindowFunction for LEAD/LAG/FIRST_VALUE/LAST_VALUE
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotWindowExchangeNodeInsertRule.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/AggregationUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/FirstValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/LagValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/LastValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/LeadValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/ValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/WindowFunction.java
Labels: feature, documentation, release-notes, multi-stage

#12881 Bump net.minidev:json-smart from 2.5.0 to 2.5.1
  pom.xml
Labels: dependencies

#12884 Move some mis-positioned tests under pinot-core
  pinot-common/src/test/java/org/apache/pinot/common/request/context/LiteralContextTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/request/RequestUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/common/utils/request/RequestUtilsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/util/IntDoubleIndexedPriorityQueueTest.java
  pinot-core/src/test/java/org/apache/pinot/core/util/IntObjectIndexedPriorityQueueTest.java
  pinot-core/src/test/java/org/apache/pinot/core/util/QueryMultiThreadingUtilsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/crypt/PinotCrypterFactoryTest.java
Labels: cleanup

#12885 Dependency test failures fix for Reflections from 0.9.11 to 0.10.2
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/PinotReflectionUtils.java
  pom.xml
Labels: dependencies

#12905 Cleanup HTTP components dependencies and upgrade Thrift
  pinot-plugins/pinot-input-format/pinot-thrift/pom.xml
  pinot-plugins/pinot-input-format/pinot-thrift/src/main/java/org/apache/pinot/plugin/inputformat/thrift/ThriftRecordExtractor.java
  pom.xml
Labels: dependencies, cleanup

#12904 Cleanup unnecessary dependencies under pinot-s3
  pinot-plugins/pinot-file-system/pinot-s3/pom.xml
Labels: dependencies, cleanup

#12812 Enhance Pulsar consumer
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarConfig.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarPartitionLevelConnectionHandler.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarPartitionLevelConsumer.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarUtils.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarConsumerTest.java
Labels: ingestion, bugfix, refactor, real-time

#12908 swagger-ui upgrade to 5.15.0 Fixes
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pom.xml
Labels: dependencies

#12921 Added PR compatibility test against release 1.1.0
  .github/workflows/pinot_tests.yml
Labels: testing

#12744 Improved segment build time for Lucene text index realtime to offline conversion
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/LuceneTextIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/text/LuceneTextIndexReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/FilePerIndexDirectoryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/SingleFileIndexDirectoryTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/IndexCreationContext.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentCreator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/TextIndexConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableIndex.java
Labels: enhancement, ingestion, performance, real-time

#12863 Using local copy of segment instead of downloading from remote
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/BaseMultipleSegmentsConversionExecutor.java
Labels: enhancement, minion

#12935 Specify version for commons-validator
  pom.xml
Labels: dependencies

#12933 Refine PeerServerSegmentFinder
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/BaseSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/HttpSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/core/util/PeerServerSegmentFinder.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/fetcher/HttpSegmentFetcherTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/util/PeerServerSegmentFinderTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/retry/ExponentialBackoffRetryPolicy.java
Labels: bugfix, cleanup, refactor

#12930 Skip node level throttle during server bootstrap - Enhancement
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
Labels: enhancement

#12937 Bump org.codehaus.mojo:buildnumber-maven-plugin from 1.3 to 3.2.0
  pom.xml
Labels: dependencies

#12936 Refine SegmentFetcherFactory
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/SegmentFetcherFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
Labels: cleanup, refactor

#12838 Add validation check for forward index disabled when enabling columnar segment creation
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: enhancement

#12944 Move PinotRelExchangeType back to the original package to fix backward compatibility
  pinot-query-planner/src/main/java/org/apache/calcite/rel/logical/PinotRelExchangeType.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/logical/PinotLogicalExchange.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/logical/PinotLogicalSortExchange.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotJoinToDynamicBroadcastRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PinotLogicalQueryPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PlanFragmenter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/SubPlanFragmenter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/ExchangeNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/MailboxReceiveNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/MailboxSendNode.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
Labels: bugfix, multi-stage

#12943 TLS Port for Minion
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
Labels: security, minion

#12947 Fix a typo when calculating query freshness
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
Labels: bugfix

#12946 Enhance ProtoSerializationUtils to handle class move
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/ExchangeNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/ProtoSerializationUtils.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/serde/ProtoSerializationUtilsTest.java
Labels: enhancement, multi-stage

#12786 Allowing users to pass minionInstanceTag as a param in /tasks/schedule API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SimpleMinionClusterIntegrationTest.java
Labels: feature, rest-api

#12931 Isolate bad server configs during broker startup phase
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
Labels: bugfix

#12958 make reflection calls compatible with 0.9.11
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/PinotReflectionUtils.java
Labels: dependencies

#12954 add some tests on jsonPathString
  pinot-common/src/test/java/org/apache/pinot/common/function/JsonFunctionsTest.java
Labels: testing

#12956 Upgrade ORC version to 1.9.3
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pom.xml
Labels: dependencies

#12602 Ability to track offsets of filtered events
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/StreamIngestionConfig.java
Labels: observability

#12948 Enhance PulsarConsumerTest
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarConsumerTest.java
Labels: ingestion, testing

#12712 upgrade maven-shade-plugin version to 3.5.2
  .github/workflows/scripts/pr-tests/.pinot_tests_unit.sh
  pinot-clients/pinot-java-client/pom.xml
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-common/pom.xml
  pinot-core/pom.xml
  pinot-distribution/pom.xml
  pinot-perf/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-common/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-hadoop/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/pom.xml
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-standalone/pom.xml
  pinot-plugins/pinot-environment/pinot-azure/pom.xml
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
  pinot-plugins/pinot-file-system/pinot-gcs/pom.xml
  pinot-plugins/pinot-file-system/pinot-hdfs/pom.xml
  pinot-plugins/pinot-file-system/pinot-s3/pom.xml
  pinot-plugins/pinot-input-format/pinot-avro-base/pom.xml
  pinot-plugins/pinot-input-format/pinot-avro/pom.xml
  pinot-plugins/pinot-input-format/pinot-clp-log/pom.xml
  pinot-plugins/pinot-input-format/pinot-confluent-avro/pom.xml
  pinot-plugins/pinot-input-format/pinot-csv/pom.xml
  pinot-plugins/pinot-input-format/pinot-json/pom.xml
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-input-format/pinot-thrift/pom.xml
  pinot-plugins/pinot-metrics/pinot-dropwizard/pom.xml
  pinot-plugins/pinot-metrics/pinot-yammer/pom.xml
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/pom.xml
  pinot-plugins/pinot-segment-uploader/pinot-segment-uploader-default/pom.xml
  pinot-plugins/pinot-segment-writer/pinot-segment-writer-file-based/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-base/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pinot-plugins/pom.xml
  pinot-spi/pom.xml
  pom.xml
Labels: dependencies, build

#12437 Add splitPartWithLimit and splitPartFromEnd UDFs
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/StringFunctionsTest.java
Labels: feature

#12970 Reduce logging for SpecialValueTransformer
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SpecialValueTransformer.java
Labels: ingestion

#12964 Refactor PinotTaskManager class
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTaskRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/CronJobScheduleJob.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MergeRollupMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PurgeMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RealtimeToOfflineSegmentsMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SimpleMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UrlAuthRealtimeIntegrationTest.java
Labels: incompatible, refactor, minion

#12979 Add back shade profile for shade removed in #12712
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-common/pom.xml
  pinot-core/pom.xml
  pinot-plugins/pinot-file-system/pinot-s3/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/pom.xml
  pinot-spi/pom.xml
Labels: dependencies, build

#12883 handle absent segments so that catchup checker doesn't get stuck on them
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/FreshnessBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/IngestionBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/OffsetBasedConsumptionStatusChecker.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/ConsumptionStatusCheckerTestUtils.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/FreshnessBasedConsumptionStatusCheckerTest.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/OffsetBasedConsumptionStatusCheckerTest.java
Labels: bugfix

#12392 Add Prefix, Suffix and Ngram UDFs
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/StringFunctionsTest.java
Labels: feature

#12967 Upgrade Pulsar to 3.2.2
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/main/java/org/apache/pinot/plugin/stream/pulsar/PulsarUtils.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarConsumerTest.java
  pinot-tools/pom.xml
  pom.xml
Labels: dependencies, ingestion

#12981 Add schema as input to the decoder.
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamDecoderProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamMessageDecoder.java
Labels: enhancement, ingestion, real-time

#12978 Avoid useless byte array allocation for VarChunkV4Reader StringMV
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkForwardIndexReaderV4.java
Labels: performance

#13007 Upgrade scala maven plugin to 4.9.0
  pom.xml
Labels: dependencies

#12992 Re-enable the Spotless plugin for Java 21
  pinot-common/pom.xml
  pom.xml
Labels: build

#12783 Use ArrayList instead of LinkedList in SortOperator
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
Labels: performance, multi-stage

#13009 bugfix: fix TextMatchFilterOptimizer boolean grouping
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/TextMatchFilterOptimizer.java
  pinot-core/src/test/java/org/apache/pinot/core/query/optimizer/QueryOptimizerTest.java
Labels: bugfix

#12982 Add some multi-stage metrics
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
Labels: metrics, observability, multi-stage

#12988 Support NOT in StarTree Index
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/SortedIndexBasedFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/BaseDictionaryBasedPredicateEvaluator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/BasePredicateEvaluator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/EqualsPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/FSTBasedRegexpPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/InPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/NotEqualsPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/NotInPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/PredicateEvaluator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/PredicateUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RangePredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RegexpLikePredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/CompositePredicateEvaluator.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/StarTreeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/operator/StarTreeFilterOperator.java
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkScanDocIdIterators.java
Labels: feature, release-notes, bugfix

#13011 Apply both environment variables and system properties to user and table config
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/ConfigUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/ConfigUtilsTest.java
Labels: enhancement

#12922 Issue #12367 testCaseTransformFunctionWithIntResults test fix
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/CaseTransformFunctionTest.java
Labels: testing

#13028 Upgrade s3mock to 2.17.0
  pinot-plugins/pinot-file-system/pinot-s3/pom.xml
Labels: dependencies

#13018 Upgrade jna to version 5.14.0 for Mac M1/M2 local execution support
  LICENSE-binary
  pinot-plugins/pinot-file-system/pinot-adls/pom.xml
  pom.xml
Labels: dependencies

#13017 Ensure all the lists used in PinotQuery are ArrayList
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/ClpRewriter.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/ExprMinMaxRewriter.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/NonAggregationGroupByToDistinctQueryRewriter.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/OrdinalsUpdater.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/PredicateComparisonRewriter.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/MergeEqInFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/MergeRangeFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/TextMatchFilterOptimizer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/TimePredicateFilterOptimizer.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/QueryOverrideWithHintsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/optimizer/QueryOptimizerTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
Labels: bugfix, refactor
