Repository apache/pinot, pull requests merged in 2024-06, with the labels that each got.

#13283 Add support for raw JSON filter predicates
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/EqualsPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/InPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/NotEqualsPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/NotInPredicateEvaluatorFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/predicate/NoDictionaryEqualsPredicateEvaluatorsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/predicate/NoDictionaryInPredicateEvaluatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/predicate/PredicateEvaluatorTestUtils.java
Labels: bugfix

#13279 [bugfix] Handling null value for kafka client id suffix
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
Labels: bugfix

#13282 Pass literal within AggregateCall via rexList
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/hint/PinotHintOptions.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotAggregateLiteralAttachmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/LiteralHintUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/resources/queries/GroupByPlans.json
  pinot-query-planner/src/test/resources/queries/OrderByPlans.json
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/test/resources/queries/QueryHints.json
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: backward-incompat, bugfix, cleanup, multi-stage

#13276 [HELM]: Bug fix for PDB and checksum config annotation for reload.
  helm/index.yaml
  helm/pinot-0.2.9.tgz
  helm/pinot/templates/broker/poddisruptionbudget.yaml
  helm/pinot/templates/broker/statefulset.yaml
  helm/pinot/templates/controller/poddisruptionbudget.yaml
  helm/pinot/templates/controller/statefulset.yaml
  helm/pinot/templates/minion/statefulset.yaml
  helm/pinot/templates/server/poddisruptionbudget.yaml
  helm/pinot/templates/server/statefulset.yaml
Labels: bugfix, kubernetes, helm

#13291 Introduce PinotLogicalAggregate and remove internal hint
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/hint/PinotHintStrategyTable.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/logical/PinotLogicalAggregate.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotAggregateExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotRelDistributionTraitRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/AggregateNode.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
  pinot-query-planner/src/test/resources/queries/BasicQueryPlans.json
  pinot-query-planner/src/test/resources/queries/GroupByPlans.json
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
  pinot-query-planner/src/test/resources/queries/OrderByPlans.json
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
  pinot-query-planner/src/test/resources/queries/SetOpPlans.json
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
Labels: cleanup, multi-stage

#13293 Remove SqlKind from FunctionCall
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/main/proto/expressions.proto
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/ProtoExpressionToRexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/RexExpressionToProtoExpression.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FunctionOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/TransformOperandFactory.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/AggregationUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/OperatorUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestVisitor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/FilterOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/TransformOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperatorTest.java
Labels: backward-incompat, bugfix, cleanup, multi-stage

#13193 Add backward compatibility regression test suite for multi-stage query engine
  .github/workflows/pinot_multi_stage_query_engine_compatibility_tests.yml
  .github/workflows/pinot_tests.yml
  .gitignore
  compatibility-verifier/multi-stage-query-engine-test-suite/config/BrokerConfig.properties
  compatibility-verifier/multi-stage-query-engine-test-suite/config/ControllerConfig.properties
  compatibility-verifier/multi-stage-query-engine-test-suite/config/FeatureTest1-schema.json
  compatibility-verifier/multi-stage-query-engine-test-suite/config/FeatureTest2-schema.json
  compatibility-verifier/multi-stage-query-engine-test-suite/config/ServerConfig.properties
  compatibility-verifier/multi-stage-query-engine-test-suite/config/data/FeatureTest1-data-00.csv
  compatibility-verifier/multi-stage-query-engine-test-suite/config/data/FeatureTest2-data-realtime-00.csv
  compatibility-verifier/multi-stage-query-engine-test-suite/config/data/recordReaderConfig.json
  compatibility-verifier/multi-stage-query-engine-test-suite/config/feature-test-1.json
  compatibility-verifier/multi-stage-query-engine-test-suite/config/feature-test-2-realtime-stream-config.json
  compatibility-verifier/multi-stage-query-engine-test-suite/config/feature-test-2-realtime.json
  compatibility-verifier/multi-stage-query-engine-test-suite/config/queries/feature-test-multi-stage.queries
  compatibility-verifier/multi-stage-query-engine-test-suite/config/query-results/feature-test-multi-stage.results
  compatibility-verifier/multi-stage-query-engine-test-suite/post-broker-rollback.yaml
  compatibility-verifier/multi-stage-query-engine-test-suite/post-controller-rollback.yaml
  compatibility-verifier/multi-stage-query-engine-test-suite/post-server-rollback.yaml
  compatibility-verifier/multi-stage-query-engine-test-suite/post-server-upgrade.yaml
  compatibility-verifier/multi-stage-query-engine-test-suite/pre-broker-upgrade.yaml
  compatibility-verifier/multi-stage-query-engine-test-suite/pre-controller-upgrade.yaml
  compatibility-verifier/multi-stage-query-engine-test-suite/pre-server-upgrade.yaml
  pinot-common/src/main/java/org/apache/pinot/common/utils/SqlResultComparator.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/QueryOp.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/Utils.java
  pinot-tools/src/main/java/org/apache/pinot/tools/utils/ExplainPlanUtils.java
Labels: testing, multi-stage

#13266 add metrics for IdeaState update
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerTimer.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/HelixHelper.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/cleanup/SchemaCleanupTaskStatelessTest.java
Labels: observability

#13195 Returning tables names failing authorization in Exception of Multi State Engine Queries
  pinot-broker/src/main/java/org/apache/pinot/broker/api/AccessControl.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/AllowAllAccessControlFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/AuthenticationFilter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BasicAuthAccessControlFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/ZkBasicAuthAccessControlFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/api/AccessControlBackwardCompatibleTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/BasicAuthAccessControlTest.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/FineGrainedAccessControl.java
  pinot-spi/src/main/java/org/apache/pinot/spi/auth/AuthorizationResult.java
  pinot-spi/src/main/java/org/apache/pinot/spi/auth/BasicAuthorizationResultImpl.java
  pinot-spi/src/main/java/org/apache/pinot/spi/auth/TableAuthorizationResult.java
  pinot-spi/src/test/java/org/apache/pinot/spi/auth/BasicAuthorizationResultImplTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/auth/TableAuthorizationResultTest.java
Labels: enhancement, observability, security

#13308 lucene `IndexOutOfBounds` bugfix, and use NRTCachingDirectory for realtime segment
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/LuceneTextIndexCreator.java
Labels: enhancement, bugfix

#13306 Short circuit SubPlanFragmenter because we don't support multiple sub-plans yet
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/QueryPlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PinotLogicalQueryPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/SubPlanFragmenter.java
Labels: cleanup, performance

#13231 Add FunnelCompleteCount aggregation function
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArrayFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/FunctionDefinitionRegistryTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/funnel/window/FunnelBaseAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/funnel/window/FunnelCompleteCountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/funnel/window/FunnelMatchStepAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/funnel/window/FunnelMaxStepAggregationFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/WindowFunnelTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature, release-notes, multi-stage

#13103 Add config to skip record ingestion on string column length exceeding configured max schema length
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-common/src/test/java/org/apache/pinot/common/data/FieldSpecTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SanitizationTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/TransformPipeline.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DimensionFieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/MetricFieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/GenericRow.java
Labels: feature, documentation, release-notes, Configuration, ingestion

#13281 Report rebalance job status for the early returns like noops
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/NoOpTableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/ZkBasedTableRebalanceObserver.java
Labels: bugfix

#13313 Fix the NPE from IS update metrics
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/HelixHelper.java
Labels: bugfix

#13032 Add metrics to count joins and window functions
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/MinionMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMetrics.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PinotLogicalQueryPlanner.java
  pinot-spi/src/main/java/org/apache/pinot/spi/annotations/metrics/PinotMetricsFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/metrics/NoopPinotMetricsRegistry.java
  pinot-spi/src/main/java/org/apache/pinot/spi/metrics/PinotMetricUtils.java
Labels: metrics, observability, multi-stage

#12440 Custom configuration property reader for segment metadata files
  pinot-spi/src/main/java/org/apache/pinot/spi/env/CommonsConfigurationUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/ConfigFilePropertyIOFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/PinotConfiguration.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/PropertyIOFactoryKind.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/VersionedIOFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/VersionedPropertyReader.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/VersionedPropertyWriter.java
  pinot-spi/src/test/java/org/apache/pinot/spi/env/CommonsConfigurationUtilsTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/env/PinotConfigurationTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/env/VersionedPropertyConfigTest.java
  pinot-spi/src/test/resources/segment-metadata-with-version-header.properties
  pinot-spi/src/test/resources/segment-metadata-without-version-header.properties
  pom.xml
Labels: enhancement

#12342 Interning for OnHeapByteDictionary
  pinot-common/src/test/java/org/apache/pinot/common/utils/FALFInternerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/dictionary/DictionaryIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/OnHeapBytesDictionary.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readers/ImmutableDictionaryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/readers/ImmutableDictionaryTypeConversionTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/ByteArray.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/FALFInterner.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/ByteArrayTest.java
Labels: documentation, Configuration, performance

#13314 Update getValidDocIdsMetadataFromServer to make call in batches to servers and other bug fixes
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/CompletionServiceHelper.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableMetadataReader.java
  pinot-core/src/main/java/org/apache/pinot/core/common/MinionConstants.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
Labels: enhancement, upsert, bugfix

#13290 Fix few metric rules which were affected by the database prefix handling
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/broker.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/controller.yml
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/server.yml
Labels: metrics, bugfix, observability

#13035 Multi stage metrics
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerTimer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/MultiStageQueryStats.java
Labels: documentation, metrics, observability, multi-stage

#13336 Benchmark to measure multi-stage block serde cost
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkDataBlock.java
Labels: performance

#13187 Update metadata.properties to have schema max-length
  pinot-core/src/test/java/org/apache/pinot/core/util/CrcUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
  pinot-server/src/test/java/org/apache/pinot/server/api/TablesResourceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/MetricFieldSpec.java
Labels: enhancement, ingestion

#13337 Fix flakiness of ControllerPeriodicTasksIntegrationTest
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ControllerPeriodicTasksIntegrationTest.java
Labels: flaky-test

#13338 Extend compatibility verifier operation timeout from 1m to 2m to reduce flakiness
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/SegmentOp.java
Labels: flaky-test

#13342 support deleteColumn for compactionTask by extending the record reader
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskExecutor.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/CompactedPinotSegmentRecordReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/readers/CompactedPinotSegmentRecordReaderTest.java
Labels: enhancement

#13215 handle overflow for `MutableOffHeapByteArrayStore` buffer starting size
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/writer/impl/MutableOffHeapByteArrayStore.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/io/writer/impl/MutableOffHeapByteArrayStoreTest.java
Labels: bugfix

#13340 Support more arguments for LEAD/LAG window functions
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/AggregationUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/value/LagValueWindowFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/value/LeadValueWindowFunction.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperatorTest.java
Labels: feature, multi-stage

#13341 allow to set segment when use SegmentProcessorFramework
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFramework.java
Labels: bugfix

#13327 Reposition query submission spot for adaptive server selection
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/adaptiveserverselector/AdaptiveServerSelectorTest.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/AsyncQueryResponse.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryRouter.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/server/routing/stats/ServerRoutingStatsManager.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/server/routing/stats/ServerRoutingStatsManagerTest.java
Labels: bugfix

#13344 [Multi-stage] Fix literal handling
  pinot-common/src/main/java/org/apache/pinot/common/request/context/ExpressionContext.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/main/proto/expressions.proto
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ArrayLiteralTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/QueryOverrideWithHintsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/request/context/utils/BrokerRequestToQueryContextConverterTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/ProtoExpressionToRexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/RexExpressionToProtoExpression.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/FilterOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/TransformOperatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/aggregator/DistinctCountULLValueAggregatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplIngestionAggregationTest.java
Labels: backward-incompat, bugfix, cleanup, multi-stage

#13232 Improve Retention Manager Segment Lineage Clean Up
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/RetentionManager.java
Labels: ingestion

#13345 Fix array literal handling
  pinot-common/src/main/java/org/apache/pinot/common/request/context/ExpressionContext.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/LiteralContext.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/request/RequestUtils.java
  pinot-common/src/main/proto/expressions.proto
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ArrayLiteralTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/HistogramAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/ProtoExpressionToRexExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/RexExpressionToProtoExpression.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/serde/RexExpressionSerDeTest.java
Labels: feature, bugfix

#13107 [Backfill] allow externally partitioned segment uploads for upsert tables
  pinot-common/src/main/java/org/apache/pinot/common/utils/SegmentUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/UploadedRealtimeSegmentName.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/SegmentUtilsTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/UploadedRealtimeSegmentNameTest.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-common/src/main/java/org/apache/pinot/plugin/ingestion/batch/common/SegmentGenerationTaskRunner.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManagerTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/name/SegmentNameGeneratorFactory.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/name/UploadedRealtimeSegmentNameGenerator.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/creator/SegmentGeneratorConfigTest.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/creator/name/UploadedRealtimeSegmentNameGeneratorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/BatchConfigProperties.java
Labels: feature, release-notes, upsert, ingestion

#13214 do not fail on duplicate relaxed vars
  pinot-spi/src/main/java/org/apache/pinot/spi/env/PinotConfiguration.java
  pinot-spi/src/test/java/org/apache/pinot/spi/env/PinotConfigurationTest.java
Labels: Configuration, bugfix

#13320 [Bug fix] Fix URI construction so that AddSchema command line tool works
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/AddSchemaCommand.java
Labels: bugfix

#13351 Revert "support deleteColumn for compactionTask by extending the record reader
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskExecutor.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/CompactedPinotSegmentRecordReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/readers/CompactedPinotSegmentRecordReaderTest.java
Labels: bugfix

#13131 Adding a cluster config to enable instance pool and replica group configuration in table config
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: feature, documentation, Configuration

#13352 extend CompactedPinotSegmentRecordReader so that it can skip deleteRecord
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/CompactedPinotSegmentRecordReader.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/readers/CompactedPinotSegmentRecordReaderTest.java
Labels: enhancement, upsert

#13297 Clean Google Dependencies
  pinot-clients/pinot-java-client/pom.xml
  pinot-clients/pinot-jdbc-client/pom.xml
  pinot-common/pom.xml
  pinot-spi/pom.xml
  pom.xml
Labels: dependencies, cleanup

#13354 Fix all typed ArrayList elements() method usage
  pinot-common/src/main/java/org/apache/pinot/common/utils/ArrayListUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/ArrayListUtilsTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/AggregationResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/GroupByResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/HistogramAggregationFunction.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/TypeUtils.java
Labels: bugfix

#13355 Exclude dimensions from star-tree index stored type check
  pinot-core/src/test/java/org/apache/pinot/core/startree/v2/BaseStarTreeV2Test.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/SegmentLocalFSDirectory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/StarTreeIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/MultipleTreesBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeIndexSeparator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/store/StarTreeIndexMapUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/store/StarTreeLoaderUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/store/ColumnIndexDirectoryTestHelper.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeIndexSeparatorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/SegmentMetadata.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/SegmentMetadataImpl.java
Labels: bugfix, cleanup

#13358 Fix NPE in ArrayAgg extractFinalResult functions
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/BaseArrayAggStringFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ListAggFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ArrayTest.java
Labels: bugfix

#13285 Optimize snapshot flow to only snapshot segments which have updates
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/TableConfig.java
Labels: enhancement, upsert

#13360 fix race condition in `ScalingThreadPoolExecutor`
  pinot-common/src/main/java/org/apache/pinot/common/utils/ScalingThreadPoolExecutor.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/ScalingThreadPoolExecutorTest.java
Labels: bugfix

#13324 Support array sum aggregation function
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/RowBasedBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/SumArrayDoubleAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/SumArrayLongAggregationFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/ArrayTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/WindowFunnelTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature, documentation, multi-stage

#13373 add url assertion to SegmentCompletionProtocolTest
  config/checkstyle.xml
  pinot-common/src/test/java/org/apache/pinot/common/protocols/SegmentCompletionProtocolTest.java
Labels: testing

#13357 update RewriterConstants so that expr min max would not collide with columns start with "parent"
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/rewriter/ExprMinMaxRewriterTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExprMinMaxTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: backward-incompat

#13379 Add clickstream example table for funnel analysis
  pinot-tools/src/main/java/org/apache/pinot/tools/QuickStartBase.java
  pinot-tools/src/main/resources/examples/batch/clickstreamFunnel/clickstreamFunnel_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/clickstreamFunnel/clickstreamFunnel_schema.json
  pinot-tools/src/main/resources/examples/batch/clickstreamFunnel/ingestionJobSpec.yaml
  pinot-tools/src/main/resources/examples/batch/clickstreamFunnel/rawdata/clickstreamFunnel_data.csv
Labels: quickstart

#13389 Fix segment size check in OfflineClusterIntegrationTest
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiNodesOfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: bugfix, testing

#13359 Refactored compatibility-verifier module
  pinot-compatibility-verifier/pom.xml
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/BaseOp.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/ClusterDescriptor.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/CompatibilityOpsRunner.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/QueryOp.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/SegmentOp.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/StreamOp.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/TableOp.java
  pinot-compatibility-verifier/src/main/java/org/apache/pinot/compat/Utils.java
  pinot-compatibility-verifier/src/main/resources/pinot-compatibility-verifier-log4j2.xml
Labels: cleanup, refactor

#13391 add unit test for StringFunctions encodeUrl
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/StringFunctionsTest.java
Labels: testing

#13388 track segments for snapshotting even if they lost all comparisons
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
Labels: upsert, bugfix

#13397 Remove appassembler build plugin from integration-tests pom.xml
  pinot-integration-tests/pom.xml
Labels: cleanup

#13390 Avoid port conflict in integration tests
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/test/java/org/apache/pinot/controller/ControllerStarterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotInstanceAssignmentRestletResourceStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotDummyExtraRestletResourceStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerPeriodicTaskStarterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/cleanup/StaleInstancesCleanupTaskStatelessTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BasicAuthTestUtils.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BasicAuthBatchIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BrokerServiceDiscoveryIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/CLPEncodingRealtimeIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ControllerPeriodicTasksIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ControllerServiceDiscoveryIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/DedupIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/GrpcBrokerClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MergeRollupMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiNodesOfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineCustomTenantIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PartialUpsertTableRebalanceIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PeerDownloadLLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PurgeMinionClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ServerStarterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UpsertTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UrlAuthRealtimeIntegrationTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskExecutorTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskGeneratorTest.java
  pinot-plugins/pinot-minion-tasks/pom.xml
Labels: flaky-test, cleanup, refactor

#13256 [partial-upsert] configure early release of _partitionGroupConsumerSemaphore in RealtimeSegmentDataManager
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManagerFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
Labels: documentation, release-notes, Configuration, upsert, bugfix

#13399 Reset controller port when stopping the controller in ControllerTest
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
Labels: bugfix, testing

#13400 Misc fix/enhancement on integration tests
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManagerStatelessTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
Labels: enhancement, bugfix, testing

#13382 Add mode to allow adding dummy events for non-matching steps
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/funnel/window/FunnelBaseAggregationFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/WindowFunnelTest.java
Labels: feature

#13402 In ClusterTest, make start port higher to avoid potential conflict with Kafka
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManagerStatelessTest.java
Labels: enhancement, testing

#13292 [Minor] Handle 403 response to send the message as HTTP response
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/BrokerCommonExceptionMapper.java
  pinot-broker/src/test/java/org/apache/pinot/broker/api/resources/BrokerCommonExceptionMapperTest.java
Labels: bugfix

#13381 Improve logging in range index handler for index updates
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/RangeIndexHandler.java
Labels: cleanup

#13404 Make queryWorkerThreads configurable in Pinot server side GrpcQueryServer
  pinot-common/src/main/java/org/apache/pinot/common/config/GrpcConfig.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
Labels: documentation, Configuration

#13394 Improve error message for max rows in join limit breach
  .gitignore
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
Labels: enhancement, user-experience, multi-stage

#13415 handle segments not tracked by partition mgr and add skipUpsertView query option
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/FilterPlanNodeTest.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/TestUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BaseTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/SegmentContext.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, documentation, upsert, bugfix

#13372 Add retry policy to wait for job id to persist during rebalancing
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
Labels: bugfix

#13387 add `skipUnavailableServers` query option
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/AsyncQueryResponse.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryRouter.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, documentation, release-notes

#13152 Fix an overflow in PinotDataBuffer.readFrom
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PinotDataBuffer.java
Labels: bugfix

#13396 Move resolveComparisonTies from addOrReplaceSegment to base class
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/models/DummyTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
Labels: upsert, refactor

#13427 clean up jetbrain nullable annotation
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/models/DummyTableUpsertMetadataManager.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufCodeGenMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/test/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufCodeGenMessageDecoderTest.java
Labels: cleanup

#13420 Query response opt
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
Labels: enhancement, performance

#13428 Fix literal handling in Window functions
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotWindowExchangeNodeInsertRule.java
Labels: bugfix

#13437 Bug fix: Handle missing shade config overwrites for Kafka
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaConfigBackwardCompatibleUtils.java
Labels: bugfix

#13443 Make 'valueIn' MV transform function work with the multi-stage query engine
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ValueInTransformFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
Labels: bugfix, multi-stage

#13418 Allow stop to interrupt the consumer thread and safely release the resource
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
Labels: enhancement, ingestion, bugfix, real-time

#13441 fixing the single quoted literal in window function
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotWindowExchangeNodeInsertRule.java
Labels: bugfix

#13424 Improve upsert compaction threshold validations
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: enhancement, upsert

#13425 Fix bug preventing numeric casts for MV columns in filters using the multi-stage query engine
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/NumericalFilterOptimizer.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
Labels: bugfix, multi-stage

#13457 Add some missing geospatial scalar functions to support use in intermediate stages with the v2 query engine
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/ScalarFunctions.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/GeoSpatialTest.java
Labels: geo, multi-stage

#13304 New buffers
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/BasePinotLBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/CompoundDataBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/DataBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/DataBufferPinotInputStream.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/NonNativePinotDataBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PagedPinotOutputStream.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PinotByteBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PinotDataBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PinotInputStream.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PinotOutputStream.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/memory/CompoundDataBufferTest.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/memory/DataBufferPinotInputStreamTest.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/memory/PagedPinotOutputStreamTest.java
Labels: enhancement, performance

#13467 Enable more integration tests to run on the v2 multi-stage query engine
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedServerQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterServerCPUTimeQueryKillingTest.java
Labels: testing, multi-stage

#13464 Remove legacy commons-math dependency.
  LICENSE-binary
  pinot-spi/pom.xml
  pom.xml
Labels: dependencies, cleanup

#13448 Fix field spec data type for JSON predicate evaluator tests
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/predicate/NoDictionaryEqualsPredicateEvaluatorsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/filter/predicate/NoDictionaryInPredicateEvaluatorTest.java
Labels: cleanup, testing

#13447 Added kafka partition number to metadata.
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConsumer.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamMessageMetadata.java
Labels: ingestion, real-time

#13429 Fix time stats in SegmentIndexCreationDriverImpl
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
Labels: ingestion, bugfix, cleanup

#13451 Cleanup: Fix grammar in error message, also improve readability.
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
Labels: cleanup

#13307 add metrics tracking lucene near real-time refresh delay
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneIndexingDelayTracker.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneRefreshListener.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/LuceneTextIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/LuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/NativeAndLuceneMutableTextIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneIndexingDelayTrackerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneRefreshListenerTest.java
Labels: enhancement, documentation, observability, real-time

#13471 Add scalar functions for geohash
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/GeohashFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/GeohashFunctionsTest.java
Labels: geo

#13478 [Cleanup] Move classes in pinot-common to the correct package
  pinot-common/src/main/java/org/apache/pinot/serde/SerDe.java
  pinot-common/src/test/java/org/apache/pinot/common/response/broker/BrokerResponseNativeTest.java
  pinot-core/src/main/java/org/apache/pinot/core/util/PeerServerSegmentFinder.java
Labels: cleanup

#13465 Adding registerExtraComponents to allow registering additional components in various services
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BrokerAdminApiApplication.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionAdminApiApplication.java
  pinot-server/src/main/java/org/apache/pinot/server/api/AdminApiApplication.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
Labels: feature

#13496 Handle errors gracefully during multi-stage stats collection in the broker
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
Labels: multi-stage

#13500 Remove commons-lang from License-binary.
  LICENSE-binary
Labels: license, cleanup

#13449 Refactoring removeSegment flow in upsert
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/UpsertUtils.java
Labels: upsert, refactor

#13481 ControllerRequestClient accepts headers. Useful for authN tests
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/UrlAuthRealtimeIntegrationTest.java
Labels: cleanup, testing, refactor

#13463 Support 'EXTRACT' as a scalar function
  pinot-common/src/main/java/org/apache/pinot/common/function/DateTimeUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DateTimeFunctions.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ExtractTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/ExtractTransformFunctionTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotEvaluateLiteralRule.java
Labels: multi-stage

#13479 bugfix: json_extract_index out of bounds case
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractIndexTransformFunction.java
Labels: bugfix

#13490 Keep original fields after unnest transformer
  pinot-core/src/test/java/org/apache/pinot/queries/JsonIngestionFromAvroQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/JsonUnnestIngestionFromAvroQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformer.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/GenericRow.java
Labels: enhancement, ingestion
