Repository apache/pinot, pull requests merged in 2024-02, with the labels that each got.

#12345 making nonLeaderForTables exhaustive
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/periodictask/ControllerPeriodicTask.java
Labels: bugfix, observability

#11953 Maintain pool selection for the minimizeDataMovement instance partition assignment strategy
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstanceAssignmentConfigUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/FDAwareInstancePartitionSelector.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentDriver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstancePartitionSelector.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstancePartitionSelectorFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceReplicaGroupPartitionSelector.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceTagPoolSelector.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/MirrorServerSetInstancePartitionSelector.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotInstanceAssignmentRestletResourceStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceReplicaGroupPartitionSelectorTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/assignment/InstanceAssignmentConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/assignment/InstanceReplicaGroupPartitionConfig.java
Labels: feature, release-notes, Configuration

#12351 Work around the problem of Helix sending 2 transitions for CONSUMING -> DROPPED
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentOnlineOfflineStateModelFactory.java
Labels: bugfix, observability

#12326 [bugfix] fix getBigDecimal() scale throwing rounding error
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotResultSet.java
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/PinotResultSetTest.java
  pinot-clients/pinot-jdbc-client/src/test/resources/result_table.json
Labels: bugfix

#12358 [Multi-stage] Optimize query dispatch
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/serde/QueryPlanSerDeUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/AsyncQueryDispatchResponse.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/DispatchClient.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/DispatchObserver.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
Labels: enhancement, multi-stage

#12360 Skip instead of throwing error on 'getValidDocIdMetadata'
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/ValidDocIdsMetadataInfo.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableMetadataReader.java
  pinot-core/src/main/java/org/apache/pinot/core/common/MinionConstants.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGeneratorTest.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/test/java/org/apache/pinot/server/api/TablesResourceTest.java
Labels: upsert, bugfix

#12363 [Multi-stage] Ser/de stage plan in parallel
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/DistributedStagePlan.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/serde/QueryPlanSerDeUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/dispatch/QueryDispatcherTest.java
Labels: enhancement, multi-stage

#12366 [Multi-stage] Fix stage id in stage plan
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
Labels: bugfix, multi-stage

#12371 Fixing quickstart table baseballStats minion ingestion
  pinot-tools/src/main/resources/examples/minions/batch/baseballStats/baseballStats_offline_table_config.json
Labels: bugfix

#12347 Fix backward compatible issue in DistinctCountThetaSketchAggregationFunction
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountRawThetaSketchAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountThetaSketchAggregationFunction.java
Labels: bugfix

#12349 [multistage][test] adding tests for IN/NOT-IN operation
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/TransformOperandFactory.java
  pinot-query-runtime/src/test/resources/queries/Case.json
  pinot-query-runtime/src/test/resources/queries/FilterAggregates.json
Labels: testing, multi-stage

#12361 Add Helper Functions in StarTreeBuilderUtils and StarTreeV2BuilderConfig
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/StarTreeBuilderUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeV2BuilderConfig.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeBuilderUtilsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeV2BuilderConfigTest.java
Labels: enhancement

#12215 Fluent test framework
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AbstractAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/CountAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FluentQueryTest.java
Labels: testing

#12380 Fixing the bug for Upsert compaction task generator
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGeneratorTest.java
Labels: upsert, bugfix

#12370 [Multi-stage] Optimize query plan serialization
  pinot-common/src/main/proto/mailbox.proto
  pinot-common/src/main/proto/plan.proto
  pinot-common/src/main/proto/server.proto
  pinot-common/src/main/proto/worker.proto
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/explain/PhysicalExplainPlanVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/MailboxAssignmentVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/MailboxIdUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/MailboxMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerMetadata.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/MailboxIdUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/OpChainExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/StageMetadata.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/StagePlan.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/serde/QueryPlanSerDeUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OpChainTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OperatorTestUtil.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/serde/QueryPlanSerDeUtilsTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
Labels: enhancement, release-notes, backward-incompat, cleanup, refactor, multi-stage

#12317 Make segment download from Peer servers more robust by retrying both peer discovery and download.
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/BaseSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/HttpSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/SegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/core/util/PeerServerSegmentFinder.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/fetcher/HttpSegmentFetcherTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/fetcher/SegmentFetcherFactoryTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
Labels: enhancement

#12307 Adding support for configuration through environment variables
  pinot-spi/src/main/java/org/apache/pinot/spi/env/PinotConfiguration.java
  pinot-spi/src/test/java/org/apache/pinot/spi/env/PinotConfigurationTest.java
  pinot-spi/src/test/resources/pinot-configuration-4.properties
Labels: documentation, release-notes, Configuration

#12384 Fixing the multiple files concurrent write issue when reloading SSLFactory
  pinot-common/src/main/java/org/apache/pinot/common/utils/TlsUtils.java
Labels: bugfix, security

#12238 skip invalid json string rather than throwing error during json indexing
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/json/BaseJsonIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/JsonIndexTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/JsonIndexConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
Labels: feature

#12382 [Multi-stage] Optimize mailbox info in query plan
  pinot-common/src/main/proto/worker.proto
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/explain/PhysicalExplainPlanVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/MailboxAssignmentVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/MailboxIdUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/MailboxInfo.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/MailboxInfos.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/QueryPlanSerDeUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/RoutingInfo.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/SharedMailboxInfos.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/StageMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/StagePlan.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerMetadata.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/OpChainExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OpChainTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OperatorTestUtil.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
Labels: enhancement, release-notes, backward-incompat, multi-stage

#12334 Enhancing metadata API to return upsert partition to primary key count map for both controller and server APIs
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/TableMetadataInfo.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/models/DummyTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapTableUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/TableUpsertMetadataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
Labels: upsert

#12393 Fixing the backward compatible issue that existing metadata may contain unescaped characters
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/ColumnMetadataTest.java
  pinot-segment-local/src/test/resources/data/metadata-with-unescaped.properties
  pinot-spi/src/main/java/org/apache/pinot/spi/env/CommonsConfigurationUtils.java
Labels: bugfix

#12402 Remove the feature flag `allow.table.name.with.database`
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandlerTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes

#12405 Fix the double unescape of property value
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/ColumnMetadataTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/CommonsConfigurationUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/env/CommonsConfigurationUtilsTest.java
Labels: bugfix

#12394 [Multi-stage] Optimize group key generation
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/NoDictionaryMultiColumnGroupKeyGenerator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/utils/BaseValueToIdMap.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/utils/BytesToIdMap.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/utils/DoubleToIdMap.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/utils/FloatToIdMap.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/utils/IntToIdMap.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/utils/LongToIdMap.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/utils/ObjectToIdMap.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/utils/ValueToIdMap.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/utils/ValueToIdMapFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/util/DataBlockExtractUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/groupby/GroupIdGenerator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/groupby/GroupIdGeneratorFactory.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/groupby/MultiKeysGroupIdGenerator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/groupby/OneDoubleKeyGroupIdGenerator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/groupby/OneFloatKeyGroupIdGenerator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/groupby/OneIntKeyGroupIdGenerator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/groupby/OneLongKeyGroupIdGenerator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/groupby/OneObjectKeyGroupIdGenerator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/groupby/TwoKeysGroupIdGenerator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
Labels: enhancement, bugfix, performance, multi-stage

#12356 Fix file handle leaks in Pinot Driver (apache#12263)
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotDriver.java
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/PinotDriverTest.java
Labels: pinot-client, bugfix

#12353 Add round-robin logic during downloadSegmentFromPeer
  pinot-common/src/main/java/org/apache/pinot/common/utils/RoundRobinURIProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/BaseSegmentFetcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/HttpSegmentFetcher.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/RoundRobinURIProviderTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/SegmentConversionUtils.java
Labels: bugfix

#12387 Adding bytes/string data type integration tests
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/BytesTypeTest.java
Labels: testing

#12332 Bug fix: Do not ignore scheme property in Java client
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransportFactory.java
Labels: bugfix

#12406 [Multi-stage] Fix SortedMailboxReceiveOperator to not pull 2 EOS blocks
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortedMailboxReceiveOperator.java
Labels: bugfix, multi-stage

#12416 Adding support of insecure TLS
  pinot-common/src/main/java/org/apache/pinot/common/config/TlsConfig.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/TlsUtils.java
Labels: feature, security

#12404 cache ssl contexts and reuse them
  pinot-common/src/main/java/org/apache/pinot/common/config/TlsConfig.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/grpc/GrpcQueryClient.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ChannelHandlerFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
Labels: performance, security

#12336 Add metrics for SEGMENTS_WITH_LESS_REPLICAS monitoring
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
Labels: metrics

#12432 Upgrade google library versions
  pinot-plugins/pinot-file-system/pinot-gcs/pom.xml
  pinot-plugins/pinot-input-format/pinot-protobuf/pom.xml
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/pom.xml
  pom.xml
Labels: dependencies

#12425 Adding support to insecure TLS when creating SSLFactory
  pinot-common/src/main/java/org/apache/pinot/common/utils/TlsUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/TlsUtilsTest.java
Labels: security

#12436 Change helm app version to 1.0.0 for Apache Pinot latest release version
  helm/pinot/Chart.yaml
Labels: helm, deployment

#12447 Remove usages of lombok
  lombok.config
  pinot-common/src/main/java/org/apache/pinot/common/config/TlsConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/ChunkReaderContext.java
  pinot-segment-spi/pom.xml
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/ForwardIndexReader.java
  pom.xml
Labels: code-style

#12431 Fix bug to return validDocIDsMetadata from all servers
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
Labels: upsert, bugfix

#12395 Fix Bug in Handling Equal Comparison Column Values in Upsert
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/ConcurrentMapPartitionUpsertMetadataManager.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManagerTest.java
Labels: upsert, bugfix

#12449 untrack the segment out of TTL
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: upsert, bugfix

#12455 make http listener ssl config swappable
  pinot-common/src/main/java/org/apache/pinot/common/utils/TlsUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/grpc/GrpcQueryClient.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-core/src/main/java/org/apache/pinot/core/util/ListenerConfigUtil.java
Labels: security

#12411 Fix connection issues if using JDBC and Hikari (#12267)
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/base/AbstractBaseConnection.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/base/AbstractBaseStatement.java
Labels: pinot-client, bugfix

#12461 Schedule segments with higher invalidDocs first in Upsert Compaction task
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGeneratorTest.java
Labels: enhancement, performance

#12456 Simplify Google dependencies by importing BOM
  pinot-plugins/pinot-file-system/pinot-gcs/pom.xml
  pom.xml
Labels: dependencies

#12408 Readme - How to setup Pinot UI for development
  CONTRIBUTING.md
  pinot-controller/src/main/resources/Readme.md
Labels: documentation, ui

#12465 Publish helm 0.2.8
  helm/README-dev.md
  helm/index.yaml
  helm/pinot-0.2.8.tgz
  helm/pinot/Chart.yaml
Labels: helm

#12463 share the same table config object
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
Labels: bugfix

#12480 bugfix: fixing jdbc client sql feature not supported exception
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/base/AbstractBaseConnection.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/utils/Constants.java
Labels: pinot-client

#12473 Remove com.mercateo.test-clock dependency
  pinot-broker/pom.xml
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/TestClock.java
  pom.xml
Labels: dependencies, testing

#12340 [Adaptive Server Selector] Add metrics for Stats Manager Queue Size
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/adaptiveserverselector/AdaptiveServerSelectorTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerGauge.java
  pinot-connectors/pinot-spark-common/src/main/scala/org/apache/pinot/connector/spark/common/reader/PinotServerDataFetcher.scala
  pinot-core/src/main/java/org/apache/pinot/core/transport/server/routing/stats/ServerRoutingStatsManager.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/server/routing/stats/ServerRoutingStatsManagerTest.java
Labels: metrics

#12464 require noDictionaryColumns with aggregationConfigs
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: bugfix

#12489 Bump org.apache.maven.plugins:maven-checkstyle-plugin
  pom.xml
Labels: dependencies

#12485 bump netty 4.1.100 to 4.1.107
  pom.xml
Labels: dependencies

#12484 Enabling avroParquet to read Int96 as bytes
  pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetUtils.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetRecordReaderTest.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/resources/int96AvroParquet.parquet
Labels: enhancement, ingestion

#11725 [Feature] Add Support for SQL Formatting in Query Editor
  pinot-controller/package-lock.json
  pinot-controller/src/main/resources/app/pages/Query.tsx
  pinot-controller/src/main/resources/package-lock.json
  pinot-controller/src/main/resources/package.json
Labels: feature, ui

#12487 Fix the race condition in H3InclusionIndexFilterOperator
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3InclusionIndexFilterOperator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/H3Utils.java
Labels: enhancement, geo, bugfix

#12486 add Netty unit test
  pinot-core/src/test/java/org/apache/pinot/core/NettyTest.java
Labels: testing

#12483 enable Netty leak detection
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/NettyLeakListener.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/NettyTestNGListener.java
Labels: testing

#12493 add Netty arm64 dependencies
  pinot-core/pom.xml
Labels: dependencies

#12491 bump maven-surefire-plugin to 3.2.5
  pom.xml
Labels: dependencies

#12492 bump testng to 7.9.0
  pom.xml
Labels: dependencies

#12494 close JDBC connections
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: testing

#12496 ParquetAvro int96 parity with parquetNative reader
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetAvroRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetAvroRecordReader.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetNativeRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-parquet/src/test/java/org/apache/pinot/plugin/inputformat/parquet/ParquetRecordReaderTest.java
Labels: enhancement, ingestion

#12462 auto renew jvm default sslconext when it's loaded from files
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/utils/ConnectionUtils.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotDriver.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/utils/DriverUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/config/GrpcConfig.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/grpc/GrpcQueryClient.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/http/HttpClient.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/tls/JvmDefaultSslContext.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/tls/TlsUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/tls/TlsUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ChannelHandlerFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-core/src/main/java/org/apache/pinot/core/util/ListenerConfigUtil.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TlsIntegrationTest.java
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-tools/src/main/java/org/apache/pinot/tools/BootstrapTableTool.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/PinotAdministrator.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/LaunchDataIngestionJobCommand.java
Labels: security

#12386 Add config option for timezone
  pinot-common/src/main/java/org/apache/pinot/common/utils/ServiceStartableUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes, Configuration

#12414 Adds per-column, query-time index skip option
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/QueryOptionsUtilsTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/FilterOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/FilterPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/datasource/DataSource.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, release-notes

#12294 #5695 Increasing test coverage pinot-common
  pinot-common/src/test/java/org/apache/pinot/common/assignment/InstanceAssignmentConfigUtilsTest.java
Labels: testing

#12500 fix GuavaRateLimiter acquire method
  pinot-tools/src/main/java/org/apache/pinot/tools/streams/PinotRealtimeSource.java
Labels: bugfix

#12502 Fix ColumnMinMaxValueGenerator
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/columnminmaxvalue/ColumnMinMaxValueGenerator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreatorTest.java
Labels: bugfix

#12498 Add controller API to get allLiveInstances
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
Labels: documentation, rest-api

#12479 Propagate Disable User Agent Config to Http Client
  pinot-common/src/main/java/org/apache/pinot/common/utils/http/HttpClient.java
Labels: bugfix

#12338 Added pinot-error-code header in query response
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/api/resources/PinotClientRequestTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: pinot-client, rest-api

#12518 update ControllerJobType from enum to string
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/controllerjob/ControllerJobType.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/ZkBasedTableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/ZkBasedTenantRebalanceObserver.java
Labels: refactor

#12497 Rest Endpoint to Create ZNode
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ZookeeperResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: rest-api

#12520 Adding record reader config/context param to record transformer
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/RecordReaderFileConfig.java
Labels: enhancement
