Repository apache/pinot, pull requests merged in 2025-04, with the labels that each got.

#15393 [bugfix] Make clientId to be unique for PartitionGroupMetadataFetcher
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeConsumptionRateManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionGroupMetadataFetcher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConsumerFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamMetadataProvider.java
Labels: ingestion, bugfix, real-time

#15420 remove snapshotRWlock in upsert table partition mgr
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: enhancement, upsert

#15392 Add metrics to track segment operation throttle thresholds and count of number of segments undergoing operation
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/BaseSegmentOperationsThrottler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentAllIndexPreprocessThrottler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentDownloadThrottler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentStarTreePreprocessThrottler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/SegmentOperationsThrottlerTest.java
Labels: metrics, observability

#15430 Fixes deleteSegmentsFromSequenceNum API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
Labels: bugfix, rest-api

#15432 Clear FSM on segment build failure retry
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionTest.java
Labels: ingestion, bugfix, real-time

#15410 Adding ArrowResponseEncoder implementation
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/grpc/PinotGrpcConnection.java
  pinot-common/pom.xml
  pinot-common/src/main/java/org/apache/pinot/common/compression/CompressionFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/response/encoder/ArrowResponseEncoder.java
  pinot-common/src/main/java/org/apache/pinot/common/response/encoder/JsonResponseEncoder.java
  pinot-common/src/main/java/org/apache/pinot/common/response/encoder/ResponseEncoderFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/DataSchema.java
  pinot-common/src/test/java/org/apache/pinot/common/response/encoder/ArrowResponseEncoderTest.java
  pinot-common/src/test/java/org/apache/pinot/common/response/encoder/JsonResponseEncoderTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pom.xml
Labels: feature, release-notes, pinot-client

#15457 fixing NPE when ArrowResponseEncoder reading the vector data as null
  pinot-common/src/main/java/org/apache/pinot/common/response/encoder/ArrowResponseEncoder.java
Labels: pinot-client, bugfix

#15458 Fix Null value for group by queries when no aggregate was called
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/GroupByResultsBlock.java
Labels: bugfix

#15443 Cache IndexLoadingConfig in TableDataManager
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/provider/DefaultTableDataManagerProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/provider/TableDataManagerProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerAcquireSegmentTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerNeedRefreshTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorExceptionsTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/executor/QueryExecutorTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SegmentWithNullValueVectorTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingTableDataManagerProvider.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkDimensionTableOverhead.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/test/java/org/apache/pinot/server/api/BaseResourceTest.java
Labels: performance

#15461 Make MSE leaf stage use cached TableConfig and Schema from TableDataManager
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/QueryExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/test/java/org/apache/pinot/core/query/scheduler/PrioritySchedulerTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/testutils/MockInstanceDataManagerFactory.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
Labels: enhancement, performance, multi-stage

#15359 Added support to apply record enrichers before complex transformations
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/TransformPipeline.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/EnrichmentConfig.java
Labels: documentation, ingestion

#15439 [multistage] Add Physical Plan Nodes / Trait Assignment / Logical Agg Rule
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotLogicalAggregateRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/traits/PinotExecStrategyTrait.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/traits/PinotExecStrategyTraitDef.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/traits/TraitAssignment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalAggregate.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalJoin.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalMinus.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalProject.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalSort.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalUnion.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalValues.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalWindow.java
Labels: multi-stage, mse-physical-optimizer

#15468 Ensure that minAvailableReplicas has an upper bound of existing numReplicas to fix infinite loop in rebalance for StrictReplicaGroup assignment
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
Labels: enhancement

#15376 Add per query stats to QuerySummary in pinot-tools QueryRunner
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/QueryRunner.java
Labels: tools

#15368 Consuming Rebalance Summary
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceSummaryResult.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/impl/fakestream/FakeStreamConfigUtils.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/KafkaConsumingSegmentToBeMovedSummaryIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: enhancement, segment-rebalance

#15469 Add DISTINCT_COUNT_OFF_HEAP aggregate function
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/NonScanBasedAggregationOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/DistinctCountOffHeapAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/DistinctCountQueriesTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: feature, documentation, release-notes, query, performance

#15437 [Issue 12676 - Part 1] Moving dependency version declarations to maven properties
  pom.xml
Labels: dependencies

#15480 Fix threshold update on stale metadata
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
Labels: ingestion, bugfix, real-time

#15374 Set InstanceType for OOM Protection during startup
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/AggregateByQueryIdAccountantFactoryForTest.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/HeapUsagePublishingAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactoryForTest.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/ResourceManagerAccountingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OOMProtectionEnabledIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedBrokerQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedServerQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterServerCPUTimeQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/WindowResourceAccountingTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MultiStageAccountingTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerAccountingTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadAccountantFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: release-notes, cleanup

#15281 Extend POSSIBLE_QUERY_OPTIONS in PinotConnection to all query level o…
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotConnection.java
  pinot-clients/pinot-jdbc-client/src/test/java/org/apache/pinot/client/PinotConnectionTest.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
Labels: pinot-client

#15483 Improve logging for groovy transform functions
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/FunctionEvaluatorFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/GroovyFunctionEvaluator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
Labels: observability

#15266 Enhance rebalance progress stats
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/NoOpTableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceSummaryResult.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceProgressStats.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/ZkBasedTableRebalanceObserver.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TestZkBasedTableRebalanceObserver.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: enhancement, observability, segment-rebalance

#15493 Adding codecov token
  .github/workflows/pinot_tests.yml
Labels: testing

#15473 STP-3739: Segment files batch deletion.
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/SegmentDeletionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/util/SegmentDeletionManagerTest.java
  pinot-plugins/pinot-file-system/pinot-gcs/src/main/java/org/apache/pinot/plugin/filesystem/GcsPinotFS.java
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
  pinot-plugins/pinot-file-system/pinot-s3/src/test/java/org/apache/pinot/plugin/filesystem/S3PinotFSTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/BasePinotFS.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/NoClosePinotFS.java
  pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/PinotFS.java
Labels: performance, plugins

#15482 Refactor SegmentZKMetadata update logic during segment commit
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
Labels: enhancement, ingestion, refactor, real-time

#15431 Disables catch up when semaphore not acquired
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
Labels: ingestion, bugfix

#15438 Improve ingestion related logs
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SegmentOnlineOfflineStateModelFactory.java
Labels: ingestion, observability, real-time

#15512 Fix kinesis fetchStreamPartitionOffset method
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisStreamMetadataProvider.java
Labels: kinesis, bugfix

#15511 [bugfix][ui] Fixes for table rebalance UI
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceResponse.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationOption.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationOptions/RebalanceServerConfigurationOptionInteger.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationOptions/RebalanceServerConfigurationOptionSelect.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationOptions/RebalanceServerConfigurationOptionToggleSwitch.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerResponses/RebalanceServerResponseLabelValue.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServerStatusOp.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServerTableOp.tsx
  pinot-controller/src/main/resources/app/utils/Utils.tsx
Labels: ui, bugfix

#15509 Expose more parameters in rebalance config via controller config
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
Labels: Configuration, segment-rebalance

#15497 Add tests to clarify the limits of base64 encoded string detector.
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformer.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerTest.java
Labels: cleanup, testing

#15527 Fix internal logic of pre-check minimizeDataMovement
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/DefaultRebalancePreChecker.java
Labels: bugfix, segment-rebalance

#15335 Fix Direct Memory OOM on Server
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ChannelHandlerFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/DirectOOMHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/PooledByteBufAllocatorWithLimits.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryServer.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerChannels.java
Labels: enhancement

#15525 Fix MIN_MAX_RANGE aggregation function behavior when all input values are null
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeAggregationFunctionTest.java
Labels: bugfix, null support

#15524 Add null handling support for MV aggregation functions - COUNT, MIN, MAX, SUM, AVG, MINMAXRANGE
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/CountMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MaxAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MaxMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeMVAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/SumMVAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/AvgMVAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/CountMVAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/MaxMVAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/MinMVAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeMVAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/SumMVAggregationFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FluentQueryTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/customobject/AvgPair.java
Labels: null support

#15534 Remove unused constraint when inferPartitionHint is true
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
Labels: bugfix, multi-stage

#15436 Table Rebalance Logger
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/DefaultRebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
Labels: feature, observability

#15539 Prevent NPE when query options is null
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/timeseries/PhysicalTimeSeriesServerPlanVisitor.java
Labels: bugfix, timeseries-engine

#15546 Add a parameter for thrift binary path
  pinot-common/pom.xml
Labels: refactor, build

#15533 Reduce logging spam
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/InMemorySendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/MailboxContentObserver.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/ErrorMseBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
Labels: enhancement, multi-stage

#15419 Minor Refactoring and fixes
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
Labels: ingestion, bugfix, real-time

#15545 Refactor check for all null values in MIN_MAX_RANGE aggregation function
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeAggregationFunction.java
Labels: enhancement

#15564 Enable kinesis tests
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RealtimeKinesisIntegrationTest.java
Labels: testing

#15554 [bugfix]: Fixes rebalance server status rendering
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceResponse.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerResponses/RebalanceServerResponseLabelValue.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServerStatusOp.tsx
Labels: ui, bugfix

#15576 Add a config to skip updating dedup metadata for non-default tier segments
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/dedup/BaseTableDedupMetadataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/dedup/DedupContext.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/DedupConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature, documentation, release-notes, Configuration, dedup

#15550 Prevent NPE in minion tasks
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
Labels: bugfix

#15587 Enhance and clean up star-tree tests
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/BaseTableDataManagerNeedRefreshTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeBuilderUtilsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeV2BuilderConfigTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/AggregationFunctionColumnPair.java
Labels: testing

#15561 [multistage] Bug Fixes / Refactoring Based on E2E Physical Optimizer Test
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/traits/TraitAssignment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/ExchangeStrategy.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/HashDistributionDesc.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PRelNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PinotDataDistribution.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/RelToPRelConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/mapping/DistMappingGenerator.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/mapping/PinotDistMapping.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalAggregate.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalExchange.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/PRelOptRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/PhysicalOptRuleSet.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageAggregateRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRule.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/physical/v2/mapping/PinotDistMappingTest.java
Labels: multi-stage, mse-physical-optimizer

#15589 Fix range index on raw TIMESTAMP column
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/TableIndexingTest.java
  pinot-core/src/test/resources/TableIndexingTest.csv
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/BitSlicedRangeIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/RangeIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/RangeIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/range/RangeIndexType.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/creator/CombinedInvertedIndexCreator.java
Labels: ingestion, bugfix

#15597 Fix 15580
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MailboxServiceTest.java
Labels: flaky-test, multi-stage

#15498 Normalize excessive whitespaces in sql to avoid regex performance issues
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/ParserUtils.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/ParserUtilsTest.java
Labels: enhancement

#15603 Fix filtered aggregate expression hint override logic for compound filters
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TimestampIndexMseTest.java
Labels: query, bugfix

#15358 Allow controller to skip PinotFS setup test during boot
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ControllerFilePathProvider.java
Labels: Configuration

#15595 Add hooks to service starters to apply custom cluster and instance configs
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/util/HelixSetupUtils.java
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement

#15263 Upgrade Calcite to 1.39.0
  pinot-common/src/main/codegen/config.fmpp
  pinot-common/src/main/codegen/default_config.fmpp
  pinot-common/src/main/codegen/templates/Parser.jj
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SpoolIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotEvaluateLiteralRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotRuleUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotWindowExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PlanNodeToRelConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/RexExpressionToProtoExpression.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/type/TypeSystem.java
  pinot-query-planner/src/test/java/org/apache/pinot/calcite/rel/rules/PinotWindowExchangeNodeInsertRuleTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
  pinot-query-planner/src/test/resources/queries/BasicQueryPlans.json
  pinot-query-planner/src/test/resources/queries/GroupByPlans.json
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
  pom.xml
Labels: dependencies, performance, multi-stage

#15547 Move hasTableAccess and hasExceededQPSQuota to BaseBrokerRequestHandler
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
Labels: refactor

#15562 [multistage] Minor Changes to Support Physical Optimizer Related Changes
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/ExchangeNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/SetOpNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/SingletonExchange.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/SingletonExchangeTest.java
Labels: multi-stage, mse-physical-optimizer

#15583 update docker compose file
  docker/images/pinot/docker-compose.yml
Labels: docker

#15637 Fix needReload to fetch status from servers in ExternalView
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/DefaultRebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableMetadataReader.java
Labels: bugfix

#15523 Move Query Execution Planning to TableExecutionInfo in SSE
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/SingleTableExecutionInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/TableExecutionInfo.java
Labels: feature, refactor

#15623 Add a button to view consuming segments info directly in table UI
  pinot-controller/src/main/resources/app/components/ConsumingSegmentsTable.tsx
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
Labels: ui, ingestion, observability, real-time

#15625 Add netty memory related metrics for grpc query/broker servers
  pinot-broker/src/main/java/org/apache/pinot/broker/grpc/BrokerGrpcServer.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
Labels: metrics

#15616 Fix JsonExtractIndex with null handling enabled
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractIndexTransformFunction.java
Labels: bugfix, null support

#15596 PINOT-17: Fix baseURL for Knox Gateway compatibility
  pinot-controller/src/main/resources/app/utils/axios-config.ts
Labels: ui

#15615 Modify parser to support type aliases like LONG for BIGINT in MSE
  pinot-common/src/main/codegen/config.fmpp
  pinot-common/src/main/codegen/templates/Parser.jj
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DataTypeConversionFunctions.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CastTransformFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/JmxMetricsIntegrationTest.java
  pinot-query-runtime/src/test/resources/queries/TypeCasting.json
Labels: enhancement, user-experience, multi-stage, v1v2

#15638 Added timeouts to the resource deletion calls from SegmentDeletionManager
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/SegmentDeletionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/util/SegmentDeletionManagerTest.java
Labels: plugins, PinotFileSystem

#15655 Adding CityHash support to scalar functions
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/HashFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/HashFunctionsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/hash/CityHashFunctions.java
Labels: query, functions

#15624 Optimize memory usage on SchemaConformingTransformer
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformer.java
Labels: ingestion, performance, real-time

#15663 Support unnest on a string typed json column with enrichmentConfigs
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/JsonFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/JsonFunctionsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/TransformPipeline.java
  pinot-tools/src/main/java/org/apache/pinot/tools/QuickStartBase.java
  pinot-tools/src/main/resources/examples/batch/testUnnest/ingestionJobSpec.yaml
  pinot-tools/src/main/resources/examples/batch/testUnnest/rawdata/output.parquet
  pinot-tools/src/main/resources/examples/batch/testUnnest/testUnnest_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/testUnnest/testUnnest_schema.json
Labels: ingestion, functions

#15563 Kinesis partition split fixes
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotTableIdealStateBuilder.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/MissingConsumingSegmentFinder.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/ingestion/BaseKinesisIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/ingestion/KafkaIncreaseDecreasePartitionsIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/ingestion/KinesisShardChangeTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/ingestion/RealtimeKinesisIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/ingestion/utils/KinesisUtils.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisConsumer.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/test/java/org/apache/pinot/plugin/stream/kinesis/KinesisStreamMetadataProviderTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/FreshnessBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/IngestionBasedConsumptionStatusChecker.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/OffsetBasedConsumptionStatusChecker.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/PartitionGroupMetadataFetcher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamMetadataProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: kinesis, bugfix

#15671 Update helm chart for zookeeper storage class and size
  helm/pinot/values.yaml
Labels: helm, deployment

#15670 Bug fix: table names misaligned in pinot UI
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
Labels: ui

#15573 Add TableSegmentsInfo to Thrift and Proto broker/server messages
  pinot-common/src/main/java/org/apache/pinot/common/request/BrokerRequest.java
  pinot-common/src/main/java/org/apache/pinot/common/request/DataSource.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Expression.java
  pinot-common/src/main/java/org/apache/pinot/common/request/ExpressionType.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Function.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Identifier.java
  pinot-common/src/main/java/org/apache/pinot/common/request/InstanceRequest.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Join.java
  pinot-common/src/main/java/org/apache/pinot/common/request/JoinType.java
  pinot-common/src/main/java/org/apache/pinot/common/request/Literal.java
  pinot-common/src/main/java/org/apache/pinot/common/request/PinotQuery.java
  pinot-common/src/main/java/org/apache/pinot/common/request/QuerySource.java
  pinot-common/src/main/java/org/apache/pinot/common/request/TableSegmentsInfo.java
  pinot-common/src/main/java/org/apache/pinot/common/response/ProcessingException.java
  pinot-common/src/main/proto/server.proto
  pinot-common/src/thrift/request.thrift
  pinot-core/src/main/java/org/apache/pinot/core/query/request/ServerQueryRequest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/TableSegmentsContext.java
Labels: feature

#15560 Codecov tests
  .github/workflows/pinot_tests.yml
Labels: testing, github_actions

#15571 byte-based splitting for mse query blocks
  pinot-common/src/main/java/org/apache/pinot/common/datablock/BaseDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-common/src/main/proto/mailbox.proto
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockSerdeTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/MailboxService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/MailboxContentObserver.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/GrpcSendingMailboxTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MailboxServiceTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PinotByteBuffer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, multi-stage

#15681 SegmentRelocator should skip rebalancing tables that haven't completed rebalance since the last relocator run
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
Labels: bugfix, segment-rebalance

#15679 Add type coercion (implicit cast) rules for TIMESTAMP / LONG in the multi-stage engine
  pinot-query-planner/src/main/java/org/apache/pinot/query/validate/PinotTypeCoercion.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/validate/Validator.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-planner/src/test/resources/queries/BasicQueryPlans.json
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
  pinot-query-runtime/src/test/resources/queries/TypeCoercion.json
Labels: enhancement, user-experience, multi-stage
