Repository apache/pinot, pull requests merged in 2025-03, with the labels that each got.

#15138 Re-order Aggregation Optimizations
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/MetadataAndDictionaryAggregationPlanMakerTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ExplainPlanQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FastFilteredCountTest.java
Labels: documentation, query

#14952 FIX: Modifying the helm chart used for Pinot Quickstart
  helm/pinot/templates/namespace.yaml
Labels: bugfix, kubernetes

#15143 MSE throttling: Set a hard limit on number of MSE threads
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-spi/src/main/java/org/apache/pinot/spi/executor/HardLimitExecutor.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-spi/src/test/java/org/apache/pinot/spi/executor/HardLimitExecutorTest.java
Labels: multi-stage

#15161 fix(ui): query settings are not passing correctly when running via cmd+enter
  pinot-controller/src/main/resources/app/pages/Query.tsx
Labels: ui, bugfix

#15160 Refactor murmur functions and support them in scalar functions for query
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/HashFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/HashUtil.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/LeadControllerUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/HashFunctionsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/partition/Murmur3PartitionFunction.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/partition/MurmurPartitionFunction.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/partition/PartitionFunctionTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/hash/MurmurHashFunctions.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StreamAvroIntoKafkaCommand.java
Labels: documentation, query, refactor

#15158 Make ser/de part of the AggregationFunction
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/common/ObjectSerDeUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datablock/DataBlockBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/BaseDataTableBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableBuilder.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/AggregationResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/GroupByResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AggregationFunctionUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/AggregationDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/util/DataBlockExtractUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockBuilderTest.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datatable/DataTableSerDeTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/TransferableBlockUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/HashExchange.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperatorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/AggregationFunctionType.java
Labels: query, bugfix, refactor

#15118 Improve minion observer stats to capture more granular stages of minion task execution
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFramework.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
  pinot-minion/src/main/java/org/apache/pinot/minion/api/resources/PinotTaskProgressResource.java
  pinot-minion/src/main/java/org/apache/pinot/minion/event/MinionProgressObserver.java
  pinot-spi/src/main/java/org/apache/pinot/spi/tasks/MinionTaskBaseObserverStats.java
  pinot-spi/src/test/java/org/apache/pinot/spi/tasks/MinionTaskBaseObserverStatsTest.java
  pinot-spi/src/test/resources/observer_stats_test_payload.json
Labels: rest-api, minion

#15165 Add assertions to QueryRoutingTest
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
Labels: testing

#15181 Ui: add instruction to use required nodejs version
  pinot-controller/src/main/resources/Readme.md
Labels: ui

#15191 Fix the missing getNumValuesMV() in raw forward index v4 and v5
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkForwardIndexReaderV4.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkForwardIndexReaderV5.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/MultiValueFixedByteRawIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/MultiValueVarByteRawIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/RawIndexCreatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexTypeTest.java
Labels: ingestion, bugfix

#15190 Add direct state transition from CONSUMING/ONLINE to DROPPED, increase state transition priority for DROPPED and OFFLINE
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixSegmentOnlineOfflineStateModelGenerator.java
Labels: enhancement

#15108 Relocate fmpp to maven-antrun-plugin
  pinot-common/pom.xml
  pom.xml
Labels: dependencies

#15200 Fix GET /queries broker API UnsupportedOperationException bug
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
Labels: bugfix, rest-api

#15202 Code cleanup to reduce nested level.
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
Labels: cleanup

#15173 Minion tasks should not pick up problematic consuming segments
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/BaseTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/purge/PurgeTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/refreshsegment/RefreshSegmentTaskGenerator.java
Labels: bugfix

#14713 Add fetchPartitionCount and fetchStreamPartitionOffset implementation api for pinot-kinesis
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisConsumerFactory.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/test/java/org/apache/pinot/plugin/stream/kinesis/KinesisStreamMetadataProviderTest.java
Labels: feature, ingestion, kinesis, real-time

#15201 Fix memory leak in QueryDispatcher
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
Labels: bugfix, multi-stage

#15192 [MSQE] Add a plan listener to report rule optimizer evaluation time
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/RuleTimingPlannerListener.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/explain/PinotRelJsonWriter.java
Labels: query, multi-stage

#15195 [HELM]: Publish Helm 0.3.1
  helm/index.yaml
  helm/pinot-0.3.1.tgz
  helm/pinot/Chart.yaml
Labels: helm

#15212 Remove summary option from TableRebalancer and return summary by default
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: enhancement

#14844 Support for groovy static analysis for groovy scripts
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/QueryValidationTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotClusterConfigs.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Actions.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/GroovyFunctionEvaluatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/GroovyStaticAnalyzerConfigTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/GroovyFunctionEvaluator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/function/GroovyStaticAnalyzerConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: documentation, release-notes, Configuration, security

#15073 Extract compileRequest from BaseSingleStageRequestHandler.doHandleRequest
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
Labels: cleanup, refactor

#15214 Fix the handling of filtered agg in MSQE
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
Labels: enhancement, bugfix, multi-stage

#15216 Fix HDFS as Deep Storage issue by adjusting dependencies in pom.xml
  pinot-plugins/pinot-file-system/pinot-hdfs/pom.xml
  pinot-plugins/pinot-input-format/pinot-orc/pom.xml
  pinot-plugins/pinot-input-format/pinot-parquet/pom.xml
  pom.xml
Labels: dependencies

#15177 Change Pre-filter logic in MergeRollup task
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MergeRollupMinionClusterIntegrationTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGeneratorTest.java
Labels: bugfix, minion

#15189 Add broker gauge for estimated MSE query server threads
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageQueryThrottler.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerGauge.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/JmxMetricsIntegrationTest.java
Labels: metrics, multi-stage

#14686 Add predownload functionality to Pinot
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerTimer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/SegmentLocalFSDirectory.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadCompletionReason.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadException.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadMetrics.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadScheduler.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadSegmentInfo.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadStatusRecorder.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadTableInfo.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadZKClient.java
  pinot-server/src/test/java/org/apache/pinot/server/predownload/PredownloadPredownloadStatusRecorderTest.java
  pinot-server/src/test/java/org/apache/pinot/server/predownload/PredownloadSchedulerTest.java
  pinot-server/src/test/java/org/apache/pinot/server/predownload/PredownloadSegmentInfoTest.java
  pinot-server/src/test/java/org/apache/pinot/server/predownload/PredownloadTableInfoTest.java
  pinot-server/src/test/java/org/apache/pinot/server/predownload/PredownloadTestUtil.java
  pinot-server/src/test/java/org/apache/pinot/server/predownload/PredownloadZKClientTest.java
  pinot-server/src/test/resources/data/sample_pinot_server.properties
Labels: feature, performance

#15243 Add polymorphic scalar function implementation for ARRAY_LENGTH
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/array/ArrayLengthScalarFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
Labels: enhancement, multi-stage

#14615 Improve performance of multi-stage queries with large IN clauses
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotFilterExpandSearchRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
  pinot-query-runtime/src/test/resources/queries/LiteralExpressions.json
Labels: performance, multi-stage

#15239 Improve validations for minion instance tag checks
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManagerStatelessTest.java
Labels: minion

#15260 Add tests for DUAL as well as non-compliant DUAL with unknown table
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: testing

#15240 Consolidate Auth and Validation in SSE Request Handler
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
Labels: refactor

#15225 [multistage] Replace LogicalTableScan with PinotLogicalTableScan
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineExplainIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/logical/PinotLogicalTableScan.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotImplicitTableHintRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotRelDistributionTraitRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotTableScanConverterRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/resources/queries/AggregatePlans.json
  pinot-query-planner/src/test/resources/queries/BasicQueryPlans.json
  pinot-query-planner/src/test/resources/queries/GroupByPlans.json
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
  pinot-query-planner/src/test/resources/queries/LiteralEvaluationPlans.json
  pinot-query-planner/src/test/resources/queries/OrderByPlans.json
  pinot-query-planner/src/test/resources/queries/PinotHintablePlans.json
  pinot-query-planner/src/test/resources/queries/SetOpPlans.json
  pinot-query-planner/src/test/resources/queries/WindowFunctionPlans.json
Labels: multi-stage, mse-physical-optimizer

#15110 Add minimizeDataMovement to Rebalacne API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentDriver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/PinotTableRebalancer.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RebalanceTableCommand.java
Labels: enhancement, rest-api, segment-rebalance

#15251 Add sample and check to FunnelBaseAggregationFunction
  pinot-core/src/main/java/org/apache/pinot/core/accounting/AggregateByQueryIdAccountantFactoryForTest.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/funnel/window/FunnelBaseAggregationFunction.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/WindowResourceAccountingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/WindowFunnelTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/window/utils/WindowFunnelUtils.java
Labels: bugfix

#15233 Enhance rebalance pre-checks to provide more information in status returned
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/DefaultRebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalancePreCheckerResult.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceResult.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/PinotTableRebalancer.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RebalanceTableCommand.java
Labels: segment-rebalance

#15298 Add Murmur2 as an alias for Murmur Partition function.
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/partition/PartitionFunctionFactory.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/partition/PartitionFunctionTest.java
Labels: bugfix

#15223 Fix LOOKUP join
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
Labels: bugfix, multi-stage

#15244 Add test case for lookup join
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterIntegrationTestUtils.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/resources/dimDayOfWeek_config.json
  pinot-integration-tests/src/test/resources/dimDayOfWeek_data.csv
  pinot-integration-tests/src/test/resources/dimDayOfWeek_schema.json
Labels: testing, multi-stage

#15142 Add support for orphan segment cleanup
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/SegmentDeletionManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/RetentionManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/strategy/RetentionStrategy.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/strategy/TimeRetentionStrategy.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/RetentionManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/SegmentsValidationAndRetentionConfig.java
Labels: ingestion, bugfix

#15207 Broker list fetching API in PinotConnection is fetching dead servers …
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/controller/PinotControllerTransport.java
Labels: bugfix

#15229 increase test waiting time for MSE
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/CancelQueryIntegrationTests.java
Labels: flaky-test

#15107 Enable force overwrite for partial upserts
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/merger/PartialUpsertColumnarMerger.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/merger/columnar/ForceOverwriteMerger.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/merger/columnar/PartialUpsertColumnMergerFactory.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/upsert/PartialUpsertHandlerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/UpsertConfig.java
Labels: feature, documentation, upsert

#15303 Clean up usage of couple of APIs of Tracing ThreadResourceAccountant
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/GroupByDataTableReducer.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/ResourceManagerAccountingTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MultiStageAccountingTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
Labels: cleanup

#14385 Add `DATE_TRUNC` Optimizer
  pinot-core/src/main/java/org/apache/pinot/core/query/optimizer/filter/TimePredicateFilterOptimizer.java
  pinot-core/src/test/java/org/apache/pinot/core/query/optimizer/filter/TimePredicateFilterOptimizerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TimestampIndexMseTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TimestampIndexSseTest.java
Labels: enhancement

#15256 [feature] render new options for rebalance server
  pinot-controller/src/main/resources/app/components/CustomDialog.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationOption.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationOptions/RebalanceServerConfigurationOptionInteger.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationOptions/RebalanceServerConfigurationOptionLabel/RebalanceServerConfigurationOptionLabel.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationOptions/RebalanceServerConfigurationOptionSelect.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationOptions/RebalanceServerConfigurationOptionToggleSwitch.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerConfigurationSection.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerDialogHeader.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerOptions.ts
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServerTableOp.tsx
Labels: feature, ui

#15307 Add more StartMinionCommand -config alias
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartMinionCommand.java
Labels: Configuration

#15313 Migrate H3 v3 api to v4
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/ScalarFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/H3IndexFilterOperator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/geospatial/MutableH3Index.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/inv/geospatial/BaseH3IndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/H3Utils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/H3IndexTest.java
Labels: incompatible, geo

#15175 Add Disk Utilization Info into Rebalance API
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/DiskUsageInfo.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/DefaultRebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/ResourceUtilizationInfo.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: rest-api, segment-rebalance

#15323 [HELM]: Publish Helm 0.3.2
  helm/index.yaml
  helm/pinot-0.3.2.tgz
  helm/pinot/Chart.yaml
Labels: kubernetes, helm

#15305 Update RebalanceResult field order
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceResult.java
Labels: refactor, rest-api

#15318 Clean up HLC related code
  .github/workflows/pinot_tests.yml
  compatibility-verifier/multi-stage-query-engine-test-suite/config/feature-test-2-realtime-stream-config.json
  compatibility-verifier/multi-stage-query-engine-test-suite/config/feature-test-2-realtime.json
  compatibility-verifier/sample-test-suite/config/feature-test-2-realtime-stream-config.json
  compatibility-verifier/sample-test-suite/config/feature-test-2-realtime.json
  compatibility-verifier/sample-test-suite/config/feature-test-3-realtime-stream-config.json
  compatibility-verifier/sample-test-suite/config/feature-test-3-realtime.json
  docker/images/pinot/examples/docker/table-configs/airlineStats_realtime_table_config.json
  docker/images/pinot/examples/docker/table-configs/meetupRsvp_realtime_table_config.json
  helm/pinot/pinot-github-events-setup.yml
  helm/pinot/pinot-realtime-quickstart.yml
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-connectors/pinot-flink-connector/src/test/resources/fixtures/pinotTableConfigLowLevel.json
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddDeleteComponent.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddIngestionComponent.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddRealTimeIngestionComponent.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddRealtimeTableOp.tsx
  pinot-controller/src/test/java/org/apache/pinot/controller/api/upload/ZKOperatorTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/RealtimeConsumerMonitorTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/SegmentStatusCheckerTest.java
  pinot-controller/src/test/resources/memory_estimation/table-config-for-upsert.json
  pinot-controller/src/test/resources/memory_estimation/table-config.json
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitterFactoryTest.java
  pinot-core/src/test/java/org/apache/pinot/core/realtime/stream/StreamConfigTest.java
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PeerDownloadLLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/resources/simpleMeetup_realtime_table_config.json
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/README.md
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/test/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConsumerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/test/java/org/apache/pinot/plugin/stream/kafka30/KafkaPartitionLevelConsumerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/test/java/org/apache/pinot/plugin/stream/kinesis/KinesisStreamMetadataProviderTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarConfigTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-pulsar/src/test/java/org/apache/pinot/plugin/stream/pulsar/PulsarConsumerTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/Fixtures.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfigProperties.java
  pinot-tools/src/main/resources/conf/sample_realtime_table_config.json
  pinot-tools/src/main/resources/examples/minions/stream/githubEvents/githubEvents_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/airlineStats/docker/airlineStats_realtime_table_config.json
Labels: incompatible, ingestion, cleanup, real-time

#15259 Add `GridDistance` H3 Function
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/GridDistanceFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/ScalarFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/geospatial/transform/function/GridDistanceFunctionTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/H3Utils.java
Labels: geo

#15332 Add segmentNames as an optional parameter in the get IS and EV APIs for a table
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableViews.java
Labels: rest-api

#15321 [spark connector] replace the use of circe with jackson
  LICENSE-binary
  pinot-connectors/pinot-spark-common/pom.xml
  pinot-connectors/pinot-spark-common/src/main/scala/org/apache/pinot/connector/spark/common/PinotClusterClient.scala
  pinot-connectors/pinot-spark-common/src/main/scala/org/apache/pinot/connector/spark/common/package.scala
  pom.xml
Labels: dependencies

#15257 Improved retention management for hybrid tables
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/RetentionManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/BrokerServiceHelper.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/RetentionManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/SegmentLineageCleanupTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/util/BrokerServiceHelperTest.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/TimeBoundaryInfo.java
Labels: enhancement, ingestion

#15273 feat(KafkaConfluentSchemaRegistryJsonMessageDecoder): added the JSON confluent schema decoder
  pinot-distribution/pinot-assembly.xml
  pinot-plugins/pinot-input-format/pinot-confluent-json/pom.xml
  pinot-plugins/pinot-input-format/pinot-confluent-json/src/main/java/org/apache/pinot/plugin/inputformat/json/confluent/KafkaConfluentSchemaRegistryJsonMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-confluent-json/src/test/java/org/apache/pinot/plugin/inputformat/json/confluent/JsonConfluentSchemaTest.java
  pinot-plugins/pinot-input-format/pinot-confluent-json/src/test/java/org/apache/pinot/plugin/inputformat/json/confluent/kafka/schemaregistry/SchemaRegistryStarter.java
  pinot-plugins/pinot-input-format/pom.xml
  pom.xml
Labels: feature, release-notes, Configuration, ingestion, real-time

#15353 Initialize MSE worker thread context for TSE queries
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
Labels: bugfix, multi-stage, timeseries-engine

#15308 Fix array agg functions to use existing result holder when present
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDistinctStringFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggDoubleFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggFloatFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggIntFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggLongFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/array/ArrayAggStringFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/common/SyntheticBlockValSets.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/ArrayAggFunctionTest.java
  pinot-perf/pom.xml
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkAvgAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkDistinctCountAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkMinAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkModeAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkSumAggregation.java
  pinot-perf/src/main/java/org/apache/pinot/perf/aggregation/BenchmarkVarianceAggregation.java
Labels: query, bugfix

#15338 Add metrics to track external view's node size
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ControllerPeriodicTasksIntegrationTest.java
Labels: enhancement, metrics

#15139 Close `ChunkReaderContext` to improve projection/scan based filter memory for raw columns
  pinot-core/src/main/java/org/apache/pinot/core/common/BlockDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/common/DataBlockCache.java
  pinot-core/src/main/java/org/apache/pinot/core/common/DataFetcher.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/ProjectionOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/AndDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/ExpressionScanDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/MVScanDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/OrDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/SVScanDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/ScanBasedDocIdIterator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/SelectionOrderByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/ProjectPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/plan/StarTreeProjectPlanNode.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/CLPForwardIndexReaderV1.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/CLPForwardIndexReaderV2.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/ChunkReaderContext.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/VarByteChunkForwardIndexReaderV4.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/ForwardIndexReaderContext.java
Labels: query, performance

#15277 Cleanup controller and MSE broker entry points to keep error codes an…
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/function/FunctionInvoker.java
  pinot-common/src/main/java/org/apache/pinot/common/function/QueryFunctionInvoker.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/Timer.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/CompileTimeFunctionsInvoker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotQueryResourceTest.java
  pinot-integration-test-base/pom.xml
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/QueryAssert.java
  pinot-integration-tests/pom.xml
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ErrorCodesIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotEvaluateLiteralRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/CalciteContextExceptionClassifier.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/catalog/PinotCatalog.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/utils/ParserUtils.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/resources/queries/Aggregates.json
  pinot-query-runtime/src/test/resources/queries/SelectHaving.json
  pinot-spi/src/main/java/org/apache/pinot/spi/exception/QueryErrorCode.java
  pom.xml
Labels: cleanup, multi-stage

#15342 Remove LArray usage
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkPinotDataBuffer.java
  pinot-segment-spi/pom.xml
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/BasePinotLBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/LArrayPinotBufferFactory.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PinotNativeOrderLBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/PinotNonNativeOrderLBuffer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/unsafe/UnsafePinotBufferFactory.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/memory/PinotLArrayByteBufferTest.java
  pom.xml
Labels: incompatible, cleanup

#15357 add MetricsExecutor to track number of tasks started and finished in MSE
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/executor/MetricsExecutor.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: metrics, multi-stage

#15130 Optimize initialization time and memory usage of dimension table
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/FastLookupDimensionTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/MemoryOptimizedDimensionTable.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/DimensionTableIntegrationTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkDimensionTableOverhead.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LookupJoinOperator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentRecordReader.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: performance

#15312 Make stats system more resilient in MSE
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/HelixHelper.java
  pinot-common/src/main/java/org/apache/pinot/common/version/PinotVersion.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageWithoutStatsIntegrationTest.java
  pinot-minion/src/main/java/org/apache/pinot/minion/BaseMinionStarter.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/BlockingMultiStreamConsumer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/MultiStageQueryStats.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/OpChainExecutionContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutor.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OperatorTestUtil.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerExecutorTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SendStatsPredicate.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage

#15316 Fix real-time table segment download
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PauselessRealtimeIngestionSegmentCommitFailureTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfigProperties.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/IngestionConfigUtils.java
Labels: release-notes, Configuration, ingestion, bugfix, real-time

#15356 HELM: Add TLS-only support and publish 0.3.3 Chart version
  helm/index.yaml
  helm/pinot-0.3.3.tgz
  helm/pinot/Chart.yaml
  helm/pinot/templates/broker/configmap.yaml
  helm/pinot/templates/broker/ingress-v1.yaml
  helm/pinot/templates/broker/ingress-v1beta1.yaml
  helm/pinot/templates/controller/configmap.yaml
  helm/pinot/templates/controller/ingress-v1.yaml
  helm/pinot/templates/controller/ingress-v1beta1.yaml
  helm/pinot/templates/minion-stateless/configmap.yaml
  helm/pinot/templates/minion/configmap.yaml
  helm/pinot/templates/server/configmap.yaml
  helm/pinot/values.yaml
Labels: kubernetes, helm

#15347 Support size based threshold for pauseless consumption
  pinot-common/src/main/java/org/apache/pinot/common/metadata/segment/SegmentZKMetadata.java
  pinot-common/src/test/java/org/apache/pinot/common/metadata/SegmentZKMetadataTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PauselessSegmentCompletionFSM.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/DefaultFlushThresholdUpdater.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/FixedFlushThresholdUpdater.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/FlushThresholdUpdater.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/SegmentFlushThresholdComputer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/SegmentSizeBasedFlushThresholdUpdater.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/segment/SizeBasedSegmentFlushThresholdComputer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/RealtimeSegmentValidationManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/segment/FlushThresholdUpdaterTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/segment/SizeBasedSegmentFlushThresholdComputerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/provider/DefaultTableDataManagerProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SegmentCommitterFactory.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingTableDataManagerProvider.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/writer/StatelessRealtimeSegmentWriter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/IngestionConfigUtils.java
Labels: feature, ingestion, real-time

#15333 Enforce schema for all tables
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/segmentpruner/SegmentPrunerFactory.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/SchemaUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSchemaRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableAndSchemaConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/cleanup/SchemaCleanupTaskStatelessTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RefreshSegmentMinionClusterIntegrationTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/refreshsegment/RefreshSegmentTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskGeneratorTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadZKClient.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/SegmentsValidationAndRetentionConfig.java
Labels: incompatible, release-notes, Configuration, metrics, cleanup

#15370 Enhance IngestionConfigUtils
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/IngestionConfigUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/utils/IngestionConfigUtilsTest.java
Labels: enhancement, ingestion, real-time

#15331 feat: change display of rebalance response
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceResponse.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerResponses/CustomCodeMirror.css
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerResponses/RebalanceServerPreChecksResponse.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerResponses/RebalanceServerRebalanceSummaryResponse.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerResponses/RebalanceServerResponseCard.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerResponses/RebalanceServerResponseLabelValue.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerResponses/RebalanceServerSectionResponse.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerSection.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServerTableOp.tsx
Labels: feature, ui

#15379 [Cleanup] Remove system.out from #15088
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/grpc/PinotGrpcResultSet.java
  pinot-common/src/main/java/org/apache/pinot/common/compression/Lz4Compressor.java
  pinot-common/src/test/java/org/apache/pinot/common/compression/Lz4CompressorTest.java
Labels: cleanup

#15352 Support jsonKeyValueArrayToMap function
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/JsonFunctions.java
  pinot-common/src/test/java/org/apache/pinot/common/function/JsonFunctionsTest.java
Labels: feature, documentation, release-notes

#15330 Fix up parsing of controller timers tableRebalanceExecutionTimeMs and cronSchedulerJobExecutionTimeMs
  docker/images/pinot/etc/jmx_prometheus_javaagent/configs/controller.yml
  pinot-common/src/test/java/org/apache/pinot/common/metrics/prometheus/ControllerPrometheusMetricsTest.java
  pinot-common/src/test/java/org/apache/pinot/common/metrics/prometheus/PinotPrometheusMetricsTest.java
Labels: metrics, bugfix

#15234 Retry on segment cannot build
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/protocols/SegmentCompletionProtocol.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/LLCSegmentCompletionHandlers.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/BlockingSegmentCompletionFSM.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionFSM.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/server/realtime/ServerSegmentCompletionProtocolHandler.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/IngestionConfig.java
Labels: enhancement, ingestion, real-time

#15205 Add off-heap distinct set implementations
  config/suppressions.xml
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/distinct/BaseOffHeapSet.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/distinct/OffHeap128BitSet.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/distinct/OffHeap32BitSet.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/distinct/OffHeap64BitSet.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/function/distinct/OffHeapSetTest.java
Labels: feature, performance

#15345 Metrics for monitoring PROPERTYSTORE/SEGMENTS/<table>'s getChildren response size
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ControllerPeriodicTasksIntegrationTest.java
Labels: metrics, observability

#15296 Allows consumption during build for dedup/partial-upsert
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/ParallelSegmentConsumptionPolicy.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/StreamIngestionConfig.java
Labels: enhancement, upsert, dedup

#15261 Consumes segments in strict order of sequence number
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerTimer.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/ConsumerCoordinator.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/ConsumerCoordinatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingRealtimeSegmentDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingRealtimeTableDataManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/StreamIngestionConfig.java
Labels: ingestion, bugfix, real-time

#15264 switch log.debug to log.info on query request
  pinot-broker/src/main/java/org/apache/pinot/broker/querylog/QueryLogger.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
Labels: observability

#15278 Warn about numGroups above threshold
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredGroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/GroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultistageGroupByExecutor.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: Configuration, query, observability

#15279 add numGroupsWarningLimitReached stat
  pinot-broker/src/main/java/org/apache/pinot/broker/querylog/QueryLogger.java
  pinot-broker/src/test/java/org/apache/pinot/broker/querylog/QueryLoggerTest.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/ExecutionStats.java
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTable.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNativeV2.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/CursorResponseNative.java
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/GroupByResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/GroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredGroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/GroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/ExecutionStatsAggregator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageTransferableBlockOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/AggregateOperatorTest.java
Labels: query, observability, multi-stage

#15372 Ensure stream consumer is only closed once
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
Labels: ingestion, real-time

#15382 Revert the null value handling in AggregationResultsBlock when nullHandlingEnabled is false
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/AggregationResultsBlock.java
Labels: query, bugfix

#15387 Emit metrics for each query error code returned by the broker
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/grpc/BrokerGrpcServer.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
Labels: metrics, observability

#15246 Unblocks helix thread for online segment
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/ConsumerCoordinator.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SegmentAlreadyConsumedException.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/ConsumerCoordinatorTest.java
Labels: ingestion, real-time

#15280 fix numGroups metric and add metric for warnings
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredGroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/GroupByOperator.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/JmxMetricsIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: query, metrics, observability

#15394 Close grpc connection after query in ClusterTest
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
Labels: bugfix

#15391 [Refactor] Add default impl to read string values in ForwardIndexReader
  pinot-core/src/main/java/org/apache/pinot/core/common/DataFetcher.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/ForwardIndexReader.java
Labels: refactor

#15360 Fix needReload rebalance pre-check to only fetch status from currently assigned servers
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/DefaultRebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableMetadataReader.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: bugfix, segment-rebalance

#15404 Fix starvation in consumer lock
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/ConsumerCoordinator.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SegmentAlreadyConsumedException.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/ConsumerCoordinatorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
Labels: ingestion, bugfix, real-time

#15226 Add an interface for SecretStore
  pinot-spi/src/main/java/org/apache/pinot/spi/secretstore/SecretStore.java
  pinot-spi/src/main/java/org/apache/pinot/spi/secretstore/SecretStoreException.java
Labels: feature, security

#15213 Support reading var-length type (STRING/BYTES/BIG_DECIMAL) as murmur3 32/64/128 bits hash
  pinot-core/src/main/java/org/apache/pinot/core/common/BlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/common/DataBlockCache.java
  pinot-core/src/main/java/org/apache/pinot/core/common/DataFetcher.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/ProjectionBlockValSet.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/docvalsets/TransformBlockValSet.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/FixedByteValueReaderWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/ValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/io/util/VarLengthValueReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BaseImmutableDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BigDecimalDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BytesDictionary.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/StringDictionary.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/Dictionary.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/ForwardIndexReader.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/hash/MurmurHashFunctions.java
Labels: feature

#15349 Add `gridDisk` H3 Function
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/GridDiskFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/ScalarFunctions.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TransformFunctionFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/geospatial/transform/function/GridDiskFunctionTest.java
Labels: feature, documentation, release-notes

#15405 Improve consumer lock
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/ConsumerCoordinator.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/ConsumerCoordinatorTest.java
Labels: ingestion, bugfix, real-time

#15395 Adding encoding type into the BrokerGrpcServer
  pinot-broker/src/main/java/org/apache/pinot/broker/grpc/BrokerGrpcServer.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/grpc/GrpcConnection.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/grpc/GrpcResultSet.java
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/grpc/GrpcUtils.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/grpc/PinotGrpcResultSet.java
  pinot-common/src/main/java/org/apache/pinot/common/response/encoder/JsonResponseEncoder.java
  pinot-common/src/main/java/org/apache/pinot/common/response/encoder/ResponseEncoder.java
  pinot-common/src/main/java/org/apache/pinot/common/response/encoder/ResponseEncoderFactory.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, feature, query, pinot-client

#15389 [Bug Fix] Construct the correct URL for table rebalance with ControllerRequestURLBuilder
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: bugfix
