Repository apache/pinot, pull requests merged in 2025-07, with the labels that each got.

#16240 [multistage] Add broker config defaults for physical optimizer and lite mode settings
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PhysicalPlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeSortInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeWorkerAssignmentRule.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage, mse-physical-optimizer, mse-lite-mode

#16219 Dynamic PerQueryCPUMemAccountant Config on Servers
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/QueryMonitorConfig.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactoryTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageAccountant.java
Labels: Configuration, query, observability

#16208 Introduce rlsFiltersApplied in the broker response
  pinot-broker/src/main/java/org/apache/pinot/broker/querylog/QueryLogger.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/test/java/org/apache/pinot/broker/querylog/QueryLoggerTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNativeV2.java
Labels: security

#16149 Allow setting MaxLengthExceedStrategy/MaxLength default settings for json column via cluster config
  pinot-common/src/main/java/org/apache/pinot/common/utils/ServiceStartableUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotSchemaRestletResourceTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SanitizationTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/ColumnMetadataTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/ColumnMetadataImpl.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/DimensionFieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/MetricFieldSpec.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/FieldSpecTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/data/SchemaTest.java
Labels: documentation, Configuration, ingestion

#16160 Improve multi-column text index
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TextMatchTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/TextIndexCreationTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/TextMatchTransformFunctionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/MultiColumnTextIndicesTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkTextMatchQueriesSSQE.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentLoader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/text/MultiColumnLuceneTextIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/column/PhysicalColumnIndexContainer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/datasource/BaseDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/datasource/MutableDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessor.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/MultiColumnTextIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/TextIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/datasource/DataSource.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/column/ColumnIndexContainer.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/multicolumntext/MultiColumnTextMetadata.java
Labels: index

#16221 [multistage] Add Support for Values in Physical Optimizer
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PhysicalPlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeWorkerAssignmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/WorkerExchangeAssignmentRule.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/context/PhysicalPlannerContextTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeWorkerAssignmentRuleTest.java
  pinot-query-planner/src/test/resources/queries/PhysicalOptimizerPlans.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/test/resources/queries/BasicQuery.json
Labels: multi-stage, mse-physical-optimizer, mse-lite-mode

#16266 Formatting clean-up for rebalance
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/DefaultRebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
Labels: cleanup, minor

#16264 Consolidate duplicate InbuiltFunctionEvaluatorTest classes
  pinot-core/src/test/java/org/apache/pinot/core/data/function/InbuiltFunctionEvaluatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/function/InbuiltFunctionEvaluatorTest.java
Labels: cleanup, testing

#16267 Always use Schema from IndexLoadingConfig when loading segments
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/TextIndexCreationTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledMultiValueQueriesWithReloadTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexDisabledSingleValueQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexHandlerReloadQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/RangeQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentLoader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/bloom/BloomIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/dictionary/DictionaryIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/forward/ForwardIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/fst/FstIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/h3/H3IndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/inverted/InvertedIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/json/JsonIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/BaseIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessor.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/bloomfilter/BloomFilterHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/DefaultColumnHandlerFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/V1DefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/V3DefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/FSTIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/H3IndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/InvertedIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/JsonIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/MultiColumnTextIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/RangeIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/TextIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/VectorIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/nullvalue/NullValueIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/range/RangeIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/TextIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/vector/VectorIndexType.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/BitmapInvertedIndexTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/converter/SegmentV1V2ToV3FormatConverterTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/LoaderTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/DefaultColumnHandlerTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/IndexType.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/index/IndexServiceTest.java
Labels: cleanup, refactor

#16275 Revert "Allow CI unit test set 1 to run multi-threaded"
  .github/workflows/scripts/pr-tests/.pinot_tests_unit.sh
Labels: testing

#16279 Fix the potential deadlock for consuming segment
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
Labels: ingestion, bugfix, real-time

#16278 Adds metric to emit consumer sempahore acquire time
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/ConsumerCoordinator.java
Labels: metrics, observability, real-time

#16222 Extend the timeout in TableRebalanceIntegrationTest and TableRebalancePauselessIntegrationTest
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalanceIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalancePauselessIntegrationTest.java
Labels: testing

#16293 repacking helm 0.3.1/0.3.2/0.3.3 with correct Charter version
  helm/index.yaml
  helm/pinot-0.3.1.tgz
  helm/pinot-0.3.2.tgz
  helm/pinot-0.3.3.tgz
Labels: buildAndPackage, helm

#16296 [multistage] Support Hash Functions Gracefully in V2 Optimizer
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PhysicalPlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/DistHashFunction.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/HashDistributionDesc.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PRelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PlanFragmentAndMailboxAssignment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalExchange.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/AggregatePushdownRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeWorkerAssignmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/RootExchangeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/SortPushdownRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/WorkerExchangeAssignmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/MailboxSendNode.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/logical/StagesTestBase.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/physical/v2/PinotDataDistributionTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRuleTest.java
Labels: multi-stage, mse-physical-optimizer

#16298 Fixed couple of issues in CLP V2 implementation and added integration tests.
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/CLPEncodingRealtimeIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/fwd/CLPForwardIndexCreatorV2.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/forward/CLPForwardIndexReaderV2.java
Labels: bugfix, index

#16297 [SSE] Segment limit when order-by on group-by keys
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/GroupByOperator.java
Labels: enhancement, query

#16300 Helper methods in integration test base classes
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: testing

#16286 [timeseries] Adding controller endpoint to access timeseries API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
Labels: timeseries-engine, timeseries-general-availability

#16325 Make Lucene IndexSearcher maxClauseCount configurable.
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/TextIndexUtils.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: Configuration, index

#16202 Add withTableProperties to Get Tenant Table API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/TenantTableWithProperties.java
Labels: rest-api, segment-rebalance

#16254 Refine record transform handling
  pinot-connectors/pinot-flink-connector/src/main/java/org/apache/pinot/connector/flink/sink/FlinkSegmentWriter.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFramework.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/mergerollup/DimensionValueTransformer.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/mergerollup/DimensionValueTransformerTest.java
  pinot-plugins/pinot-segment-writer/pinot-segment-writer-file-based/src/main/java/org/apache/pinot/plugin/segmentwriter/filebased/FileBasedSegmentWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/writer/StatelessRealtimeSegmentWriter.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/DataTypeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/FilterTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/NullValueTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformerUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SanitizationTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/SpecialValueTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/TimeValidationTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/RecordReaderSegmentCreationDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/TransformPipeline.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/IngestionUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentDedupTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplNullValueVectorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertComparisonColTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplUpsertTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ExpressionTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/RecordTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/SchemaConformingTransformerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/TransformPipelineTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/readers/RecordReaderSampleDataTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/GenericRow.java
  pinot-spi/src/main/java/org/apache/pinot/spi/recordtransformer/RecordTransformer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/recordtransformer/enricher/RecordEnricher.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/DataImportDryRunCommand.java
Labels: incompatible, ingestion, bugfix, cleanup, refactor

#16305 [timeseries] Adding timeseries query execution UI in pinot-controller
  pinot-controller/src/main/resources/app/App.tsx
  pinot-controller/src/main/resources/app/components/Query/QuerySideBar.tsx
  pinot-controller/src/main/resources/app/components/Query/TimeseriesQueryPage.tsx
  pinot-controller/src/main/resources/app/pages/TimeseriesQueryPage.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
  pinot-controller/src/main/resources/app/router.tsx
Labels: release-notes, ui, timeseries-engine, timeseries-general-availability

#16331 Add the continueOnError flag to the IndexCreationContext
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/BaseIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/InvertedIndexAndDictionaryBasedForwardIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/bloomfilter/BloomFilterHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/FSTIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/H3IndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/InvertedIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/JsonIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/RangeIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/TextIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/VectorIndexHandler.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/IndexCreationContext.java
Labels: enhancement, ingestion

#16299 Eliminate duplicate cancel attempts in PerQueryCPUMemAccountant
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountCancelTest.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantTest.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/QueryMonitorConfigTest.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/TestResourceAccountant.java
Labels: bugfix

#16312 Optimize QueryContext.isUnsafeTrim
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/GroupByTrimmingIntegrationTest.java
Labels: enhancement, query

#16335 fix: Add macOS ARM64 profiles for protobuf-maven-plugin with Homebrew support
  README.md
  pom.xml
Labels: buildAndPackage

#16326 Start thread accountant just before serving queries
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/ResourceManagerAccountingTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MultiStageAccountingTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MultistageResourceUsageAccountingTest.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
Labels: bugfix

#16348 Fix rebalance logic to treat COMMITTING segments as CONSUMING
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionManager.java
Labels: bugfix, segment-rebalance

#16349 Avoid bytes copy in MessageDecoder
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-plugins/pinot-input-format/pinot-avro/src/main/java/org/apache/pinot/plugin/inputformat/avro/KafkaAvroMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-avro/src/main/java/org/apache/pinot/plugin/inputformat/avro/SimpleAvroMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-clp-log/src/main/java/org/apache/pinot/plugin/inputformat/clplog/CLPLogMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-confluent-avro/src/main/java/org/apache/pinot/plugin/inputformat/avro/confluent/KafkaConfluentSchemaRegistryAvroMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-confluent-json/src/main/java/org/apache/pinot/plugin/inputformat/json/confluent/KafkaConfluentSchemaRegistryJsonMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-confluent-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/KafkaConfluentSchemaRegistryProtoBufMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-csv/src/main/java/org/apache/pinot/plugin/inputformat/csv/CSVMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-csv/src/test/java/org/apache/pinot/plugin/inputformat/csv/CSVMessageDecoderTest.java
  pinot-plugins/pinot-input-format/pinot-json/src/main/java/org/apache/pinot/plugin/inputformat/json/JSONMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufCodeGenMessageDecoder.java
  pinot-plugins/pinot-input-format/pinot-protobuf/src/main/java/org/apache/pinot/plugin/inputformat/protobuf/ProtoBufMessageDecoder.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamDataDecoderImpl.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
  pinot-spi/src/test/java/org/apache/pinot/spi/stream/StreamDataDecoderImplTest.java
Labels: enhancement, ingestion, real-time

#16257 MSE ErrorOperator
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/ErrorOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PlanNodeToOpChain.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/dispatch/QueryDispatcherTest.java
Labels: enhancement, multi-stage

#16374 Remove all calls to System.gc() in PerQueryCPUMemAccountantFactory
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/QueryMonitorConfig.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/QueryMonitorConfigTest.java
Labels: bugfix

#16365 Migrating to Webpack 5 and upgrading to TypeScript 5.8 for pinot-controller
  pinot-controller/src/main/resources/package-lock.json
  pinot-controller/src/main/resources/package.json
  pinot-controller/src/main/resources/tsconfig.json
  pinot-controller/src/main/resources/webpack.config.js
Labels: dependencies, ui

#16306 feat: Enhance jsonExtractKey function with depth control and dot notation support
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/JsonFunctions.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/ParserUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/function/JsonFunctionsTest.java
  pinot-common/src/test/java/org/apache/pinot/common/function/scalar/JsonFunctionsUtilTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractKeyTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunctionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/JsonPathTest.java
Labels: feature, functions, json

#16362 Add a Boolean marker when Delete Table operation is triggered
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
Labels: enhancement

#16400 Add unit test for CompletedConsumingOfflineSegmentAssignment
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentUtilsTest.java
Labels: testing

#16390 [timeseries] Introducing Apache ECharts timeseries results visualization in Controller UI
  pinot-controller/src/main/resources/app/components/Query/MetricStatsTable.tsx
  pinot-controller/src/main/resources/app/components/Query/TimeseriesChart.tsx
  pinot-controller/src/main/resources/app/components/Query/TimeseriesQueryPage.tsx
  pinot-controller/src/main/resources/app/interfaces/types.d.ts
  pinot-controller/src/main/resources/app/utils/ChartConstants.ts
  pinot-controller/src/main/resources/app/utils/TimeseriesUtils.ts
  pinot-controller/src/main/resources/package-lock.json
  pinot-controller/src/main/resources/package.json
Labels: timeseries-engine, timeseries-general-availability

#16381 [BugFix] Serialize TlsSpec when executing DataIngestion backfill job
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/TlsSpec.java
Labels: bugfix

#16411 [Enhance] Support backfill on clusters with self-signed certificates
  pinot-common/src/main/java/org/apache/pinot/common/segment/generation/SegmentGenerationUtils.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentGenerationJobRunner.java
  pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/spec/TlsSpec.java
Labels: security, minion

#16406 [timeseries] Adding error banner for timeseries error handling in Controller UI
  pinot-controller/src/main/resources/app/components/Query/TimeseriesQueryPage.tsx
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/parser/Tokenizer.java
Labels: timeseries-engine, timeseries-general-availability

#16380 Queries now self terminate if in panic mode.
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/QueryMonitorConfig.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/QueryMonitorConfigTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageAccountant.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, query, performance, java, multi-stage

#16368 feat: Enhance PurgeTask to automatically delete empty segments
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PurgeMinionClusterIntegrationTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/purge/PurgeTaskGenerator.java
Labels: enhancement, minion

#16439 Use Broker's accountant to sample in the request handler.
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
Labels: bugfix, testing

#16436 Enhance and unify JSON index reader
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/BitmapInvertedIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/json/ImmutableJsonIndexReader.java
Labels: enhancement, cleanup, index

#16434 [BugFix] Add auth for revert replace segment
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/ConsistentDataPushUtils.java
Labels: bugfix, rest-api

#16443 Move logical tables related classes from pinot-query-planner to pinot-core
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerDebug.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/timeboundary/TimeBoundaryManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandlerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/timeboundary/TimeBoundaryManagerTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/RetentionManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/BrokerServiceHelper.java
  pinot-controller/src/test/java/org/apache/pinot/controller/util/BrokerServiceHelperTest.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/BaseTableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/ImplicitHybridTableRouteProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/LogicalTableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/LogicalTableRouteProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/PhysicalTableRouteProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/RoutingManager.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/TableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/TableRouteProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/timeboundary/MinTimeBoundaryStrategy.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/timeboundary/TimeBoundaryInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/timeboundary/TimeBoundaryStrategy.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/timeboundary/TimeBoundaryStrategyService.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ImplicitHybridTableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryRouter.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/BaseTableRouteTest.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/ImplicitHybridTableRouteProviderCalculateRouteTest.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/ImplicitHybridTableRouteProviderGetTableRouteTest.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/LogicalTableRouteProviderCalculateRouteTest.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/LogicalTableRouteProviderGetRouteTest.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/MockRoutingManagerFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/timeboundary/MinTimeBoundaryStrategyTest.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/timeboundary/TimeBoundaryStrategyServiceTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/LogicalTableWithTwoOfflineOneRealtimeTableIntegrationTest.java
  pinot-query-planner/pom.xml
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanFragment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/TableScanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/StageMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryEnvironmentTestBase.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/service/server/QueryServerTest.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/TimeSeriesQueryEnvironment.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/physical/TableScanVisitor.java
Labels: refactor

#15736 Enables auto reset of error segments by default
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
Labels: documentation, Configuration, ingestion

#16424 [timeseries] Adding timeseries language endpoint and UI integration
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerTimeseriesResource.java
  pinot-controller/src/main/resources/app/components/Query/TimeseriesQueryPage.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
Labels: timeseries-engine, timeseries-general-availability

#16422 Incorporate parallelWhitelist and parallelBlacklist to the new Tenant Rebalance API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/DefaultTenantRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/TenantRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/tenant/TenantRebalancerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TenantRebalanceIntegrationTest.java
Labels: rest-api, segment-rebalance

#16471 Make VARIANT/UUID non reserved keyword
  pinot-common/src/main/codegen/config.fmpp
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlParserTest.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CastTransformFunction.java
Labels: backward-incompat, query

#16460 Minor cleanups in logical tables routing related code
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerDebug.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandlerTest.java
  pinot-connectors/pinot-spark-common/src/main/scala/org/apache/pinot/connector/spark/common/reader/PinotServerDataFetcher.scala
  pinot-core/src/main/java/org/apache/pinot/core/routing/BaseTableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/ImplicitHybridTableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/ImplicitHybridTableRouteProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/LogicalTableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/LogicalTableRouteProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/PhysicalTableRouteProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/RoutingTable.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/SegmentsToQuery.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/TableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/TableRouteProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryRouter.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/BaseTableRouteTest.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/ImplicitHybridTableRouteProviderCalculateRouteTest.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/LogicalTableRouteProviderCalculateRouteTest.java
  pinot-core/src/test/java/org/apache/pinot/core/routing/MockRoutingManagerFactory.java
  pinot-core/src/test/java/org/apache/pinot/core/transport/QueryRoutingTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
Labels: cleanup, refactor

#16387 Fix unnesting of non-Map value collections.
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformer.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformerTest.java
Labels: ingestion, bugfix
