Repository apache/pinot, pull requests merged in 2025-09, with the labels that each got.

#16725 force commit API does not fail for non-existing segment names
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
Labels: enhancement, ingestion, real-time

#16650 Add support for minimum should match in lucene text search
  pinot-core/src/test/java/org/apache/pinot/queries/TextSearchQueriesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/lucene/parsers/MatchQueryParser.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/LuceneTextIndexUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/text/lucene/parsers/MinimumShouldMatchQueryParserTest.java
Labels: feature, query

#16635 Extract segment metadata from slim tar ball
  pinot-core/src/main/java/org/apache/pinot/core/metadata/DefaultMetadataExtractor.java
  pinot-core/src/test/java/org/apache/pinot/core/metadata/DefaultMetadataExtractorTest.java
Labels: hadoop, ingestion, bugfix

#16744 Minor cleanups and refactors in instance selector module
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/adaptiveserverselector/ServerSelectionContext.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BalancedInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/MultiStageReplicaGroupSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/ReplicaGroupInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/SegmentInstanceCandidate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/SegmentStates.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
Labels: cleanup, refactor

#16743 [Commit time compaction] Do not remove soft-delete record for commit time compaction
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/CommitTimeCompactionIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverter.java
Labels: upsert, bugfix

#14250 Modify segment metadata call
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/ServerSegmentMetadataReader.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableMetadataReader.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/test/java/org/apache/pinot/server/api/TablesResourceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: enhancement, rest-api

#16768 Fix query generator REGEXP_LIKE case sensitivity mismatch between Pinot and H2
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/QueryGenerator.java
Labels: flaky-test, bugfix, testing

#16576 Add memory and GC time tracking to execution statistics
  pinot-common/src/main/java/org/apache/pinot/common/datatable/StatMap.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/ErrorOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/FilterOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LiteralValueOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LookupJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/SortOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/TransformOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/BlockExchange.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/set/SetOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/BlockListMultiStageOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OpChainTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-tools/src/main/java/org/apache/pinot/tools/ColocatedJoinQuickStart.java
Labels: enhancement, observability, multi-stage

#16808 Enable Json Index for MAP data type
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/MapFilterOperator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/JsonIndexHandler.java
Labels: index, json

#16809 updated putNodeData and zookeeperPutData to pass data in the payload/…
  pinot-controller/src/main/resources/app/requests/index.ts
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
Labels: enhancement, ui

#16824 Optimize RetentionManager performance by replacing List with Set for segment lookups
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/RetentionManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/retention/RetentionManagerTest.java
Labels: enhancement, performance

#16777 [minion] configure numConcurrentTasksPerInstance for minion tenant
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/BaseTaskGenerator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/PinotTaskGenerator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/TaskGeneratorUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManagerStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/generator/TaskGeneratorUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SimpleMinionClusterIntegrationTest.java
Labels: Configuration, minion

#16840 Fix the error handling in SequentialSortedGroupByCombineOperator
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/SequentialSortedGroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/SortedGroupByCombineOperator.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/CombineErrorOperatorsTest.java
Labels: bugfix

#16751 Renamed and updated dependency sslcontext-kickstart to ayza
  LICENSE-binary
  pinot-common/pom.xml
  pom.xml
Labels: dependencies

#16850 Fix server metric initialization
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
Labels: bugfix

#16844 Fix NPE for MergeRollupTaskGenerator delay metrics
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskGenerator.java
Labels: ingestion, minion

#16853 Fix LagValueWindowFunction type used for the default value
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/window/value/LagValueWindowFunction.java
  pinot-query-runtime/src/test/resources/queries/WindowFunctions.json
Labels: bugfix, multi-stage, window-functions

#16847 Fix fsm creation when segment is in committing state
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/BlockingSegmentCompletionFSM.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/SegmentCompletionFSMFactoryTest.java
Labels: ingestion, bugfix, real-time

#16877 [Cleaup] Remove IntIteratorDocIdSetOperator
  pinot-core/src/main/java/org/apache/pinot/core/operator/IntIteratorDocIdSetOperator.java
Labels: cleanup

#16872 Reduce memory footprint for MailboxContentObserver and ReceivingMailbox
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/MailboxContentObserver.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/GrpcSendingMailboxTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/CompoundDataBuffer.java
Labels: enhancement, multi-stage

#16885 Fix null handling issue for string to timestamp casts
  pinot-common/src/main/java/org/apache/pinot/common/utils/RoaringBitmapUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/CastTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstDoubleValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstFloatValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstIntValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstLongValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/FirstStringValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastDoubleValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastFloatValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastIntValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastLongValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/LastStringValueWithTimeAggregationFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/NullableSingleInputAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/NullQueriesFluentTest.java
Labels: bugfix, null support

#16825 Add benchmark for equi-join queries with various configurations
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkEquiJoin.java
  pinot-perf/src/main/java/org/apache/pinot/perf/Distribution.java
  pinot-perf/src/main/resources/log4j2-test.properties
Labels: performance

#16898 Perform table exists check early on for table creation
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableConfigsRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTableRestletResourceTest.java
Labels: user-experience, refactor

#16911 Minor cleanups in PinotHelixResourceManager
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
Labels: bugfix, cleanup
