Repository apache/pinot, pull requests merged in 2025-06, with the labels that each got.

#15203 [Priority Replica Group Routing] Support orderedPreferredReplicas query option for customizable routing strategy
  pinot-broker/src/main/java/org/apache/pinot/broker/querylog/QueryLogger.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/adaptiveserverselector/PriorityGroupInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/adaptiveserverselector/ServerSelectionContext.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BalancedInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/MultiStageReplicaGroupSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/ReplicaGroupInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/SegmentInstanceCandidate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/StrictReplicaGroupInstanceSelector.java
  pinot-broker/src/test/java/org/apache/pinot/broker/querylog/QueryLoggerTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/adaptiveserverselector/PriorityGroupInstanceSelectorTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/AbstractMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMetrics.java
  pinot-common/src/main/java/org/apache/pinot/common/response/BrokerResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNative.java
  pinot-common/src/main/java/org/apache/pinot/common/response/broker/BrokerResponseNativeV2.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/metrics/BrokerMetricsTest.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ServerInstance.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature

#15943 [multistage] Cleanup Plan Fragmenter Logic + Mailbox Receive Sort Fixes
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PhysicalPlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PlanFragmentAndMailboxAssignment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/PhysicalOptRuleSet.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/RootExchangeInsertRule.java
  pinot-query-planner/src/test/resources/queries/PhysicalOptimizerPlans.json
Labels: multi-stage, mse-physical-optimizer, mse-lite-mode

#15876 Add sanity checks to ensure write permissions for instance data and s…
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerTest.java
Labels: user-experience

#15967 Invalidate from cache the stats of opchains that finish successfully.
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
Labels: performance, multi-stage

#15975 Apply some o11y:
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java
  pinot-controller/src/main/resources/app/pages/Query.tsx
  pinot-core/pom.xml
  pinot-core/src/test/java/org/apache/pinot/queries/HistogramQueriesTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
Labels: user-experience

#15817 Modify OFFLINE and REALTIME completed segments to calculate default partitionId based on same logic as consuming segments rather than 0
  pinot-common/src/main/java/org/apache/pinot/common/utils/LLCSegmentName.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/SegmentUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/SegmentUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/StrictRealtimeSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/strategy/ReplicaGroupSegmentAssignmentStrategy.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompactmerge/UpsertCompactMergeTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompactmerge/UpsertCompactMergeTaskGenerator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SegmentPreloadUtils.java
Labels: bugfix, cleanup, segment-rebalance

#15981 Update batchSizePerServer description for rebalance UI to provide recommendations on how to use it
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerOptions.ts
Labels: ui

#15986 Honor 'numReplicaGroupsToQuery' when 'useFixedReplica' is set
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BalancedInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/ReplicaGroupInstanceSelector.java
Labels: enhancement, query

#15977 Modify MSE operators to release memory once computation finished
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AsofJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/NonEquiJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
Labels: enhancement, multi-stage

#15783 Fails Online Transition for Segment Build Failures
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/SegmentBuildFailureException.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingRealtimeSegmentDataManager.java
Labels: ingestion, bugfix, real-time

#15959 [multistage] Add Support for Broker Server/Segment Pruning
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PhysicalPlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/CalciteRexExpressionParser.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/LeafStageToPinotQuery.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRule.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRuleTest.java
  pinot-query-planner/src/test/resources/queries/PhysicalOptimizerPlans.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestVisitor.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage, mse-physical-optimizer

#16003 [timeseries] Support Raw Table Names for Time Series Queries
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TimeSeriesIntegrationTest.java
  pinot-timeseries/pinot-timeseries-planner/pom.xml
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/TimeSeriesQueryEnvironment.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/physical/TableScanVisitor.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/plan/LeafTimeSeriesPlanNode.java
Labels: timeseries-engine

#16019 add test scope for assertj-core in pinot-core
  pinot-core/pom.xml
Labels: dependencies

#16023 [multistage] Add Support for inferRealtimeSegmentPartition
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRule.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRuleTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage, mse-physical-optimizer

#15982 Move the SPI check to GHA and deprecate baseline jar
  .github/workflows/pinot_tests.yml
  pinot-segment-spi/pom.xml
  pinot-segment-spi/resources/pinot-segment-spi-japicmp-baseline.jar
  pinot-spi/pom.xml
  pinot-spi/resources/pinot-spi-japicmp-baseline.jar
  pom.xml
Labels: testing

#15930 Add new ImplicitRealtimeTablePartitionSelector strategy for instance assignment
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/ImplicitRealtimeTablePartitionSelector.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentDriver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstancePartitionSelectorFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceReplicaGroupPartitionSelector.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceResult.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceSummaryResult.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/instance/InstanceAssignmentTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalanceIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/assignment/InstanceAssignmentConfig.java
Labels: feature

#15987 Allow RealtimeSegmentValidationManager to fix error segments for partial upsert and dedup tables.
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/RealtimeSegmentValidationManager.java
Labels: enhancement, Configuration, real-time

#16009 [bugfix][ui] rename component to MultipleSelectComponent to match filename
  pinot-controller/src/main/resources/app/components/Homepage/Operations/MultipleSelectComponent.tsx
Labels: ui, bugfix

#16000 [multistage] Lite Mode with Scatter Gather Execution
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PhysicalPlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeWorkerAssignmentRule.java
  pinot-query-planner/src/test/resources/queries/PhysicalOptimizerPlans.json
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage, mse-physical-optimizer, mse-lite-mode

#16058 [multistage] Handle Column Less Tuples in BlockSplitter
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/BlockSplitter.java
Labels: bugfix, multi-stage

#15881 Cache configs for logical table context in server
  pinot-broker/src/main/java/org/apache/pinot/broker/queryquota/HelixExternalViewBasedQueryQuotaManager.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/LogicalTableMetadataCache.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/PinotHelixPropertyStoreZnRecordProvider.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/LogicalTableMetadataCacheTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/BaseLogicalTableIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/LogicalTableConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: logical-tables

#15990 Reject rebalance requests for tables that already have an in progress rebalance job
  pinot-common/src/main/java/org/apache/pinot/common/exception/RebalanceInProgressException.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/ZkBasedTableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/DefaultTenantRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/util/ControllerZkHelixUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceCheckerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TestZkBasedTableRebalanceObserver.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/tenant/TenantRebalancerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocatorTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalanceIntegrationTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/PinotTableRebalancer.java
Labels: enhancement, refactor, segment-rebalance

#15919 MSE error management improvements
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/BaseDataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockEquals.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/DataBlockUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/MetadataBlock.java
  pinot-common/src/main/java/org/apache/pinot/common/datablock/ZeroCopyDataBlockSerde.java
  pinot-common/src/test/java/org/apache/pinot/common/datablock/ZeroCopyDataBlockSerdeTest.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/InstanceRequestHandler.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-core/src/test/java/org/apache/pinot/core/common/datablock/DataBlockTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageWithoutStatsIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/ReceivingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/ErrorMseBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/ServerInstance.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
  pinot-spi/src/main/java/org/apache/pinot/spi/exception/QueryErrorCode.java
  pinot-spi/src/main/java/org/apache/pinot/spi/query/QueryThreadContext.java
Labels: ui, observability, multi-stage

#16004 Make OOM Protection work with GRPC Queries
  pinot-core/src/main/java/org/apache/pinot/core/accounting/CPUMemThreadLevelAccountingObjects.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineGRPCServerIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineGRPCServerOOMAccountingIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/OpChain.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadExecutionContext.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceTracker.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageAccountant.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
Labels: deprecation, query, observability, GRPC

#16008 Enable ZK-based progress tracking for SegmentRelocator rebalances
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceContext.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/DefaultTenantRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceCheckerTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/PinotTableRebalancer.java
Labels: enhancement, segment-rebalance

#16035 Low-risk optProgram rule enhancements
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotJoinPushTransitivePredicatesRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotQueryRuleSets.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/QueryCompilationTest.java
  pinot-query-planner/src/test/resources/queries/ExplainPhysicalPlans.json
  pinot-query-planner/src/test/resources/queries/JoinPlans.json
Labels: enhancement, multi-stage

#16081 [Minor] Fix typo in table config validation
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
Labels: bugfix, minor

#16079 Add validations for MV columns: reject MV primary-keys for upsert/dedup, BIG_DECIMAL, and JSON
  pinot-core/src/test/java/org/apache/pinot/core/util/SchemaUtilsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SchemaUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: enhancement, user-experience

#16077 Add exception for resource limit exceeded in MultiStageOperator
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
Labels: multi-stage

#15970 Improving unit tests for MultiStageReplicaGroupSelector
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/MultiStageReplicaGroupSelectorTest.java
Labels: testing

#16102 Fix TableDoesNotExistError for hybrid tables in MSE queries in controller API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
Labels: bugfix, rest-api, logical-tables

#16084 Reduce fanout of intermediate stage
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiNodesOfflineClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, Configuration, multi-stage

#15350 Support for Virtual DataSource
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/BloomFilterSegmentPruner.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/ColumnValueSegmentPruner.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/SegmentPrunerService.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/SelectionQuerySegmentPruner.java
  pinot-core/src/main/java/org/apache/pinot/core/query/pruner/ValueBasedSegmentPruner.java
  pinot-core/src/test/java/org/apache/pinot/core/query/pruner/BloomFilterSegmentPrunerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/pruner/ColumnValueSegmentPrunerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/pruner/SegmentPrunerServiceTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/pruner/SelectionQuerySegmentPrunerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/MapTypeTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/IndexSegmentUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/EmptyIndexSegment.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/column/DefaultNullValueVirtualColumnProvider.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/datasource/EmptyDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/virtualcolumn/DocIdVirtualColumnProvider.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/virtualcolumn/VirtualColumnProvider.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/IndexSegment.java
Labels: feature

#16106 Refactor ControllerJobType enum into extensible interface
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/controllerjob/ControllerJobTypes.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/ZkBasedTableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/ZkBasedTenantRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/util/ControllerZkHelixUtils.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceCheckerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/tenant/TenantRebalancerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/util/ControllerZkHelixUtilsTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/LLCRealtimeClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalanceIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/controller/ControllerJobType.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement

#16070 Return 404 for non-existent GET table requests
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotTableRestletResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
Labels: bugfix, rest-api

#16045 Adds remove ingestion-metrics API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableInstances.java
  pinot-core/src/main/java/org/apache/pinot/core/auth/Actions.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/IngestionDelayTracker.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
Labels: ingestion, metrics, observability, rest-api, real-time

#16108 Update QueryRunner to make use of window function overflow handling server configurations
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
Labels: multi-stage, window-functions

#16067 Adds API to return badSegments per partitionId
  pinot-common/src/main/java/org/apache/pinot/common/utils/LLCSegmentName.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/TableViews.java
Labels: rest-api

#15958 [multistage] Enable Tests for New Optimizer + Bug Fixes
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotRuleUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotWindowExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/traits/TraitAssignment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PRelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/RelToPRelConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalAsOfJoin.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/AggregatePushdownRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/WorkerExchangeAssignmentRule.java
  pinot-query-planner/src/test/resources/queries/PhysicalOptimizerPlans.json
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
Labels: multi-stage, mse-physical-optimizer

#16078 Add reset segment operation to UI
  pinot-controller/src/main/resources/app/pages/SegmentDetails.tsx
  pinot-controller/src/main/resources/app/requests/index.ts
  pinot-controller/src/main/resources/app/utils/PinotMethodUtils.ts
Labels: ui, rest-api

#15994 Database name validation for logical tables
  pinot-common/src/main/java/org/apache/pinot/common/utils/LogicalTableConfigUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResourceTest.java
Labels: logical-tables

#15878 Reduce reflection overhead of ByteBufferUtil::newDirectByteBuffer
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/memory/ByteBufferUtil.java
Labels: performance

#16125 Fix RefreshSegmentMinionClusterIntegrationTest.checkColumnAddition()
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/RefreshSegmentMinionClusterIntegrationTest.java
Labels: flaky-test, bugfix

#16121 Misc fixes for virtual column support
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/MapFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/startree/StarTreeUtils.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentColumnReader.java
Labels: bugfix

#16031 Expose metrics for transformation errors in SegmentProcessorFramework
  pinot-common/src/main/java/org/apache/pinot/common/metrics/MinionMeter.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFramework.java
  pinot-core/src/main/java/org/apache/pinot/core/segment/processing/mapper/SegmentMapper.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/refreshsegment/RefreshSegmentTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompactmerge/UpsertCompactMergeTaskExecutor.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentIndexCreationDriverImpl.java
Labels: metrics

#16085 Add Filter for segment state in the Table UI
  pinot-controller/src/main/resources/app/components/SimpleAccordion.tsx
  pinot-controller/src/main/resources/app/components/StatusFilter.tsx
  pinot-controller/src/main/resources/app/components/Table.tsx
  pinot-controller/src/main/resources/app/components/TableToolbar.tsx
  pinot-controller/src/main/resources/app/pages/TenantDetails.tsx
Labels: ui

#16007 Conditionally Log MSE stats when query finish.
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: observability, multi-stage

#16140 Avoid writing incorrect rebalance progress stats for table rebalances with instance reassignment but no segment rebalance
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-tools/src/main/java/org/apache/pinot/tools/RealtimeQuickStart.java
Labels: bugfix, segment-rebalance

#16148 Cleanup deprecated GenericRow methods
  pinot-core/src/test/java/org/apache/pinot/core/geospatial/transform/GeoFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/BaseTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DateTruncTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/DistinctFromTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/NullHandlingTransformFunctionTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/DefaultAggregationExecutorTest.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/groupby/DictionaryBasedGroupKeyGeneratorTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SegmentWithNullValueVectorTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SerializedBytesQueriesTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNativeAndLuceneBasedLike.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNativeVsLuceneTextIndex.java
  pinot-perf/src/main/java/org/apache/pinot/perf/RawIndexBenchmark.java
  pinot-perf/src/main/java/org/apache/pinot/perf/StringDictionaryPerfTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplAggregateMetricsTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/OnHeapDictionariesTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentGenerationWithTimeColumnTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/creator/SegmentPartitionTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentUtil.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/GenericRow.java
Labels: incompatible, cleanup

#16152 Reduce array copying for non-equi join condition evaluation
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/NonEquiJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FilterOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/FunctionOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/LiteralOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/ReferenceOperand.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/operands/TransformOperand.java
Labels: enhancement, performance, multi-stage

#16129 Reuse Kafka admin client for better performance
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaPartitionLevelConnectionHandler.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/main/java/org/apache/pinot/plugin/stream/kafka30/KafkaPartitionLevelConnectionHandler.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/main/java/org/apache/pinot/plugin/stream/kafka30/KafkaStreamMetadataProvider.java
Labels: enhancement, kafka, performance

#16051 Make ThreadResourceUsageProvider a Helper/Utility Class.
  pinot-common/src/main/java/org/apache/pinot/common/datatable/DataTableImplV4.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/CPUMemThreadLevelAccountingObjects.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/InstanceResponseOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/BaseCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/DataTableHandler.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/TestThreadMXBean.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkThreadResourceUsageProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceSnapshot.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageAccountant.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
Labels: deprecation, query, observability

#16038 Fix null join key matching in multi-stage hash joins
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/join/ObjectLookupTable.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/join/PrimitiveLookupTable.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/HashJoinOperatorTest.java
  pinot-query-runtime/src/test/resources/queries/LeftAntiJoins.json
Labels: bugfix, multi-stage

#16170 Support broker grpc connection with auth
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/BasicAuthAccessControlFactory.java
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/BasicAuthAccessControlFactoryGrpcTest.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/examples/PinotJdbcExample.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/grpc/PinotGrpcConnection.java
  pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/utils/DriverUtils.java
  pinot-tools/src/main/java/org/apache/pinot/tools/AuthQuickstart.java
Labels: pinot-client, security, GRPC

#16168 Fix TODO: Filter debug info by table in getTasksDebugInfoByTable
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManagerTest.java
Labels: ingestion, minion

#16171 feat: Mask sensitive task configuration values in logs
  pinot-minion/src/main/java/org/apache/pinot/minion/taskfactory/TaskFactoryRegistry.java
  pinot-minion/src/test/java/org/apache/pinot/minion/taskfactory/TaskFactoryRegistryTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/Obfuscator.java
Labels: feature

#15998 Support set default tier configurations from cluster server config
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfig.java
  pinot-server/src/test/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManagerConfigTest.java
Labels: feature, Configuration

#16189 Simplify TableRebalanceManager API
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/DefaultTenantRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
Labels: refactor, segment-rebalance

#16147 Allow Users to specify text search options as TEXT_MATCH params in text search query
  pinot-common/src/main/java/org/apache/pinot/common/function/TransformFunctionType.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/predicate/TextMatchPredicate.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/TextMatchFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/TextMatchTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/queries/TextSearchQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/MultiColumnTextIndicesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/MultiColumnRealtimeLuceneTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeLuceneTextIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/text/LuceneTextIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/text/MultiColumnLuceneTextIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/LuceneTextIndexUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/LuceneTextIndexUtilsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/MultiColumnTextIndexReader.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/TextIndexReader.java
Labels: feature

#16165 Add server status in the validDocIds info API - Upsert Tables
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/ValidDocIdsBitmapResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/restlet/resources/ValidDocIdsMetadataInfo.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/MinionTaskUtils.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompactmerge/UpsertCompactMergeTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGeneratorTest.java
  pinot-server/src/main/java/org/apache/pinot/server/api/resources/TablesResource.java
  pinot-server/src/test/java/org/apache/pinot/server/api/BaseResourceTest.java
  pinot-server/src/test/java/org/apache/pinot/server/api/TablesResourceTest.java
Labels: enhancement, upsert

#16153 Move FlatViewList to org.apache.pinot.common.collections
  pinot-common/src/main/java/org/apache/pinot/common/catalog/PinotNameMatcher.java
  pinot-common/src/main/java/org/apache/pinot/common/collections/FlatViewList.java
Labels: refactor

#16096 Force Commit Consuming Segments Before Moved during Table Rebalance
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ForceCommitBatchConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotRealtimeTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceProgressStats.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/ZkBasedTableRebalanceObserver.java
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerOptions.ts
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTestSet.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BasePauselessRealtimeIngestionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalanceIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalancePauselessIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
  pinot-tools/src/main/java/org/apache/pinot/tools/PinotTableRebalancer.java
Labels: feature, segment-rebalance

#16192 Add Obfuscator for task configs in minion task loggers
  pinot-common/src/main/java/org/apache/pinot/common/utils/PinotAppConfigs.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/PinotControllerAppConfigsTest.java
  pinot-minion/src/main/java/org/apache/pinot/minion/taskfactory/TaskFactoryRegistry.java
  pinot-minion/src/test/java/org/apache/pinot/minion/taskfactory/TaskFactoryRegistryTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/refreshsegment/RefreshSegmentTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskExecutor.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompactmerge/UpsertCompactMergeTaskExecutor.java
  pinot-server/src/test/java/org/apache/pinot/server/api/PinotServerAppConfigsTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/env/PinotConfiguration.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/Obfuscator.java
Labels: observability, minion

#16201 Remove usages of 'schemaName' from example and test table configs
  compatibility-verifier/multi-stage-query-engine-test-suite/config/feature-test-2-realtime.json
  compatibility-verifier/sample-test-suite/config/feature-test-2-realtime.json
  compatibility-verifier/sample-test-suite/config/feature-test-3-realtime.json
  contrib/pinot-druid-benchmark/README.md
  contrib/pinot-druid-benchmark/src/main/resources/config/pinot_table.json
  docker/images/pinot/examples/docker/table-configs/airlineStats_realtime_table_config.json
  docker/images/pinot/examples/docker/table-configs/meetupRsvp_realtime_table_config.json
  helm/pinot/pinot-github-events-setup.yml
  helm/pinot/pinot-realtime-quickstart.yml
  pinot-common/src/test/resources/testConfigs/jsonIndexConfig.json
  pinot-common/src/test/resources/testConfigs/multipleIndexConfig.json
  pinot-common/src/test/resources/testConfigs/multipleIndexPartialUpsertConfig.json
  pinot-common/src/test/resources/testConfigs/multipleIndexPartialUpsertMultipleComparisonColumnConfig.json
  pinot-common/src/test/resources/testConfigs/noIndexConfig.json
  pinot-common/src/test/resources/testConfigs/rangeIndexConfig.json
  pinot-common/src/test/resources/testConfigs/textIndexConfig.json
  pinot-connectors/pinot-flink-connector/src/test/resources/fixtures/pinotTableConfigLowLevel.json
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddOfflineTableOp.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/AddRealtimeTableOp.tsx
  pinot-controller/src/test/resources/memory_estimation/table-config-for-upsert.json
  pinot-controller/src/test/resources/memory_estimation/table-config.json
  pinot-integration-tests/src/test/resources/simpleMeetup_realtime_table_config.json
  pinot-tools/src/main/resources/conf/sample_realtime_table_config.json
  pinot-tools/src/main/resources/examples/batch/baseballStats/baseballStats_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/billing/billing_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/clientSalaryNulls/clientSalaryNulls_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/fineFoodReviews/fineFoodReviews_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/customer/customer_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/dates/dates_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/lineorder/lineorder_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/part/part_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/ssb/supplier/supplier_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/starbucksStores/starbucksStores_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/tpch/customer/customer_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/tpch/lineitem/lineitem_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/tpch/nation/nation_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/tpch/orders/orders_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/tpch/part/part_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/tpch/partsupp/partsupp_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/tpch/region/region_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/tpch/supplier/supplier_offline_table_config.json
  pinot-tools/src/main/resources/examples/minions/batch/baseballStats/baseballStats_offline_table_config.json
  pinot-tools/src/main/resources/examples/minions/stream/githubEvents/githubEvents_offline_table_config.json
  pinot-tools/src/main/resources/examples/minions/stream/githubEvents/githubEvents_realtime_table_config.json
  pinot-tools/src/main/resources/examples/stream/airlineStats/docker/airlineStats_realtime_table_config.json
  pinot-tools/src/main/resources/generator/complexWebsite_config.json
  pinot-tools/src/main/resources/generator/simpleWebsite_config.json
Labels: cleanup

#16193 Put ser/de into separate util for TableConfig and Schema
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstanceAssignmentConfigUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstancePartitionsUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/LogicalTableMetadataCache.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/SchemaUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/SchemaSerDeUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TableConfigSerDeUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/TableConfigUtils.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/SchemaSerDeUtilsTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigSerDeUtilsTest.java
  pinot-common/src/test/java/org/apache/pinot/common/utils/config/TableConfigUtilsTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotInstanceAssignmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTenantRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/BaseSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/strategy/ReplicaGroupSegmentAssignmentStrategy.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/DefaultTenantRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableRetentionValidator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/TableSizeReaderTest.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManagerTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkDimensionTableOverhead.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/mergerollup/MergeRollupTaskExecutorTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/purge/PurgeTaskExecutorTest.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/realtimetoofflinesegments/RealtimeToOfflineSegmentsTaskExecutorTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/IndexLoadingConfig.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SchemaUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/table/TableConfigTest.java
  pinot-spi/src/test/resources/testConfigs/jsonIndexConfig.json
  pinot-spi/src/test/resources/testConfigs/multipleIndexConfig.json
  pinot-spi/src/test/resources/testConfigs/multipleIndexPartialUpsertConfig.json
  pinot-spi/src/test/resources/testConfigs/multipleIndexPartialUpsertMultipleComparisonColumnConfig.json
  pinot-spi/src/test/resources/testConfigs/noIndexConfig.json
  pinot-spi/src/test/resources/testConfigs/rangeIndexConfig.json
  pinot-spi/src/test/resources/testConfigs/textIndexConfig.json
  pinot-tools/src/main/java/org/apache/pinot/tools/UpdateSegmentState.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/MoveReplicaGroup.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/ValidateConfigCommand.java
Labels: incompatible, cleanup, refactor

#16173 Removes Ingestion Metrics of Inactive Partitions from the Committing Server
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
Labels: ingestion, bugfix, observability, real-time

#16227 Bug fix: close admin client on consumer close in Kafka 3.0
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/main/java/org/apache/pinot/plugin/stream/kafka30/KafkaPartitionLevelConnectionHandler.java
Labels: ingestion, bugfix, real-time

#16071 Adds Disaster Recovery modes for Pauseless
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
  pinot-core/src/test/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManagerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PauselessDedupRealtimeIngestionSegmentCommitFailureTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PauselessRealtimeIngestionSegmentCommitFailureTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingRealtimeSegmentDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingRealtimeTableDataManager.java
  pinot-integration-tests/src/test/resources/dedupPauselessIngestionTestData.tar.gz
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/DisasterRecoveryMode.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/ingestion/StreamIngestionConfig.java
Labels: feature, ingestion, real-time, dedup

#16239 Upgrade Helix version to 1.3.2
  pom.xml
Labels: dependencies
