Repository apache/pinot, pull requests merged in 2025-05, with the labels that each got.

#15676 Set conservative default for gRPC query sever worker thread count
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
Labels: query, default_behavior, GRPC

#15674 Fix up elapsed time calculation for rebalance progress stats when carry over are present
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceProgressStats.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/ZkBasedTableRebalanceObserver.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TestZkBasedTableRebalanceObserver.java
Labels: bugfix, segment-rebalance

#15658 [multistage] Add Pushdown and Worker Rules
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PRelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PinotDataDistribution.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalExchange.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/PhysicalOptRuleSet.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/AggregatePushdownRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/SortPushdownRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/WorkerExchangeAssignmentRule.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/physical/v2/opt/rules/SortPushdownRuleTest.java
Labels: multi-stage, mse-physical-optimizer

#15699 Fixes Integration test
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseDedupIntegrationTest.java
Labels: bugfix, testing

#15690 Do not modify cached schema in TableDataManager
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/offline/DimensionTableDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeTableDataManager.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/testutils/MockInstanceDataManagerFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/data/manager/TableDataManager.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/CompositeTransformer.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
Labels: bugfix

#15702 [Test] Clean-up and move rebalance related tests from offline integration to TableRebalanceIntegrationTest
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalanceIntegrationTest.java
Labels: cleanup, testing

#15609 Include stats on cancel
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/proto/worker.proto
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/MultiStageStatsTreeBuilder.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/MultiStageQueryStats.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/DispatchClient.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerServiceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: observability, multi-stage

#15120 Add segment end criteria check for SVForwardIndex and Dictionary
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentEntriesAboveThresholdTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/dictionary/MutableDictionaryTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/forward/mutable/VarByteSVMutableForwardIndexTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableDictionary.java
Labels: enhancement, ingestion, real-time

#15698 [multistage] Support Physical Optimizer E2E
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PhysicalPlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PinotLogicalQueryPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/PinotDispatchPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PlanFragmentAndMailboxAssignment.java
  pinot-query-planner/src/test/resources/queries/PhysicalOptimizerPlans.json
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage, mse-physical-optimizer

#15604 [timeseries] Add Metadata Provider to Time Series Query Planner
  pinot-plugins/pinot-timeseries-lang/pinot-timeseries-m3ql/src/main/java/org/apache/pinot/tsdb/m3ql/M3TimeSeriesPlanner.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/TimeSeriesQueryEnvironment.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/TimeSeriesTableMetadataProvider.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/TimeSeriesLogicalPlanner.java
  pinot-timeseries/pinot-timeseries-spi/src/main/java/org/apache/pinot/tsdb/spi/TimeSeriesMetadata.java
Labels: backward-incompat, timeseries-engine

#15654 [pinot-avro plugin] by default enable logical types support
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordExtractor.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordExtractorConfig.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordReaderConfig.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroSchemaUtil.java
  pinot-plugins/pinot-input-format/pinot-avro-base/src/test/java/org/apache/pinot/plugin/inputformat/avro/AvroRecordToPinotRowGeneratorTest.java
Labels: release-notes, backward-incompat, ingestion, plugins

#15515 Logical table CRUD operations.
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/LogicalTableUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotAdminUserLogicalTableResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotUserWithAccessLogicalTableResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/TableCacheTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/provider/LogicalTableConfigChangeListener.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/provider/PinotConfigProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/LogicalTableConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/PhysicalTableConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/LogicalTableConfigBuilder.java
Labels: feature

#15388 Move Table Routing logic in SSE to TableRoute class
  pinot-broker/pom.xml
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandlerTest.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/RoutingManager.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ImplicitHybridTableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryRouter.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/TableRouteInfo.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/ImplicitHybridTableRouteProvider.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/TableRouteProvider.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/BaseTableRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/ImplicitHybridTableRouteProviderCalculateRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/ImplicitHybridTableRouteProviderGetTableRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/testutils/MockRoutingManagerFactory.java
Labels: refactor

#15466 Fallback for bad values in periodic controller task configurations
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotControllerHealthCheck.java
  pinot-controller/src/test/java/org/apache/pinot/controller/ControllerConfTest.java
Labels: Configuration

#15673 Log IS update failures in ensureAllPartitionsConsuming
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/IdealStateGroupCommit.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotTableIdealStateBuilder.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
Labels: ingestion, real-time

#15703 Create proper response when all segments are pruned on broker
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/EmptyResponseUtils.java
  pinot-broker/src/test/java/org/apache/pinot/broker/requesthandler/EmptyResponseUtilsTest.java
  pinot-common/src/main/java/org/apache/pinot/common/cursors/AbstractResponseStore.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/ResultsBlockUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/query/reduce/BaseGapfillProcessor.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BasePauselessRealtimeIngestionTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/CursorIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/EmptyResponseIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/SegmentGenerationMinionClusterIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/parser/utils/ParserUtils.java
Labels: enhancement, query

#15724 Use AtomicInteger for _currentQueryServerThreads in MultiStageQueryThrottler to provide thread-safe computation
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageQueryThrottler.java
Labels: metrics, bugfix, multi-stage

#15734 Don't use static variables for per-table metadata in ReplicaGroupSegmentAssignmentStrategy
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/strategy/ReplicaGroupSegmentAssignmentStrategy.java
Labels: bugfix

#15618 Dynamic timeout for EV convergence in table rebalance
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerTest.java
Labels: enhancement, segment-rebalance

#15652 Retry postStopConsumedMsg for segment init errors
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/RealtimeSegmentDataManager.java
Labels: bugfix

#15728 Follow-up to [#15706] - Fixing Swagger UI redirection from controller UI
  pinot-controller/src/main/resources/app/components/Layout.tsx
Labels: bugfix

#15726 Broker selection for logical tables.
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/TableCacheTest.java
Labels: logical-tables

#15740 Enhance OfflineClusterIntegrationTest to check index size and fix index removal for default column
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiNodesOfflineClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/IndexEntry.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/IndexKey.java
Labels: ingestion, bugfix, testing

#15692 MSE support for case-insensitiveness without breaking compatibility
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/catalog/PinotCatalogReader.java
  pinot-common/src/main/java/org/apache/pinot/common/catalog/PinotNameMatcher.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/list/FlatViewList.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/catalog/PinotCatalog.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PinotLogicalQueryPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/PinotDispatchPlanner.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableNameBuilder.java
Labels: multi-stage

#15733 Logical table schema enforcement.
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/LogicalTableUtils.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/helix/PinotHelixPropertyStoreZnRecordProvider.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotUserWithAccessLogicalTableResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/TableCacheTest.java
Labels: logical-tables

#15745 Add a test to create star-tree on new added columns
  pinot-core/src/test/java/org/apache/pinot/queries/TransformQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: testing

#15746 Cleanup the segment metadata reading logic in SegmentPreProcessor
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessor.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/utils/SegmentMetadataUtils.java
Labels: cleanup

#15716 Metric for HTTP Thread Utilization (Controller)
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ControllerGauge.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java
Labels: metrics, observability

#15760 [multistage] Add Support for Inferring Invalid Segment Partition Id
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PhysicalPlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PinotLogicalQueryPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PRelNodeTreeValidator.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/PRelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRule.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LeafStageWorkerAssignmentRuleTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage, mse-physical-optimizer

#15756 Fix Bitmap Filter Execution Order in OrDocIdSet
  pinot-core/src/main/java/org/apache/pinot/core/operator/docidsets/OrDocIdSet.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/docidsets/OrDocIdSetTest.java
Labels: query, bugfix

#15759 Rename LeafStageTransferableBlockOperator to LeafStageOperator
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/RowHeapDataBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LookupJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PlanNodeToOpChain.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/LeafStageOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OperatorTestUtil.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/MultiStageQueryStatsTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
Labels: refactor, multi-stage

#15761 Check for timeColumn data type in Upsert & Dedup Tables
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/utils/TableConfigUtilsTest.java
Labels: upsert, dedup

#15617 Table Rebalance: Add support for server-level segment batching
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/RealtimeSegmentAssignment.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceServerOptions.ts
  pinot-controller/src/test/java/org/apache/pinot/controller/ControllerConfTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PartialUpsertTableRebalanceIntegrationTest.java
  pinot-tools/src/main/java/org/apache/pinot/tools/PinotTableRebalancer.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/RebalanceTableCommand.java
Labels: feature, release-notes, Configuration, segment-rebalance

#15743 [multistage] Multistage Engine Lite Mode (prototype)
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/PhysicalPlannerContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalAggregate.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/nodes/PhysicalSort.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/PRelOptRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/PhysicalOptRuleSet.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeSortInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeWorkerAssignmentRule.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeWorkerAssignmentRuleTest.java
  pinot-query-planner/src/test/resources/queries/PhysicalOptimizerPlans.json
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: multi-stage, mse-physical-optimizer, mse-lite-mode

#15800 [multistage] Add userFactEvents Table to Colocated Join Quickstart
  pinot-tools/src/main/java/org/apache/pinot/tools/ColocatedJoinQuickStart.java
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/ingestionJobSpec.yaml
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/rawdata/p0.csv
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/rawdata/p1.csv
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/rawdata/p2.csv
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/rawdata/p3.csv
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/rawdata/p4.csv
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/rawdata/p5.csv
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/rawdata/p6.csv
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/rawdata/p7.csv
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/userFactEvents_offline_table_config.json
  pinot-tools/src/main/resources/examples/batch/colocated/userFactEvents/userFactEvents_schema.json
Labels: multi-stage, mse-physical-optimizer

#15634 Execute Queries on Logical Tables in SSE
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResource.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/LogicalTableExecutionInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/TableExecutionInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/routing/RoutingManager.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/BaseTableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/ImplicitHybridTableRouteInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/TableRouteInfo.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/BaseLogicalTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/LogicalTableWithOneOfflineTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/LogicalTableWithTwelveOfflineTablesIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/LogicalTableWithTwoOfflineTablesIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/LogicalTableRouteInfo.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/LogicalTableRouteProvider.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/PhysicalTableRouteProvider.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/BaseTableRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/ImplicitHybridTableRouteProviderCalculateRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/ImplicitHybridTableRouteProviderGetTableRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/LogicalTableRouteProviderCalculateRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/LogicalTableRouteProviderGetRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/testutils/MockRoutingManagerFactory.java
Labels: feature, documentation, release-notes, logical-tables

#15806 Minor cleanups in rebalance related code
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceJobConstants.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/ZkBasedTableRebalanceObserver.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/relocation/SegmentRelocator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TestZkBasedTableRebalanceObserver.java
Labels: cleanup

#15801 Rename LeafStageOperator to LeafOperator
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/blocks/RowHeapDataBlock.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LeafOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/LookupJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PlanNodeToOpChain.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/LeafOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxReceiveOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/OperatorTestUtil.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/plan/MultiStageQueryStatsTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
Labels: refactor

#15778 make dedup table use strict replica group assignment too
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/SegmentAssignmentFactory.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/assignment/segment/StrictRealtimeSegmentAssignment.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/assignment/segment/StrictRealtimeSegmentAssignmentTest.java
Labels: enhancement, dedup

#15809 remove Nullable on primitive type
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/SchemaUtils.java
Labels: bugfix

#15803 [New Feature] Case-Sensitive Text Indexing
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/TextIndicesTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/text/CaseSensitiveAnalyzer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/store/TextIndexUtils.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/TextIndexConfig.java
  pinot-tools/src/main/resources/examples/batch/fineFoodReviews/fineFoodReviews_offline_table_config.json
  pinot-tools/src/main/resources/examples/stream/fineFoodReviews/fineFoodReviews_realtime_table_config.json
Labels: feature

#15792 Remove pinot-orc from the packaged distribution
  pinot-distribution/pinot-assembly.xml
  pinot-tools/pom.xml
Labels: dependencies, backward-incompat, buildAndPackage, plugins

#15825 [Flaky-test] Fix QueryRunnerTest.testSqlWithExceptionMsgChecker()
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTest.java
Labels: flaky-test, bugfix

#15822 Fix up rebalance batching partitionId calculation to account for COMPLETED segment partitioning differently as done in RealtimeSegmentAssignment
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerTest.java
Labels: segment-rebalance

#15841 Do not re-generate star-tree when index version changes
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/StarTreeBuilderUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/startree/v2/builder/StarTreeBuilderUtilsTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/startree/AggregationSpec.java
Labels: enhancement, ingestion

#15776 Logical table time boundary
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BrokerResourceOnlineOfflineStateModelFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BrokerUserDefinedMessageHandlerFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-common/src/main/java/org/apache/pinot/common/messages/LogicalTableConfigRefreshMessage.java
  pinot-common/src/main/java/org/apache/pinot/common/metadata/ZKMetadataProvider.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/LogicalTableConfigUtils.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResourceTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/BaseLogicalTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/LogicalTableWithOneOfflineOneRealtimeTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/LogicalTableWithOneRealtimeTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/LogicalTableWithTwelveOfflineOneRealtimeTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/LogicalTableWithTwoOfflineOneRealtimeTableIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/LogicalTableRouteProvider.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/timeboundary/MinTimeBoundaryStrategy.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/timeboundary/TimeBoundaryStrategy.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/timeboundary/TimeBoundaryStrategyService.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/BaseTableRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/LogicalTableRouteProviderCalculateRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/LogicalTableRouteProviderGetRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/timeboundary/MinTimeBoundaryStrategyTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/timeboundary/TimeBoundaryStrategyServiceTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/LogicalTableConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/data/TimeBoundaryConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/ControllerRequestURLBuilder.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/LogicalTableConfigBuilder.java
Labels: feature, logical-tables

#15793 Add ISO 8601 date conversion functions and tests
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/DateTimeFunctions.java
  pinot-core/src/test/java/org/apache/pinot/core/data/function/DateTimeFunctionsTest.java
Labels: functions

#15838 Modify strictReplicaGroup rebalance batching to categorize on current+target instances to partitionId to currentAssignment
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalanceIntegrationTest.java
Labels: feature, segment-rebalance

#15856 Fix index loading for invisible columns
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/metadata/SegmentMetadataImpl.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: bugfix

#15445 Direct mse query server
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/server/QueryServer.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/QueryServerEnclosure.java
  pinot-spi/src/main/java/org/apache/pinot/spi/query/QueryThreadContext.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, multi-stage

#15848 Modify primitive lookup tables to accept null values
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/join/DoubleLookupTable.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/join/FloatLookupTable.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/join/IntLookupTable.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/join/LongLookupTable.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/join/LookupTable.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/join/ObjectLookupTable.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/join/PrimitiveLookupTable.java
  pinot-query-runtime/src/test/resources/queries/NullHandling.json
Labels: bugfix, multi-stage

#15526 Changes to Enable Pluggable forward Index and Map Index Filter Operator for MAP column
  pinot-common/src/main/java/org/apache/pinot/common/utils/PinotDataType.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/JsonMatchFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/MapFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/ItemTransformFunction.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/FilterPlanNode.java
  pinot-core/src/test/resources/TableIndexingTest.csv
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/custom/MapFieldTypeTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/stats/RealtimeSegmentSegmentCreationDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/stats/RealtimeSegmentStatsContainer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/json/MutableJsonIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/MapColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/datasource/BaseDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/json/JsonIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/map/BaseMapIndexCreator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/map/ImmutableMapDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/map/MapIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/map/MapIndexPlugin.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/map/MapIndexType.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/map/MutableMapDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/map/MutableMapIndexImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/map/NullDataSource.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/json/ImmutableJsonIndexReader.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/readers/map/ImmutableMapIndexReader.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/V1Constants.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/datasource/DataSource.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/ForwardIndexConfig.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/StandardIndexes.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/creator/JsonIndexCreator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/creator/MapIndexCreator.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableJsonIndex.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/mutable/MutableMapIndex.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/index/reader/JsonIndexReader.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/IndexingConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/MapIndexConfig.java
Labels: feature, cleanup

#15869 Add APIs to IndexSegment as a preparation to support virtual DataSource
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/MinMaxValueBasedSelectionOrderByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/ExpressionFilterOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/SelectionOrderByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/AggregationPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/DistinctPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/FilterPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/ProjectPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/SelectionPlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/LogicalTableExecutionInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/ServerQueryExecutorV1Impl.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/SingleTableExecutionInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/query/executor/TableExecutionInfo.java
  pinot-core/src/main/java/org/apache/pinot/core/query/prefetch/DefaultFetchPlanner.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/test/java/org/apache/pinot/core/plan/maker/QueryOverrideWithHintsTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/EmptyIndexSegment.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/immutable/ImmutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/IndexSegment.java
Labels: feature, query

#15888 Disable japicmp by default. Add a CI execution that just runs that.
  .github/workflows/pinot_tests.yml
  pinot-segment-spi/pom.xml
  pinot-spi/pom.xml
  pom.xml
Labels: github_actions

#15889 [bugfix][ui] Fix: rendering of table sizes in OSS UI when table size returns -1.
  pinot-controller/src/main/resources/app/utils/Utils.tsx
Labels: ui, bugfix

#15870 Encode Segment Reload Request
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/ControllerTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: bugfix

#15862 Handle remove build routing for logical tables.
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotBrokerRouting.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BrokerResourceOnlineOfflineStateModelFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/BaseLogicalTableIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/LogicalTableWithTwoOfflineOneRealtimeTableIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/timeboundary/MinTimeBoundaryStrategy.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/timeboundary/TimeBoundaryStrategy.java
Labels: logical-tables

#15898 Change Pinot UI to be able to show json on error and MSE stats if any
  pinot-controller/src/main/resources/app/pages/Query.tsx
Labels: ui, observability, multi-stage

#15901 Better mse stats
  pinot-controller/src/main/resources/app/components/Query/VisualizeQueryStageStats.tsx
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/InStageStatsTreeBuilder.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/MultiStageStatsTreeBuilder.java
Labels: ui, multi-stage

#15895 Reduce ZK access for SendStatsPredicate
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/SendStatsPredicate.java
  pinot-server/src/main/java/org/apache/pinot/server/worker/WorkerQueryServer.java
Labels: bugfix

#15630 ASOF JOIN
  pinot-common/src/main/proto/plan.proto
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/rel/rules/PinotJoinExchangeNodeInsertRule.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/PlanNodeToRelConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RelToPlanNodeConverter.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/plannode/JoinNode.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/PlanNodeDeserializer.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/serde/PlanNodeSerializer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AsofJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/NonEquiJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/PlanNodeToOpChain.java
  pinot-query-runtime/src/test/resources/queries/AsOfJoin.json
Labels: feature, release-notes, multi-stage

#15929 Refactor TableRebalanceIntegrationTest / HybridClusterIntegrationTest to avoid duplication in test runs
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/BaseHybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/HybridClusterIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TableRebalanceIntegrationTest.java
Labels: testing, refactor

#15941 [multistage] Remove Old Colocated Join Implementation
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/PinotDispatchPlanner.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/colocated/ColocationKey.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/colocated/GreedyShuffleRewriteContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/colocated/GreedyShuffleRewritePreComputeVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/colocated/GreedyShuffleRewriteVisitor.java
Labels: cleanup, multi-stage

#15942 Upgrade Calcite from 1.39.0 to 1.40.0
  pinot-common/src/main/codegen/config.fmpp
  pinot-common/src/main/codegen/default_config.fmpp
  pinot-common/src/main/codegen/templates/Parser.jj
  pom.xml
Labels: dependencies, java

#15773 [Logical Table] Support logical tables in MSE.
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/InstanceDataManager.java
  pinot-core/src/main/java/org/apache/pinot/core/data/manager/LogicalTableContext.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/logicaltable/BaseLogicalTableIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/catalog/PinotCatalog.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanContext.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/DispatchablePlanVisitor.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerManager.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/WorkerMetadata.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/ImplicitHybridTableRouteProvider.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/LogicalTableRouteInfo.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/LogicalTableRouteProvider.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/routing/table/PhysicalTableRouteProvider.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/timeboundary/MinTimeBoundaryStrategy.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/timeboundary/TimeBoundaryStrategy.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/BaseTableRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/ImplicitHybridTableRouteProviderCalculateRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/routing/table/ImplicitHybridTableRouteProviderGetTableRouteTest.java
  pinot-query-planner/src/test/java/org/apache/pinot/query/timeboundary/MinTimeBoundaryStrategyTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java
Labels: feature, logical-tables

#15944 GET /logicalTables API to return database specific tables.
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotLogicalTableResourceTest.java
Labels: logical-tables

#15843 Enhance MultiStageReplicaGroupSelector to Tolerate Partial Replica Failures Across Instance Partitions
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/MultiStageReplicaGroupSelector.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-common/src/main/java/org/apache/pinot/common/assignment/InstancePartitions.java
Labels: enhancement
