Repository apache/pinot, pull requests merged in 2025-08, with the labels that each got.

#16478 Enhance REGEXP_LIKE to scan dictionary when dictionary is small
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/FilterOperatorUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/BaseDictIdBasedRegexpLikePredicateEvaluator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/FSTBasedRegexpPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/IFSTBasedRegexpPredicateEvaluatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RegexpLikePredicateEvaluatorFactory.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterIntegrationTest.java
Labels: enhancement, query

#16488 Fix linter violation in SparkSegmentTarPushJobRunner and also apply fix for spark2
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-2.4/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentTarPushJobRunner.java
  pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark-3/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark3/SparkSegmentTarPushJobRunner.java
Labels: ingestion, bugfix

#16490 Remove unnecessary methods and config for ThreadResourceUsageAccountant
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/ResourceUsageAccountantFactory.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MultiStageAccountingTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MultistageResourceUsageAccountingTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/PerQueryCPUMemAccountantTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/accounting/ThreadResourceUsageAccountant.java
  pinot-spi/src/main/java/org/apache/pinot/spi/trace/Tracing.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-spi/src/test/java/org/apache/pinot/spi/executor/ThrottleOnCriticalHeapUsageExecutorTest.java
Labels: cleanup

#16505 Fixing typo CONFIG_OF_ZOOKEEPER_SERVER in the codebase
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/HelixBrokerStarter.java
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterHostnamePortTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/broker/HelixBrokerStarterTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ServerStarterIntegrationTest.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionConf.java
  pinot-minion/src/main/java/org/apache/pinot/minion/MinionStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/predownload/PredownloadScheduler.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/BaseServerStarter.java
  pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixServerStarter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartBrokerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartMinionCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/StartServerCommand.java
  pinot-tools/src/main/java/org/apache/pinot/tools/perf/PerfBenchmarkDriver.java
  pinot-tools/src/main/java/org/apache/pinot/tools/service/PinotServiceManager.java
  pinot-tools/src/main/java/org/apache/pinot/tools/utils/PinotConfigUtils.java
Labels: minor

#16493 Fail task cleanup validation only upon active subtasks
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
Labels: bugfix

#16442 [refactor] Switching to RoutingManager for broker request handlers
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/GrpcBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/SingleConnectionBrokerRequestHandler.java
Labels: refactor

#16310 Add prune option for lineage operations
  pinot-common/src/main/java/org/apache/pinot/common/utils/FileUploadDownloadClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/RetentionManager.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/SegmentConversionUtils.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/ConsistentDataPushUtils.java
Labels: rest-api

#16514 Add tests for OOM Termination of MSE queries.
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedServerQueryKillingTest.java
Labels: testing

#16524 Fix SSE subquery handling and clarify query start semantics
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
Labels: bugfix

#16528 Enhance StringFunctions.replace()
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/string/StringFunctions.java
Labels: enhancement, functions

#16530 bug-fixing for passive timeout handling in QueryDispatcher
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
Labels: bugfix, multi-stage

#16533 Fix a flaky assert when testing OOM Cancellation of MSE Queries
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedServerQueryKillingTest.java
Labels: flaky-test

#16341 Table rebalance changes for handling peer-download enabled tables
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/DefaultRebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/DataLossRiskAssessorTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerTest.java
Labels: enhancement, segment-rebalance

#16545 rebalance ui flow fixes
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServer/RebalanceResponse.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServerStatusOp.tsx
  pinot-controller/src/main/resources/app/components/Homepage/Operations/RebalanceServerTableOp.tsx
Labels: ui, segment-rebalance

#16536 Add controller REST API to compile / validate MSE query
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
Labels: multi-stage, rest-api

#16561 Parse booleans for optimizeMaxInitialResultHolder once
  pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/DefaultGroupByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/test/java/org/apache/pinot/core/query/aggregation/groupby/DictionaryBasedGroupKeyGeneratorTest.java
Labels: enhancement

#16552 Enhance ValueAggregator
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/AvgValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/CountValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountBitmapValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountCPCSketchValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountHLLPlusValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountHLLValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountThetaSketchValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/DistinctCountULLValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/IntegerTupleSketchValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/MaxValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/MinMaxRangeValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/MinValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/PercentileEstValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/PercentileTDigestValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/SumPrecisionValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/SumValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/ValueAggregator.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/aggregator/ValueAggregatorFactory.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/startree/v2/builder/BaseSingleTreeBuilder.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/aggregator/DistinctCountCPCSketchValueAggregatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/aggregator/DistinctCountULLValueAggregatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/aggregator/IntegerTupleSketchValueAggregatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/aggregator/ValueAggregatorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/indexsegment/mutable/MutableSegmentImplIngestionAggregationTest.java
Labels: enhancement, bugfix

#16553 [Enhancement] Support refresh AWS credentials
  pinot-plugins/pinot-file-system/pinot-s3/src/main/java/org/apache/pinot/plugin/filesystem/S3PinotFS.java
Labels: security, PinotFileSystem, AWS

#16568 Making LIKE predicate case in-sensitive.
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/regexp/RegexpLikeConstFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/function/scalar/regexp/RegexpLikeVarFunctions.java
  pinot-common/src/main/java/org/apache/pinot/common/request/context/RequestContextUtils.java
Labels: bugfix

#16551 [multistage] Push Collation from Exchange to Lite Mode Sort
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/LiteModeSortInsertRule.java
  pinot-query-planner/src/test/resources/queries/PhysicalOptimizerPlans.json
Labels: multi-stage, mse-physical-optimizer, mse-lite-mode

#16531 [timeseries] Introducing POST /query/timeseries as a BrokerResponse compatible timeseries API
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/TimeSeriesRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/response/PinotBrokerTimeSeriesResponse.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/ClusterTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/TimeSeriesIntegrationTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
Labels: timeseries-engine, timeseries-general-availability

#16571 Add cluster level configuration for max num subtasks
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotHelixTaskResourceManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/TaskSchedulingContext.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/BaseTaskGenerator.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/minion/generator/PinotTaskGenerator.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/minion/PinotTaskManagerStatelessTest.java
  pinot-core/src/main/java/org/apache/pinot/core/common/MinionConstants.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/purge/PurgeTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/refreshsegment/RefreshSegmentTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/segmentgenerationandpush/SegmentGenerationAndPushTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/main/java/org/apache/pinot/plugin/minion/tasks/upsertcompactmerge/UpsertCompactMergeTaskGenerator.java
  pinot-plugins/pinot-minion-tasks/pinot-minion-builtin-tasks/src/test/java/org/apache/pinot/plugin/minion/tasks/upsertcompaction/UpsertCompactionTaskGeneratorTest.java
Labels: Configuration, minion

#16590 Broker: fail fast when broker marked down; keep IdealState/ExternalView checks out of critical path
  pinot-broker/src/main/java/org/apache/pinot/broker/broker/helix/BaseBrokerStarter.java
Labels: enhancement

#16591 Controller UI: Fix subtask filter crash; add Minion Task page status filters
  pinot-controller/src/main/resources/app/components/TaskStatusFilter.tsx
  pinot-controller/src/main/resources/app/components/useTaskListing.tsx
  pinot-controller/src/main/resources/app/pages/TaskDetail.tsx
Labels: user-experience, ui, bugfix

#16585 broker: per-table routing build lock and request gating
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/BuildRoutingDelayTest.java
Labels: enhancement

#16492 [Auto reset 1/3]Auto reset offset during ingestion lag
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManagerTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/src/main/java/org/apache/pinot/plugin/stream/kafka20/KafkaStreamMetadataProvider.java
  pinot-plugins/pinot-stream-ingestion/pinot-kafka-3.0/src/main/java/org/apache/pinot/plugin/stream/kafka30/KafkaStreamMetadataProvider.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfigProperties.java
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamMetadataProvider.java
Labels: feature, documentation, Configuration, ingestion, real-time

#16601 Refactor set operator tests to use BlockListMultiStageOperator instead of mocks
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/set/IntersectAllOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/set/IntersectOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/set/MinusAllOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/set/MinusOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/set/UnionAllOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/set/UnionOperatorTest.java
Labels: testing, refactor

#16614 [Bug fix] Change consuming segment offset and age from int to long
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceSummaryResult.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/tenant/TenantRebalanceResult.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/KafkaConsumingSegmentToBeMovedSummaryIntegrationTest.java
Labels: bugfix

#16581 [Plannner] Support tracing of planner rule productions
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/context/RuleTimingPlannerListener.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: feature

#16308 [SSE] Trim group when orderBy key is same as groupBy key, sort-aggregate and pair-wise merge
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/SortedRecordTable.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/SortedRecords.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/SortedRecordsMerger.java
  pinot-core/src/main/java/org/apache/pinot/core/data/table/TableResizer.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/blocks/results/GroupByResultsBlock.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/SequentialSortedGroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/combine/SortedGroupByCombineOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/FilteredGroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/query/GroupByOperator.java
  pinot-core/src/main/java/org/apache/pinot/core/plan/CombinePlanNode.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/DefaultGroupByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/groupby/GroupByExecutor.java
  pinot-core/src/main/java/org/apache/pinot/core/query/request/context/QueryContext.java
  pinot-core/src/main/java/org/apache/pinot/core/query/utils/OrderByComparatorFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/util/GroupByUtils.java
  pinot-core/src/test/java/org/apache/pinot/core/data/table/TableResizerTest.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/combine/SortedGroupByCombineOperatorsTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/BaseFunnelCountQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/FastHllQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/HistogramQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/SerializedBytesQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/StatisticalQueriesTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/GroupByTrimmingIntegrationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedServerQueryKillingTest.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkAggregateGroupByOrderByQueriesSSE.java
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkPairwiseCombineOrderByGroupBy.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: query, performance

#16613 Change BasePeriodicTask to use a lock object for start / stop rather than synchronizing the methods
  pinot-core/src/main/java/org/apache/pinot/core/periodictask/BasePeriodicTask.java
Labels: enhancement, bugfix

#16615 Add a rebalance option to disable the summary
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/DefaultRebalancePreChecker.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/RebalanceConfig.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/test/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancerClusterStatelessTest.java
Labels: feature, segment-rebalance

#16609 Add TASK_ERROR to subtask status filter
  pinot-controller/src/main/resources/app/components/TaskStatusFilter.tsx
  pinot-controller/src/main/resources/app/pages/TaskDetail.tsx
Labels: enhancement, user-experience, ui

#16639 Revert "broker: per-table routing build lock and request gating"
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/BrokerRoutingManager.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/BuildRoutingDelayTest.java
Labels: bugfix

#16624 Keep value of necessary columns only in ComplexTypeTranformer
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformer.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/TransformPipeline.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/TransformPipelineTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/recordtransformer/RecordTransformer.java
Labels: enhancement, ingestion

#16627 [multistage] Fix Bug in Physical Optimizer for SetOp Heterogenous Dists
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/physical/v2/opt/rules/WorkerExchangeAssignmentRule.java
  pinot-query-runtime/src/test/resources/queries/SetOpsH2.json
  pinot-query-runtime/src/test/resources/queries/SetOpsNonH2.json
Labels: bugfix, multi-stage, mse-physical-optimizer

#16642 Reduce log verbosity for PerQueryCPUMemResourceUsageAccountant
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
  pinot-core/src/main/java/org/apache/pinot/core/accounting/QueryAggregator.java
  pinot-core/src/test/java/org/apache/pinot/core/accounting/TestResourceAccountant.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedBrokerQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterMemBasedServerQueryKillingTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/OfflineClusterServerCPUTimeQueryKillingTest.java
Labels: enhancement, bugfix

#16616 Add initial configs, classes and stubs for audit logging support. Disabled by default
  pinot-common/pom.xml
  pinot-common/src/main/java/org/apache/pinot/common/audit/AuditConfig.java
  pinot-common/src/main/java/org/apache/pinot/common/audit/AuditConfigManager.java
  pinot-common/src/main/java/org/apache/pinot/common/audit/AuditEvent.java
  pinot-common/src/main/java/org/apache/pinot/common/audit/AuditLogFilter.java
  pinot-common/src/main/java/org/apache/pinot/common/audit/AuditLogger.java
  pinot-common/src/main/java/org/apache/pinot/common/audit/AuditRequestProcessor.java
  pinot-common/src/test/java/org/apache/pinot/common/audit/AuditRequestProcessorTest.java
  pinot-controller/src/main/java/org/apache/pinot/controller/BaseControllerStarter.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-tools/src/main/resources/conf/log4j2.xml
  pinot-tools/src/main/resources/log4j2.xml
Labels: feature, release-notes

#16647 Improve OOM log about entering CPU/normal mode
  pinot-core/src/main/java/org/apache/pinot/core/accounting/PerQueryCPUMemAccountantFactory.java
Labels: enhancement

#16462 Gracefully handle bad segment time data during ingestion if continueOnError is true
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/SegmentColumnarIndexCreator.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/ColumnMetadataTest.java
Labels: enhancement

#16673 Move time-series constants into CommonConstants
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/QueryRunner.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/timeseries/TimeSeriesDispatchObserver.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
  pinot-timeseries/pinot-timeseries-planner/src/main/java/org/apache/pinot/tsdb/planner/TimeSeriesPlanConstants.java
Labels: cleanup, timeseries-engine

#16334 Add broker metrics to count segments that are not zone failure tolerant
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BalancedInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/BaseInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorConfig.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorFactory.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/MultiStageReplicaGroupSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/ReplicaGroupInstanceSelector.java
  pinot-broker/src/main/java/org/apache/pinot/broker/routing/instanceselector/StrictReplicaGroupInstanceSelector.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/InstanceSelectorTest.java
  pinot-broker/src/test/java/org/apache/pinot/broker/routing/instanceselector/MultiStageReplicaGroupSelectorTest.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerMeter.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: Configuration, metrics

#16682 Fix upgrade compatibility issue with type casts in SSE
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/CastTypeAliasRewriter.java
  pinot-common/src/main/java/org/apache/pinot/sql/parsers/rewriter/QueryRewriterFactory.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/CalciteSqlCompilerTest.java
  pinot-common/src/test/java/org/apache/pinot/sql/parsers/rewriter/QueryRewriterFactoryTest.java
Labels: bugfix

#16683 Handle null values in JsonExtractScalarTransformFunction with default value support
  pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/operator/transform/function/JsonExtractScalarTransformFunctionTest.java
Labels: bugfix

#16658 Fix a basic null handling issue in MSE
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/MultiStageBrokerRequestHandler.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/ExplainIntegrationTestTrait.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/NullHandlingIntegrationTest.java
  pinot-query-planner/src/main/java/org/apache/pinot/calcite/sql/fun/PinotOperatorTable.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/QueryEnvironment.java
  pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/RexExpressionUtils.java
  pinot-query-planner/src/test/resources/queries/PhysicalOptimizerPlans.json
Labels: query, bugfix, multi-stage

#16696 Fix early termination on MSE operator
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/GroupByOptionsIntegrationTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainSchedulerService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AsofJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/BaseMailboxReceiveOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MailboxSendOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/MultiStageOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/NonEquiJoinOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/WindowAggregateOperator.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/pipeline/PipelineBreakerOperator.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/PerQueryCPUMemAccountantTest.java
Labels: bugfix, oom-protection

#16626 Add extra JSON fields (schemas and tableConfigs) in the validateMultiStageQuery API - MSE
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/StaticTableCache.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/TableCache.java
  pinot-common/src/main/java/org/apache/pinot/common/config/provider/ZkTableCache.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotQueryResource.java
  pinot-controller/src/test/java/org/apache/pinot/controller/api/resources/PinotQueryResourceStaticValidationTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/MultiStageEngineIntegrationTest.java
Labels: feature, multi-stage, rest-api

#16641 [timeseries] Returning TimeSeriesBlock to API handlers to eliminate extraneous transformation
  pinot-broker/src/main/java/org/apache/pinot/broker/api/resources/PinotClientRequest.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BrokerRequestHandlerDelegate.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/TimeSeriesRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/response/PinotBrokerTimeSeriesResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/mapper/TimeSeriesResponseMapper.java
  pinot-common/src/test/java/org/apache/pinot/common/response/mapper/TimeSeriesResponseMapperTest.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-spi/src/main/java/org/apache/pinot/spi/exception/QueryErrorCode.java
Labels: timeseries-engine, timeseries-general-availability

#16710 Avoid NPE while persisting validDocId and queryableDocId bitmaps for Upsert Tables
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/upsert/BasePartitionUpsertMetadataManager.java
Labels: bugfix

#16711 Handle null values gracefully in SSE's post aggregation functions
  pinot-core/src/main/java/org/apache/pinot/core/query/postaggregation/PostAggregationFunction.java
  pinot-core/src/test/java/org/apache/pinot/core/query/postaggregation/PostAggregationFunctionTest.java
Labels: query, bugfix

#16718 Cleanup some unused code in pinot-query-runtime
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/TimeSeriesRequestHandler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/MailboxService.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/executor/OpChainScheduler.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/utils/BlockingStream.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/MultiStageQueryStats.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/plan/server/ServerPlanRequestUtils.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/QueryDispatcher.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/service/dispatch/timeseries/AsyncQueryTimeSeriesDispatchResponse.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/EnrichedHashJoinOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/MailboxSendOperatorTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/QueryRunnerTestBase.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/queries/ResourceBasedQueriesTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/testutils/MockInstanceDataManagerFactory.java
Labels: cleanup
