Repository apache/pinot, pull requests merged in 2025-10, with the labels that each got.

#16934 Allow manual scheduling of PeriodicTask even if they have auto-scheduling turned off
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/RealtimeConsumerMonitor.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/SegmentStatusChecker.java
  pinot-core/src/main/java/org/apache/pinot/core/periodictask/PeriodicTaskScheduler.java
  pinot-core/src/test/java/org/apache/pinot/core/periodictask/PeriodicTaskSchedulerTest.java
Labels: bugfix

#16941 Update usages of some deprecated methods from jackson-databind
  pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/ExternalViewReader.java
  pinot-common/src/main/java/org/apache/pinot/common/response/PinotBrokerTimeSeriesResponse.java
  pinot-common/src/main/java/org/apache/pinot/common/response/encoder/JsonResponseEncoder.java
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/ZookeeperResource.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/ControllerRequestClient.java
  pinot-controller/src/main/java/org/apache/pinot/controller/util/TableMetadataReader.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/ingestion/RealtimeKinesisIntegrationTest.java
  pinot-plugins/pinot-stream-ingestion/pinot-kinesis/src/main/java/org/apache/pinot/plugin/stream/kinesis/KinesisPartitionGroupOffset.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/utils/TableConfigUtils.java
  pinot-segment-spi/src/test/java/org/apache/pinot/segment/spi/partition/PartitionFunctionTest.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/ConfigUtils.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/JsonUtils.java
Labels: cleanup

#16364 [ngram index part 1]Add realtime ngram filtering index and benchmark results.
  pinot-perf/src/main/java/org/apache/pinot/perf/BenchmarkNgramFilteringIndex.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeNgramFilteringIndex.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/realtime/impl/invertedindex/RealtimeNgramFilteringIndexTest.java
Labels: feature, index

#16947 Disallow allowableValues and example together in @ApiParam due to swagger UI bug
  config/checkstyle.xml
  pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableInstances.java
Labels: ui, bugfix

#16946 Cleap up deprecated configs for MinionInstancesCleanupTask
  pinot-controller/src/main/java/org/apache/pinot/controller/ControllerConf.java
  pinot-controller/src/test/java/org/apache/pinot/controller/ControllerConfTest.java
Labels: incompatible, cleanup

#16939 Change Netty defaults and add new metrics exporting the total max and used memory by Netty and gRPC
  .github/workflows/pinot_tests.yml
  .mvn/jvm.config
  pinot-broker/src/main/java/org/apache/pinot/broker/grpc/BrokerGrpcServer.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/BrokerGauge.java
  pinot-common/src/main/java/org/apache/pinot/common/metrics/ServerGauge.java
  pinot-connectors/pinot-spark-3-connector/pom.xml
  pinot-core/src/main/java/org/apache/pinot/core/transport/QueryServer.java
  pinot-core/src/main/java/org/apache/pinot/core/transport/grpc/GrpcQueryServer.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/channel/GrpcMailboxServer.java
  pinot-tools/src/main/resources/appAssemblerScriptTemplate
  pom.xml
Labels: metrics, bugfix

#16922 Use 2 bitsets in ScanBasedRegexpLikePredicateEvaluator to track DictIdToRegexMatcher for REGEX_LIKE predicate
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java
  pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseSingleStageBrokerRequestHandler.java
  pinot-common/src/main/java/org/apache/pinot/common/utils/config/QueryOptionsUtils.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/PredicateEvaluatorProvider.java
  pinot-core/src/main/java/org/apache/pinot/core/operator/filter/predicate/RegexpLikePredicateEvaluatorFactory.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/CommonConstants.java
Labels: enhancement, Configuration, query

#16953 Rebuild H3 index on segment reload if resolution config is updated
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/invertedindex/H3IndexHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
Labels: enhancement, geo, index

#16904 Resets in-progress pauseless table segments
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/realtime/PinotLLCRealtimeSegmentManager.java
  pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/rebalance/TableRebalancer.java
  pinot-controller/src/main/java/org/apache/pinot/controller/validation/RealtimeSegmentValidationManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PauselessDedupRealtimeIngestionConsumingTransitionFailureTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PauselessRealtimeIngestionConsumingTransitionFailureTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/PauselessRealtimeIngestionSegmentCommitFailureTest.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingRealtimeSegmentDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingRealtimeTableDataManager.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingTableConfig.java
  pinot-integration-tests/src/test/java/org/apache/pinot/integration/tests/realtime/utils/FailureInjectingTableDataManagerProvider.java
Labels: ingestion, bugfix

#16845 Optimise index stats collector for no dict
  pinot-controller/src/test/resources/memory_estimation/table-config.json
  pinot-core/src/test/java/org/apache/pinot/queries/BaseQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/CustomReloadQueriesTest.java
  pinot-core/src/test/java/org/apache/pinot/queries/ForwardIndexHandlerReloadQueriesTest.java
  pinot-integration-test-base/src/test/java/org/apache/pinot/integration/tests/BaseClusterIntegrationTest.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/MapColumnPreIndexStatsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/NoDictColumnStatisticsCollector.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/SegmentPreIndexStatsCollectorImpl.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandler.java
  pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/index/loader/defaultcolumn/BaseDefaultColumnHandler.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/impl/stats/MapColumnPreIndexStatsCollectorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/impl/stats/NoDictColumnStatisticsCollectorTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/creator/impl/stats/SegmentPreIndexStatsCollectorImplTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/ForwardIndexHandlerTest.java
  pinot-segment-local/src/test/java/org/apache/pinot/segment/local/segment/index/loader/SegmentPreProcessorTest.java
  pinot-segment-spi/src/main/java/org/apache/pinot/segment/spi/creator/ColumnIndexCreationInfo.java
  pinot-spi/src/main/java/org/apache/pinot/spi/config/table/IndexingConfig.java
  pinot-spi/src/main/java/org/apache/pinot/spi/utils/builder/TableConfigBuilder.java
Labels: enhancement

#16858 Change default kafka consumer to use Kafka 3 from Kafka 2
  pinot-spi/src/main/java/org/apache/pinot/spi/stream/StreamConfig.java
  pinot-spi/src/test/java/org/apache/pinot/spi/config/ConfigUtilsTest.java
Labels: backward-incompat, kafka, real-time

#16915 Remove SendingMailbox.complete method and add that logic when EOS is sent
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/GrpcSendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/InMemorySendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/mailbox/SendingMailbox.java
  pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/exchange/BlockExchange.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/mailbox/MailboxServiceTest.java
  pinot-query-runtime/src/test/java/org/apache/pinot/query/runtime/operator/exchange/BlockExchangeTest.java
Labels: refactor, multi-stage
